﻿@using FPModels.Models
@model InAppMessageModel
@if (Model != null)
{

<div class="first-popup">
    <div class="popup1">
        <div class="popup-bg">
            <div class="popup1-inner">
                <h3 class="event-head" style="padding-right:7px;"><img src="~/images/back-arrow.png"> Message Details <img src="~/images/message-gal.png" style="float: right;width: 100%;max-width: 25px;"></h3>

                <div class="state-div">

                    @if (@Model.Time == null)
                    {<h5>
                            @Model.PublishDate
                        </h5>
                    }
                    else
                    {
                        <h5> @Model.PublishDate | @Model.Time.Substring(0, Model.Time.Length > 10 ? 10 : Model.Time.Length)</h5>
                    }
                </div>

                <div class="state-text">
                    @if (@Model.Title == null)
                    {
                        <h6>Title</h6>
                    }
                    else
                    {
                        <h6>@Model.Title</h6>
                    }
                    @if (@Model.Content == null)
                    {
                        <p>Content</p>
                    }
                    else
                    {
                        <p>
                            @Model.Content.Substring(0, Model.Content.Length > 500 ? 500 : Model.Content.Length)

                        </p>
                    }
                    <p style="margin-top:30px;"></p>
                </div>
            </div>
            </div>
        </div>
    </div>
}

