﻿@using FPModels.Models
@model InAppMessageModel
<script src="~/Scripts/multiple-select.js" type="text/javascript"></script>
<style>
    .has-danger .form-control-feedback {
    color: 
    #f4516c;
    display: none !important;
}
</style>
@if (Model != null)
{
    <div class="m-content payment-form-wrapper">
        <div class="row">

            <div class="col-md-6">

                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Headline & Content
                                </h3>
                            </div>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Title<req>*</req></label>
                                @Html.HiddenFor(m => m.MessageId)
                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control m-input", @maxlength = 200, @required = "required", @placeholder = "Write Title" })
                                <span class="m-form__help">@Html.ValidationMessageFor(m => m.Title, "", new { })</span>
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Content<req>*</req></label>
                                @Html.TextAreaFor(m => m.Content, new { @class = "form-control m-input ", @required = "required", @rows = "20", @placeholder = "Write Content" })
                                <span class="m-form__help">@Html.ValidationMessageFor(m => m.Content, "", new { })</span>
                                <span class="m-form__help pull-right"></span>
                            </div>
                            <div class="m-form__group form-group">
                                <label for="">Time<req>*</req></label>
                                <div class="m-radio-list">
                                    @if (Model.UserTitle == 1)
                                    {

                                        <label class="m-radio">
                                            @Html.RadioButtonFor(model => model.Status, "Published", new { @id = "Published", @class = "radio" })Now
                                            <span class="Published" onclick="Selection('Published');return false"></span>

                                        </label>
                                        <label class="m-radio">
                                            @Html.RadioButtonFor(model => model.Status, "Scheduled", new { @id = "Scheduled", @class = "radio" })Schedule for later
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.PublishDate, new { @id = "PublishDate", @class = "form-control m-input datepicker_nopast", @style = "display:block;", @autocomplete = "off" })
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="la la-calendar glyphicon-th"></i></span>
                                                </div>
                                            </div>
                                            <span class="Scheduled" onclick="Selection('Scheduled');return false"></span>
                                        </label>
                                        @Html.ValidationMessageFor(model => model.PublishDate, "", new { @class = "m-form__help" })
                                        <label class="m-radio">
                                            @Html.RadioButtonFor(model => model.Status, "Drafted", new { @id = "Drafted", @class = "radio" })Save in drafts
                                            <span class="Drafted" onclick="Selection('Drafted');return false"></span>
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="m-radio">
                                            @Html.RadioButtonFor(model => model.Status, "Scheduled", new { @id = "Scheduled", @class = "radio" })Schedule for later
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.PublishDate, new { @id = "PublishDate", @class = "form-control m-input datepicker_nopast", @style = "display:block;", @autocomplete = "off" })
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="la la-calendar glyphicon-th"></i></span>
                                                </div>
                                            </div>
                                            <span class="Scheduled" onclick="Selection('Scheduled');return false"></span>
                                        </label>
                                        @Html.ValidationMessageFor(model => model.PublishDate, "", new { @class = "m-form__help" })
                                        <label class="m-radio">
                                            @Html.RadioButtonFor(model => model.Status, "Drafted", new { @id = "Drafted", @class = "radio" })Save in drafts
                                            <span class="Drafted" onclick="Selection('Drafted');return false"></span>
                                        </label>
                                        @Html.HiddenFor(m => m.Draft, new { @id = "Draft" })
                                    }

                                </div>
                                @if ((Model.UserTitle == 1)&& (Model.Create != 1))
                                {
                                              
                                    <div class="form-group m-form__group" id="Statusid" style="display:none;">
                                        <label for="exampleSelect1">Select Status</label>
                                        <div class="select-arrow">
                                            @Html.DropDownListFor(m => m.Status, Model._StatusListforAdmin, new { @id = "StatusListforAdmin", @class = "form-control m-input" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "m-form__help" })
                                    </div>
                                    @Html.TextBoxFor(m => m.RejectReason, new { @id = "RejectReason", @style = "display:none;", @placeholder = "Add Reject Reason", @class = "form-control m-input" })
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "m-form__help" })

                                    
                                }

                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "m-form__help" })
                                @*<span class="m-form__help">Please select one option</span>*@
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Additional Details
                                </h3>
                            </div>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group" style="padding-bottom:0px;">
                                <label for="exampleInputEmail1">Select Audience</label>
                                <div class="m-radio-list custom-bbddf ">
                                    <label class="m-radio">
                                        @Html.RadioButtonFor(model => model.SelectAudience, "All", new { @id = "All", @class = "radio" })All
                                        <span class="All" onclick="SelectAudience('All');return false"></span>
                                    </label>
                                    <label class="m-radio">
                                        @Html.RadioButtonFor(model => model.SelectAudience, "County", new { @id = "County", @class = "radio" })County
                                        <span class="County" onclick="SelectAudience('County');return false"></span>
                                        @*<span id="TagToMsg" class="m-form__help field-validation-error"></span>*@
                                    </label>
                                    <div class="selectbox-ul-wrap CountyId" style="display:none;">
                                        @Html.HiddenFor(m => m.CountyIsChecked, new { @id = "CountyIsChecked" })
                                        @Html.ListBoxFor(m => m.CountyId, Model._CountyList, new { @class = "form-control ms-parent multiselect1 nopadd mystates", @tablindex = "8", size = 5 })
                                        <span class="spanCountyId"></span>
                                    </div>
                                    <label class="m-radio">
                                        @Html.RadioButtonFor(model => model.SelectAudience, "Local", new { @id = "Local", @class = "radio" })Local
                                        <span class="Local" onclick="SelectAudience('Local');return false"></span>
                                    </label>
                                    <div class="selectbox-ul-wrap LocalId" style="display:none;">
                                        @Html.HiddenFor(m => m.LocalIsChecked, new { @id = "LocalIsChecked" })
                                        @Html.ListBoxFor(m => m.LocalId, Model._LocalList, new { @class = "form-control ms-parent multiselect1 nopadd mystates", @tablindex = "8", size = 5 })
                                        <span class="spanLocalId"></span>
                                    </div>
                                    <label class="m-radio">
                                        @Html.RadioButtonFor(model => model.SelectAudience, "Individual", new { @id = "Individual", @class = "radio" })Individual
                                        <span class="Individual" onclick="SelectAudience('Individual');return false"></span>
                                    </label>
                                    <div class="selectbox-ul-wrap IndividualId" style="display:none;">
                                        @Html.HiddenFor(m => m.IndividualIsChecked, new { @id = "IndividualIsChecked" })
                                        @Html.ListBoxFor(m => m.IndividualId, Model._IndividualList, new { @class = "form-control ms-parent multiselect1 nopadd mystates", @tablindex = "8", size = 5 })
                                        <span class="spanIndividualId"></span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.SelectAudience, "", new { @class = "m-form__help" })
                                    @*<span class="m-form__help">Please select one option</span>*@
                                </div>
                            </div>
                            @*<div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Approx Audience</label>
                                @Html.TextBoxFor(m => m.ApproxAudience, new { @class = "form-control m-input numbersonly", @maxlength = 6, @placeholder = "Approx Audience" })
                                <span class="m-form__help">@Html.ValidationMessageFor(m => m.ApproxAudience, "", new { })</span>
                            </div>*@
                        <div class="m-form__actions form-buttons">
                            @Html.HiddenFor(m => m.UserTitle, new { @id = "UserTitle" })
                            @if (Model.UserTitle == 1)
                            {
                                //if (Model.Edit == 1)
                                //{
                                if (FPBAL.Business.MenuAccess.Allow("Delete"))
                                {
                                    @*<a href="/inappmessage/delete?mid=@Model.MessageId" class="btn btn-primary">Delete</a>*@
                                    <a href="/inappmessage/delete?mid=@Model.MessageId"
                                       class="btn btn-primary"
                                       id="@Model.MessageId"
                                       onclick="return Confirm('Are you sure you want to delete this record?',this)">
                                        Delete
                                    </a>

                                }
                                <button type="submit" id="btnDraft" class="btn btn-primary">Save to Drafts</button>
                                <button type="submit" id="btnSubmit" class="btn btn-primarygreen">Submit</button>
                                @Html.ActionLink("Cancel", "index", "headline", new { @id = "Cancel", @class = "btn btn-secondary" })
                                <a class="btn custom-btnyellow Preview" style="color: #fff;">Preview</a>

                            }
                            else
                            {
                                //if (Model.Edit == 1)
                                //{
                                if (FPBAL.Business.MenuAccess.Allow("Delete"))
                                {
                                    @*<a href="/inappmessage/delete?mid=@Model.MessageId" class="btn btn-primary">Delete</a>*@
                                    <a href="/inappmessage/delete?mid=@Model.MessageId"
                                       class="btn btn-primary"
                                       id="@Model.MessageId"
                                       onclick="return Confirm('Are you sure you want to delete this record?',this)">
                                        Delete
                                    </a>

                                }
                                <button type="submit" id="btnDraft" class="btn btn-primary">Save to Drafts</button>
                                <button type="submit" id="submitforapproval" class="btn btn-primarygreen">Submit for approval</button>
                                @Html.ActionLink("Cancel", "index", "headline", new { @id = "Cancel", @class = "btn btn-secondary" })
                                <a class="btn custom-btnyellow  Preview" style="color: #fff;">Preview</a>

                            }
                        </div>
                        </div>
                    </div>

                    <!--end::Form-->
                </div>

                <!--end::Portlet-->
            </div>
        </div>
    </div>

}
<div class="modal fade" id="commModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-area-md" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">X</span>
            </button>

            <div id="commDetail" class="modal-body">

            </div>
            <div class="modal-footer justify-content-between">

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>

    function AlertWithNewWindow(text, newWindow) {
            swal({
                title: 'Alert',
                title: text,
                text: text,
                type: "info",
            },
                function () {
                    window.location.href = newWindow;
                });
        }
      function Confirm(title, event) {
            //debugger;
            var clientid = event.id;
            var href = '/inappmessage/delete?mid=' + clientid;
            var returnType = false;

            swal({
                title: "Warning",//"Are you sure?",
                text: title,
                //text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: true
            },
                function (isConfirm, id) {
                if (isConfirm) {
                    window.location.href = href;
                    returnType = true;
                    //swal("Deleted!", "Record has been deleted.", "success");
                } else {
                    //$('div').click();
                    //$('#' + clientid).blur();
                    returnType = false;
                }
            }
        );
            return returnType;
        }
    $(function () {
        $('.multiselect1').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            filterPlaceholder: 'Search for something...'
        });
    });
</script>
<script>
    $('select.multiCheckbox').multipleSelect({
        multipleWidth: 190,
        width: '100%',
        filter: true,
        multiple: true,
        position: 'bottom',
        animate: 'none', // 'none', 'fade', 'slide'
        placeholder: '-- Select --',
        selectAllText: 'Select All',
        allSelected: 'All Selected',
        countSelected: '# of % selected',
        noMatchesFound: 'No matches found',
        onClick: function () {
            $("#<%= hdnfld.ClientID %>").val("1");
        },
        onOptgroupClick: function () {
           
        },
        onUncheckAll: function () {
           
        },
        onClose: function () {
            
        }
    });
    $(document).ready(function () {
      
        CheckSelection(@Model.Status);
    });
    $('#ddlRadius').change(function () {
      
        if ($('#ddlRadius').val() != "") {
            $("#AddressLine1").prop("required", "required");
            $("#CityName").prop("required", "required");
            $("#CountryId").prop("required", "required");
            $("#StateId").prop("required", "required");
            $("#ZipCode").prop("required", "required");

            $("#CityName-error").show();
            $("#AddressLine1-error").show();
            $("#ZipCode-error").show();
            return false;
        }
        else
            {
            $("#AddressLine1").prop("required", false);
            $("#CityName").prop("required", false);
            //$("#ddlRadius").prop("required", false);
            $("#CountryId").prop("required", false);
            $("#StateId").prop("required", false);
            $("#ZipCode").prop("required", false);
            $("#AddressLine1-error").hide();
            $("#CityName-error").hide();
            $("#ZipCode-error").hide();
            //$("#ddlRadius-error").hide();
            return true;
        }
    });
    function AlertWithTitleIcon(title, text, type) {
        swal({
            title: title,
            text: text,
            type: type
        });
    }

      var status =@Model.Status;

    $("#Drafted").click(function () {
        $("#Statusid").css("display", "none")
            $("#btnDraft").attr("disabled", false);
            $('#submitforapproval').attr("disabled", true);
            $("#btnSubmit").attr("disabled", true);
            $('#PublishDate').val('');

    });
    
    $("#Scheduled").click(function () {
          $("#Statusid").css("display", "block")
            $("#btnDraft").attr("disabled", true);
            $('#submitforapproval').attr("disabled", false);
            $("#btnSubmit").attr("disabled", false);

    });
     $("#Published").click(function () {
          $("#Statusid").css("display", "none")
            $("#btnDraft").attr("disabled", true);
            $('#submitforapproval').attr("disabled", false);
            $("#btnSubmit").attr("disabled", false);
         $('#PublishDate').val('');
         $('#btnSubmit').removeAttr("disabled");
    });
     $(document).ready(function () {
        
         if ($('#RejectReason').val() != "") {
             $("#Statusid").css("display", "block");
             $('#StatusListforAdmin').val("Reject");
             $('#RejectReason').css("display", "block");
             $("#btnDraft").attr("disabled", true);
             $('#submitforapproval').attr("disabled", false);

         }
        //$.noConflict();
        var value = null;
      

        if ($('#Drafted').is(':checked') ) {
            $("#Statusid").css("display", "none")
            $("#btnDraft").attr("disabled", false);
            $('#submitforapproval').attr("disabled", true);
            $("#btnSubmit").attr("disabled", true);
            $('#PublishDate').val('');

        }
        else if ($('#Scheduled').is(':checked')) {
            $("#Statusid").css("display", "block")
            $("#btnDraft").attr("disabled", true);
            $('#submitforapproval').attr("disabled", false);
            $("#btnSubmit").attr("disabled", false);
        }
        else if ($('#Published').is(':checked')) {
           
            $("#Statusid").css("display", "none")
            $("#btnDraft").attr("disabled", true);
            $('#submitforapproval').attr("disabled", false);
            $("#btnSubmit").attr("disabled", false);
            $('#PublishDate').val('');
        }
        else if (status != "Drafted")
        {
            $("#Statusid").css("display", "block")
            $("#btnDraft").attr("disabled", true);
            $('#submitforapproval').attr("disabled", false);
            $("#btnSubmit").attr("disabled", false);
         }
      

            if (status!= null) {
                value =@Model.Status;
        }
        if (status != "Rejected") {
            CheckSelection(value);

        }


        if ($('#Drafted').is(':checked')) {
                $("#btnDraft").attr("disabled", false);
                $('#submitforapproval').attr("disabled", true);
                $("#btnSubmit").attr("disabled", true);

            }
            else if ($('#Published').is(':checked') || $('#Scheduled').is(':checked')) {
                $('#submitforapproval').attr("disabled", false);
                $("#btnDraft").attr("disabled", true);
                $("#btnSubmit").attr("disabled", false);

        }


        if ($('#Scheduled').val("Requested")) {
            $('#Scheduled').prop("checked", true);
        }
        else ($('#Drafted').val("Drafted"))
        {
            $('#Drafted').prop("checked", true);
        }
    });
    function CheckSelection(Control) {
        var id = Control.id;
        if ($(id).prop("checked") == true) {
                $(id).prop("checked", false);
        }
        else {
            $(id).prop("checked", true);
        }
    }

    function Selection(id) {

        if ($('#' + id).prop("checked") == true) {
            $('#' + id).prop("checked", false);
        }
        else {
            $('#' + id).prop("checked", true);

        }
        if ($('#' + id).val() == "Scheduled" && $('.datepicker_nopast').val() == "") {
            $('#PublishDate').removeAttr("disabled")
            $("#PublishDate").prop("required", "required");
        }
        else if ($('#' + id).val() == "Published") {
            $('#PublishDate').attr("disabled", "disabled");
            $('#icon').css('display', 'none');
            $("#btnSubmit").attr("disabled", false);
            $("#PublishDate").prop("required", false);
            $('#PublishDate-error').hide();
            $("#PublishDate").val("");
            $('#btnSubmit').removeAttr("disabled");
            return true;
        }
        else if ($('#' + id).val() == "Drafted") {
            $('#PublishDate').attr("disabled", "disabled");
            $("#PublishDate").prop("required", false);
            $('#PublishDate-error').hide();
            $("#PublishDate").val("");
            return true;
        }
    }


    function CheckSelection(Control) {

        var id = Control.id;
        if ($(id).prop("checked") == true) {
            $(id).prop("checked", false);
        }
        else {
            $(id).prop("checked", true);
        }
    }

    function CheckSelection(Control) {
        var id = Control.id;
        if ($(id).prop("checked") == true) {
            $(id).prop("checked", false);

        }
        else {
            $(id).prop("checked", true);
        }

    }

    function Selection(id) {
        //debugger;
        if ($('#' + id).prop("checked") == true) {
            $('#' + id).prop("checked", false);
        }
        else {
            $('#' + id).prop("checked", true);

        }
        if ($('#' + id).val() == "Scheduled" && $('.datepicker_nopast').val() == "") {
            $("#Statusid").css("display", "block")
            $('#PublishDate').removeAttr("disabled")
            $("#PublishDate").prop("required", "required");
            $('#btnDraft').prop("disabled", true);
            $('#btnSubmit').prop("disabled", false);
            $('#submitforapproval').prop("disabled", false);
            $("#Statusid").css("display", "block")
            $('#Draft').val("");
            $('#StatusListforAdmin').val('');
            $('#RejectReason').val(''); 
            return false;

        }
        else if ($('#' + id).val() == "Requested" && $('.datepicker_nopast').val() == "") {
            $("#Statusid").css("display", "block")
            $('#PublishDate').removeAttr("disabled")
            $("#PublishDate").prop("required", "required");
            $('#btnDraft').prop("disabled", true);
            $('#btnSubmit').prop("disabled", false);
            $('#submitforapproval').prop("disabled", false);
            $('#StatusListforAdmin').val('');
            $('#RejectReason').val(''); 
            $('#Draft').val("");
            return false;

        }
        else if ($('#' + id).val() == "Requested" && $('.datepicker_nopast').val() != "") {
            $("#Statusid").css("display", "block")
            $('#btnDraft').prop("disabled", true);
            $('#btnSubmit').prop("disabled", false);
            $('#submitforapproval').prop("disabled", false);
            $('#Draft').val("");
            $('#StatusListforAdmin').val('');
            $('#RejectReason').val(''); 
            return false;

        }
        else if ($('#' + id).val() == "Scheduled" && $('.datepicker_nopast').val() != "") {
            $("#Statusid").css("display", "block")
            $('#btnDraft').prop("disabled", true);
            $('#btnSubmit').prop("disabled", false);
            $('#submitforapproval').prop("disabled", false);
            $('#Draft').val("");
            $('#StatusListforAdmin').val('');
            $('#RejectReason').val(''); 
            return true;

        }
        else if ($('#' + id).val() == "Published") {
            $('#PublishDate').attr("disabled", "disabled");
            $("#PublishDate").prop("required", false);
            $('#PublishDate-error').hide();
            $("#PublishDate").val("");
            $("#Statusid").css("display", "none")
            $('#btnDraft').prop("disabled", true);
            $('#submitforapproval').prop("disabled", false);
            $('#Draft').val("");
            $('#btnSubmit').prop("disabled", false);
            $("#Statusid").css("display", "none")
            $("#RejectReason").css("display", "none");
            $('#btnSubmit').prop("disabled", false);
            return true;
        }
       
        else if ($('#' + id).val() == "Drafted") {
            $("#PublishDate").prop("required", false);
            $('#PublishDate-error').hide();
            $("#PublishDate").val("");
            $("#Statusid").css("display", "none")
            $('#btnSubmit').prop("disabled", true);
            $('#submitforapproval').prop("disabled", true);
            $('#btnDraft').prop("disabled", false);
            $('#Draft').val("Drafted");
            $("#Statusid").css("display", "none")
            $("#RejectReason").css("display", "none");
            return true;
        }


    }
    $('#StatusListforAdmin').change(function () {
        //debugger;
         if ($('#StatusListforAdmin').val() == "Published") {
            if ($("#PublishDate").val() == "") {
                $("#PublishDate").prop("required", "required");
                $('#PublishDate-error').show();
                $('#RejectReason').css("display", "none");
                $('#RejectReason').prop("required", false);
                $('#RejectReason').val(''); 
                return false;
            }
            else {
                $('#Scheduled').val("Scheduled");
                $("#RejectReason").css("display", "none");
                $('#RejectReason').prop("required", false);
                return true;
            }
        }
        else if($('#StatusListforAdmin').val() == "Reject")
        {
            $('#RejectReason').css("display", "block");
            $('#RejectReason').prop("required", "required");
            $("#PublishDate").prop("required", false);
            $('#PublishDate-error').hide();
            $('#Scheduled').val("Rejected");
            $('#Scheduled').val();
        }
    });
    $('#submitforapproval').click(function () {
        debugger
        $('#Scheduled').val("Requested");
        $('#Scheduled').val();

    });
    $('#btnDraft').click(function () {
        $('#Draft').val('Drafted');
    });
    $(document).ready(function () {


        if ($('#County').is(':checked') && $('#CountyIsChecked').val() != "") {
            $('.CountyId').css("display", "block");
            $('.IndividualId').css("display", "none");
            $('.LocalId').css("display", "none");
        }
        else if ($('#Local').is(':checked') && $('#LocalIsChecked').val() != "") {
            $('.CountyId').css("display", "none");
            $('.IndividualId').css("display", "none");
            $('.LocalId').css("display", "block");
        }
        else if ($('#Individual').is(':checked') && $('#IndividualIsChecked').val() != "") {
            $('.CountyId').css("display", "none");
            $('.IndividualId').css("display", "block");
            $('.LocalId').css("display", "none");
        }

    });
      $('#All').click(function () {
              $("#LocalId option:selected").prop("selected", false);
            $('.CountyId').css("display", "none");
            $('.IndividualId').css("display", "none");
            $('.LocalId').css("display", "none");
            $('.spanIndividualId').text('');
            $("#CountyId option:selected").prop("selected", false);
            $("#CountyId").multiselect('refresh');
            $('#CountyId').val('');
            $("#IndividualId option:selected").prop("selected", false);
            $("#IndividualId").multiselect('refresh');
            $('#IndividualId').val('');
        
    });

     $('#Local').click(function () {
            $('#Local').prop("checked", true);
            $('.CountyId').css("display", "none");
            $('.IndividualId').css("display", "none");
            $('.LocalId').css("display", "block");
            $('.spanIndividualId').text('');
            $("#CountyId option:selected").prop("selected", false);
            $("#CountyId").multiselect('refresh');
            $('#CountyId').val('');
            $("#IndividualId option:selected").prop("selected", false);
            $("#IndividualId").multiselect('refresh');
            $('#IndividualId').val('');
        
    });


        $('#County').click(function () {
            $('#County').prop("checked", true);
            $('.selectbox-ul-wrap').show();
            $('.CountyId').css("display", "block");
            $('.IndividualId').css("display", "none");
            $('.LocalId').css("display", "none");
            $("#IndividualId option:selected").prop("selected", false);
            $("#IndividualId").multiselect('refresh');
            $('#IndividualId').val('');
            $("#LocalId option:selected").prop("selected", false);
            $("#LocalId").multiselect('refresh');
            $('#LocalId').val('');
            
    });

    
    $('#Individual').click(function () {


             $('#Individual').prop("checked", true);

          $('.CountyId').css("display", "none");
            $('.IndividualId').css("display", "block");
        $('.LocalId').css("display", "none");
         $("#CountyId option:selected").prop("selected", false);
        $("#CountyId").multiselect('refresh');
        $('#CountyId').val('');
            $("#LocalId option:selected").prop("selected", false);
            $("#LocalId").multiselect('refresh');
            $('#LocalId').val('');
         
    });

    function SelectAudience(id) {
        //debugger;
        var abc = $('#' + id).val();
        if ($('#' + id).prop("checked") == true) {
            $('#' + id).prop("checked", false);
        }
        else {
            $('#' + id).prop("checked", true);
        }
        if ($('#' + id).val() == "All") {
            $('.CountyId').css("display", "none");
            $('.IndividualId').css("display", "none");
            $('.LocalId').css("display", "none");
            return false;
        }

        else if ($('#' + id).val() == "Local") {

            $('.CountyId').css("display", "none");
            $('.IndividualId').css("display", "none");
            $('.LocalId').css("display", "block");
            $('.spanIndividualId').text('');
            return true;
        }
        else if ($('#' + id).val() == "County") {
            $('.selectbox-ul-wrap').show();
            $('.CountyId').css("display", "block");
            $('.IndividualId').css("display", "none");
            $('.LocalId').css("display", "none");
            return true;
        }
        else if ($('#' + id).val() == "Individual") {
            $('.CountyId').css("display", "none");
            $('.IndividualId').css("display", "block");
            $('.LocalId').css("display", "none");
            return true;
        }
    }
    $(".Preview").click(function () {
        //debugger;
        var datee = $('.datepicker_nopast').val();
        
        if ($('#Published').prop("checked") == true) {
            var scheduler = "Published";
        }
        else if ($('#Scheduled').prop("checked") == true) {
            var scheduler = "Scheduled";
        }
        else if ($('#Drafted').prop("checked") == true) {
            var scheduler = "Drafted";
        }
        var date = $("input[name=Status]").val();
        var ScheduleDate = $('input[name=PublishDate]').val();
        var model =
            {
                PublishDate: scheduler,
                Title: $("#Title").val(),
                Time: $('input[name=PublishDate]').val(),
                Content: $("#Content").val(),
                StatusSchedule: $("#Scheduled").val(),
                StatusPublish: $("#Published").val(),
                StatusDraft: $("#Drafted").val(),
            };
        $.post("/InAppMessage/Preview", model, function (data) {
            $("#commLabel").text("Message Details");
            $("#commDetail").html(data);
            $("#commModal").modal("show");
        });
    });

</script>

<script>
    $("#btnSubmit").click(function () {
        var True = true;
        var False = false;
        //alert($('#inappForm').valid());

        if ($('#inappForm').valid() ==true && @ViewData.ModelState.IsValid== true) {
         
             //$('.loader').show();
            // $('.loader').css("display", "block");
             //$('#loader').css("display", "block");
      
             $("#btnSubmit").attr("disabled", true);
         }
           

    });
</script>
