﻿@using FPModels.Models
@model InAppMessageModel
@{
    ViewBag.Title = "In-App Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("detailview", "InAppMessage", FormMethod.Post))
{
<div class="m-content payment-form-wrappe">
    <!--begin::Portlet-->
    <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Message Details
                    </h3>
                </div>
            </div>
        </div>

        <div class="m-portlet__body">
            <ul class="list-unstyled event-detail">
                <li>
                    <label>Title</label>
                    @Html.HiddenFor(m => m.MessageId)@Html.HiddenFor(m => m.UserId)
                    <p>@Html.DisplayFor(m => m.Title)</p>
                </li>
                <li>
                    <label>Content</label>
                    <p>
                        @Html.DisplayFor(m => m.Content)
                    </p>
                </li>
                <li>
                    <label>Date & Time</label>
                    <p>@Html.DisplayFor(m => m.CreateDate)</p>
                </li>
                <li>
                    @if (Model.SelectAudience == "")
                    {
                        <label>Selected Audience</label>
                        <p>-</p>
                    }
                    else
                    {
                        <label>Selected Audience</label>
                        <p>@Html.DisplayFor(m => m.SelectAudience)</p>
                    }
                </li>
                <li>
                    <label>Approx Audience</label>
                    <p>@Html.DisplayFor(m => m.ApproxAudience)</p>
                </li>

                <li>
                    <label>Status</label>

                    @if (Model.Status == "Published")
                    {
                        <p><span class="m-badge  m-badge--primary m-badge--wide">Published</span></p>
                    }
                    else if (Model.Status == "Scheduled")
                    {
                        <p><span class="m-badge  m-badge--metal m-badge--wide">Scheduled</span></p>
                    }
                    else if (Model.Status == "Drafted")
                    {
                        <p><span class="m-badge  m-badge--warning m-badge--wide">Drafted</span></p>
                    }
                    else if (Model.Status == "Archived")
                    {
                        <p><span class="m-badge m-badge--wide" style="background-color:#c4471f;color:#fff">Archived</span></p>
                    }
                    else if (Model.Status == "Rejected")
                    {
                        <p><span class="m-badge m-badge--wide" style="background-color:#c4471f;color:#fff">Rejected</span></p>
                    }
                    else if (Model.Status == "Requested")
                    {
                        <p><span class="m-badge m-badge--wide" style="background-color:#416eba;color:#fff">Requested</span></p>
                    }
                    @*<p><span class="m-badge  m-badge--primary m-badge--wide">@Html.DisplayFor(m => m.Status, new { @id = "Status" })</span></p>*@
                </li>
            </ul>
            <div class="m-form__actions form-buttons">
                @*<a href="@Url.Action("createoredit", "inappmessage", new { mid = Model.MessageId })" class="btn btn-primary">Edit</a>*@
                @if (FPBAL.Business.MenuAccess.Allow("edit"))
                {
                    <a href="@Url.Action("edit", "inappmessage", new { mid = Model.MessageId })" class="btn btn-primary">Edit</a>
                }
                @if (FPBAL.Business.MenuAccess.Allow("delete") && (Model.Status != "Published"))
                {
                    <a href="@Url.Action("delete", "inappmessage", new { mid = Model.MessageId })" class="btn btn-secondary">Delete</a>
                }

                <a href="/inappmessage/index" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
        <!--end::Form-->
    </div>
</div>

        }
        @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>
            <script>
                $('#Archieve').click(function () {
                    
                    ($('#Status').val() == "Archived");
                });

            </script>*@
