﻿@using FPModels.Models
@model InAppMessageModel
@{
    /**/

    ViewBag.Title = "In-App Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("index", "inappmessage", FormMethod.Post))
{
    <div class="m-content payment-form-wrapper">
        <div class="m-portlet m-portlet--tab">
               
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    View Messages
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="table-searh-wrap event_searh_wrap">
                            <div id="m_table_1_filter" class="dataTables_filter search_table_bar">
                                <label>
                                    <img src="~/Content/images/search.png" alt="search">
                                    @Html.TextBoxFor(model => model.Search, new { @class = "form-control form-control-sm", @placeholder = "Search" })
                                </label>

                            </div>
                            <div id="m_table_1_filter-1" class="dataTables_filter table-status show-item-select" style="margin-left:20px;">
                                <label>
                                    Status:
                                    @Html.DropDownListFor(m => m.SearchStatus, Model.StatusList, new { @class = "custom-select custom-select-sm form-control form-control-sm" })

                                </label>
                            </div>

                            <div id="m_table_1_filter-1" class="dataTables_filter table-status table_date_calendar  show-item-select">
                                <label>
                                    Date:
                                    @Html.TextBoxFor(m => m.DateFrom, new { @class = "custom-select custom-select-sm form-control form-control-sm test dateFrom cldrbottom", @placeholder = "Select Date", @autocomplete = "off" })
                                    <i class="la la-calendar glyphicon-th"></i>
                                </label>
                            </div>
                            <div id="m_table_1_filter-1" class="dataTables_filter table-status table_date_calendar show-item-select">
                                <label>
                                    to:
                                    @Html.TextBoxFor(m => m.DateTo, new { @class = "custom-select custom-select-sm form-control form-control-sm dateTo", @placeholder = "Select Date", @autocomplete = "off" })
                                   <i class="la la-calendar glyphicon-th"></i>
                                </label>
                                <button type="submit" class="btn m-btn--pill    btn-danger" style="margin-left:10px;">Search</button>
                            </div>

                            @if (FPBAL.Business.MenuAccess.Allow("Create"))
                            {
                                <div class="pull-right app_message">
                                    <a href="/inappmessage/create/" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                                        <span>
                                            <i class="la la-plus"></i>
                                            <span>New</span>
                                        </span>
                                    </a>
                                </div>
                            }
                        </div>

                        <!--begin: Datatable -->
                        <table class="table table-striped- table-hover table-responsive table-pagger" cols="2" id="m_table_1">
                            <thead>
                                <tr>
                                    <th><a href="#">Title</a></th>
                                    <th><a href="#">Message</a></th>
                                    <th><a href="#">Date</a></th>
                                    <th><a href="#">Time</a></th>
                                    <th><a href="#">Status</a></th>
                                    <th><a href="#">Shares</a></th>
                                    <th><a href="#">Views</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                @Html.HiddenFor(m => m.UserId)
                                @Html.HiddenFor(m => m.MessageId)
                                @if (Model != null && Model._messagelist != null && Model._messagelist.Count > 0)
                                {
                                    foreach (var item in Model._messagelist)
                                    {
                                <tr>
                                    @*class="@(i % 2==0 ?"table-info":"")"*@
                                    <td id="Message"><a href="@Url.Action("detailview", "inappmessage", new { mid = @item.MessageId})" style="text-decoration:underline; color:#666674;">@item.Title</a></td>
                                    @*.Substring(0, item.Title.Length > 10 ? 10 : item.Title.Length)*@
                                    <td>@item.Content.Substring(0, item.Content.Length > 50 ? 50 : item.Content.Length)</td>
                                    <td>@item.PublishDate</td>
                                    <td>@item.CreateTime</td>

                                    @if (item.Status == "Published")
                                    {
                                        <td><span class="m-badge  m-badge--primary m-badge--wide">Published</span></td>
                                    }
                                    else if (item.Status == "Scheduled")
                                    {
                                        <td><span class="m-badge  m-badge--metal m-badge--wide">Scheduled</span></td>
                                    }
                                    else if (item.Status == "Drafted")
                                    {
                                        <td><span class="m-badge  m-badge--warning m-badge--wide">Drafted</span></td>
                                    }
                                    else if (item.Status == "Archived")
                                    {
                                        <td><span class="m-badge m-badge--wide" style="background-color:#c4471f;color:#fff">Archived</span></td>
                                    }
                                    else if (item.Status == "Rejected")
                                    {
                                        <td><span class="m-badge m-badge--wide" style="background-color:#c4471f;color:#fff">Rejected</span></td>
                                    }
                                    else if (item.Status == "Requested")
                                    {
                                        <td><span class="m-badge m-badge--wide" style="background-color:#416eba;color:#fff">Requested</span></td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                    }
                                    <td>@item.Shares</td>
                                    <td>@item.View</td>
                                </tr>
                                    }
                                }

                            </tbody>
                        </table>
                        <div class="row mt-30" id="pagging1"></div>
                    </div>
              
            </div>
        </div>
   
}


@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@

<script type="text/javascript">
    $(document).ready(function () {
        $('#cmid_47').click(function () {
            
            $('#InAppMessages').text(0);
            $("#InAppMessages").filter(function () {
                return $(this).text().trim() === "0";
            }).hide();

        });
    });


</script>