body{
	font-family: 'Poppins', sans-serif;
	margin:0px;
}
#commModal .modal-dialog {
    max-width: 1000px;
    background-color: transparent;
}
#commModal .modal-content {
    background-color: transparent;
    position: relative;
}
    #commModal .modal-content .close {
        position: absolute !important;
        right: 0;
        opacity: 1;
        z-index: 999;
    }
        #commModal .modal-content .close span {
            color: #fff;
            opacity: 01;
            font-size: 47px;
            font-weight: normal;
            cursor: pointer;
        }

    .first-popup {
        width: 100%;
        display: flex;
    }
.popup1 {
    float: left;
    width: 100%;
    max-width: 437px;
    margin: auto;
}
h3.event-head {
    position: absolute;
    width: 100%;
    text-align: center;
    max-width: 306px;
    color: #fff;
    font-weight: normal;
    top: 60px;
    box-sizing: border-box;
    padding-left: 3px;
    font-size: 18px;
}
.popup-bg {
    background-image: url('../../images/i-phone.png');
    height: 717px;
    width: 100%;
    background-repeat: no-repeat;
    float: left;
    background-position: center;
}
.popup1-inner {
    padding: 130px 58px 67px 70px;
    box-sizing: border-box;
    float: left;
    width: 100%;
    position: relative;
}
h3.event-head img {
    width: 100%;
    max-width: 27px;
    float: left;
}
.town-left p{
 color:#3d3d3d;
}
.town-left p {
    color: #3d3d3d;
    margin: 0px;
    line-height: 25px;
}.town-div {
    float: left;
    width: 100%;
}
.town-left {
    float: left;
    width: 70%;
    padding-right: 7px;
    box-sizing: border-box;
}
.town-right {
    float: left;
    width: 30%;
}
.town-right p span {
    display: block;
    font-weight: normal;
    font-size: 17px;
    margin-bottom: 15px;
}
.town-right p {
    color: #fff;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    margin: 0px;
    line-height: 17px;
    padding: 11px 10px;
    box-sizing: border-box;
}
.town-right p span img {
    width: 100%;
    max-width: 27px;
}
.town-left h5 {
    color: #2e4999;
    font-size: 14px;
    margin: 6px 0px 0px 0px;
}
.summary-div {
    float: left;
    width: 100%;
}
.first-popup p {
    font-size: 14px;
}
.summary-div h4 {
    color: #3d3d3d;
    font-weight: bold;
    margin: 16px 0px 10px 0px;
}
.summary-div p {
    margin-top: 0px;
    margin-bottom: 10px;
}
.summary-div a {
    color: #2e4999;
    font-weight: bold;
    text-decoration: underline;
    font-size: 15px;
}

.attending-div {
    float: left;
    width: 100%;
	    margin-top: 10px;
}
.attending-div img{
	width:100%;
}
.attending-div a{
	color: #2e4999;
    font-weight: bold;
    text-decoration: underline;
	text-align:center;
	display: block;
    margin-top: 11px;
}
.state-div {
    float: left;
    width: 100%;
}

    .state-div img {
        width: 100%;
        max-width: 315px;
        margin: 0 auto;
        display: block;
    }
.state-div h5 {
    color: #c97131;
    font-size: 17px;
    margin: 0px 0px 18px 0px;
    letter-spacing: 1px;
}

.state-text h6 {
    line-height: 26px;
    color: #3d3d3d;
    font-size: 17px;
    margin-bottom: 0px;
    margin-top: 25px;
}
.state-text {
    float: left;
    width: 100%;
}
.news-left {
    float: left;
    width: 20%;
	padding-right:10px;
	box-sizing:border-box;
}

.news-left img {
    width: 100%;
}
.news-right h4 {
    margin: 0px;
    color: #3d3d3d;
    line-height: 23px;
}
.news-right {
    float: left;
    width: 80%;
}
.news-right h5 {
    margin: 0px;
    color: #c97131;
    padding-top: 5px;
}
.news-right h6 {
    margin: 4px 0px 0px 0px;
    font-size: 15px;
    color: #3d3d3d;
}

.news-right h6 img {
    width: 100%;
    max-width: 10px;
    padding-right: 6px;
}
.news-img-div {
    float: left;
    width: 100%;
    margin-top: 14px;
}
.news-img-div img{
	width:100%;
}
.news-text {
    float: left;
    width: 100%;
	margin-top:15px;
}
.news-text span{
 color:#2e4999;
}

#commModalPreview .close {
    position: absolute;
    z-index: 999;
    right: 15px;
    top: 11px;
    opacity: 1;
}
#commModalPreview .modal-content {
    background-color: transparent;
}
    #commModalPreview .modal-content .close span {
        color: #fff;
        opacity: 1;
        font-size: 47px;
        font-weight: normal;
        cursor: pointer;
    }









