﻿@using FPModels.Models
@model DonationModel
@*<form class="m-form m-form--fit m-form--label-align-right ">
    *@

<div id="dvPrintTransaction">

    <!-- BEGIN: Brand -->
    <div class="m-stack__item m-brand  m-brand--skin-dark" style="box-shadow: none !important; padding: 0 !important;">
        <div class="m-stack m-stack--ver m-stack--general">
            <div class="m-stack__item m-stack__item--middle m-brand__logo" style=" padding-left: 30px; height: auto !important;">
                <a class="m-brand__logo-wrapper">
                    <img alt="logo" src="/content/images/josh-logo.png">
                </a>
            </div>
        </div>
        <!-- END: Topbar -->
    </div>

    @*<header style="margin: 0 25px">
            <div class="m-container m-container--fluid m-container--full-height">
                <div class="m-stack m-stack--ver m-stack--desktop">

                    <!-- BEGIN: Brand -->
                    <div class="m-stack__item m-brand  m-brand--skin-dark" style="box-shadow: none !important; padding: 0 !important;">
                        <div class="m-stack m-stack--ver m-stack--general">
                            <div class="m-stack__item m-stack__item--middle m-brand__logo" style="padding: 0; height: auto !important;">
                                <a href="/dashboard/index" class="m-brand__logo-wrapper">
                                    <img alt="logo" src="/content/images/logo.png">
                                </a>
                            </div>
                        </div>
                        <!-- END: Topbar -->
                    </div>
                </div>
            </div>
        </header>*@
    <br />
    <div class="m-portlet__body modal-body">

        <table class="table table-striped- table-pagger receipt_table_wrapper" cols="6" id="m_table_1">
            <tr>
                <th>Donor Name</th>
                <td>@Model.CardHolderName</td>
            </tr>
            <tr>
                <th>Contribution ID</th>
                <td>@Model.PaymentId</td>
            </tr>
            <tr>
                <th>Transaction ID</th>
                <td>@Model.TransactionId</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>@Model.TransactionDate</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>@Model.TransactionTime</td>
            </tr>
            <tr>

                <th>Card</th>
                <td>@Model.CardNumber</td>
            </tr>
            <tr>
                <th>Amount($)</th>
                <td>@Model.Amount</td>
            <tr>
            <tr>
                <th>Status</th>
                <td>@Model.Status</td>
            </tr>

        </table>
    </div>
  
    <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
        <div class="copyright-wrap">
            <span class="m-footer__copyright">
                Designed &amp; Developed by <a href="http://keplerbase.com/" class="m-link"><img src="/content/images/kepler-logo.png" alt="foot-logo"></a>
            </span>
        </div>

    </div>

    @*<footer class="m-grid__item m-footer " style="margin: 0 25px;">
            <div class="m-container m-container--fluid m-container--full-height m-page__container">
                <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                    <div class="copyright-wrap">
                        <span class="m-footer__copyright">
                            Designed &amp; Developed by <a href="#" class="m-link"><img src="/content/images/logo_final1.png" alt="foot-logo"></a>
                        </span>
                    </div>

                </div>
            </div>
        </footer>*@
</div>
    <script>

        function 
            (divid) {
            debugger
            var html = '<link href="/Content/bootstrap.css" rel="stylesheet"/>';
            //$('link').each(function () { // find all <link tags that have
            //    if ($(this).attr('rel').indexOf('stylesheet') != -1) { // rel="stylesheet"
            //        html += '<link rel="stylesheet" href="' + $(this).attr("href") + '" />';
            //    }
            //});
           // var contents = '<div style="padding-top:40px;">';
            var contents = document.getElementById(divid).innerHTML;
            var frame1 = document.createElement('iframe');
            //var d1 = document.getElementById('header').style.display = 'none';
            //var d2 = document.getElementById('pagging1');
            frame1.name = "frame1";
            frame1.style.position = "absolute";
            frame1.style.top = "-1000000px";
            document.body.appendChild(frame1);
            var frameDoc = frame1.contentWindow ? frame1.contentWindow : frame1.contentDocument.document ? frame1.contentDocument.document : frame1.contentDocument;
            frameDoc.document.open();
            //frameDoc.document.write('<html><head><title>DIV Contents</title>');
            frameDoc.document.write('<html><head><title></title>');
            frameDoc.document.write('</head><body>');
            //frameDoc.document.write('<img src="/content/images/logo-blue.png"><div style="margin-bottom:20px;"></div>');
           
            frameDoc.document.write(html);
            frameDoc.document.write("<br />");
            frameDoc.document.write("<br />");
            frameDoc.document.write(contents);
            frameDoc.document.write('</body></html>');
            frameDoc.document.close();
            setTimeout(function () {
                window.frames["frame1"].focus();
                window.frames["frame1"].print();
                document.body.removeChild(frame1);
                //document.body.removeAttribute(d2);
                //document.body.removeChild(d2);
            }, 500);
            return false;
        }

    </script>
