﻿@using FPModels.Models
@using FPModels.Models
@model DonationModel
@{
    ViewBag.Title = "Donations Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("donordetail", "donation", FormMethod.Post))
{
    <div class="m-content" id="m-portlet m-portlet--mobile1">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-sm-9 chart-detail" style="padding-right:30px;">
                        <div cllass="clearfix">
                            <div class="chart-head" style="width:100%;">
                                <h3 class="m-portlet__head-text" style="float:left;">
                                    Donor Detail
                                </h3>
                                @*@if (Model._DonorDetail != null && Model._DonorDetail.Where(x => x.Status == "Unsettled").Count() < 1)
                                    {*@
                                @if (Model.Amount1 == "0.00")
                                {

                                }
                                else
                                {
                                <div class="pull-right datatable_new  donerdownloadinvoice_print_btn">
                                    <a href="#" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air DownloadDoc" db="download">
                                        <span>
                                            <span id="DownloadDoc">Download Invoice</span>
                                        </span>
                                    </a>
                                    <button type="button" id="printMain" class="btn m-btn--pill btn-danger">
                                        Print
                                    </button>
                                    @*onclick="printDiv('mPortlet')"*@
                                    @*<button type="button" class="btn m-btn--pill btn-danger" onclick="printDiv('m-portlet m-portlet--mobile')" style="padding: 10px 30px;margin-left: 10px;">Print</button>*@
                                </div>
                                }

                                <h1 id="TdcardHoldername"> @Model.CardHolderName</h1>
                                @*<h5>Interested in volunteering with Josh</h5>*@
                                <ul class="row">
                                    <li class="col-md-4">
                                        <h6>Email</h6>
                                        <p id="DonorEmail"> @Model.Email</p>
                                    </li>
                                    <li class="col-md-4">
                                        <h6>Address</h6>
                                        <p id="DonorAddress">
                                            @Model.AddressLine1
                                            @Model.AddressLine2,
                                            @Model.cityName,
                                            @Model.StateName, @Model.CountryName @(!String.IsNullOrEmpty(Model.zipcode) && Model.zipcode.Length > 1 ? ", " + Model.zipcode : "")
                                        </p>
                                    </li>
                                    <li class="col-md-4">
                                        <h6>Employer</h6>
                                        <p>
                                            Occupation: @Model.Occupation
                                        </p>
                                        <p>
                                            Employer: @Model.Employer
                                        </p>

                                    </li>
                                    <li class="col-md-4">
                                        <h6>Spouse Name</h6>
                                        @if(Model.SpouseName=="")
                                        {
                                            <p>-</p>
                                        }
                                        else
                                        {
                                            <p>@Model.SpouseName</p>
                                        }
                                    </li>
                                    <li class="col-md-4">

                                        <h6>Mobile</h6>
                                        @if (Model.MobileNumber == "")
                                        {
                                            <p>-</p>
                                        }
                                        else
                                        {
                                            <p id="DonorMobileNumber">@(!String.IsNullOrEmpty(Model.ISDCode) && Model.ISDCode.Length > 1 ? Model.ISDCode : "-") @Model.MobileNumber</p>
                                        }
                                    </li>

                                    <li class="col-md-4">

                                        <h6>Interested in volunteering with Josh</h6>
                                        <p>@Model.Volunteer</p>
                                    </li>
                                    <li class="col-md-4">

                                        <h6>Interested in hosting an event for Josh</h6>
                                        <p>@Model.Hosting</p>
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                    <div class="col-sm-3" style="background-color:#21427a;">


                        <div class="amount-detail">
                            <h5>Donation Amount($)</h5>
                            <h1>@Model.Amount1</h1>
                            <h5>Refund Amount($)</h5>
                            @if (@Model.RefundAmount == "0.00")
                            {
                                <h1>@Model.RefundAmount</h1>
                            }
                            else
                            {
                                <h1>- @Model.RefundAmount</h1>
                            }
                            <h6>Contributor ID</h6>
                            @*<p>@Model.PaymentId</p>*@
                            <p>#@Model.PaymentMethodId</p>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="m-portlet m-portlet--mobile" id="mPortlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    @*<div class="table table-striped- table-hover" id="m_table_9" style="display:none;">

                        <ul class="row">
                            <li class="col-md-4"> @Model.CardHolderName</li>
                            <li class="col-md-4">
                                <h6>Email</h6>
                                <p> @Model.Email</p>
                            </li>
                            <li class="col-md-4">
                                <h6>Address</h6>
                                <p>
                                    @Model.AddressLine1
                                    @Model.AddressLine2,
                                    @Model.cityName,
                                    @Model.StateName, @Model.CountryName @(!String.IsNullOrEmpty(Model.zipcode) && Model.zipcode.Length > 1 ? ", " + Model.zipcode : "")
                                </p>
                            </li>
                            <li class="col-md-4">
                                <h6>Employer</h6>
                                <p>
                                    Occupation: @Model.Occupation
                                </p>
                                <p>
                                    Employer: @Model.Employer
                                </p>

                            </li>
                            <li class="col-md-4">

                                <h6>Mobile</h6>
                                @if (Model.MobileNumber == "")
                                {
                                    <p>-</p>
                                }
                                else
                                {
                                    <p>@(!String.IsNullOrEmpty(Model.ISDCode) && Model.ISDCode.Length > 1 ? Model.ISDCode : "-") @Model.MobileNumber</p>
                                }
                            </li>

                            <li class="col-md-4">

                                <h6>Interested in volunteering with Josh</h6>
                                <p>@Model.Volunteer</p>
                            </li>
                            <li class="col-md-4">

                                <h6>Interested in hosting an event for Josh</h6>
                                <p>@Model.Hosting</p>
                            </li>
                        </ul>
                    </div>*@

                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            View Donations
                        </h3>

                    </div>
                </div>
            </div>
            <div class="m-portlet__body">

                <div class="table-searh-wrap">
                    <div id="m_table_1_filter-1" class="selectbox-ul-wrap status-select">
                        <label>Status: </label>
                            @Html.ListBoxFor(m => m.SearchStatus, Model._StatusList, new { @class = "custom-select-sm form-control ms-parent multiCheckbox nopadd donations_status", @tablindex = "5" })
                       
                        @*@Html.DropDownListFor(m => m.SearchStatus, Model._StatusList, new { @class = "custom-select custom-select-sm form-control form-control-sm" })*@

                    </div>

                    @Html.HiddenFor(m => m.FollowerId)
                    @Html.HiddenFor(m => m.EncryptedFollowerId)
                    @*<input type="hidden" id="FollowerId" name="FollowerId" value=@Model.FollowerId />
        <input type="hidden" id="EncryptedFollowerId" name="EncryptedFollowerId" value=@Model.EncryptedFollowerId />*@

                    <div id="m_table_1_filter" class="dataTables_filter search_table_bar" style="margin-right:20px;">
                        <label>
                            @Html.HiddenFor(m => m.EncryptedPaymentId)
                            <img src="~/Content/images/search.png" alt="search">
                            @Html.TextBoxFor(m => m.Search, new { @class = "form-control form-control-sm", @placeholder = "Search", pid = Model.EncryptedPaymentId })
                        </label>

                    </div>
                    <div id="m_table_1_filter-1" class="dataTables_filter table-status table_date_calendar show-item-select" style="margin:0px;">
                        <label>
                            Date:
                            @Html.TextBoxFor(m => m.FromDate, new { @class = "custom-select custom-select-sm form-control form-control-sm myCalendarDonation ", @placeholder = "Select Date", @autocomplete = "off" })
                            <i class="la la-calendar glyphicon-th"></i>
                        </label>
                    </div>
                    <div id="m_table_1_filter-1" class="dataTables_filter table-status table_date_calendar show-item-select" style="margin:0px;">
                        <label>
                            to:
                            @Html.TextBoxFor(m => m.ToDate, new { @class = "custom-select custom-select-sm form-control form-control-sm myCalendarDonation ", @placeholder = "Select Date", @autocomplete = "off" })
                            <i class="la la-calendar glyphicon-th"></i>
                        </label>
                        <button type="submit" class="btn m-btn--pill btn-danger">Search</button>
                    </div>
                </div>
                <!--begin: Datatable -->
                @*<table class="table table-striped- table-hover " id="m_table_1">*@
                <table class="table table-striped- table-hover table-pagger" cols="8" id="m_table_1">
                    <thead>
                        <tr>
                            <th><a href="#">Contribution ID</a></th>
                            <th><a href="#">Transaction ID</a></th>
                            <th><a href="#">Recurring Type</a></th>
                            <th><a href="#">Date</a></th>
                            <th><a href="#">Time</a></th>
                            <th><a href="#">Card</a></th>
                            <th><a href="#">Amount($)</a></th>
                            <th><a href="#">Status</a></th>
                            <th class="actionlink"><a href="#">Action</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model._DonorDetail != null && Model._DonorDetail.Count > 0)
                        {
                            for (var i = 0; i < Model._DonorDetail.Count; i++)
                            {
                        <tr>
                            @Html.HiddenFor(m => m._DonorDetail[i].PaymentId, new { @id = "hfPaymentId_" + i })
                            @Html.HiddenFor(m => m._DonorDetail[i].ExpMonth, new { id = "ExpMonth_" + @i })
                            @Html.HiddenFor(m => m._DonorDetail[i].ExpYear, new { id = "ExpYear_" + @i })
                            @if (@Model._DonorDetail[i].Status == "Refunded")
                            {
                                <td id="tdPaymentId_@i" class="anch-redirect pid"><a href="@Url.Action("ViewRefund","donation", new {pid = @FPBAL.Business.UtilityAccess.Encrypt(Convert.ToString(Model._DonorDetail[i].PaymentId)),fid = @Model.EncryptedFollowerId})" style="text-decoration:underline; color:#666674;" class="anch-redirect">@Html.DisplayFor(m => m._DonorDetail[i].PaymentId, new { @id = "tdPaymentId_@i" })</a></td>
                                <td id="tdPaymentId_@i" class="span-redirect pid" style="display:none"><span class="span-redirect" style="display:none">@Html.DisplayFor(m => m._DonorDetail[i].PaymentId, new { @id = "tdPaymentId_@i" })</span></td>

                            }

                            else
                            {
                                <td id="tdPaymentId_@i">@Html.DisplayFor(m => m._DonorDetail[i].PaymentId)</td>
                            }
                            @*<td id="tdTransactionId_@i">@Html.DisplayFor(m => m._DonorDetail[i].TransactionId)</td>*@
                            @if (@Model._DonorDetail[i].Status == "Scheduled")
                            {
                                <td id="tdTransactionId_@i">-</td>
                            }
                            else
                            {
                                if (Model._DonorDetail[i].TransactionId == "")
                                {
                                    <td>-</td>
                                }
                                else
                                {
                                    <td id="tdTransactionId_@i">@Html.DisplayFor(m => m._DonorDetail[i].TransactionId)</td>
                                }
                            }
                            @if (Model._DonorDetail[i].RecurringType == "")
                            {
                                <td>-</td>
                            }
                            else
                            {
                            <td id="tdTransactionDate_@i">@Html.DisplayFor(m => m._DonorDetail[i].RecurringType)</td>
                            }
                            <td id="tdTransactionDate_@i">@Html.DisplayFor(m => m._DonorDetail[i].TransactionDate)</td>

                            <td id="tdTime_@i">@Html.DisplayFor(m => m._DonorDetail[i].Time)</td>
                            <td id="tdCardNumber_@i">@Html.DisplayFor(m => m._DonorDetail[i].CardNumber)</td>
                            @if (@Model._DonorDetail[i].Status == "Scheduled")
                            {
                                <td id="tdAmount_@i">@Html.TextBoxFor(m => m._DonorDetail[i].Amount, new { @id = "tdAmount_" + i, @data = i, @class = "AmountChange form-control m-input numbersOnly" })</td>
                            }
                            else
                            {
                                <td id="tdAmount_@i">@Html.DisplayFor(m => m._DonorDetail[i].Amount)</td>
                            }
                            <td id="tdStatus_@i">
                                @Html.HiddenFor(m => m._DonorDetail[i].Status)
                                @if (@Model._DonorDetail[i].Status == "Scheduled")
                                {
                                    <span class="m-badge m-badge--info m-badge--wide">Scheduled</span>
                                }
                                @if (@Model._DonorDetail[i].Status == "Unsettled")
                                {
                                    <span class="m-badge m-badge--metal m-badge--wide contacted-btn unsettled-btn">Unsettled</span>
                                }
                                else if (@Model._DonorDetail[i].Status == "Paid")
                                {
                                    <span class="m-badge m-badge--primary m-badge--wide">Paid</span>
                                }
                                else if (@Model._DonorDetail[i].Status == "Skipped")
                                {
                                    <span class="m-badge  m-badge--metal m-badge--wide contacted-btn">Skipped</span>
                                }
                                else if (@Model._DonorDetail[i].Status == "Stopped")
                                {
                                    <span class="m-badge  m-badge--primary m-badge--wide" style="background-color: #FF0000;">Stopped</span>
                                }
                                else if (@Model._DonorDetail[i].Status == "Refunded")
                                {
                                    <span class="m-badge m-badge--metal m-badge--wide contacted-btn process-btn">Refunded</span>
                                }
                            </td>

                            <td class="actionlink_status">
                                @if (@Model._DonorDetail[i].Status == "Scheduled")
                                {
                                    if (Model._DonorDetail[i].IsSkip == false)
                                    {
                                        <button type="button" onclick="fncSkip(@i,'skip')" class="m-badge m-badge--primary m-badge--wide" id="btnSkip_@i"
                                                style="background-color: #21427a;padding: 7px 25px;border-radius: 23px;box-shadow:none; border:none;">
                                            Skip
                                        </button>
                                    }
                                    <button type="button" onclick="fncSkipStop(@i,'stop')" class="m-badge  m-badge--primary m-badge--wide"
                                            style="background-color: #fb5276;padding: 7px 25px;border-radius: 23px;box-shadow:none; border:none;">
                                        Stop
                                    </button>
                                    @Html.HiddenFor(m => m._DonorDetail[i].IsSkip)
                                    @Html.HiddenFor(m => m._DonorDetail[i].FollowerId, new { @id = "HdfFollowerId" })
                                    @Html.HiddenFor(m => m._DonorDetail[i].EncryptedPaymentId, new { @id = "HdfPaymentId" })
                                }

                                else if ((@Model._DonorDetail[i].Status == "Paid") && (@Model._DonorDetail[i].IsRefund == false) && (@Model._DonorDetail[i].TransactionStatus == "Settled"))
                                {
                                    @*<a href="@Url.Action("donorrefund", "donation")" class="m-badge  m-badge--primary m-badge--wide"
                       style="background-color: #21427a;padding: 7px 25px;border-radius: 23px;box-shadow:none; border:none;">
                Refund</a>*@

                                    @*@Html.ActionLink("Refund", "donorrefund", "donation", null, new { model= Model })*@
                                    @*<a href="/donation/donorrefund" class="m-badge  m-badge--primary m-badge--wide" style="background-color: #21427a;padding: 7px 25px;border-radius: 23px;box-shadow:none; border:none;">Refund</a>*@
                                    @*<button type="button" onclick="fncRefund(@i);" class="m-badge m-badge--primary m-badge--wide" style="background-color: #21427a;padding: 7px 25px;border-radius: 23px; box-shadow:none; border:none;">Refund</button>*@
                                    <a href="@Url.Action("issuerefund","donation",new { pid = @FPBAL.Business.UtilityAccess.Encrypt(Convert.ToString(Model._DonorDetail[i].PaymentId)),
                                                    fid = @FPBAL.Business.UtilityAccess.Encrypt(Convert.ToString(Model.FollowerId)),
                                                    cid= @FPBAL.Business.UtilityAccess.Encrypt(Convert.ToString(Model._DonorDetail[i].CardNumber)),
                                                    mid= @FPBAL.Business.UtilityAccess.Encrypt(Convert.ToString(Model._DonorDetail[i].ExpMonth)),
                                                    yid= @FPBAL.Business.UtilityAccess.Encrypt(Convert.ToString(Model._DonorDetail[i].ExpYear)),
                                                    tid= @FPBAL.Business.UtilityAccess.Encrypt(Convert.ToString(Model.TransactionId)),
                                                    eid= @FPBAL.Business.UtilityAccess.Encrypt(Convert.ToString(Model.Email)),
                                                    nid= @FPBAL.Business.UtilityAccess.Encrypt(Convert.ToString(Model.CardHolderName)),
                                                })"
                                       class="m-badge m-badge--primary m-badge--wide"
                                       style="background-color: #21427a;padding: 7px 25px;border-radius: 23px; box-shadow:none; border:none;"
                                       id="Refund_@Model._DonorDetail[i].PaymentId"
                                       onclick="return Confirm('Are you sure you want to refund this amount?',this)">
                                        Refund
                                    </a>
                                    <button type="button" class="m-badge m-badge--primary m-badge--wide PrintViewFrom" style="background-color: #fb5276;padding: 7px 25px;border-radius: 23px;box-shadow:none; border:none;" db="@i">Receipt</button>

                                }

                                else if ((@Model._DonorDetail[i].Status == "Paid") && (@Model._DonorDetail[i].IsRefund == true))
                                {

                                    <button type="button" class="m-badge m-badge--primary m-badge--wide PrintViewFrom" style="background-color: #fb5276;padding: 7px 25px;border-radius: 23px;box-shadow:none; border:none;" db="@i">Receipt</button>

                                }
                                else if (@Model._DonorDetail[i].Status == "Refunded")
                                {
                                    <button type="button" class="m-badge  m-badge--primary m-badge--wide PrintViewFrom" style="background-color: #fb5276;padding: 7px 25px;border-radius: 23px;box-shadow:none; border:none;" db="@i">Receipt</button>
                                    @*<a href="/donation/donorrefund" class="m-badge  m-badge--primary m-badge--wide" style="background-color: #fb5276;padding: 7px 25px;border-radius: 23px;box-shadow:none; border:none;">Receipt</a>*@
                                }
                                @if (@Model._DonorDetail[i].Status == "Skipped")
                                {
                                    @*<button type="button" class="m-badge  m-badge--primary m-badge--wide PrintViewFrom" style="background-color: #fb5276;padding: 7px 25px;border-radius: 23px;box-shadow:none; border:none;">Receipt</button>*@
                                }
                            </td>
                        </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="row mt-30" id="pagging1">
                </div>
            </div>
        </div>
    </div>


}
<script src="~/Scripts/multiple-select.js" type="text/javascript"></script>


<div class="modal fade" id="donorPrint" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog donation-print-popup" role="document">
        <div class="modal-content">
            <div class="modal-header" style="position:relative;">
                <h5 class="modal-title" id="exampleModalLabel">Donation Receipt</h5>

                <button class="dontaion-print-btn btn m-btn--pill btn-danger" onclick="printDivv('dvPrintTransaction')">Print</button>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="PrinPrivValues" class="modal-body">
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
<script type="text/javascript">
    function AlertWithTitleIcon(title, text, type) {
        swal({
            title: title,
            text: text,
            type: type
        });
    }
    $('select.multiCheckbox').multipleSelect({
        multipleWidth: 190,
        width: '100%',
        filter: true,
        multiple: true,
        position: 'bottom',
        animate: 'none', // 'none', 'fade', 'slide'
        //placeholder: '-- Select --',
        //addTitle: 'Sunil',
        //delimiter: ', ',
        //minimumCountSelected: 3,
        selectAllText: 'Select All',
        allSelected: 'All Selected',
        countSelected: '# of % selected',
        //noMatchesFound: 'No matches found',
        onClick: function () {
            //$("#<%= hdnfld.ClientID %>").val("1");
        },
        onOptgroupClick: function () {
            //alert('hi');
            //$("#<%= hdnfld.ClientID %>").val("1");
        },
        onUncheckAll: function () {
            // $("#<%= hdnfld.ClientID %>").val("1");
            //unSelectAll();
        },
        onClose: function () {
            //var hdnVal = $("#<%= hdnfld.ClientID %>").val();
            // if (hdnVal == "1") {
            //    $('#cover').show();
            //    $(".myhdnBtn").click();
            //}
        }
    });
    function setNoDataFoundStates() {
        setTimeout(function () {
            $('div.mystates li.ms-select-all').css('display', 'none').closest('ul').append('No data found');
            $('div.mystates div.ms-search').css('display', 'none');
        }, 300);
    }

    function setNoDataFoundCities() {
        setTimeout(function () {
            $('div.mycities li.ms-select-all').css('display', 'none').closest('ul').append('No data found');
            $('div.mycities div.ms-search').css('display', 'none');
        }, 300);
    }
    function unSelectAll() {
        if ($("div.mystates ul li input:checkbox:checked").length > 0) {
            //$("#<%= hdnfld.ClientID %>").val("1");
        }
        else {
            $('div.mycities ul').each(function () {
                $(this).find('li input[type="checkbox"]').removeAttr('checked');
            });

            // $("#<%= hdnfld.ClientID %>").val("1");
        }
    };

    $(document).ready(function () {
        setTimeout(function () {
            if (!$('select.mystates option').length) {
                //alert($('div.mycities ul').html());
                if ($('div.mystates ul').html().indexOf("No data found") == '-1') { if ($('li.ms-select-all:visible')) { $('div.mystates button.ms-choice').attr('disabled', 'disabled'); } }
            }
        }, 300);


        $('div.mystates li.ms-select-all').click(function () {
            if ($(this).hasClass("selected")) {
                //  $("#<%= hdnfld.ClientID %>").val("1");
            }

        });

        var currText=''
        $(".multiCheckbox .ms-drop ul li").each(function () {
            
            //console.log($(this).children("label").text());
            currText = $(this).children("label").text()
            if ((currText == "Paid" || currText == "Refunded" || currText == "Scheduled" || currText == "Unsettled") && $.trim($(".multiCheckbox").children("button").children("span").text()) == "-- Select --") {
              //  $(this).children("label").children("input[type='checkbox']").trigger("click");//prop("checked", true);
                $(this).children("label").children("input[type='checkbox']").prop("checked", true);
              
            }
        });
    });

    $("body").on("blur", ".AmountChange", function () {
        // $('.AmountChange').blur(function () {
        //debugger;
        var id = $(this).attr("id");
        var pid = ($('#hfPaymentId_' + $(this).attr("data")).val());
        var value = $('input[id=' + id + ']').val();
        if (value > 11200) {
            AlertWithTitleIcon("Alert", "Amount doesn't exceed $11200", "warning");
            return false;
        }
        var fid = $("#HdfFollowerId").val();
        $.post("/Donation/AmountChange?id=" + id + "&amount=" + value + "&pid=" + pid + "&fid=" + fid, function (data) {

        });

        //$.ajax({

        //    url: "/Donation/AmountChange?id="+id,
        //    type: "POST",
        //   // data: { 'id': $(this).attr("id") },
        //    success: function (data) {
        //        //debugger;

        //        // $(".abc").html(data);
        //        //$("#m_modal_1").modal(options);
        //        // $("#m_modal_1").modal('show');
        //    },
        //    error: function (xhr) {
        //        AlertWithTitleIcon("Error", xhr.responseText, "error");
        //    }
        //});


    });

    function fncSkip(id, text) {

        swal({
            title: "Alert",//"Are you sure?",
            text: "Are you sure you want to skip this transaction?",
            //text: "You will not be able to recover this imaginary file!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            closeOnConfirm: true,
            closeOnCancel: true
        },
            function (isConfirm) {
                if (isConfirm) {
                    var data = new FormData();
                    data.append("PaymentId", parseInt($('#tdPaymentId_' + id).text()));
                    data.append("Status", text);
                    data.append("IsSkip", parseInt($('#tdIsSkip_' + id).text()));
                    var followerid = $("#HdfFollowerId").val();
                    //var paymentid = data.append("PaymentId", parseInt($('#tdPaymentId_' + id).text()));

                    $.ajax({
                        type: "POST",
                        url: "/donation/skippayment",
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (data) {

                            if (data > 0) {
                                debugger
                                AlertWithTitleIcon("Success", "Payment has been skipped.", "success");
                                setTimeout(function () { window.location.href = '/donation/donordetail?fid=' + followerid; }, 5000);

                            }
                            else if (data = 0) {
                                AlertWithTitleIcon("Alert", data.ReturnMessage, "warning");
                                setTimeout(function () { window.location.href = '/donation/donordetail?fid=' + followerid; }, 5000);
                            }
                            else {
                                AlertWithTitleIcon("Error", "This action could not be completed right now. Please try again!");
                                setTimeout(function () { window.location.href = '/donation/donordetail?fid=' + followerid; }, 5000);
                            }
                            //location.reload(true);
                            //if (data > 0) {
                            //    AlertWithTitleIcon("Success", "Payment skipped successfully", "success");
                            //}
                            //else if (data = 0) {
                            //    AlertWithTitleIcon("Warning", "Error!", "warning");
                            //}
                            //else {
                            //    AlertWithTitleIcon("Error", "This action could not be completed. Try again!", "error");
                            //}
                        },
                        error: function () {
                            return 'error';
                        }
                    });
                }
                else { }
            });
    }

    function fncSkipStop(id, text) {

        swal({
            title: "Alert",//"Are you sure?",
            text: "Are you sure you want to Stop this transaction?",
            //text: "You will not be able to recover this imaginary file!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            closeOnConfirm: true,
            closeOnCancel: true
        },
            function (isConfirm) {
                if (isConfirm) {
                    var data = new FormData();
                    data.append("PaymentId", parseInt($('#tdPaymentId_' + id).text()));
                    data.append("Status", text);
                    data.append("IsSkip", parseInt($('#tdIsSkip_' + id).text()));
                    var followerid = $("#HdfFollowerId").val();
                    // var paymentid = $("#HdfPaymentId").val();
                    $.ajax({
                        type: "POST",
                        url: "/donation/skippayment",
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (data) {

                            if (data > 0) {
                                AlertWithTitleIcon("Success", "Payment has been stopped.", "success");
                                //setTimeout(function () { window.location.href = '/donation/donordetail?fid=' + data.DonationModel.EncryptedFollowerId; }, 5000);
                                setTimeout(function () { window.location.href = '/donation/donordetail?fid=' + followerid; }, 5000);
                            }
                            else if (data = 0) {
                                AlertWithTitleIcon("Alert", data.ReturnMessage, "warning");
                                setTimeout(function () { window.location.href = '/donation/donordetail?fid=' + followerid; }, 5000);
                            }
                            else {
                                AlertWithTitleIcon("Error", "This action could not be completed. Please try again!");
                                setTimeout(function () { window.location.href = '/donation/donordetail?fid=' + followerid; }, 5000);
                            }

                        },
                        error: function () {
                            return 'error';
                        }
                    });
                }
                else { }
            });
    }
    //function fncSkip(id, text) {
    //    swal({
    //        title: "Warning",//"Are you sure?",
    //        text: "Are you sure you want to skip this transaction?",
    //        //text: "You will not be able to recover this imaginary file!",
    //        type: "warning",
    //        showCancelButton: true,
    //        confirmButtonColor: "#DD6B55",
    //        confirmButtonText: "Yes",
    //        cancelButtonText: "No",
    //        closeOnConfirm: true,
    //        closeOnCancel: true
    //    },
    //        function (isConfirm) {
    //            if (isConfirm) {
    //                var data = new FormData();
    //                data.append("PaymentId", parseInt($('#tdPaymentId_' + id).text()));
    //                data.append("Status", text);
    //                data.append("IsSkip", parseInt($('#tdIsSkip_' + id).text()));

    //                $.ajax({
    //                    type: "POST",
    //                    url: "/donation/skippayment",
    //                    contentType: false,
    //                    processData: false,
    //                    data: data,
    //                    success: function (data) {
    //
    //                        location.reload(true);
    //                        //if (data > 0) {
    //                        //    AlertWithTitleIcon("Success", "Payment skipped successfully", "success");
    //                        //}
    //                        //else if (data = 0) {
    //                        //    AlertWithTitleIcon("Warning", "Error!", "warning");
    //                        //}
    //                        //else {
    //                        //    AlertWithTitleIcon("Error", "This action could not be completed. Try again!", "error");
    //                        //}

    //                    },
    //                    error: function () {
    //                        return 'error';
    //                    }
    //                });
    //            }
    //        }
    //    );
    //}

    function fncRefund(id) {

        swal({
            title: "Alert",//"Are you sure?",
            text: "Are you sure you want to refund this transaction?",
            //text: "You will not be able to recover this imaginary file!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            closeOnConfirm: true,
            closeOnCancel: true
        },
            function (isConfirm) {
                if (isConfirm) {
                    var data = new FormData();
                    fid = data.append("PaymentId", parseInt($('#tdPaymentId_' + id).text()));
                    data.append("PaymentId", parseInt($('#tdPaymentId_' + id).text()));
                    data.append("TransactionId", parseInt($('#tdTransactionId_' + id).text()));
                    data.append("FollowerId", $('#FollowerId').val());
                    data.append("EncryptedFollowerId", $('#EncryptedFollowerId').val());
                    data.append("TransactionDate", $('#tdTransactionDate_' + id).text());
                    data.append("Time", parseInt($('#tdTime_' + id).text()));
                    data.append("CardNumber", $('#tdCardNumber_' + id).text());
                    data.append("Amount", parseInt($('#tdAmount_' + id).text()));
                    data.append("Status", $('#tdStatus_' + id).text());
                    data.append("IsSkip", parseInt($('#tdIsSkip_' + id).text()));
                    data.append("ExpMonth", $('#ExpMonth_' + id).val());
                    data.append("ExpYear", $('#ExpYear_' + id).val());
                    $.ajax({
                        type: "Post",
                        url: "/Donation/IssueRefund?fid",
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (data) {
                            //debugger;
                            //$.getJSON("/donation/donordetail?fid=" + data.EncryptedFollowerId, function (JsonData) {
                            //});
                            if (data.ReturnCode > 0) {
                                AlertWithTitleIcon("Success", "Payment refund has been initiated.", "success");
                                window.location.href = '/donation/IssueRefund?fid=';
                            }
                            else if (data.ReturnCode == 0) {
                                AlertWithTitleIcon("Alert", data.ReturnMessage, "warning");
                            }
                            else {
                                AlertWithTitleIcon("Error", "This action could not be completed. Try again!");
                            }

                        },
                        error: function () {
                            AlertWithTitleIcon("Error", "Please Try again!", "error");
                            return 'error';
                        }
                    });
                }
            }
        );
    }
    function fncReceipt(id) {

        swal({
            title: "Alert",//"Are you sure?",
            text: "Are you sure you want to refund this transaction?",
            //text: "You will not be able to recover this imaginary file!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            closeOnConfirm: true,
            closeOnCancel: true
        },
            function (isConfirm) {
                if (isConfirm) {
                    var data = new FormData();
                    data.append("PaymentId", parseInt($('#tdPaymentId_' + id).text()));
                    data.append("TransactionId", parseInt($('#tdTransactionId_' + id).text()));
                    data.append("TransctionDate", parseInt($('#tdTransctionDate_' + id).text()));
                    data.append("CreateDate", parseInt($('#tdTransctionDate_' + id).text()));
                    data.append("Time", parseInt($('#tdTime_' + id).text()));
                    data.append("CardNumber", parseInt($('#tdCardNumber_' + id).text()));
                    data.append("Amount", parseInt($('#tdAmount_' + id).text()));
                    data.append("Status", parseInt($('#tdStatus_' + id).text()));
                    data.append("IsSkip", parseInt($('#tdIsSkip_' + id).text()));

                    $.ajax({
                        type: "POST",
                        url: "/Donation/DonorDetail",
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (data) {

                            //if (data > 0) {
                            //    AlertWithTitleIcon("Success", "Payment skipped");
                            //}
                            //else if (data = 0) {
                            //    AlertWithTitleIcon("Warning", "Error!");
                            //}
                            //else {
                            //    AlertWithTitleIcon("Error", "This action could not be completed. Try again!");
                            //}


                        },
                        error: function () {
                            return 'error';
                        }
                    });
                }
            }
        );
    }

    //$(document).load(function () {

    //    location.reload();
    //});

    $(document).ready(function () {
        $(".DownloadDoc").click(function () {           
            var _type = $(this).attr("db");
            var _email = $("#txtEmail").val();
            $.post("/donation/invoiceprint?type=" + _type + "&email=" + _email, { async: false }, function (data) {
                if (data.ReturnCode > 0) {
                    if (_type == 'download') {
                        window.open('/download.ashx?type=invoice&file=' + data.FilePath, 'Billing Receipt', '_blank');
                        // window.location.href = '/download.ashx?type=invoice&file=' + data.FilePath;
                    }
                    else if (_type == "share") {
                        AlertWithTitleIcon("Success", "Billing receipt has been shared successfully.", "success");
                        $('#shareModal').modal('hide');
                    }
                }
                else {
                    AlertWithTitleIcon("Error", "The action couldn't be completed. Please try again later.", "error");
                }

            });
        });


    });



    $(document).ready(function () {
        $('.PrintViewFrom').click(function () {
            try {
                $('#Tr').hide();
                var id = $(this).attr('db');
                //var i =
                var TdcardHoldername = $('#TdcardHoldername').text();
                var tdPayment = $('#tdPaymentId_' + id).text();
                var tdTransaction = $('#tdTransactionId_' + id).text();
                var tdTransactionDate = $('#tdTransactionDate_' + id).text();
                var tdTime = $('#tdTime_' + id).text();
                var tdCardNumber = $('#tdCardNumber_' + id).text();
                var tdAmount = $('#tdAmount_' + id).text();
                var tdStatus = $('#tdStatus_' + id).text();
                var tdMobile = $('#DonorMobileNumber').text();
                var tdAddress = $('#DonorAddress').text();
                var tdEmail = $('#DonorEmail').text();
                //debugger;
                //var options = { backdrop: 'static', keyboard: false, show: true };
                $.ajax({
                    type: "Post",
                    url: "/donation/PrintDonation",
                    data: {
                        PaymentId: tdPayment,
                        TransactionId: tdTransaction,
                        TransactionDate: tdTransactionDate,
                        TransactionTime: tdTime,
                        CardNumber: tdCardNumber,
                        Amount: tdAmount,
                        Status: tdStatus,
                        CardHoldername: TdcardHoldername,
                        Email: tdEmail,
                        MobileNumber: tdMobile,
                        AddressLine1: tdAddress
                    },

                    datatype: "json",
                    contenttype: 'application/json; charset=utf-8',
                    async: false,
                    //data: { payment: tdPayment, transaction: tdTransaction},
                    success: function (data) {

                        $("#PrinPrivValues").html(data);
                        //$("#donorPrint").modal(options);
                        $("#donorPrint").modal('show');
                    },
                    error: function (xhr) {
                        AlertWithTitleIcon("Error", xhr.responseText, "error");
                    }
                });
            }
            catch (ex) { }
        });

    });

    function printDiv(divid) {        
        var html = "";
        $('.table-searh-wrap').hide();
        $('#m_table_9').show();
        $('#df').hide();
        //$('table td:nth-child(2)').hide();
        $('.actionlink').hide();
        $('.actionlink_status').hide();
        $('.anch-redirect').hide();
        $('.span-redirect').show();

        html += '<link href="/Content/bootstrap.css" rel="stylesheet"/>';
        //$('link').each(function () { // find all <link tags that have
        //    if ($(this).attr('rel').indexOf('stylesheet') != -1) { // rel="stylesheet"
        //        html += '<link rel="stylesheet" href="' + $(this).attr("href") + '" />';
        //    }
        //});


        var contents = '<div class="m-stack__item m-brand  m-brand--skin-dark" style="box-shadow: none !important; padding: 0 !important;margin-bottom:60px;">';
        contents += '<div class="m-stack m-stack--ver m-stack--general" >';
        contents += '<div class="m-stack__item m-stack__item--middle m-brand__logo" style="padding: 0; height: auto !important;">';
        contents += '<a class="m-brand__logo-wrapper"><img alt="logo" src="/content/images/josh-logo.png"></a>';
        contents += '</div></div></div >';

        contents += document.getElementById(divid).innerHTML;
       
        var frame1 = document.createElement('iframe');
        //var d1 = document.getElementById('header').style.display = 'none';

        //var d2 = document.getElementById('pagging1');
        frame1.name = "frame1";
        frame1.style.position = "absolute";
        frame1.style.top = "-1000000px";
        document.body.appendChild(frame1);
        var frameDoc = frame1.contentWindow ? frame1.contentWindow : frame1.contentDocument.document ? frame1.contentDocument.document : frame1.contentDocument;
        frameDoc.document.open();
        //frameDoc.document.write('<html><head><title>DIV Contents</title>');
        frameDoc.document.write('<html><head><title></title>');
        frameDoc.document.write('</head><body>');
        //frameDoc.document.write('<img src="/content/images/logo-blue.png"><div style="margin-bottom:20px;"></div>');
        frameDoc.document.write(html);
        frameDoc.document.write(contents);
        frameDoc.document.write('</body></html>');
        frameDoc.document.close();
        setTimeout(function () {
            window.frames["frame1"].focus();
            window.frames["frame1"].print();
            document.body.removeChild(frame1);
            //document.body.removeAttribute(d2);
            //document.body.removeChild(d2);
        }, 500);

        $('#df').show();
        $('#m_table_9').hide();
        $('.actionlink').show();
        $('.actionlink_status').show();
        $('.anch-redirect').show();
        $('.m-portlet__head-title').show();
        $('.span-redirect').hide();

        return false;

    }

    $(document).ready(function () {
        $("#printMain").click(function () {
            debugger
            $.post("/donation/PrintDonationMain", function (data) {
                //$("#PrinPrivValues").html(data);                
                //$("#donorPrint").modal('show');

                var html = '<link href="/Content/css/bootstrap.min.css" rel="stylesheet"/>';
                var frame1 = document.createElement('iframe');
                //var d1 = document.getElementById('header').style.display = 'none';

                //var d2 = document.getElementById('pagging1');
                frame1.name = "frame1";
                frame1.style.position = "absolute";
                frame1.style.top = "-1000000px";
                document.body.appendChild(frame1);
                var frameDoc = frame1.contentWindow ? frame1.contentWindow : frame1.contentDocument.document ? frame1.contentDocument.document : frame1.contentDocument;
                frameDoc.document.open();
                //frameDoc.document.write('<html><head><title>DIV Contents</title>');
                frameDoc.document.write('<html><head><title></title>');
                frameDoc.document.write('</head><body>');
                //frameDoc.document.write('<img src="/content/images/logo-blue.png"><div style="margin-bottom:20px;"></div>');
                frameDoc.document.write(html);
                frameDoc.document.write(data);
                frameDoc.document.write('</body></html>');
                frameDoc.document.close();
                setTimeout(function () {
                    window.frames["frame1"].focus();
                    window.frames["frame1"].print();
                    document.body.removeChild(frame1);
                    //document.body.removeAttribute(d2);
                    //document.body.removeChild(d2);
                }, 500);

                

                //return false;
            });
        })

    });

</script>
<script>
    jQuery(document).ready(function () {
        jQuery("body").on("mouseenter", "input.myCalendarDonation", function () {

            var topHeight = $(this).offset().top + $(this).height() + 60;
            var offsetLeft = $(this).offset().left;
            jQuery(this).datepicker({
                autoclose: true,
                dateFormat: "mm/dd/yy",

                // minDate: "01-Jan-1970",
                yearRange: "1970:" + NextYearVal_ + "",
                autoclose: true,
                //maxDate: "31/01/2100",
                changeMonth: true,
                changeYear: true,

                showButtonPanel: true,
                beforeShow: function (input, inst) {
                    setTimeout(function () {
                        inst.dpDiv.css({
                            top: topHeight,
                            left: offsetLeft
                        });
                    }, 0)
                }
                //showOn: "button",
                //buttonImage: "images/calendar.gif",
                //buttonImageOnly: true,
                //timeFormat: "hh:mm tt"
            });
            $(".datepicker").removeClass("table-calender");
        });
    });
    jQuery("body").on("click", "input.myCalendarDonation", function () {
        $(".datepicker").removeClass("table-calender");
    });
</script>