﻿@using FPModels.Models
@model DonationModel
@{
    ViewBag.Title = "Donations";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //ViewBag.Header = "Donations";
}
<style>
    .highcharts-credits {
        display: none;
    }

    .highcharts-exporting-group {
        display: none;
    }

</style>
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
@*<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>*@
<div class="m-subheader donation-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            @*<h3 class="m-subheader__title ">Donations</h3>*@
        </div>
        <div class="mr-auto" style="text-align:right;">
            <a href="@Url.Action("notificationsetting", "donation", new { })"><h3 class="m-subheader__title " style="padding-right:0px; margin:0px;"><i class="fa fa-cog" aria-hidden="true"></i>Settings</h3></a>
        </div>
    </div>
</div>
<div class="m-content">
    @*<div class="form-group">

                <a href="@Url.Action("notificationseting", "donation", new { })" class="btn btn-primary btn-xs pull-right" title="Settings"><i class="fa fa-gear fa-2x"></i></a>
        </div>*@
    <div class="m-portlet m-portlet--mobile  responsdiveass">
        <div class="m-portlet__body">
            <div class="row">
                <div class="col-sm-6">
                    <div cllass="clearfix">

                    </div>
                    <canvas id="graphDonation" width="325" height="160" class="chartjs-render-monitor" style="display: block; width: 325px; height: 160px;"></canvas>
                </div>
                <div class="col-sm-6">
                    <div class="clearfix">
                        @*<div class="chart-head">
                <h3 class="m-portlet__head-text">
                    This Week
                </h3>
                <p>Feb 6 2019 - Feb 12, 2019</p>
            </div>*@
                        <div class="chart-head">
                            @if (@Model.donationWeekMMYY.DonationWeekMMYYName == "This Week")
                            {
                                <h3 class="m-portlet__head-text">
                                    This Week
                                </h3>
                                <p><span id="datesTodate">@Model.donationWeekMMYY.FromDate - </span> <span id="datesFromDate"> @Model.donationWeekMMYY.ToDate</span></p>
                            }
                            else if (Model.donationWeekMMYY.DonationWeekMMYYName == "This Month")
                            {
                                <h3 class="m-portlet__head-text">
                                    This Month
                                </h3>
                                <p><span id="datesTodate">@Model.donationWeekMMYY.FromDate - </span> <span id="datesFromDate"> @Model.donationWeekMMYY.ToDate</span></p>
                            }
                            else
                            {
                                <h3 class="m-portlet__head-text">
                                    This Year
                                </h3>
                                <p><span id="datesTodate">@Model.donationWeekMMYY.FromDate - </span> <span id="datesFromDate"> @Model.donationWeekMMYY.ToDate</span></p>
                            }
                        </div>
                        <div class="dataTables_length show-item-select chart-select" id="m_table_1_length">
                            <label>
                                <select name="m_table_1_length" aria-controls="m_table_1" class="custom-select dropDownFormDuration custom-select-sm form-control form-control-sm">
                                    <option value="7">Weekly</option>
                                    <option value="31">Monthly</option>
                                    <option value="365">Yearly</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="week-value">
                        <h2>Total Donations After Refund($)</h2>
                        <h5 style="color: #a8a9b6;
        margin: -23px 0 27px;">Including unsettled amount</h5>
                        <h2 id="AmountDonation">@Model.donationAmount.DonationAmountTotal</h2>
                    </div>
                    <div class="R_week-value">
                        <h2>Total Refund($)</h2>
                        @if (Model.donationAmount.RefundAmount == "0.00")
                        {
                            <h2 id="RefundAmount">@Model.donationAmount.RefundAmount</h2>
                        }
                        else
                        {
                            <h2 id="RefundAmount">- @Model.donationAmount.RefundAmount</h2>
                        }
                    </div>
                    <div class="m-widget15__items m--margin-top-20 chart-progress">
                        <div class="row donation_value_wrap">
                            @if (Model != null && Model._DonationTypeModel != null && Model._DonationTypeModel.Count > 0)
                            {
                                for (var i = 0; i < Model._DonationTypeModel.Count; i++)
                                {
                                    <div class="col">
                                        <!--begin::widget item-->
                                        <div class="m-widget15__item">
                                            <span class="m-widget15__stats" id="DonationPercentage_@i">
                                                @Model._DonationTypeModel[i].DonationPercentage%
                                            </span>
                                            <br><br>
                                            <span class="m-widget15__text" id="DonationType_@i">
                                                @Model._DonationTypeModel[i].DonationType
                                            </span>
                                        </div>
                                        <!--end::widget item-->
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @using (Ajax.BeginForm("index", "donation", new AjaxOptions()))
    {
        <div class="payment-form-wrapper about-us-wrap">
            <div class="m-portlet m-portlet--mobile mb_0">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text1">
                                View Donations
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="table-searh-wrap  event_searh_wrap">
                        <div id="m_table_1_filter" class="dataTables_filter search_table_bar" style="max-width: 135px;">
                            <label>
                                <img src="~/Content/images/search.png" alt="search">
                                @Html.TextBoxFor(m => m.Field, new { @class = "form-control  form-control-sm", @placeholder = "Search" })
                            </label>
                        </div>

                        <div id="m_table_1_filter-1" class="dataTables_filter table-status show-item-select" style="padding-left:20px;">
                            <label>
                                Status:
                                @Html.DropDownListFor(m => m.Status, Model._StatusAIList, new { @class = "custom-select custom-select-sm form-control form-control-sm", @tabindex = "2" })
                            </label>

                        </div>
                        <div id="m_table_1_filter" class="dataTables_filter table-status table_date_calendar show-item-select" style="margin:0px;">
                            <label>
                                Date:
                                @Html.TextBoxFor(m => m.FromDate, new { @class = "custom-select custom-select-sm form-control form-control-sm myCalendarDonation ", @placeholder = "Select Date", @AutoComplete = "Off", @tabindex = "3" })
                                <i class="la la-calendar glyphicon-th"></i>
                            </label>
                        </div>
                        <div id="m_table_1_filter" class="dataTables_filter table-status table_date_calendar show-item-select" style="margin:0px;">
                            <label>
                                To:
                                @Html.TextBoxFor(m => m.ToDate, new { @class = "custom-select custom-select-sm form-control form-control-sm myCalendarDonation ", @placeholder = "Select Date", @AutoComplete = "Off", @tabindex = "4" })
                                <i class="la la-calendar glyphicon-th"></i>
                            </label>
                            <button class="btn m-btn--pill    btn-danger" tabindex="5">Search</button>
                        </div>
                        <div class="pull-right datatable_new">
                            <a href="/batch/index" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                                <span>
                                    Batch
                                </span>
                            </a>
                        </div>
                    </div>
                    @*<table class="table table-striped- table-hover" id="m_table_1">*@
                    <table class="table table-striped- table-hover table-pagger" cols="6" id="m_table_1">
                        <thead>
                            <tr>
                                <th class="DonationName">Name</th>
                                <th class="DonationAddress">Address</th>
                                <th class="DonationType">Type</th>
                                <th class="DonationDate">Date</th>
                                <th class="DonationTime">Time</th>
                                <th class="DonationAmount">Amount($)</th>
                                <th class="DonationVolunteer">Action</th>
                                @*<th class="DonationHosting">Hosting</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model._DonationModel != null && Model._DonationModel.Count > 0)
                            {
                                foreach (var item in Model._DonationModel)
                                {
                            <tr>
                                @if (FPBAL.Business.MenuAccess.Allow("edit"))
                                //&& (item.DonationStatus  != "Refunded"))
                                {
                                    <td><a href="@Url.Action("donordetail", "donation", new { fid = @item.EncryptedFollowerId, pid = @item.EncryptedPaymentId })" style="text-decoration:underline; color:#666674;">@item.CardHolderName</a></td>
                                }
                                //else if (FPBAL.Business.MenuAccess.Allow("edit") && (item.DonationStatus == "Refunded"))
                                //{
                                //    <td><a href="@Url.Action("ViewRefund","donation",new {  pid = @item.EncryptedPaymentId})" style="text-decoration:underline; color:#666674;">@item.CardHolderName</a> </td>
                                //}
                                else
                                {
                                    <td><a href="#" style="text-decoration:underline; color:#666674;">@item.CardHolderName</a></td>

                                }
                                <td>@item.AddressLine1 @item.AddressLine2, @item.cityName, @item.StateName, @item.zipcode</td>
                                <td>@item.DonationType</td>
                                <td>@item.TransctionDate</td>
                                <td>@item.TransactionTime</td>
                                <td>@item.Amount</td>
                                @*<td id="donationstatus_@item.DonationStatus">@item.DonationStatus</td>*@
                                @if (item.DonationStatus == "Paid")
                                {
                                    <td><span class="m-badge m-badge--primary m-badge--wide">@item.DonationStatus</span></td>
                                }
                                else if (item.DonationStatus == "Unsettled")
                                {
                                    <td><span class="m-badge m-badge--metal m-badge--wide contacted-btn unsettled-btn">@item.DonationStatus</span></td>
                                }
                                else
                                {
                                    <td><span class="m-badge m-badge--metal m-badge--wide contacted-btn process-btn">@item.DonationStatus</span></td>
                                }
                                @*<td>@item.Hosting</td>*@
                            </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <div class="row mt-30" id="pagging1">
                    </div>
                </div>
            </div>
        </div>
    }
</div>



<script type="text/javascript">
    
    var graphDonation = null;
    function GetDonationGraphData(dura) {
        //var dura = $(".dropDownFormDuration").val();
        $.getJSON("/donation/DonationGraphData?duration=" + dura, function (JsonData) {
          
            var arrLebel = []
            var arrData = []
            if (graphDonation != null)
                graphDonation.destroy();
            if (JsonData._GraphData.length == 1) {
                arrLebel.push('');
                arrData.push(0);
            }
            for (var i = 0; i < JsonData._GraphData.length; i++) {
                arrLebel.push(JsonData._GraphData[i].Day);
                arrData.push(JsonData._GraphData[i].Amount);
            }
           
            $(".m-portlet__head-text").html(JsonData.DonationWeekMMYY.DonationWeekMMYYName);
            $("#datesFromDate").html(JsonData.DonationWeekMMYY.ToDate);
            $("#datesTodate").html(JsonData.DonationWeekMMYY.FromDate);
            $("#AmountDonation").html(JsonData.DonationAmount.DonationAmountTotal);
            if (JsonData.DonationAmount.RefundAmount == '0.00') {
                $("#RefundAmount").html('' + JsonData.DonationAmount.RefundAmount);
            }
            else {
                $("#RefundAmount").html('- ' + JsonData.DonationAmount.RefundAmount);
            }
            if (JsonData._DonationTypeModel.length > 0) {
                for (var i = 0; i < JsonData._DonationTypeModel.length; i++)
                {
                    $("#DonationPercentage_" + i).text(JsonData._DonationTypeModel[i].DonationPercentage + '%');
                    $("#DonationType_" + i).text(JsonData._DonationTypeModel[i].DonationType);
                    
                }
                //$("#DonationPercentage_0").text(JsonData._DonationTypeModel[0].DonationPercentage + '%');
                //$("#DonationPercentage_1").text(JsonData._DonationTypeModel[1].DonationPercentage + '%');
                //$("#DonationPercentage_2").text(JsonData._DonationTypeModel[2].DonationPercentage + '%');
                //$("#DonationPercentage_3").text(JsonData._DonationTypeModel[3].DonationPercentage + '%');
                //$("#DonationPercentage_4").text(JsonData._DonationTypeModel[4].DonationPercentage + '%');
                //$("#DonationPercentage_5").text(JsonData._DonationTypeModel[5].DonationPercentage + '%');
            }

            if (0 != $("#graphDonation").length) {              

                var e = document.getElementById("graphDonation").getContext("2d"),
                    t = e.createLinearGradient(0, 0, 0, 240);
                t.addColorStop(0, Chart.helpers.color("#FED9E0").alpha(1).rgbString()),
                    t.addColorStop(1, Chart.helpers.color("#FED9E0").alpha(.3).rgbString());
                var a = {
                    type: "line",
                    data: {
                        labels: arrLebel,
                        datasets: [{
                            label: "Donation Stats", backgroundColor: t, borderColor: mApp.getColor("danger"), pointBackgroundColor: Chart.helpers.color("#000000").alpha(0).rgbString(), pointBorderColor: Chart.helpers.color("#000000").alpha(0).rgbString(), pointHoverBackgroundColor: mApp.getColor("danger"), pointHoverBorderColor: Chart.helpers.color("#000000").alpha(.2).rgbString(),
                            data: arrData
                        }
                        ]
                    }
                    ,
                    options: {
                        title: {
                            display: true,
                            text: 'Total Donations Received From App',
                        },                        
                        tooltips: {
                            intersect: !1, mode: "nearest", xPadding: 10, yPadding: 10, caretPadding: 10
                        }
                        ,
                        legend: {
                            display: !1
                        }
                        ,
                        responsive: !0,
                        maintainAspectRatio: !1,
                        hover: {
                            mode: "index"
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                gridLines: false,
                                scaleLabel: {
                                    display: false, labelString: "Month"
                                }
                            }
                            ],
                            yAxes: [{
                                display: false,
                                gridLines: false,
                                scaleLabel: {
                                    display: !1, labelString: "Value"
                                }
                                ,
                                ticks: {
                                    beginAtZero: !0
                                }
                            }
                            ]
                        }
                        ,
                        elements: {
                            line: {
                                tension: .19
                            }
                            ,
                            point: {
                                radius: 4, borderWidth: 12
                            }
                        }
                        ,
                        layout: {
                            padding: {
                                left: 0, right: 0, top: 5, bottom: 0
                            }
                        }
                    }
                };

                graphDonation = new Chart(e, a);
            }


            //Highcharts.chart('m_morris_1', {
            //    chart: {
            //        type: 'line'
            //    },
            //    title: {
            //        text: ' Total Donations'
            //    },
            //    subtitle: {
            //        text: 'Total Donations Interest Received From App'
            //    },
            //    xAxis: {
            //        categories: Days
            //    },
            //    yAxis: {
            //        title: {
            //            text: 'Donations'
            //        }
            //    },
            //    plotOptions: {
            //        line: {
            //            dataLabels: {
            //                enabled: true
            //            },
            //            enableMouseTracking: true
            //        }
            //    },
            //    series: [{
            //        name: 'Donations',
            //        data: Amounts
            //    }]
            //});

        });
    };

    $(document).ready(function () {
        //$.getJSON("/donation/donationgraphdata", function (JsonData) {
        //    var arrLebel = []
        //    var arrData = []
        //    for (var i = 0; i < JsonData._GraphData.length; i++) {
        //        arrLebel.push(JsonData._GraphData[i].Day);
        //        arrData.push(JsonData._GraphData[i].Amount);
        //    }

           
        //    if (0 != $("#graphDonation").length) {
        //        if (donationGraph != null)
        //            donationGraph.destroy();

        //        var e = document.getElementById("graphDonation").getContext("2d"),
        //            t = e.createLinearGradient(0, 0, 0, 240);
        //        t.addColorStop(0, Chart.helpers.color("#d1f1ec").alpha(1).rgbString()),
        //            t.addColorStop(1, Chart.helpers.color("#d1f1ec").alpha(.3).rgbString());
        //        var a = {
        //            type: "line",
        //            data: {
        //                labels: arrLebel,
        //                datasets: [{
        //                    label: "Donation Stats", backgroundColor: t, borderColor: mApp.getColor("success"), pointBackgroundColor: Chart.helpers.color("#000000").alpha(0).rgbString(), pointBorderColor: Chart.helpers.color("#000000").alpha(0).rgbString(), pointHoverBackgroundColor: mApp.getColor("danger"), pointHoverBorderColor: Chart.helpers.color("#000000").alpha(.2).rgbString(),
        //                    data: arrData
        //                }
        //                ]
        //            }
        //            ,
        //            options: {
        //                title: {
        //                    display: false,
        //                    text: 'Total Dnation'
        //                },
        //                subtitle: {
        //                    display: false,
        //                    text: 'Total Donations Received From App'
        //                },
        //                tooltips: {
        //                    intersect: !1, mode: "nearest", xPadding: 10, yPadding: 10, caretPadding: 10
        //                }
        //                ,
        //                legend: {
        //                    display: !1
        //                }
        //                ,
        //                responsive: !0,
        //                maintainAspectRatio: !1,
        //                hover: {
        //                    mode: "index"
        //                }
        //                ,
        //                scales: {
        //                    xAxes: [{
        //                        display: false,
        //                        gridLines: false,
        //                        scaleLabel: {
        //                            display: false, labelString: "Month"
        //                        }
        //                    }
        //                    ],
        //                    yAxes: [{
        //                        display: false,
        //                        gridLines: true,
        //                        scaleLabel: {
        //                            display: !1, labelString: "Value"
        //                        }
        //                        ,
        //                        ticks: {
        //                            beginAtZero: !0
        //                        }
        //                    }
        //                    ]
        //                }
        //                ,
        //                elements: {
        //                    line: {
        //                        tension: .19
        //                    }
        //                    ,
        //                    point: {
        //                        radius: 4, borderWidth: 12
        //                    }
        //                }
        //                ,
        //                layout: {
        //                    padding: {
        //                        left: 0, right: 0, top: 5, bottom: 0
        //                    }
        //                }
        //            }
        //        }
        //            ;
        //        donationGraph = new Chart(e, a);
        //    }

        //    //Highcharts.chart('m_morris_1', {
        //    //    chart: {
        //    //        type: 'line'
        //    //    },
        //    //    title: {
        //    //        text: ' Total Donations'
        //    //    },
        //    //    subtitle: {
        //    //        text: 'Total Donations Interest Received From App'
        //    //    },
        //    //    xAxis: {
        //    //        categories: Days
        //    //    },
        //    //    yAxis: {
        //    //        title: {
        //    //            text: 'Donations'
        //    //        }
        //    //    },
        //    //    plotOptions: {
        //    //        line: {
        //    //            dataLabels: {
        //    //                enabled: true
        //    //            },
        //    //            enableMouseTracking: true
        //    //        }
        //    //    },
        //    //    series: [{
        //    //        name: 'Donations',
        //    //        data: Amounts
        //    //    }]
        //    //});
        //});

        // load
        GetDonationGraphData(7);

        $(".dropDownFormDuration").change(function () {
          
            GetDonationGraphData($(this).val());
        });
    });
</script>
<script>
    jQuery(document).ready(function () {
        jQuery("body").on("mouseenter", "input.myCalendarDonation", function () {
           
            var topHeight = $(this).offset().top + $(this).height() + 10;
            var offsetLeft = $(this).offset().left;
            jQuery(this).datepicker({
                autoclose: true,
                dateFormat: "mm/dd/yy",

                // minDate: "01-Jan-1970",
                yearRange: "1970:" + NextYearVal_ + "",
                autoclose: true,
                //maxDate: "31/01/2100",
                changeMonth: true,
                changeYear: true,

                showButtonPanel: true,
                beforeShow: function (input, inst) {
                    setTimeout(function () {
                        inst.dpDiv.css({
                            top: topHeight,
                            left: offsetLeft
                        });
                    }, 0)
                }
                //showOn: "button",
                //buttonImage: "images/calendar.gif",
                //buttonImageOnly: true,
                //timeFormat: "hh:mm tt"
            });
            $(".datepicker").removeClass("table-calender");
        });
    });
    jQuery("body").on("click", "input.myCalendarDonation", function () {
        $(".datepicker").removeClass("table-calender");
    });
</script>