﻿@using FPModels.Models
@using FPModels.Models
@model  EventModel

@{
    ViewBag.Title = "MultiSelection";
    Layout = null;
}
<link href="~/Content/bootstrap.css" type="text/css" />

@*<link href="~/Content/css/multiple-select.css" type="text/css" />
    <link href="~/Content/css/jquery-ui.min.css" type="text/css" />
    <link href="~/Content/style.css" type="text/css" />
    <script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>

    <script src="~/Scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/Scripts/multiple-select.js" type="text/javascript"></script>*@

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="~/Content/style.css" type="text/css" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

@*<div class="row mystates">
    @Html.ListBoxFor(m => m.SearchStatus, Model._StatusList, new { @class = "custom-select-sm form-control-sm ms-parent multiCheckbox nopadd mystates", @tablindex = "5" })
</div>*@
<div class="row mystates">
    @Html.ListBoxFor(m => m.CountyId, Model._CountyList, new { @class = "custom-select-sm form-control-sm ms-parent multiCheckbox nopadd mystates", @tablindex = "5" })
</div>
<div class="row mystates">
    @Html.ListBoxFor(m => m.LocalId, Model._LocalList, new { @class = "custom-select-sm form-control-sm ms-parent multiCheckbox nopadd mystates", @tablindex = "5" })
</div>
<div class="row mystates">
    @Html.ListBoxFor(m => m.IndividualId, Model._IndividualList, new { @class = "custom-select-sm form-control-sm ms-parent multiCheckbox nopadd mystates", @tablindex = "5" })
</div>

   
  
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            var availableTags = [
                "ActionScript",
                "AppleScript",
                "Asp",
                "BASIC",
                "C",
                "C++",
                "Clojure",
                "COBOL",
                "ColdFusion",
                "Erlang",
                "Fortran",
                "Groovy",
                "Haskell",
                "Java",
                "JavaScript",
                "Lisp",
                "Perl",
                "PHP",
                "Python",
                "Ruby",
                "Scala",
                "Scheme"
            ];
            $("#tags").autocomplete({
                source: availableTags
            });
        });
    </script>


    <div class="ui-widget">
        <label for="tags">Tags: </label>
        <input id="tags">
    </div>



<script>
    $('select.multiCheckbox').multipleSelect({
        multipleWidth: 190,
        width: '100%',
        filter: true,
        multiple: true,
        position: 'bottom',
        animate: 'none', // 'none', 'fade', 'slide'
        //placeholder: '-- Select --',
        //addTitle: 'Sunil',
        //delimiter: ', ',
        //minimumCountSelected: 3,
        selectAllText: 'Select All',
        allSelected: 'All Selected',
        countSelected: '# of % selected',
        //noMatchesFound: 'No matches found',
        onClick: function () {
            //$("#<%= hdnfld.ClientID %>").val("1");
        },
        onOptgroupClick: function () {
            //alert('hi');
            //$("#<%= hdnfld.ClientID %>").val("1");
        },
        onUncheckAll: function () {
            // $("#<%= hdnfld.ClientID %>").val("1");
            //unSelectAll();
        },
        onClose: function () {
            //var hdnVal = $("#<%= hdnfld.ClientID %>").val();
            // if (hdnVal == "1") {
            //    $('#cover').show();
            //    $(".myhdnBtn").click();
            //}
        }
    });
    function setNoDataFoundStates() {
        setTimeout(function () {
            $('div.mystates li.ms-select-all').css('display', 'none').closest('ul').append('No data found');
            $('div.mystates div.ms-search').css('display', 'none');
        }, 300);
    }

    function setNoDataFoundCities() {
        setTimeout(function () {
            $('div.mycities li.ms-select-all').css('display', 'none').closest('ul').append('No data found');
            $('div.mycities div.ms-search').css('display', 'none');
        }, 300);
    }
    function unSelectAll() {
        if ($("div.mystates ul li input:checkbox:checked").length > 0) {
            //$("#<%= hdnfld.ClientID %>").val("1");
        }
        else {
            $('div.mycities ul').each(function () {
                $(this).find('li input[type="checkbox"]').removeAttr('checked');
            });

            // $("#<%= hdnfld.ClientID %>").val("1");
        }
    };
    $(document).ready(function () {
        setTimeout(function () {
            if (!$('select.mystates option').length) {
                //alert($('div.mycities ul').html());
                if ($('div.mystates ul').html().indexOf("No data found") == '-1') { if ($('li.ms-select-all:visible')) { $('div.mystates button.ms-choice').attr('disabled', 'disabled'); } }
            }
        }, 300);


        $('div.mystates li.ms-select-all').click(function () {
            if ($(this).hasClass("selected")) {
                //  $("#<%= hdnfld.ClientID %>").val("1");
            }

        });
    });

</script>