﻿@using FPModels.Models
@model InviteDataFileModel
@{
    ViewBag.Title = "Invite User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("inviteuser", "appuser", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="m-content payment-form-wrappe">
        <div class="m-portlet m-portlet--tab">
            <div class="m-portlet m-portlet--tab">              

                <!--begin::Form-->
                <div class="m-form m-form--fit m-form--label-align-right">

                    <div class="m-portlet__body">
                        <div class="form-group m-form__group">


                        </div>
                        <div class="m-form__group form-group add-file-wrap">

                            <label for=""></label>
                            <div class="upload-btn-wrapper">
                              jj
                            </div>
                        </div>
                        <div class="m-form__actions form-buttons">
                           
                        </div>
                        <div class="m-form__group form-group add-file-wrap">
                            @if (Request["fid"] != null)
                            {
                            <h2>please wait while we are processing your request</h2>
                            }
                        </div>

                    </div>
                </div>
                <!--end::Form-->
            </div>
        </div>
    </div>

}