﻿
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutLogo.cshtml";
}
<div class="m-content payment-form-wrapper">
    <div class="m-portlet--tab">
        <div class="">
            
                    <div class="aspNetHidden">
                        <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTk3NTQ1NzE2Ng9kFgICAw9kFgQCAQ8WAh4HVmlzaWJsZWdkAgMPFgIfAGdkZPRHkCIMEPob5fzI8tOcvCxX3X8l">
                    </div>

                    <div class="aspNetHidden">

                        <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="BBDEBE97">
                    </div>
                    <div class="download-app-container">
                        <div class="parkeee-logo-container">
                            <a href="#">	<img src="~/Content/images/josh-logo.png" alt="NoImage" class="logo-parkeee-web"></a>

                        </div>
                        <h1>
                            Download Josh Gottheimer App Now!


                        </h1>
                        <div class="app-button-wrapper">
                            <a href="#" id="lnkgoogle" class="google-play-store-btn"><img src="~/Content/images/google-play-btn.png" alt="get it on Google Store"></a>
                            <a href="#" id="lnkapple" class="app-store-btn"><img src="~/Content/images/app-store-btn.png" alt="Download on the App Store"></a>
                        </div>

                    </div>
                    @*<div class="visit-web-link"><a href="http://propolitician.com">Visit Website</a></div>*@
               


           
        </div>
    </div> </div>
