﻿@{
    ViewBag.Title = "Index";
    ViewBag.PageHeader = "Index";
}
<div class="m-content payment-form-wrapper about-us-wrap">
    <div class="m-portlet__body">
        <div class="form-group m-form__group">
            <label for="exampleInputEmail1">Content</label>
            <textarea class="form-control m-input" rows="17" placeholder="Write here"></textarea>
            <span class="m-form__help">Please enter content</span> <span class="m-form__help pull-right">Maximum 5000 words</span>
        </div>
        <div class="m-form__group form-group add-file-wrap">
            <label for="">Add image</label>
            <div class="upload-btn-wrapper">
                <button class="btn">Upload</button>
                <input type="file" name="myfile" />
                <span class="file-name"><img src="/content/images/close.png" alt="close"> Img_1.jpg</span>
            </div>
        </div>
        <div class="m-form__actions form-buttons">
            <button type="reset" class="btn btn-primary">Publish</button>
            <button type="reset" class="btn btn-secondary">Cancel</button>
        </div>
    </div>
    </div>