﻿
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="m-grid__item m-grid__item--fluid m-wrapper">

    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title ">Payment Methods</h3>
            </div>
        </div>
    </div>

    <!-- END: Subheader -->
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            View Payment Methods
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="table-searh-wrap">

                    <div id="m_table_1_filter-1" class="dataTables_filter table-status show-item-select" style="margin-left:20px;">
                        <label>
                            Status:
                            <select name="m_table_1_length" aria-controls="m_table_1" class="custom-select custom-select-sm form-control form-control-sm">
                                <option value="5">All</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </label>

                    </div>
                    <div id="m_table_1_filter" class="dataTables_filter">
                        <label>
                            <img src="~/Content/images/search.png" alt="search">
                            <input type="search" class="form-control form-control-sm" placeholder="Search" aria-controls="m_table_1">
                        </label>
                        <button type="button" class="btn m-btn--pill    btn-danger">Search</button>
                    </div>


                    <div class="pull-right">
                        <a href="#" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                            <span>
                                <i class="la la-plus"></i>
                                <span>New</span>
                            </span>
                        </a>
                    </div>
                </div>
                <!--begin: Datatable -->
                <table class="table table-striped- table-hover" id="m_table_1">
                    <thead>
                        <tr>
                            
                                @*<div class="m-widget2__checkbox">
                                    <label class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand">
                                        <input type="checkbox">
                                        <span></span>
                                    </label>
                                </div>*@
                            
                            <th><a href="#">Name on Card</a></th>
                            <th><a href="#">Card#</a></th>
                            <th><a href="#">Type</a></th>
                            <th><a href="#">Expiry</a></th>
                            <th><a href="#">Status</a></th>
                            <th><a href="#">Actions</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            
                            <td>Josh Gotthiemer</td>
                            <td>xxxx 2345</td>
                            <td>Visa</td>
                            <td>10/22</td>
                            <td>Valid</td>
                            <td>
                                <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" title="View">
                                    <img src="~/Content/images/star-grey.png" alt="star-grey">
                                </a>
                                <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" title="View">
                                    <img src="~/Content/images/delete.png" alt="delete">
                                </a>
                            </td>
                        </tr>
                        <tr>
                           
                            <td>Josh Gotthiemer</td>
                            <td>xxxx 2345</td>
                            <td>Visa</td>
                            <td>10/22</td>
                            <td>Valid</td>
                            <td>
                                <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" title="View">
                                    <img src="~/Content/images/star-yellow.png" alt="star-yellow">
                                </a>
                                <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" title="View">
                                    <img src="~/Content/images/delete.png" alt="delete">
                                </a>
                            </td>
                        </tr>
                        <tr>
                           
                            <td>Josh Gotthiemer</td>
                            <td>xxxx 2345</td>
                            <td>Visa</td>
                            <td>10/22</td>
                            <td>Valid</td>
                            <td>
                                <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" title="View">
                                </a>
                                <a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" title="View">
                                    <img src="~/Content/images/delete.png" alt="delete">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="row mt-30">
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_full_numbers" id="m_table_1_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item first disabled" id="m_table_1_first"><a href="#" aria-controls="m_table_1" data-dt-idx="0" tabindex="0" class="page-link"><i class="la la-angle-double-left"></i></a></li>
                                <li class="paginate_button page-item previous disabled" id="m_table_1_previous"><a href="#" aria-controls="m_table_1" data-dt-idx="1" tabindex="0" class="page-link"><i class="la la-angle-left"></i></a></li>
                                <li class="paginate_button page-item active"><a href="#" aria-controls="m_table_1" data-dt-idx="2" tabindex="0" class="page-link">1</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="m_table_1" data-dt-idx="3" tabindex="0" class="page-link">2</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="m_table_1" data-dt-idx="4" tabindex="0" class="page-link">3</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="m_table_1" data-dt-idx="5" tabindex="0" class="page-link">4</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="m_table_1" data-dt-idx="6" tabindex="0" class="page-link">5</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="m_table_1" data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
                                <li class="paginate_button page-item pagination-dots">...</li>
                                <li class="paginate_button page-item next" id="m_table_1_next"><a href="#" aria-controls="m_table_1" data-dt-idx="7" tabindex="0" class="page-link"><i class="la la-angle-right"></i></a></li>
                                <li class="paginate_button page-item last" id="m_table_1_last"><a href="#" aria-controls="m_table_1" data-dt-idx="8" tabindex="0" class="page-link"><i class="la la-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-5 text-right">
                        <div class="dataTables_length show-item-select" id="m_table_1_length">
                            <label>
                                <select name="m_table_1_length" aria-controls="m_table_1" class="custom-select custom-select-sm form-control form-control-sm">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                </select>
                            </label>
                        </div>
                        <div class="dataTables_info" id="m_table_1_info" role="status" aria-live="polite">
                            Displaying 1 - 10 of 100 records
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>