﻿@using FPModels.Models
@model CampaignModel
@{
    ViewBag.Title = "Campaign Locations ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("detail", "campaign", FormMethod.Post))
{
    <div class="m-content payment-form-wrappe">
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--tab">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Campaign Locations Detail
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <ul class="list-unstyled event-detail">
                    <li>
                        @Html.HiddenFor(m => m.OfficeId)
                        <label>Campaign Title</label>
                        <p>@Html.DisplayFor(m => m.Title)</p>
                    </li>
                    <li>
                        <label>Address</label>
                        <p>
                            @Html.DisplayFor(m => m.AddressLine1),
                            @Html.DisplayFor(m => m.AddressLine2)<br>
                            @Html.DisplayFor(m => m.CityName),  
                            @Html.DisplayFor(m => m.StateName),  
                            @Html.DisplayFor(m => m.ZIP)
                        </p>
                    </li>
                    <li>
                        <label>Phone</label>
                        @if (!String.IsNullOrEmpty(Model.ISDCode))
                        {
                            <p>@Model.ISDCode @Html.DisplayFor(m => m.Phone) </p>
                        }
                        else
                        {
                            <p>+1 @Html.DisplayFor(m => m.Phone) </p>
                        }
                    </li>
                    <li>
                        <label>Fax</label>
                        @if (Model.Fax == "")
                        {
                            <p>-</p>;
                        }
                        else
                        {
                            <p>@Html.DisplayFor(m => m.Fax)</p>
                        }
                    </li>
                    <li class="campaign-time">
                        <label> Timings</label>
                        @if (Model != null && Model._campaignTimelist != null && Model._campaignTimelist.Count > 0)
                        {

                            for (var i = 0; i < Model._campaignTimelist.Count; i++)
                            {
                                if (Model._campaignTimelist[i].IsChecked == true)
                                {
                                    <p><span class="days-name"> @Model._campaignTimelist[i].DayTitle</span> <span class="timing-span">@Model._campaignTimelist[i].TimeFrom.Substring(0, Model._campaignTimelist[i].TimeFrom.Length > 5 ? 5 : Model._campaignTimelist[i].TimeFrom.Length)-@Model._campaignTimelist[i].TimeTo.Substring(0, Model._campaignTimelist[i].TimeTo.Length > 5 ? 5 : Model._campaignTimelist[i].TimeTo.Length)</span></p>
                                }
                                else
                                {
                                    <p><span class="days-name">@Model._campaignTimelist[i].DayTitle</span> <span class="timing-span">Closed</span></p>

                                }
                            }

                        }
                    </li>

                </ul>
                <div class="m-form__actions form-buttons">
                    @if (FPBAL.Business.MenuAccess.Allow("edit"))
                    {
                        <a href="@Url.Action("createoredit", "campaign", new { oid = Model.OfficeId })" class="btn btn-primary">Edit</a>
                    }
                    @if (FPBAL.Business.MenuAccess.Allow("delete"))
                    {
                        <a href="@Url.Action("delete", "campaign", new { oid = Model.OfficeId })" class="btn btn-secondary">Delete</a>
                    }
                   
                        <a href="/campaign/index" class="btn btn-secondary">Cancel</a>
                    </div>
            </div>
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>

}
@*foreach (var item in Model._campaignTimelist)*@