﻿@model FPModels.Models.UserModel
@{
    ViewBag.Title = "Update Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ChangePassword", "user", FormMethod.Post))
{

    <!-- BEGIN: Subheader -->
    @*<div class="m-subheader ">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title ">@ViewBag.Title</h3>
                </div>
            </div>
        </div>*@
    

    <div class="m-content">
        <div class="row">
            <div class="m-card-profile__title m--hide">
                Change Password
            </div>
            <div class="col-xl-9 col-lg-8">
                <!--begin::Portlet-->
                <div class="m-portlet__body" style="padding:0px;">

                    @{Html.RenderPartial("_ChangePassword"); }


                </div>
            </div>
        </div>
    </div>

    
}
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
<script>
        function AlertWithTitleIcon(title, text, type) {
        swal({
            title: title,
            text: text,
            type: type
        });
    }
    @*$(document).ready(function () {
       // CheckSelection(@Model.Status);
    });*@
    $(document).ready(function () {

    //$('.fileUpload').click(function () {
    //    $($(this).attr("data")).trigger("click");
    //});

$("#fileProfilePic").change(function () {

            var _image = $(this).attr("data");
            var reader = new FileReader();
            var _currentPath = "";

            var imageVal = new Image();
                reader.onload = function (e) {
                    _currentPath = e.target.result;
                imageVal.src = e.target.result;
               // $(_image).attr("src", e.target.result);

            }
            reader.readAsDataURL($(this)[0].files[0]);

    imageVal.onload = function () {

        if ((this.width / this.height) > 1) {
                    AlertWithTitleIcon("Warning", SquareRatio(this.width, this.height));
                    return false;
                }
                else {
            $(_image).attr("src", _currentPath);
            $("#layoutProfilePic").attr("src", _currentPath);

                        //file
                        var data = new FormData();
                        var files = $("#fileProfilePic").get(0).files;
                        // Add the uploaded image content to the form data collection
                        if (files.length > 0) {
                        for (var i = 0; i < files.length; ++i) {
                            data.append("files[]" + i, files[i]);
                            }
                        }

                        $.ajax({
                        type: "POST",
                        url: "/user/uploadprofileimage",
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (data) {
                            if (data > 0) {
                                
                                AlertWithTitleIcon("Success", "Profile picture changed!");

                            }
                            else if (data = 0) {
                            AlertWithTitleIcon("Warning", "The filetype you are attempting to upload is not allowed!");
                            }
                            else {
                            AlertWithTitleIcon("Warning", "Minimum file size should be 150*150 Pixel");
                            //$('#imgProfilePic').reset();
                            //location.reload();
                            }

                        },
                        error: function () {
                        return 'error';
                        }
                        });
        }
    };
        });
        
       

    });


    $("body").on("click", ".UploadCropImage", function () {
       
        $.ajax({
            type: "POST",
            url: "/user/UploadCropImage",
            data: JSON.stringify({ BaseData: $('#imgProfilePic').attr("src") }),
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                if (data > 0) {
                    $("#squareCropModal").modal("hide");
                    AlertWithTitleIcon("Success", "Profile picture changed!");
                }
                else if (data = 0) {
                    AlertWithTitleIcon("Warning", "The filetype you are attempting to upload is not allowed!");
                }
                else {
                    AlertWithTitleIcon("Warning", "Minimum file size should be 150*150 Pixel");
                    //$('#imgProfilePic').reset();
                    //location.reload();
                }

            },
            error: function () {
                return 'error';
            }
        });
    });

    @*function chkEmail() {

        if ($('#OldEmail').val() == '@Model.Email') {
            $.ajax({
                url: "/user/profile",
                data: { model: @Model},
                type: 'post',
                cache: false,
                dataType: 'json',
                //position: { collision: "flip" },
                success: function (json) {

                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {

                    console.log('some error occured', textStatus, errorThrown);
                }
            });
        }
    }*@

    $(document).ready(function () {
        $('#m_tabs_5_1').addClass("in active");
       

    //    if (!$("#IsProfileComplete").is(":checked"))
    //        AlertWithTitleIcon("Warning", "Please complete your profile including Time Zone to continue!","warning");
    });
</script>