﻿ @using FPModels.Models;
@model UserModel
@{
    ViewBag.Title = "Manage Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("index", "user", FormMethod.Post))
{
      <div class=" m-content">
    <div class="m-portlet m-portlet--tab">
    <div class="m-portlet m-portlet--mobile responsdiveass">
        <div class="m-portlet__body">
            <div class="table-searh-wrap">
                <div id="m_table_1_filter" class="dataTables_filter manager-search">
                    <label>
                        <img src="~/Content/images/search.png" alt="search">
                        @Html.TextBoxFor(model => model.Search, new { @class = "form-control form-control-sm", @placeholder = "Search" })
                        @*<input type="search" class="form-control form-control-sm" placeholder="Search" aria-controls="m_table_1">*@
                    </label>
                    <button type="submit" class="btn m-btn--pill btn-danger" style="background-color:#000000">Search</button>
                </div>
                @if (FPBAL.Business.MenuAccess.Allow("Create"))
                {
                    <div class="pull-right datatable_new">
                        <a href="/user/new/"
                           class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                            <span>
                                <i class="la la-plus"></i>
                                <span>New</span>
                            </span>
                        </a>
                    </div>
                }
                </div>
                
            <!--begin: Datatable -->
            <table class="table table-striped- table-hover table-responsive table-pagger" cols="6" id="m_table_1">
                <thead>
                    <tr>
                        <th class="mng_user_name"><a href="#">Name</a></th>
                        <th class="mng_user_id"><a href="#"></a>Officer Id</th>
                        <th class="mng_user_title"><a href="#">Title</a></th>
                        <th class="mng_user_email"><a href="#">Email</a></th>
                        <th class="mng_user_mobile"><a href="#">Mobile</a></th>
                        <th class="mng_user_status"><a href="#">Status</a></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        if (Model._UserList != null)
                        {
                            foreach (var item in Model._UserList)
                            {
                                <tr>
                                    <td><a href="/user/userdetail?uid=@item.EncryptedUserId" style="text-decoration:underline; color:#666674;">@item.FirstName @item.MI @item.LastName</a></td>
                                    <td>@item.UniqueId</td>
                                    <td>@item.Title</td>
                                    <td>@item.Email</td>
                                    @if (@item.Mobile == "")
                                    {
                                     <td>-</td>
                                    }
                                    else
                                    {
                                    <td>@*@(item.Mobile == "" ? "-" : "+1")*@
                                    @item.Mobile</td>
                                    }
                                    <td>
                                        @*@if (item.Status)
                                        {
                                        <span class="m-badge  m-badge--success m-badge--wide">Active</span>
                                        }
                                        else
                                        {
                                            <span class="m-badge  m-badge--danger m-badge--wide">Inactive</span>
                                        }*@
                                        @item.Status
                                    </td>
                                </tr>
                            }
                        }
                    }
                    else
                    {
                        <tr>
                            <td>
                                @ViewBag.Message
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row mt-30" id="pagging1"></div>
        </div>
    </div>
</div></div>
}
