﻿@using FPModels.Models;
@model UserModel
@{
    ViewBag.Title = "New User Access";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("new", "user", FormMethod.Post))
{
    <div class=" m-content">
        <div class="m-portlet m-portlet--tab">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">
                    <div class="table-searh-wrap">
                        <div id="m_table_1_filter" class="dataTables_filter user-new-search">
                            <label>
                                <img src="~/Content/images/search.png" alt="search">
                                @Html.TextBoxFor(model => model.Search, new { @class = "form-control form-control-sm", @placeholder = "Name" })
                                @*<input type="search" class="form-control form-control-sm" placeholder="Search" aria-controls="m_table_1">*@
                            </label>
                            <label>
                                <img src="~/Content/images/search.png" alt="search">
                                @Html.TextBoxFor(model => model.TitleSearch, new { @class = "form-control form-control-sm", @placeholder = "Title" })
                                @*<input type="search" class="form-control form-control-sm" placeholder="Search" aria-controls="m_table_1">*@
                            </label>
                            <button type="submit" class="btn m-btn--pill btn-danger">Search</button>
                        </div>

                    </div>

                    <!--begin: Datatable -->
                    <table class="table table-striped- table-hover table-responsive table-pagger" cols="6" id="m_table_1">
                        <thead>
                            <tr>
                                <th class="mng_user_name"><a href="#">Name</a></th>
                                <th class="mng_user_id"><a href="#">Officer Id</a></th>
                                <th class="mng_user_title"><a href="#">Title</a></th>
                                <th class="mng_user_email"><a href="#">Email</a></th>
                                <th class="mng_user_status"><a href="#">Status</a></th>
                                <th class="mng_user_status"><a href="#">Permissions</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                //if (Model._UserList != null)
                                //{
                                foreach (var item in Model._UserList)
                                {
                                    <tr>
                                        <td><a href="/user/userdetail?uid=@item.EncryptedUserId" style="text-decoration:underline; color:#666674;">@item.FirstName @item.MI @item.LastName</a></td>
                                        <td>@item.UniqueId</td>
                                        <td>@item.Title</td>
                                        <td>@item.Email</td>
                                        <td>

                                            @item.Status
                                        </td>
                                        <td>
                                            <a href="/user/userdetail?uid=@item.EncryptedUserId" class="m-badge  m-badge--success m-badge--wide" style="background-color: #1a4f91;">Assign</a>

                                        </td>
                                    </tr>
                                }
                                // }
                            }
                            @*else
                            {
                                <tr>
                                    <td>
                                        @ViewBag.Message
                                    </td>
                                </tr>
                            }*@
                        </tbody>
                    </table>
                    <div class="row mt-30" id="pagging1"></div>
                </div>
            </div>
        </div>
    </div>
}
