﻿@using FPModels.Models;
@model UserModel
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
 .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-top: 7px;
}

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
    }

     .slider::before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: 
    white;
    transition: .4s;
}

    /* include generated hidden field here */
    input[type="checkbox"]:checked + input[type="hidden"] + .slider,
    input[type="checkbox"]:checked + .slider {
        background-color: #2196F3;
    }

    /* include generated hidden field here */
    input[type="checkbox"]:focus + input[type="hidden"] + .slider,
    input[type="checkbox"]:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    /* include generated hidden field here */
    input[type="checkbox"]:checked + input[type="hidden"] + .slider:before,
    input[type="checkbox"]:checked + .slider:before {
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>
@using (Html.BeginForm("index", "user", FormMethod.Post))
{
    <div class=" m-content">
        <div class="m-portlet m-portlet--tab">
            <div class="m-portlet m-portlet--mobile responsdiveass">
                <div class="m-portlet__body">

                    <div class="setting-bnld">
                        <label class="lable-text">
                            Two Factor Authentication
                        </label>
                        <label class="switch">
                            @Html.CheckBoxFor(model => model.IsEnabled)
                            <div class="slider round">
                            </div>
                        </label>
                    </div>

                    <div class="otp-ppor-content">
                        <label>OTP will be send to your mobile <strong>@Model.Mobile </strong> and email <strong>@Model.Email</strong></label>
                     </div>
                </div>
                
            </div>
        </div>
    </div>
}

<script type="text/javascript">


    $("#IsEnabled").change(function () {
   

        var IsEnabledId = 0;
        if ($("#IsEnabled").is(":checked")) {
            IsEnabledId = 1;
        }
        else
        {
          IsEnabledId = 0;
        }
  
       // alert(IsEnabledId);
      $.ajax({
            type: "POST",
            url: "/user/otpverification",
            data:"{ 'IsEnabledId':"+ IsEnabledId +"}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
               
                if (data.ReturnCode == 1) {
                 
                    swal({
                        title: "Success!",//"Are you sure?",
                        text: "Two factor authentication enabled successfully.",
                        //text: "You will not be able to recover this imaginary file!",
                        type: "success",
                        confirmButtonText: "Ok",
                        confirmButtonColor: "#416eba",

                    });

                }
                else  if (data.ReturnCode == 0) {
                    swal({
                        title: "Success!",//"Are you sure?",
                        text: "Two factor authentication disabled successfully.",
                        //text: "You will not be able to recover this imaginary file!",
                        type: "success",
                        confirmButtonColor: "#416eba",
                        confirmButtonText: "Ok",
                    });
                }
          },

          error: function (response) {
              swal({
                        title: "Success!",//"Are you sure?",
                        text: "Error"+ " "+response.d,
                        //text: "You will not be able to recover this imaginary file!",
                        type: "success",
                        confirmButtonColor: "#416eba",
                        confirmButtonText: "Ok",
                    });
              //alert("Error: " + response.d);
          }
        });
        return false;
});
</script>