﻿@using FPModels.Models;
@model HeadlineModel
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("detail", "headline", FormMethod.Post))
{
    <div class="m-content">
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--tab">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            News Details
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <ul class="list-unstyled event-detail">
                    <li>
                        <label>Author</label>
                        <p>@Model.FirstName @Model.LastName</p>
                    </li>
                    <li>
                        <label>Title</label>
                        <p>
                            @Model.Title
                        </p>
                    </li>
                    <li>
                        <label>Content</label>
                        <p>
                            @Model.Content
                        </p>
                    </li>
                    <li>
                        <label>Shares</label>
                        <p>@Model.ShareCount</p>
                    </li>
                    <li>
                        <label>Views</label>
                        <p>@Model.ViewCount</p>
                    </li>

                    @if (Model._HImagePathList != null && Model._HImagePathList.Count > 0)
                    {
                    <li class="news-view-img">
                        <label>Images</label>
                            <div class="view-spimgae">
                                @for (int i = 0; i < Model._HImagePathList.Count(); i++)
                                {
                                    if (!String.IsNullOrEmpty(Model._HImagePathList[i].ImagePath))
                                    {
                                        @Html.HiddenFor(m => m._HImagePathList[i].ImageId)

                                        <p>
                                            <span>
                                                <a class="docView">
                                                    <img src="/@Model._HImagePathList[i].ImagePath"
                                                         onerror="this.src='/content/images/no-image-rec.png';">
                                                </a>
                                            </span>
                                        </p>

                                    }
                                }
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="news-view-img">
                            <label>Images</label>
                            <p>No Image</p>
                        </li>
                    }



                    <li>
                    <li>
                        <label>Date & Time</label>
                        <p>@Model.PublishDate</p>
                        <p>@Model.PublishTime</p>
                    </li>
                    <li>
                        <label>Status</label>
                        @if (Model.Status == "Published")
                        {
                            <p><span class="m-badge  m-badge--primary m-badge--wide">Published</span></p>
                        }
                        else if (Model.Status == "Scheduled")
                        {
                            <p><span class="m-badge  m-badge--metal m-badge--wide">Scheduled</span></p>
                        }
                        else if (Model.Status == "Drafted")
                        {
                            <p><span class="m-badge  m-badge--danger m-badge--wide">Drafted</span></p>
                        }
                        else if (Model.Status == "Archived")
                        {
                            <p><span class="m-badge m-badge--wide" style="background-color:#c4471f;color:#fff">Archived</span></p>
                        }
                        else if (Model.Status == "Rejected")
                        {
                            <p><span class="m-badge m-badge--wide" style="background-color:#c4471f;color:#fff">Rejected</span></p>
                        }
                        else if (Model.Status == "Requested")
                        {
                            <p><span class="m-badge m-badge--wide" style="background-color:#416eba;color:#fff">Requested</span></p>
                        }

                    </li>
                </ul>
                <div class="m-form__actions form-buttons">
                    @if (FPBAL.Business.MenuAccess.Allow("edit"))
                    {
                        <a href="@Url.Action("Edit", "headline", new { hid = Model.EncryptedHeadLineId })" class="btn btn-primary">Edit</a>

                    }

                    <a href="/headline/index" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </div>
    </div>

}