﻿@model FPModels.Models.HeadlineModel
@{
    ViewBag.Title = "News";
    ViewBag.Header = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("index", "headline", FormMethod.Post))
{
    <div class="m-content payment-form-wrapper">
        <div class="m-portlet m-portlet--mobile responsdiveass">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            View News
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="table-searh-wrap">
                    <div id="m_table_1_filter" class="dataTables_filter search_table_bar" style="max-width: 135px;">
                        <label>
                            <img src="/Content/images/search.png" alt="search">
                            @Html.TextBoxFor(model => model.Search, new { @class = "form-control form-control-sm", @placeholder = "Search" })
                        </label>

                    </div>
                    <div id="m_table_1_filter-1" class="dataTables_filter table-status show-item-select" style=" margin-left: 20px;">
                        <label>
                            Status:
                            @Html.DropDownListFor(m => m.Status, Model._StatusList, new { @class = "custom-select custom-select-sm form-control form-control-sm" })
                        </label>
                    </div>
                    <div id="m_table_1_filter-1" class="dataTables_filter table-status show-item-select">
                        <label>
                            By
                            @Html.DropDownListFor(m => m.SelectedUserId, Model._UserList, new { @class = "custom-select custom-select-sm form-control form-control-sm" })
                        </label>
                    </div>

                    <button type="submit" class="btn m-btn--pill    btn-danger" style="margin-left:10px;">Search</button>

                    @if (FPBAL.Business.MenuAccess.Allow("Create"))
                    {
                        <div class="pull-right datatable_new">
                            <a href="~/headline/create?hid=CoZJl6vCaqPRrbutL0vg2g==" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>New</span>
                                </span>
                            </a>
                        </div>
                    }
                </div>
                <!--begin: Datatable -->
                @*<table class="table table-striped- table-hover table-responsive" id="m_table_1">*@
                <table class="table table-striped- table-hover table-responsive table-pagger" cols="6" id="m_table_1">

                    <thead>
                        <tr>
                            <th><a href="#">Author</a></th>
                            <th><a href="#">Title</a></th>
                            <th><a href="#">Date</a></th>
                            <th><a href="#">Time</a></th>
                            <th><a href="#"> Status</a></th>
                            <th><a href="#">Views</a></th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model._HeadlineList != null)
                        {
                            foreach (var item in Model._HeadlineList)
                            {
                                <tr>
                                    <td>
                                        <a href="/headline/detail?hid=@item.EncryptedHeadLineId" style="text-decoration:underline; color:#666674;">
                                            @item.FirstName @item.MI @item.LastName
                                        </a>
                                    </td>
                                    <td>@item.Title@*@item.Title.Substring(0, item.Title.Length > 10 ? 10 : item.Title.Length)*@</td>
                                    <td>@item.PublishDate</td>
                                    <td>@item.PublishTime</td>
                                    @if (item.Status == "Published")
                                    {
                                        <td><span class="m-badge  m-badge--primary m-badge--wide">Published</span></td>
                                    }
                                    else if (item.Status == "Scheduled")
                                    {
                                        <td><span class="m-badge  m-badge--metal m-badge--wide">Scheduled</span></td>
                                    }
                                    else if (item.Status == "Drafted")
                                    {
                                        <td><span class="m-badge  m-badge--warning m-badge--wide">Drafted</span></td>
                                    }
                                    else if (item.Status == "Archived")
                                    {
                                        <td><span class="m-badge m-badge--wide" style="background-color:#c4471f;color:#fff">Archived</span></td>
                                    }
                                    else if (item.Status == "Rejected")
                                    {
                                        <td><span class="m-badge m-badge--wide" style="background-color:#c4471f;color:#fff">Rejected</span></td>
                                    }
                                    else if (item.Status == "Requested")
                                    {
                                        <td><span class="m-badge m-badge--wide" style="background-color:#416eba;color:#fff">Requested</span></td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                    }
                                    <td>@item.ViewCount</td>
                                    

                                    @*<td><span class="m-badge  m-badge--primary m-badge--wide">@item.Status</span></td>*@
                                </tr>
                            }
                        }

                    </tbody>
                </table>
                <div class="row mt-30" id="pagging1"></div>
            </div>
        </div>
    </div>
}
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
<script>
    $(document).ready(function () {
        $('#cmid_41').click(function () {

            $('#headLIneCount').text(0);
            $("#headLIneCount").filter(function () {
                return $(this).text().trim() === "0";
            }).hide();
        });
    });
</script>

