﻿
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="first-popup">
        <div class="popup1">
            <div class="popup-bg">
                <div class="popup1-inner">
                    <h3 class="event-head" style="padding-right:7px;"><img src="~/images/back-arrow.png"> Exclusive Headlines <img src="~/images/gallery.png" style="float: right;width: 100%;max-width: 50px;"></h3>

                    <div class="state-div">
                        <h5>Jan 14, 2019 | 11:00AM</h5>
                        <img src="~/images/headline1.jpg">
                    </div>

                    <div class="state-text">
                        <h6>New Jersey State P.B.A. is proud to announce their latest achievements.</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>

                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    </div>

                </div>



            </div>

        </div>


    </div>

