﻿@using FPModels.Models;
@model HeadlineModel
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("readmore", "headline", FormMethod.Post))
{
    <div class="m-content">
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--tab">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            News Details
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <ul class="list-unstyled event-detail">
                    <li>
                        <label>Author</label>
                        <p>@Model.FirstName @Model.LastName</p>
                    </li>
                    <li>
                        <label>Title</label>
                        <p>
                            @Model.Title
                        </p>
                    </li>
                    <li>
                        <label>Content</label>
                        <p>
                            @Model.Content
                        </p>
                    </li>
                    <li>
                        <label>Shares</label>
                        <p>@Model.ShareCount</p>
                    </li>
                    <li>
                        <label>View</label>
                        <p>@Model.ViewCount</p>
                    </li>
                    <li class="news-view-img">
                        <label>Image</label>
                        <p>
                            @if (Model.ImagePath != null)
                            {
                            <span>
                                <a class="docView">
                                    <img src="/@Model.ImagePath"
                                         onerror="this.src='/content/images/no-image-rec.png';">
                                </a>
                            </span>
                            }
                            else
                            {
                            <p>No Image</p>
                        }
                            </p>
                        </li>
                        <li>
                            <label>Date & Time</label>
                            <p>@Model.PublishDate</p>
                            <p>@Model.PublishTime</p>
                        </li>
                        <li>
                            <label>Status</label>
                            @if (Model.Status == "Published")
                            {
                                <p><span class="m-badge  m-badge--primary m-badge--wide">Published</span></p>
                            }
                            else if (Model.Status == "Scheduled")
                            {
                                <p><span class="m-badge  m-badge--metal m-badge--wide">Scheduled</span></p>
                            }
                            else if (Model.Status == "Archived")
                            {
                                <p><span class="m-badge  m-badge--danger m-badge--wide">Archived</span></p>
                            }
                        </li>
                    </ul>
               
                </div>
            </div>
        </div>

}