﻿@using FPModels.Models
@model FAQModel
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    span.inner-arrow._Ques {
        border: none;
        border-bottom: 2px solid #3f4047;
        width: 100%;
        padding-bottom: 1px;
        margin-bottom: 20px;
    }

    ul.list-unstyled.event-detail label._Ans {
        font-size: 15px;
        font-weight: 500 !important;
        padding-left: 42px;
        padding-right: 10px;
    }

    span.inner-arrow._Ques i.la-angle-down {
        color: #3f4047;
        font-weight: bold;
        transform: rotate(90deg);
    }

    li.open span.inner-arrow._Ques i.la-angle-down {
        transform: rotate(0deg);
    }

    span.inner-arrow._Ques label {
        font-size: 19px;
        padding-left: 15px;
    }

    .btn-rounded {
        text-transform: uppercase;
        font-weight: 600;
    }

    .btn-gray {
        background: #606060;
    }

        .btn-gray:hover {
            background: #606060;
        }

    .btn-green:hover {
        background: #48b748 !important;
    }

    .btn-green {
        background: #48b748 !important;
    }

    .bluetxt {
        color: #0066cc !important;
    }
</style>
@using (Html.BeginForm("index", "faq", FormMethod.Post))
{
    <div class="m-content payment-form-wrapper">
        <div class="m-portlet m-portlet--tab">

            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            View FAQ
                        </h3>
                    </div>

                </div>
            </div>

            @*@if (FPBAL.Business.MenuAccess.Allow("Create"))
        {
            <div class="pull-right app_message">
                <a id="AddNew" href="#" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                    <span>
                        <i class="la la-plus"></i>
                        <span>New</span>
                    </span>
                </a>
            </div>
        }*@

            <!--begin: Datatable -->
            <!--begin: Datatable -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

           
            @if (Model != null && Model._FAQList != null && Model._FAQList.Count > 0)
            {
                for (int i = 0; i < Model._FAQList.Count; i++)
                {

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#test_@i">
                                    @Html.HiddenFor(m => Model._FAQList[i].EncryptedFaqId, new { @id = "Fid_" + @i, @db = @i })
                                    @Model._FAQList[i].Question <i class="fa fa-plus" aria-hidden="true"></i>

                                </a>
                            </h4>
                        </div>
                        <div id="test_@i" class="panel-collapse collapse">
                            <div id="Aid_@i" class="panel-body">
                                @if (Model._FAQList[i].Answer == "")
                                { }
                                else
                                {
                                  
                                        @Model._FAQList[i].Answer
                                        <div class="mt-20">
                                            <span class="bluetxt mr-10">Is this answer helpful?</span>
                                            <input type="button" class="btn-rounded btn-gray btn-sm mr-10 No" id="No" data="@Model._FAQList[i].EncryptedFaqId" value="No">
                                            <input type="button" class="btn-rounded btn-green btn-sm Yes" id="Yes" data="@Model._FAQList[i].EncryptedFaqId" value="Yes">
                                        </div>

                                   
                                }

                            </div>
                        </div>
                    </div>
                   
       

                }
            }

        </div>
        </div>
    </div>

}
<div class="modal fade" id="commModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-area-md" role="document" style="background-color:#fff;">
        <div class="modal-content" style="padding: 22px;">
            <div class="modal-header" style="position:relative;">
                <h5 class="modal-title" id="commLabel">Add Faq</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="commDetail" class="modal-body">
                <input type="text" id="hfAddFAQ" placeholder="Add Faq" class="form-control  m-input" MaxLength="50" />
                <span id="FaqError" style="display:none; color:red;">Please enter Faq</span>
                <div class="row mt-30">
                    <div class="m-form__actions form-buttons">
                        <button type="submit" id="SubmitFaq" class="btn btn-primary" data-dismiss="modal">Add</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">

            </div>
        </div>
    </div>
</div>
<script>
    function AlertWithTitleIcon(title, text, type) {
        swal({
            title: title,
            text: text,
            type: type
        });
    }
    $('#AddNew').click(function () {
        //debugger;
        $("#hfAddFAQ").val($(this).attr("data"));
        var FaqText = $("#hfAddFAQ").text();
        $("#commModal").modal("show");

    });
    $('#SubmitFaq').click(function () {

        //debugger;
        if ($('#hfAddFAQ').val() == "") {
            $("#hfAddFAQ").prop("required", "required");
            $("#FaqError").css('display', 'block');
            return false;
        }
        else {
            $("#FaqError").css("display", "none");
            var FaqText = $("#hfAddFAQ").val();

            $('#AgendaId').val($("#hfAddFAQ").val());
            $.post("/faq/Addfaq?Text=" + FaqText, function (data) {
                $('#AgendaId').val($("#hfAddFAQ").val());
                $("#commModal").modal("hide");
                    AlertWithTitleIcon("Success", "Your FAQ is submitted. We will contact you soon!", "success");
                

            });
        }
    });
    $('.No').click(function () {
        //debugger;
        var fid = $(this).attr("data");
        var Response = $("#No").val();
        $.ajax({
            url: "/faq/AddResponse?Res=" + Response + "&Fid=" + fid,
            type: "post",
            datatype: "json",
            contenttype: 'application/json; charset=utf-8',
            async: true,
            success: function (data) {
                AlertWithTitleIcon("Success", "Thanks for submitting your response", "success");
            },
            error: function (xhr) {
                AlertWithTitleIcon("Error", xhr.responseText, "error");
            }
        });
        
    });
    $('.Yes').click(function () {
        //debugger;
        var id = $(this).attr("db");
        var fid = $(this).attr("data");
        if ($("#Yes").val() == '') {
            var Response = $("#No").val();
        }
        else {
            var Response = $("#Yes").val();
        }
        $.ajax({
            url: "/faq/AddResponse?Res=" + Response + "&Fid=" + fid,
            type: "post",
            datatype: "json",
            contenttype: 'application/json; charset=utf-8',
            async: true,
            success: function (data) {
                AlertWithTitleIcon("Success", "Thanks for submitting your response", "success");
            },
            error: function (xhr) {
                AlertWithTitleIcon("Error", xhr.responseText, "error");
            }
        });

    });
    $(document).ready(function () {
        $('.la-angle-down').removeClass('open');
        $('._Ans').css("display", "none");
    });
  
    $('.la-angle-down').click(function () {
        //debugger;
        var q = ('Qid_');
        var value = q + $(this).attr("db");
        var id = $(this).attr("db");
        if ($('.open').val() == 1) {
            $('.li_' + id).removeClass('open');
            $('._Ans_' + id).css("display", "none");
            $('.open').val('False');
        }
        else {
            $(this).removeClass('open');
            $('.li_' + id).addClass('open');
            $('._Ans_' + id).css("display", "block");
            $('.open').val('1');
        }
    });

</script>