﻿@model  FPModels.Models.AgreementModel
@if (Model != null)
{
<div class="m-content payment-form-wrapper">
    <div class="row">
        <div class="col-md-6">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Agreement Details
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <div class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group">
                            @Html.HiddenFor(m => m.AgreementId)
                            @Html.HiddenFor(m => m.EncryptedAgreementId, new { @id = "hfHeadlineId" })
                            <label for="exampleInputEmail1">Title<req>*</req></label>
                            <br />
                            @Html.HiddenFor(m => m.Title)
                            @Html.TextBoxFor(m => m.Title, new { @class = "form-control m-input",@id= "Title",@disabled="disabled", @placeholder = "Title", @maxlength = "50", @required = "required" })
                            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "m-form__help" })
                        </div>
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">Description<req>*</req></label>
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control m-input", @placeholder = "Description", @rows = "6"})
                            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "m-form__help" })
                        </div>
                    </div>
                </div>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
        <div class="col-md-6">
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Additional Details
                            </h3>
                        </div>
                    </div>
                </div>

                <!--begin::Form-->
                <div class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">

                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">Date & Time<req>*</req></label>
                            <div class="input-group date">
                                @Html.TextBoxFor(m => m.DateTime, new { @class = "form-control m-input datepicker_nopast", @placeholder = "Select Date",@autocomplete = "off" })
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="la la-calendar glyphicon-th"></i></span>
                                </div>

                            </div>
                            @Html.ValidationMessageFor(m => m.DateTime, "", new { @class = "m-form__help" })
                        </div>


                            <div class="m-form__group form-group add-file-wrap">
                                <label for="exampleInputEmail1">Upload a Document</label>
                                <div class="upload-btn-wrapper">
                                    <button type="button" class="btn">
                                        @*@Html.TextBoxFor(m => m.DocumentName, new { @type = "file", @id = "FileDocument" })*@
                                        @Html.HiddenFor(m => m.DocumentName, new { @id = "_DocumentName" })
                                        @Html.HiddenFor(m => m.DocumentPath, new { @id = "_DocumentPath" })
                                        @Html.TextBoxFor(model => model.HttpPostedFile, "", new { @type = "file", @id = "FileDocument", @class = "custom-file-input" })

                                        Upload
                                    </button>
                                    <img class="cross" style="display:none;"
                                         src='~/Content/images/icon_Cancel.png' id="cross" data="#file" db="#img" hfip="#ip">
                                    @Html.DisplayFor(m => m.NoFile, new { @class = "m-form__help" })
                                    <div id="lblFileDocument"></div>
                                    <br />
                                    <label>PDF, Excel, JPEG, PNG, WORD documents can be added</label>
                                    @Html.ValidationMessageFor(m => m.DocumentPath, "", new { @class = "m-form__help" })
                                </div>
                            </div>
                            <div class="m-form__actions form-buttons" style="margin-bottom: -23px;">
                                <button type="submit" id="btnSave" class="btn btn-primarygreen">Save</button>
                                @Html.ActionLink("Cancel", "index", "agreement", new { @class = "btn btn-secondary" })
                            </div>
                        </div>
                </div>

            </div>
        </div>
    </div>

</div>
}
<script>
    $(document).ready(function () {
        //debugger;
       
        if ($('#_DocumentName').val() == '') {
            $('#cross').css("display", "none");
        }
        else {
            $('#cross').css("display", "block");
            $('#lblFileDocument').text($('#_DocumentName').val());
        }
    });
        $('#FileDocument').on('change', function (e) {
            //debugger;
            var files = e.target.files;
            $('#cross').css("display", "block");
            $('#lblFileDocument').text(files[0].name);
    });
    $("#btnSave").click(function () {
        //debugger;
        $('#Title').val();
    });
    $("#cross").click(function (e) {
        //debugger;
        $('#lblFileDocument').text('');
        $('#_DocumentName').val(''); 
        $('#_DocumentPath').val(''); 
        $('#cross').css("display", "none");
        e.preventDefault;
    });
</script>
