﻿@using FPModels.Models;
@model AgreementModel
@{
    /**/

    ViewBag.Title = "Agreements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Edit", "Agreement", FormMethod.Post))
{
    <div class="m-content payment-form-wrapper">
            <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Agreement Details
                                </h3>
                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.EncryptedAgreementId)
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <ul class="list-unstyled event-detail form-group m-form__group">
                                <li>
                                    <label>Title</label>
                                    <p>
                                        @Model.Title
                                    </p>
                                </li>
                                <li>
                                    <label>Description</label>
                                    <p>
                                        @Model.Description
                                    </p>

                                </li>

                                <li>
                                    <label>Last Updated: Date & Time</label>
                                    <p>
                                        @Model.ModifyDate
                                        <br />
                                        @Model.ModifyTime
                                    </p>
                                </li>

                            </ul>
                            <div class="m-form__actions form-buttons">
                                @if (FPBAL.Business.MenuAccess.Allow("edit"))
                                {
                                    <a href="@Url.Action("Edit", "agreement", new { aid = @Model.EncryptedAgreementId })" class="btn btn-primary">Edit</a>

                                }
                                <a href="/agreement/index" class="btn btn-secondary">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
      
}
