﻿
@model FPModels.Models.AgreementModel
@{
    ViewBag.Title = "Agreements";
    ViewBag.Header = "Agreements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("index", "Agreement", FormMethod.Post))
{
      <div class="m-grid__item m-grid__item--fluid m-wrapper">

     
        <div class="m-content">
            <div class="m-portlet m-portlet--mobile responsdiveass">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                View Agreements
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="table-searh-wrap">

                        <div id="m_table_1_filter" class="dataTables_filter search_table_bar" style="max-width: 135px;">
                            <label>
                                <img src="/Content/images/search.png" alt="search">
                                @Html.TextBoxFor(model => model.Search, new { @class = "form-control form-control-sm", @placeholder = "Search" })
                            </label>

                        </div>
                        <button type="submit" class="btn m-btn--pill    btn-danger" style="margin-left:148px;">Search</button>
                       

                    </div>
                        <table class="table table-striped- table-hover table-responsive table-pagger" cols="6" id="m_table_1">

                            <thead>
                                <tr>
                                    <th><a href="#">Title</a></th>
                                    <th><a href="#">Last Updated Date</a></th>
                                    <th><a href="#">Time</a></th>
                                    <th><a href="#"> </a></th>


                                </tr>
                            </thead>
                            <tbody>
                                @if (Model._agreementlist != null)
                                {

                                    foreach (var item in Model._agreementlist)
                                    {
                                        <tr>
                                            @Html.HiddenFor(m => item.EncryptedAgreementId)
                                            <td>
                                                <a href="/agreement/detail?aid=@item.EncryptedAgreementId" style="text-decoration:underline; color:#666674;">@item.Title</a>
                                            </td>
                                            <td>@item.ModifyDate</td>
                                            <td>@item.ModifyTime</td>
                                            @if (item.DocumentPath != "")
                                            {
                                                <td><a href="/agreement/view?aid=@item.EncryptedAgreementId" style="background-color: #3f4047; min-width: 110px; border-radius: 2.75rem; padding: 5px 10px;" class="m-badge  m-badge--primary m-badge--wide">View</a></td>

                                            }
                                            else
                                            {
                                                <td><a href="/agreement/edit?aid=@item.EncryptedAgreementId" style="min-width: 110px; border-radius: 2.75rem; padding: 5px 10px;" class="m-badge  m-badge--primary m-badge--wide">Add Document</a></td>
                                            }

                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                        <div class="row mt-30" id="pagging1"></div>
                    </div>
                </div>
            </div>
        </div>
       
        }
