﻿@using FPModels.Models
@model EventModel
@using (Html.BeginForm("AddNewAgenda", "event", FormMethod.Post))
{
    <div class="col-md-12">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row" style="height:80px;">
                <label for="TagName">Add Agenda<req>*</req></label>
                @Html.HiddenFor(m => m.EventId)
                @Html.HiddenFor(m => m.EncryptedEventId)
                @Html.TextBoxFor(m => m.AgendaAdd,new { @class = "form-control  m-input",@maxlength="50",@required= "required" })
                @Html.ValidationMessageFor(m=>m.AgendaAdd)
                </div>

            <div class="row mt-30">
                <div class="m-form__actions form-buttons">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>
}
