﻿@using FPModels.Models
@model EventModel
@if (Model != null)
{
    <div class="first-popup EventPopup">
        <div class="popup1">
            <div class="popup-bg">
                <div class="popup1-inner">
                    <h3 class="event-head" style="padding-right:7px;"><img src="~/images/back-arrow.png">Event Details<img src="~/images/gallery.png" style="float: right;width: 100%;max-width: 50px;"></h3>
                    <div class="town-div">
                        <div class="town-left">
                            @if (@Model.Title == null)
                            {
                                <p style="color:#838383;"><b>Title</b></p>
                            }
                            else
                            {
                                <p style="color:#838383;"><b>@Model.Title</b></p>
                            }
                            @if (@Model.AgendaId == "0")
                            {
                                <p>
                                    <b>Agenda</b>
                                </p>
                            }
                            else
                            {
                                <p><b>@Model.Agenda</b> @*To Discuss high school funding*@</p>
                            }
                            <p><b>Date:</b>@Model.EventDate</p>
                            @if (@Model.EventTime == null)
                            {
                                <p></p>
                            }
                            else
                            {
                                <p><b>Time:</b>@Model.EventTime</p>
                            }
                            <p><b>Invite:</b>@Model.InvitationType</p>
                            @if (@Model.AddressLine1 == null)
                            {
                                <h5>
                                    Location:
                                </h5>
                            }
                            else
                            {
                                <h5>Location: @Model.AddressLine1 @Model.AddressLine2, @Model.StateName</h5>
                            }
                        </div>
                        <div class="town-right">
                            @if (@Model.EventDayLeft < 0)
                            {
                                <p style="background-color: #c97131;"><span>Days Left</span> <b>0</b></p>
                            }
                            else
                            {
                                <p style="background-color: #c97131;"><span>Days Left</span> <b>@Model.EventDayLeft</b></p>
                            }
                            <p style="background-color: #bd6526;font-size: 16px; font-weight:normal;"><span><img src="~/images/celender.png"></span> Add Calendar</p>
                        </div>
                    </div>

                    <div class="summary-div">
                        <h4>Summary</h4>
                        <p>
                            @Model.Summary
                        </p>

                    </div>

                    <div class="attending-div">

                        @if (@Model.LogoPath == "")
                        {

                        }

                        else if (@Model.LogoPath == "../content/images/blank.png")
                        {
                            <a class="docView">
                                <img src="/content/images/no_exclusive@1x.png';" style=" width:50%;"
                                     onerror="this.src = '/content/images/no_exclusive@1x.png';">
                            </a>
                        }
                        else
                        {
                            <a class="docView">
                                <img src="@Model.LogoPath" style=" width:50%;"
                                     onerror="this.src = '/content/images/no_exclusive@1x.png';">
                            </a>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
}

