﻿
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("count", "event", FormMethod.Post))
{
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Event Attendees Details
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="pull-right id-downlod ">
                    <a href="#" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air DownloadDoc" db="download">
                        <span>
                            <span id="DownloadDoc">Download</span>
                        </span>
                    </a>
                </div>

                <table class="table table-striped- table-hover table-pagger" cols="4" id="m_table_1">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Title</th>
                            <th>Email</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model._EventList != null)
                        {
                            foreach (var item in Model._EventList)
                            {
                                <tr>

                                    <td id="txtName">@item.FirstName @item.MI @item.LastName</td>
                                    <td id="txtTitle">@item.Title</td>
                                    <td id="txtEmail">@item.Email</td>
                                    <td id="txtCount">@item.AttendeeCount</td>


                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="row mt-30" id="pagging1"></div>
            </div>   </div>
        </div>
  
}
<script>
    $(document).ready(function () {
        $(".DownloadDoc").click(function () {
            
            var _type = $(this).attr("db");
            var _email = $("#txtEmail").text();
            var _name = $("#txtName").text();
            var _title= $("#txtTitle").text();
            var _count = $("#txtCount").text();
          //  var _path = '+8xqB4kToKJw7oeMWCFDfcXpLvA6AmB05q9QMcUPTbrN8Rsjd9UqRmkjKh/O7KSwLxxtKY0H2psFg0jWNdA1qRD4RpQv9Kj8FXs2eQ6J2KY=';
            $.post("/event/Download?type=" + _type + "&email=" + _email + "&name=" + _name + "&title=" + _title + "&count=" + _count, { async: false }, function (data) {
                debugger;
                if (data.ReturnCode > 0) {
                    if (_type == 'download') {
                        //alert('/download.ashx?type=event&file=' + data._FilePath, 'Event Attendees', '_blank');
                        window.open('/download.ashx?type=event&file=' + data._FilePath, 'Event Attendees', '_blank');
                        
                    }
                }
                else {
                    AlertWithTitleIcon("Error", "The action couldn't be completed. Please try again later.", "error");
                }

            });
        });


    });

</script>