﻿@model FPModels.Models.EventModel
<script src="~/Scripts/multiple-select.js" type="text/javascript"></script>
@if (Model != null)
{
    <div class="m-content payment-form-wrapper">
        <div class="row">
            <div class="col-md-6">
                <!--begin::Portlet-->
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    About
                                </h3>
                            </div>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group">
                                @Html.HiddenFor(m => m.Create, new { id = "Create" })
                                @Html.HiddenFor(m => m.EventDayLeft)
                                @Html.HiddenFor(m => m.EventTime)
                                @Html.HiddenFor(m => m.CreatedAgenda, new { id = "CreatedAgenda" })
                                @Html.HiddenFor(m => m.EventId)
                                @Html.HiddenFor(m => m.EncryptedEventId, new { id = "hfEncryptedEventId" })
                                <label for="exampleInputEmail1">Title<req>*</req></label>
                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control m-input", @placeholder = "Title", @maxlength = "200", @required = "required" })
                                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "m-form__help" })
                            </div>
                            <div class="form-group m-form__group" id="ddlAgenda">
                                <label for="exampleInputEmail1">Agenda<req>*</req></label>
                                @Html.DropDownListFor(m => m.AgendaId, Model._AgendaList, new { @class = "form-control m-input", @id = "AgendaId" })
                                @*@Html.TextBoxFor(m => m.AgendaAdd, new { @id = "AgendaAdd", @maxlength = "15", @class = "form-control", @style = "display: none;", @placeholder = "Add Agenda", @required = "required" })*@
                                @Html.ValidationMessageFor(model => model.AgendaId, "", new { @class = "m-form__help" })
                            </div>
                            <div class="form-group m-form__group">

                                <label class="col-form-label">Date & time<req>*</req></label>

                                <div class="input-group date">
                                    @Html.TextBoxFor(m => m.EventDate, new { @id = "EventDate", @value = DateTime.Now.ToString(), @class = "form-control m-input datepicker_nopast", @autocomplete = "off", @placeholder = "Enter Date & Time" })
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar glyphicon-th"></i>
                                        </span>
                                    </div>
                                </div>
                                <span class="m-form__help"> @Html.ValidationMessageFor(m => m.EventDate, "", new { @class = "m-form__help" })</span>
                                <span class="m-form__help filesize">  @Html.DisplayFor(m => m.EventDateMessage, new { @id = "EventDateMessage", @style = "display:none;", @class = "m-form__help filesize" })</span>
                            </div>


                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Summary</label>
                                @Html.TextBoxFor(m => m.Summary, new { @class = "form-control m-input", @placeholder = "Summary", @maxlength = "150" })
                                @Html.ValidationMessageFor(m => m.Summary, "", new { @class = "m-form__help" })
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">URL</label>
                                @Html.TextBoxFor(m => m.URL, new { @class = "form-control m-input", @placeholder = "URL", @maxlength = "300" })
                                @Html.ValidationMessageFor(m => m.URL, "", new { @class = "m-form__help" })
                            </div>
                            <div class="m-form__group form-group add-file-wrap">
                                <label for="exampleInputEmail1">Event Invitation</label>
                                <div class="upload-btn-wrapper">
                                    <label type="button" class="btn" style="color:#ffffff;text-align:center !important;">
                                        @*<button type="button" class="btn">*@

                                        @Html.HiddenFor(m => m.LogoPath, new { @id = "_LogoPath" })
                                        @Html.TextBoxFor(model => model.HttpPostedFile, "", new { @type = "file", @id = "FileDocument",accept=".png,.jpg,.jpeg,.docx,.pdf", @class = "custom-file-input" })

                                        Upload
                                        @*</button>*@
                                    </label>
                                    @Html.ValidationMessageFor(m => m.HttpPostedFile, "", new { @class = "m-form__help" })

                                    @Html.DisplayFor(m => m.NoFile, new { @class = "m-form__help" })
                                    <div id="lblFileDocument"></div>
                                    <br />
                                    <label>PDF, JPEG, PNG, WORD files can be added</label>

                                </div>
                            </div>
                            @*<div class="m-form__group form-group add-file-wrap">
                                    <label for="exampleInputEmail1">Event Invitation</label>
                                    <div class="upload-btn-wrapper cropBoxDynamic" cTotalImg="1" cWidth="350" cHeight="350">
                                        <button type="button" class="btn">
                                            Upload
                                        </button>
                                        <label>PDF, JPEG, PNG, WORD documents can be added</label>

                                    </div>
                                    <div class="upload_img_wrap">
                                        @Html.HiddenFor(m => Model.LogoPath)

                                        @Html.HiddenFor(m => Model.ImageBase64, new { @id = "hfIB_0" })

                                        <img id="cross_0"
                                             class="cross @(String.IsNullOrEmpty(Model.LogoPath) ? "hide" : "show")"
                                             src='~/Content/images/close.png'
                                             db="#img_0" data="#hfIB_0" hfPath="#hfPath_0" />
                                        <img id="img_0"
                                             src="/@(String.IsNullOrEmpty(Model.LogoPath) ? "content/images/blank.png" : Model.LogoPath)"
                                             data-animation="#file"
                                             src1="@Model.LogoPath"
                                             onerror="this.onerror=null;this.src = '../content/images/blank.png';"
                                             alt="Add Image"
                                             style="width:70px;height:60px;" />

                                        @Html.ValidationMessageFor(m => m.LogoPath, "", new { @class = "m-form__help" })
                                    </div>

                                </div>*@
                            <div class="m-form__group form-group">
                                <label for="">Invitation<req>*</req></label>
                                <div class="m-radio-list">
                                    <label class="m-radio">
                                        @Html.RadioButtonFor(m => m.InvitationType, "Public", new { @id = "Public", @class = "radio" }) Public
                                        <span class="Public" onclick="Selection('Public');return false"></span>
                                    </label>
                                    <label class="m-radio">
                                        @Html.RadioButtonFor(m => m.InvitationType, "RSVP Only", new { @id = "RSVP", @class = "radio" })RSVP Only
                                        <span class="RSVP" onclick="Selection('RSVP');return false"></span>
                                    </label>
                                </div>
                                @Html.ValidationMessageFor(m => m.InvitationType, "", new { @class = "m-form__help" })
                            </div>
                            <div class="m-form__group form-group">
                                <label for="">Publishing Time<req>*</req></label>
                                <div class="m-radio-list">
                                    @if (Model.UserTitle == 1)
                                    {

                                        <label class="m-radio">
                                            @Html.RadioButtonFor(model => model.Status, "Published", new { @id = "Published", @class = "radio" })Now
                                            <span class="Published" onclick="Selection('Published');return false"></span>

                                        </label>
                                        <label class="m-radio">
                                            @Html.RadioButtonFor(model => model.Status, "Scheduled", new { @id = "Scheduled", @class = "radio" })Schedule for later
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.PublishDate, new { @id = "PublishDate", @class = "form-control m-input datepicker_nopast", @style = "display:block;", @autocomplete = "off" })
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="la la-calendar glyphicon-th"></i></span>
                                                </div>
                                            </div>
                                            <span class="Scheduled" onclick="Selection('Scheduled');return false"></span>
                                        </label>
                                        @Html.ValidationMessageFor(model => model.PublishDate, "", new { @class = "m-form__help" })
                                        <label class="m-radio">
                                            @Html.RadioButtonFor(model => model.Status, "Drafted", new { @id = "Drafted", @class = "radio" })Save in drafts
                                            <span class="Drafted" onclick="Selection('Drafted');return false"></span>
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="m-radio">
                                            @Html.RadioButtonFor(model => model.Status, "Scheduled", new { @id = "Scheduled", @class = "radio" })Schedule for later
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.PublishDate, new { @id = "PublishDate", @class = "form-control m-input datepicker_nopast", @style = "display:block;", @autocomplete = "off" })
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="la la-calendar glyphicon-th"></i></span>
                                                </div>
                                            </div>
                                            <span class="Scheduled" onclick="Selection('Scheduled');return false"></span>
                                        </label>
                                        @Html.ValidationMessageFor(model => model.PublishDate, "", new { @class = "m-form__help" })
                                        <label class="m-radio">
                                            @Html.RadioButtonFor(model => model.Status, "Drafted", new { @id = "Drafted", @class = "radio" })Save in drafts
                                            <span class="Drafted" onclick="Selection('Drafted');return false"></span>
                                        </label>
                                        @Html.HiddenFor(m => m.Draft, new { @id = "Draft" })
                                    }

                                </div>

                                @Html.ValidationMessageFor(m => m.PublishDate, "", new { @class = "m-form__help validate" })
                                @if (Model.UserTitle == 1)
                                {
                                    if (Model.EncryptedEventId != "CoZJl6vCaqPRrbutL0vg2g==")
                                    {
                                        <div class="form-group m-form__group" id="Statusid" style="display:none;">
                                            <label for="exampleSelect1">Select Status</label>
                                            <div class="select-arrow">
                                                @Html.DropDownListFor(m => m.Status, Model._StatusListforAdmin, new { @id = "StatusListforAdmin", @class = "form-control m-input" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "m-form__help" })
                                        </div>
                                        @Html.TextBoxFor(m => m.RejectReason, new { @id = "RejectReason", @style = "display:none;", @placeholder = "Add Reject Reason", @class = "form-control m-input" })
                                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "m-form__help" })
                                    }

                                }
                            </div>
                        </div>
                    </div>

                    <!--end::Form-->
                </div>

                <!--end::Portlet-->
            </div>
            <div class="col-md-6">

                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Additional Details
                                </h3>
                            </div>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group">
                                <label for="exampleSelect1">Country<req>*</req></label>
                                <div class="select-arrow">
                                    @Html.HiddenFor(m => m.StateName)
                                    @Html.HiddenFor(m => m.CountryName)
                                    @Html.DropDownListFor(m => m.CountryId, Model._CountryList, new { @id = "CountryId", @class = "form-control m-input country", @Value = "231" })
                                </div>
                                @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "m-form__help" })
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Address Line 1<req>*</req></label>
                                @Html.TextBoxFor(m => m.AddressLine1, new { @class = "form-control m-input", @id = "AddressLine1", @placeholder = "Address Line1", @maxlength = "150" })
                                @Html.ValidationMessageFor(m => m.AddressLine1, "", new { @class = "m-form__help" })
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Address Line 2</label>
                                @Html.TextBoxFor(m => m.AddressLine2, new { @class = "form-control m-input", @id = "AddressLine2", @placeholder = "Address Line2", @maxlength = "150" })
                                @Html.ValidationMessageFor(m => m.AddressLine2, "", new { @class = "m-form__help" })
                            </div>
                            <div class="form-group m-form__group">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="exampleInputEmail1">City<req>*</req></label>
                                        @Html.TextBoxFor(m => m.CityName, new { @class = "form-control m-input AlphabetOnly", @id = "CityName", @placeholder = "City Name", @maxlength = "100" })
                                        @Html.ValidationMessageFor(m => m.CityName, "", new { @class = "m-form__help" })
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="exampleInputEmail1">State<req>*</req></label>
                                        <div class="select-arrow">
                                            @Html.DropDownListFor(m => m.StateId, Model._StateList, new { @id = "StateId", @class = "form-control m-input state" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.StateId, "", new { @class = "m-form__help" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-form__group" style="padding-bottom:0px;">
                                <label for="exampleInputEmail1">ZIP<req>*</req></label>
                                @Html.TextBoxFor(m => m.Zip, new { @class = "form-control m-input numbersOnly", @id = "ZipCode", @placeholder = "ZIP", @maxlength = "6" })
                                @Html.ValidationMessageFor(m => m.Zip, "", new { @class = "m-form__help" })
                            </div>
                            <div class="form-group m-form__group" style="padding-bottom:0px;">
                                <label for="exampleInputEmail1">Select Audience<req>*</req></label>
                                <div class="m-radio-list">
                                    <label class="m-radio">
                                        @Html.RadioButtonFor(model => model.SelectAudience, "All", new { @id = "All", @class = "radio" })All
                                        <span class="All" onclick="SelectAudience('All');return false"></span>
                                    </label>
                                    <label class="m-radio">
                                        @Html.RadioButtonFor(model => model.SelectAudience, "County", new { @id = "County", @class = "radio" })County
                                        <span class="County" onclick="SelectAudience('County');return false"></span>
                                        @*<span id="TagToMsg" class="m-form__help field-validation-error"></span>*@
                                    </label>
                                    <div class="selectbox-ul-wrap CountyId" style="display:none;">
                                        @Html.HiddenFor(m => m.CountyIsChecked, new { @id = "CountyIsChecked" })
                                        @Html.ListBoxFor(m => m.CountyId, Model._CountyList, new { @class = "form-control ms-parent multiselect1 nopadd mystates", @tablindex = "8", size = 5 })
                                        <span class="spanCountyId"></span>
                                    </div>
                                    <label class="m-radio">
                                        @Html.RadioButtonFor(model => model.SelectAudience, "Local", new { @id = "Local", @class = "radio" })Local
                                        <span class="Local" onclick="SelectAudience('Local');return false"></span>
                                    </label>
                                    <div class="selectbox-ul-wrap LocalId" style="display:none;">
                                        @Html.HiddenFor(m => m.LocalIsChecked, new { @id = "LocalIsChecked" })
                                        @Html.ListBoxFor(m => m.LocalId, Model._LocalList, new { @class = "form-control ms-parent multiselect1 nopadd mystates", @tablindex = "8", size = 5 })
                                        <span class="spanLocalId"></span>
                                    </div>
                                    <label class="m-radio">
                                        @Html.RadioButtonFor(model => model.SelectAudience, "Individual", new { @id = "Individual", @class = "radio" })Individual
                                        <span class="Individual" onclick="SelectAudience('Individual');return false"></span>
                                    </label>
                                    <div class="selectbox-ul-wrap IndividualId" style="display:none;">
                                        @Html.HiddenFor(m => m.IndividualIsChecked, new { @id = "IndividualIsChecked" })
                                        @Html.ListBoxFor(m => m.IndividualId, Model._IndividualList, new { @class = "form-control ms-parent multiselect1 nopadd mystates", @tablindex = "8", size = 5 })
                                        <span class="spanIndividualId"></span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.SelectAudience, "", new { @class = "m-form__help" })

                                    @*<span class="m-form__help">Please select one option</span>*@
                                </div>
                            </div>

                            @*<div class="form-group m-form__group" style="padding-bottom:0px;">
                                <label for="exampleInputEmail1">Approx Audience<req>*</req></label>
                                @Html.TextBoxFor(m => m.ApproxAudience, new { @class = "form-control m-input numbersOnly", @placeholder = "Approx Audience", @maxlength = "6" })
                                @Html.ValidationMessageFor(m => m.ApproxAudience, "", new { @class = "m-form__help" })
                            </div>*@
                            <div class="form-group m-form__group" style="padding-bottom:0px;">
                                <label for="exampleInputEmail1">Confirmation message response</label>
                                @Html.TextAreaFor(m => m.Confirmation, new { @class = "form-control m-input", @placeholder = "Message", @rows = 6, @maxlength = "150" })
                                @Html.ValidationMessageFor(m => m.Confirmation, "", new { @class = "m-form__help" })
                            </div>

                            <div class="m-form__actions form-buttons">
                                @Html.HiddenFor(m => m.UserTitle, new { @id = "UserTitle" })
                                @if (Model.UserTitle == 1)
                                {
                                    //                                    if (Model.Edit == 1)
                                    //                                  {
                                    if (FPBAL.Business.MenuAccess.Allow("Delete"))
                                    {
                                        @*<a href="/event/delete?eid=@Model.EncryptedEventId" class="btn btn-primary">Delete</a>*@
                                        <a href="/event/delete?eid=@Model.EncryptedEventId"
                                           class="btn btn-primary"
                                           id="@Model.EncryptedEventId"
                                           onclick="return Confirm('Are you sure you want to delete this record?',this)">
                                            Delete
                                        </a>

                                    }
                                    <button type="submit" id="btnDraft" class="btn btn-primary">Save to Drafts</button>
                                    <button type="submit" id="btnSubmit" class="btn btn-primarygreen">Submit</button>
                                    <a href="/event/index" class="btn btn-secondary">Cancel</a>
                                    @*@Html.ActionLink("Cancel", "index", "headline", new { @id = "Cancel", @class = "btn btn-secondary" })*@
                                    <a class="btn custom-btnyellow  Preview" style="color: #fff;">Preview</a>

                                }
                                else
                                {
                                    if (FPBAL.Business.MenuAccess.Allow("Delete"))
                                    {
                                        //if (Model.Edit == 1)
                                        //{
                                        @*<a href="/event/delete?eid=@Model.EncryptedEventId" class="btn btn-primary">Delete</a>*@
                                        <a href="/event/delete?eid=@Model.EncryptedEventId"
                                           class="btn btn-primary"
                                           id="@Model.EncryptedEventId"
                                           onclick="return Confirm('Are you sure you want to delete this record?',this)">
                                            Delete
                                        </a>

                                    }
                                    <button type="submit" id="btnDraft" class="btn btn-primary">Save to Drafts</button>
                                    <button type="submit" id="submitforapproval" class="btn btn-primarygreen">Submit for approval</button>
                                    @*@Html.ActionLink("Cancel", "detail", "headline", new { @id = "Cancel", @class = "btn btn-secondary" })*@
                                    <a href="/event/detail?eid=@Model.EncryptedEventId" class="btn btn-secondary">Cancel</a>
                                    <a class="btn custom-btnyellow Preview" style="color: #fff;">Preview</a>

                                }
                            </div>
                        </div>
                    </div>

                    <!--end::Form-->
                </div>

                <!--end::Portlet-->
            </div>
        </div>
    </div>
}
<div class="modal fade" id="commModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-area-md" role="document" style="background-color:#fff;">
        <div class="modal-content" style="padding: 22px;">
            <div class="modal-header" style="position:relative;">
                <h5 class="modal-title" id="commLabel">Add Agenda</h5>
                @*<input type="hidden" id="hfAddAgenda" />*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="commDetail" class="modal-body">
                <input type="text" id="hfAddAgenda" placeholder="Add Agenda" class="form-control  m-input" MaxLength="50" />
                <span id="AgendaError" style="display:none; color:red;">Please enter Agenda</span>
                <div class="row mt-30">
                    <div class="m-form__actions form-buttons">
                        <button type="submit" id="SubmitAgenda" class="btn btn-primary" data-dismiss="modal">Add</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="commModalPreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-area-md" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">X</span>
            </button>

            <div id="commDetailPreview" class="modal-body">

            </div>
            <div class="modal-footer justify-content-between">

            </div>
        </div>
    </div>
</div>

<script>

    function AlertWithNewWindow(text, newWindow) {
            swal({
                title: 'Alert',
                title: text,
                text: text,
                type: "info",
            },
                function () {
                    window.location.href = newWindow;
                });
        }
      function Confirm(title, event) {
            //debugger;
            var clientid = event.id;
            var href = '/event/delete?eid=' + clientid;
            var returnType = false;

            swal({
                title: "Warning",//"Are you sure?",
                text: title,
                //text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: true
            },
                function (isConfirm, id) {
                if (isConfirm) {
                    window.location.href = href;
                    returnType = true;
                    //swal("Deleted!", "Record has been deleted.", "success");
                } else {
                    //$('div').click();
                    //$('#' + clientid).blur();
                    returnType = false;
                }
            }
        );
            return returnType;
        }
    $(function () {
        $('.multiselect1').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            filterPlaceholder: 'Search for something...'
        });
    });
</script>
<script>
    $("#FileDocument").change(function (e) {
        ////debugger;
        $('#lbimg').text("");
        //alert($('#lbimg'));
        // get the file name, possibly with path (depends on browser)
        var filename = $(this).val();
        // Use a regular expression to trim everything before final dot
        //alert(filename);
        var ext = filename.replace(/^.*\./, '');
        //if (ext == "xls" || ext == "xlsx" || ext == "docx" || ext == "doc" || ext == "jpg" || ext == "jpeg" || ext == "png" || ext == "pdf") {
        if (ext == "pdf" ||ext == "docx" ||ext == "docx" ||ext == "jpeg"||ext == "jpg"||ext == "png") {

            var files = e.target.files;
            // alert(files[0].name);

            $('#lblfile').text(files[0].name);
            return true;
        }
        else {
            AlertWithTitleIcon("Warning", "Invalid file!", "warning");
            $(this).val('');
            $('#lblfile').text('');
            return false;
        }

        // $("#spanFile").text($(this)[0].files[0].name);
    });
    $('select.multiCheckbox').multipleSelect({
        multipleWidth: 190,
        width: '100%',
        filter: true,
        multiple: true,
        position: 'bottom',
        animate: 'none', // 'none', 'fade', 'slide'
        placeholder: '-- Select --',
        //addTitle: 'Sunil',
        //delimiter: ', ',
        //minimumCountSelected: 3,
        selectAllText: 'Select All',
        allSelected: 'All Selected',
        countSelected: '# of % selected',
        noMatchesFound: 'No matches found',
        onClick: function () {
            $("#<%= hdnfld.ClientID %>").val("1");
        },
        onOptgroupClick: function () {
            //alert('hi');
            //$("#<%= hdnfld.ClientID %>").val("1");
        },
        onUncheckAll: function () {
            // $("#<%= hdnfld.ClientID %>").val("1");
            //unSelectAll();
        },
        onClose: function () {
            //var hdnVal = $("#<%= hdnfld.ClientID %>").val();
            // if (hdnVal == "1") {
            //    $('#cover').show();
            //    $(".myhdnBtn").click();
            //}
        }
    });

    function setNoDataFoundStates() {
        setTimeout(function () {
            $('div.mystates li.ms-select-all').css('display', 'none').closest('ul').append('No data found');
            $('div.mystates div.ms-search').css('display', 'none');
        }, 300);
    }

    function setNoDataFoundCities() {
        setTimeout(function () {
            $('div.mycities li.ms-select-all').css('display', 'none').closest('ul').append('No data found');
            $('div.mycities div.ms-search').css('display', 'none');
        }, 300);
    }
    function unSelectAll() {
        if ($("div.mystates ul li input:checkbox:checked").length > 0) {
            //$("#<%= hdnfld.ClientID %>").val("1");
        }
        else {
            $('div.mycities ul').each(function () {
                $(this).find('li input[type="checkbox"]').removeAttr('checked');
            });

            // $("#<%= hdnfld.ClientID %>").val("1");
        }
    };

    $(document).ready(function () {
        setTimeout(function () {
            if (!$('select.mystates option').length) {
                //alert($('div.mycities ul').html());
                if ($('div.mystates ul').html().indexOf("No data found") == '-1') { if ($('li.ms-select-all:visible')) { $('div.mystates button.ms-choice').attr('disabled', 'disabled'); } }
            }
        }, 300);


        $('div.mystates li.ms-select-all').click(function () {
            if ($(this).hasClass("selected")) {
                //  $("#<%= hdnfld.ClientID %>").val("1");
            }

        });
    });
    $('#AgendaId').change(function () {
        //debugger;
        if ($('#AgendaId').val() == "-2") {
            $('#Create').val('1');
            $('#CreatedAgenda').val('1');
            $("#hfAddAgenda").val($(this).attr("data"));
            var AgendaText = $("#hfAddAgenda").text();
            $("#commModal").modal("show");

        };
    });
    $('#SubmitAgenda').click(function () {

        //debugger;
        if ($('#hfAddAgenda').val() == "") {
            $("#hfAddAgenda").prop("required", "required");
            $("#AgendaError").css("display", "block");
            return false;
        }
        else {
            $("#AgendaError").css("display", "none");
            var AgendaText = $("#hfAddAgenda").val();

            $('#AgendaId').val($("#hfAddAgenda").val());
            $.post("/Event/AddAgenda?Text=" + AgendaText, function (data) {
                //var url = 'CreateOrEdit.chtml';
                //$('#ddlAgenda').load(url + ' #div1');
                $('#AgendaId').val($("#hfAddAgenda").val());
                $("#commModal").modal("hide");
                window.location.reload();

            });
        }
    });

    $(document).ready(function () {
        //debugger;
        if ($('#RejectReason').val() != "") {
            $("#Statusid").css("display", "block");
            $('#StatusListforAdmin').val("Reject");
            $('#RejectReason').css("display", "block");
            $("#btnDraft").attr("disabled", true);
            $('#submitforapproval').attr("disabled", false);

        }
        //$.noConflict();
        var value = null;
        var status =  @Model.Status;

        if ($('#Drafted').is(':checked') ) {
            $("#Statusid").css("display", "none")
            $("#btnDraft").attr("disabled", false);
            $('#submitforapproval').attr("disabled", true);
            $("#btnSubmit").attr("disabled", true);
            $('#PublishDate').val('');

        }
        else if ($('#Scheduled').is(':checked')) {
            $("#Statusid").css("display", "block")
            $("#btnDraft").attr("disabled", true);
            $('#submitforapproval').attr("disabled", false);
            $("#btnSubmit").attr("disabled", false);
        }
        else if ($('#Published').is(':checked')) {
            $("#Statusid").css("display", "none")
            $('#PublishDate').val('');
            $("#btnDraft").attr("disabled", true);
            $('#submitforapproval').attr("disabled", false);
            $("#btnSubmit").attr("disabled", false);
        }
        else if (status != "Drafted")
        {
            $("#Statusid").css("display", "block")
            $("#btnDraft").attr("disabled", true);
            $('#submitforapproval').attr("disabled", false);
            $("#btnSubmit").attr("disabled", false);
        }

       if (Status!= null) {
       value =@Model.Status;
        }

        if (status != "Rejected") {
            CheckSelection(value);

        }


        if ($('#Drafted').is(':checked')) {
                $("#btnDraft").attr("disabled", false);
                $('#submitforapproval').attr("disabled", true);
                $("#btnSubmit").attr("disabled", true);

            }
            else if ($('#Published').is(':checked') || $('#Scheduled').is(':checked')) {
                $('#submitforapproval').attr("disabled", false);
                $("#btnDraft").attr("disabled", true);
                $("#btnSubmit").attr("disabled", false);

        }


        if ($('#Scheduled').val("Requested")) {
            $('#Scheduled').prop("checked", true);
        }
        else ($('#Drafted').val("Drafted"))
        {
            $('#Drafted').prop("checked", true);
        }
    });
    $(document).ready(function () {

        $("#btnSubmit").click(function () {

            //debugger;
            if (
                ($.trim($("#txtEventCity").val()) == '' && $.trim($("#ddlRadius").val()) != '')
                || ($.trim($("#txtEventCity").val()) != '' && $.trim($("#ddlRadius").val()) == '')
            )
                $("#IsEventLoc").attr('checked', true);
            else {
                $("#IsEventLoc").removeAttr('checked');
                $("#txtEventCity").removeAttr('required');
                $("#txtEventCity").removeAttr('data-val-requiredif-rule');
            }

            if (($('#StateId').val() == "-1")) {

                $("#StateId").val('');
                return false;
            }
            if (($('#CountryId').val() == "-1")) {

                $("#CountryId").val('');
                return false;
            }

        });


    });

      $(document).ready(function () {

        if ($('#Create').val() == 0) {
        }
        else if ($('#CreatedAgenda').val() == 1) {
            var AgendaText = $('#AgendaId').text().length;
            var index = $('#AgendaId option').length - 2;
            var AgendaText = $('#AgendaId option').eq(index).text();
            $("#AgendaId")[0].selectedIndex = index;

        }
        else {
            var AgendaText = $('#AgendaId').text().length;
            var index = $('#AgendaId option').length - 2;
            var AgendaText = $('#AgendaId option').eq(index).text();
            $("#AgendaId")[0].selectedIndex = index;

        }
    });


    if ($('#EventDateMessage').val() != "") {
        $('#EventDateMessage').css('display', 'block');
    }
    $('#ddlRadius').change(function () {
        //debugger;
        if ($('#ddlRadius').val() != "") {
            //debugger;
            $("#AddressLine1").prop("required", "required");
            $("#CityName").prop("required", "required");
            // $("#ddlRadius").prop("required", "required");
            $("#CountryId").prop("required", "required");
            $("#StateId").prop("required", "required");
            $("#ZipCode").prop("required", "required");

            $("#CityName-error").show();
            $("#AddressLine1-error").show();
            $("#ZipCode-error").show();
            //$("#ddlRadius-error").show();


            return false;
        }
        else {
            $("#AddressLine1").prop("required", false);
            $("#CityName").prop("required", false);
            //$("#ddlRadius").prop("required", false);
            $("#CountryId").prop("required", false);
            $("#StateId").prop("required", false);
            $("#ZipCode").prop("required", false);
            $("#AddressLine1-error").hide();
            $("#CityName-error").hide();
            $("#ZipCode-error").hide();
            //$("#ddlRadius-error").hide();
            return true;
        }
    });

    function AlertWithTitleIcon(title, text, type) {
        swal({
            title: title,
            text: text,
            type: type
        });
    }
    function Selection(id) {
        //debugger;
        if ($('#' + id).prop("checked") == true) {
            $('#' + id).prop("checked", false);
        }
        else {
            $('#' + id).prop("checked", true);

        }
        if ($('#' + id).val() == "Scheduled" && $('.datepicker_nopast').val() == "") {
            $("#Statusid").css("display", "block");

            $('#PublishDate').removeAttr("disabled");
            $("#PublishDate").prop("required", "required");
            $('#btnDraft').prop("disabled", true);
            $('#btnSubmit').prop("disabled", false);
            $('#submitforapproval').prop("disabled", false);
            $('#Draft').val("");
            $("#Statusid").css("display", "block");
            $('#StatusListforAdmin').val('');
            $('#RejectReason').val('');
            return false;
        }
        if ($('#' + id).val() == "Scheduled")
        {
            $("#Statusid").css("display", "block");
            $('#PublishDate').removeAttr("disabled");
            $("#PublishDate").prop("required", "required");
            $('#btnDraft').prop("disabled", true);
            $('#btnSubmit').prop("disabled", false);
            $('#submitforapproval').prop("disabled", false);
            $('#Draft').val("");
            $("#Statusid").css("display", "block");
            $('#StatusListforAdmin').val('');
            $('#RejectReason').val('');
            return false;

        }
        else if ($('#' + id).val() == "Requested" && $('.datepicker_nopast').val() == "") {
            $("#Statusid").css("display", "block");
            $('#PublishDate').removeAttr("disabled");
            $("#PublishDate").prop("required", "required");
            $('#btnDraft').prop("disabled", true);
            $('#btnSubmit').prop("disabled", false);
            $('#submitforapproval').prop("disabled", false);
            $('#StatusListforAdmin').val('');
            $('#RejectReason').val('');
            $('#Draft').val("");
            return false;

        }
        else if ($('#' + id).val() == "Requested" && $('.datepicker_nopast').val() != "") {
            $("#Statusid").css("display", "block");
            $('#btnDraft').prop("disabled", true);
            $('#btnSubmit').prop("disabled", false);
            $('#submitforapproval').prop("disabled", false);
            $('#Draft').val("");
            $('#StatusListforAdmin').val('');
            $('#RejectReason').val('');
            return false;

        }
        else if ($('#' + id).val() == "Scheduled" && $('.datepicker_nopast').val() != "") {
            $("#Statusid").css("display", "block");
            $('#btnDraft').prop("disabled", true);
            $('#btnSubmit').prop("disabled", false);
            $('#submitforapproval').prop("disabled", false);
            $('#Draft').val("");
            $('#StatusListforAdmin').val('');
            $('#RejectReason').val('');
            return true;

        }
        else if ($('#' + id).val() == "Published") {
            $("#PublishDate").val("");
            $('#PublishDate').attr("disabled", "disabled");
            $("#PublishDate").prop("required", false);
            $('#PublishDate-error').hide();
            $("#Statusid").css("display", "none")
            $('#btnDraft').prop("disabled", true);
            $('#submitforapproval').prop("disabled", false);
            $('#Draft').val("");
            $('#btnSubmit').prop("disabled", false);
            $("#Statusid").css("display", "none")
            $("#RejectReason").css("display", "none");
            $('#RejectReason').val('');
            return true;
        }

        else if ($('#' + id).val() == "Drafted") {
            $("#PublishDate").prop("required", false);
            $('#PublishDate-error').hide();
            $("#PublishDate").val("");
            $("#Statusid").css("display", "none")
            $('#btnSubmit').prop("disabled", true);
            $('#submitforapproval').prop("disabled", true);
            $('#btnDraft').prop("disabled", false);
            $('#Draft').val("Drafted");
            $("#Statusid").css("display", "none")
            $("#RejectReason").css("display", "none");
            $('#RejectReason').val('');
            return true;
        }


    }
    $('#StatusListforAdmin').change(function () {
          if ($('#StatusListforAdmin').val() == "Published") {
            if ($("#PublishDate").val() == "")
            {
                $('#PublishDate').prop("required", "required");
                $('#RejectReason').css("display", "none");
                $('#RejectReason').prop("required", false);
                $('#RejectReason').val('');
                return false;
            }

            else
            {
                $('#Scheduled').val("Scheduled");
                $('#RejectReason').css("display", "none");
                $('#RejectReason').prop("required", false);
                return true;
            }

        }
        else if($('#StatusListforAdmin').val() == "Reject")
        {
            $('#RejectReason').css("display", "block");
            $('#RejectReason').prop("required", "required");
            $("#PublishDate").prop("required", false);
            $('#PublishDate-error').hide();
            $('#Scheduled').val("Rejected");
            $('#Scheduled').val();
        }
    });
    $('#submitforapproval').click(function () {
         $('#Scheduled').val("Requested");
        $('#Scheduled').val();

    });
    $('#btnDraft').click(function () {
        $('#Draft').val('Drafted');
    });

    $(document).ready(function () {
        //debugger;
        if ($('#All').is(':checked') && $('#CountyIsChecked').val() != "") {

        }
       if ($('#County').is(':checked') && $('#CountyIsChecked').val() != "") {
            $('.CountyId').css("display", "block");
            $('.IndividualId').css("display", "none");
            $('.LocalId').css("display", "none");
       }
       else if ($('#Local').is(':checked') && $('#LocalIsChecked').val() != "") {
           $('.CountyId').css("display", "none");
           $('.IndividualId').css("display", "none");
           $('.LocalId').css("display", "block");
       }
       else if ($('#Individual').is(':checked') && $('#IndividualIsChecked').val() != "") {
           $('.CountyId').css("display", "none");
           $('.IndividualId').css("display", "block");
           $('.LocalId').css("display", "none");
       }

    });

      $('#All').click(function () {
              $("#LocalId option:selected").prop("selected", false);
            $('.CountyId').css("display", "none");
            $('.IndividualId').css("display", "none");
            $('.LocalId').css("display", "none");
            $('.spanIndividualId').text('');
            $("#CountyId option:selected").prop("selected", false);
            $("#CountyId").multiselect('refresh');
            $('#CountyId').val('');
            $("#IndividualId option:selected").prop("selected", false);
            $("#IndividualId").multiselect('refresh');
            $('#IndividualId').val('');
        
    });


    $('#Local').click(function () {
            $('#Local').prop("checked", true);
            $('.CountyId').css("display", "none");
            $('.IndividualId').css("display", "none");
            $('.LocalId').css("display", "block");
            $('.spanIndividualId').text('');
            $("#CountyId option:selected").prop("selected", false);
            $("#CountyId").multiselect('refresh');
            $('#CountyId').val('');
            $("#IndividualId option:selected").prop("selected", false);
            $("#IndividualId").multiselect('refresh');
            $('#IndividualId').val('');
        
    });


        $('#County').click(function () {
            $('#County').prop("checked", true);
            $('.selectbox-ul-wrap').show();
            $('.CountyId').css("display", "block");
            $('.IndividualId').css("display", "none");
            $('.LocalId').css("display", "none");
            $("#IndividualId option:selected").prop("selected", false);
            $("#IndividualId").multiselect('refresh');
            $('#IndividualId').val('');
            $("#LocalId option:selected").prop("selected", false);
            $("#LocalId").multiselect('refresh');
            $('#LocalId').val('');
            
    });

    
    $('#Individual').click(function () {


             $('#Individual').prop("checked", true);

          $('.CountyId').css("display", "none");
            $('.IndividualId').css("display", "block");
        $('.LocalId').css("display", "none");
         $("#CountyId option:selected").prop("selected", false);
        $("#CountyId").multiselect('refresh');
        $('#CountyId').val('');
            $("#LocalId option:selected").prop("selected", false);
            $("#LocalId").multiselect('refresh');
            $('#LocalId').val('');
         
    });

    function SelectAudience(id) {
        //debugger;
        var abc = $('#' + id).val();
        if ($('#' + id).prop("checked") == true) {
            $('#' + id).prop("checked", false);
        }
        else {
            $('#' + id).prop("checked", true);
        }
        if ($('#' + id).val() == "All") {
            $('#CountyId').val('');
            $('#IndividualId').val('');
            $('#LocalId').val('');
            $('.CountyId').css("display", "none");
            $('.IndividualId').css("display", "none");
            $('.LocalId').css("display", "none");
              return false;
        }

        else if ($('#' + id).val() == "Local") {

            $('.CountyId').css("display", "none");
            $('.IndividualId').css("display", "none");
            $('.LocalId').css("display", "block");
            $('.spanIndividualId').text('');
            $('#CountyId').val('');
            $('#IndividualId').val('');
              return true;
        }
        else if ($('#' + id).val() == "County") {
            $('.selectbox-ul-wrap').show();
            $('.CountyId').css("display", "block");
            $('.IndividualId').css("display", "none");
            $('.LocalId').css("display", "none");
            $('#IndividualId').val('');
            $('#LocalId').val('');
            return true;
        }
        else if ($('#' + id).val() == "Individual") {
            $('.CountyId').css("display", "none");
            $('.IndividualId').css("display", "block");
            $('.LocalId').css("display", "none");
            $('#CountyId').val('');
            $('#LocalId').val('');
               return true;
        }
    }
    $('#txtEventCity').change(function () {
        if ($('#txtEventCity').val() != "") {
            if ($('#ddlRadius').val() == "-1") {
                $('#ddlRadius').prop("required", false);
                return false;
            }
        }
    });
    $('#ddlRadius').change(function () {
        if ($('#ddlRadius').val() != "-1") {
            ($('#txtEventCity').val() == "")
            {
                $('#txtEventCity').attr("required", "required");
                return false;
            }
        }
    });
    function validate() {

        if (!document.getElementById("Archived").checked && !document.getElementById("Scheduled").checked && !document.getElementById("Now").checked) {
            alert("Must select atleast 1 option for scheduling of the event");
            return;
        }

    }
    $("body").on("mouseenter", "input.myCalendarPayment", function (evt) {
        var topHeight = $(this).offset().top + $(this).height();
        var offsetLeft = $(this).offset().left;
        $(this).datepicker({
            dateFormat: "mm/dd/yy",
            maxDate: "0",
            autoclose: true,
            yearRange: "1970:" + NextYearVal_ + "",
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            beforeShow: function (input, inst) {
                setTimeout(function () {
                    inst.dpDiv.css({
                        top: $(evt.target).offset().top + 35,
                        left: $(evt.target).offset().left
                    });
                }, 0)
            },
            closeText: 'Clear',
            onClose: function (selectedDate) {
                var event = arguments.callee.caller.caller.arguments[0];
                if ($(event.delegateTarget).hasClass('ui-datepicker-close')) {
                    $(this).val('');
                }
            }
        });
    });
    $("body").on("click", ".cross", function (e) {
        $(this).removeClass("show").addClass("hide");
        $("#img_0").attr("src", "/content/images/blank.png");
        $("#hfPath_0").val('');
        $("hfPath_0").val('');
    });
    $(".Preview").click(function () {
        //debugger;
        var datee = $('.datepicker_nopast').val();
        var date = $("input[name=Status]").val();
        if ($('#Published').prop("checked") == true) {
            var scheduler = "Published";
        }
        else if ($('#Scheduled').prop("checked") == true) {
            var scheduler = "Scheduled";
        }
        else if ($('#Drafted').prop("checked") == true) {
            var scheduler = "Drafted";
        }
        var ScheduleDate = $('input[name=PublishDate]').val();
        LogoPath: $("#img_0").attr("src");
        Agenda: $("#AgendaId option:selected").text();
        var model =
            {
                EventDate: $("input[name=Status]").val(),
                PublishDate: scheduler,
                Title: $("#Title").val(),
                AgendaId: $("#AgendaId").val(),
                Agenda: $("#AgendaId option:selected").text(),
                EventDate: $("#EventDate").val(),
                EventDayLeft: $("input[name=EventDayLeft]").val(),
                Summary: $("input[name=Summary]").val(),
                InvitationType: $("input[name=InvitationType]").val(),
                URL: $("input[name=URL]").val(),
                AddressLine1: $("#AddressLine1").val(),
                AddressLine2: $("#AddressLine2").val(),
                StateName: $('input[name=StateName]').val(),
                CountryName: $('input[name=CountryName]').val(),
                PublishTime: $('input[name=PublishDate]').val(),
                Content: $("#Content").val(),
                EventTime: $("input[name=EventTime]").val(),
                LogoPath: $("#img_0").attr("src"),

            };
        $.post("/Event/Preview", model, function (data) {
            $("#commLabelPreview").text("Events Details");
            $("#commDetailPreview").html(data);
            $("#commModalPreview").modal("show");
        });
    });


    $("#cross").click(function (e) {
        ////debugger;
        $('#img_0').attr("src", "/content/images/blank.png");
        $('#ImagePath').val('');
        $("#cross").css("display", "none");
        $('#hfImagePath').val('');

    });

</script>

<script>

    $('#FileDocument').on('change', function (e) {
        //debugger;
        var files = e.target.files;
        $('#lblFileDocument').text(files[0].name);
    });
</script>
