﻿@using FPModels.Models
@model  EventModel
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="m-content">
    <!--begin::Portlet-->
    <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Event Details
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <ul class="list-unstyled event-detail">
                <li>
                    <label>Title</label>
                    <p>@Model.Title</p>
                </li>
                <li>
                    <label>Agenda</label>
                    <p>
                        @Model.AgendaAdd
                    </p>
                </li>
                <li>
                    @if (@Model.Summary == "")
                    {

                    }
                    else
                    {
                        <label>Summary</label>
                        <p>@Model.Summary</p>
                    }
                </li>

                <li>
                    @if (@Model.URL == "")
                    { }
                    else
                    {
                        <label>URL</label>
                        <p>@Model.URL</p>
                    }
                </li>
                <li>
                    <label>Location</label>
                    <p>

                        @Model.AddressLine1
                        @Model.AddressLine2
                        <br />
                        @Model.CityName
                        @Model.Zip

                    </p>
                </li>
                <li>
                    <label>Invite</label>
                    <p>@Model.InvitationType</p>
                </li>
                <li>
                    <label>Event Invitation</label>
                    <p>

                        <span>
                            @if (!string.IsNullOrWhiteSpace(Model.LogoPath))
                            {<a href="/download.ashx?type=i&file=@FPBAL.Business.UtilityAccess.Encrypt(Model.LogoPath)" target="_blank">
                                    <img src="~/Content/images/download.png" />
                                </a>
                            }
                            else
                            {
                                <a class="docView000">
                                    <img style="width:70px;height:60px;" src="/content/images/no-image-rec.png"
                                         >
                                </a>
                            }
                            @*<a class="docView">
            <img   style="width:70px;height:60px;"  src="/@Model.LogoPath"
                 onerror="this.src='/content/images/no-image-rec.png';">
        </a>*@
                        </span>
                    </p>
                </li>
                <li>
                    <label>Event Date & Time</label>
                    <p>@Model.EventDate</p>
                    <p>@Model.EventTime</p>
                </li>
                <li>
                    <label>Status</label>

                    @if (Model.Status == "Published")
                    {
                        <p><span class="m-badge  m-badge--primary m-badge--wide">Published</span></p>
                    }
                    else if (Model.Status == "Scheduled")
                    {
                        <p><span class="m-badge  m-badge--metal m-badge--wide">Scheduled</span></p>
                    }
                    else if (Model.Status == "Drafted")
                    {
                        <p><span class="m-badge  m-badge--danger m-badge--wide">Drafted</span></p>
                    }
                    else if (Model.Status == "Archived")
                    {
                        <p><span class="m-badge m-badge--wide" style="background-color:#c4471f;color:#fff">Archived</span></p>
                    }
                    else if (Model.Status == "Rejected")
                    {
                        <p><span class="m-badge m-badge--wide" style="background-color:#c4471f;color:#fff">Rejected</span></p>
                    }
                    else if (Model.Status == "Requested")
                    {
                        <p><span class="m-badge m-badge--wide" style="background-color:#416eba;color:#fff">Requested</span></p>
                    }
                </li>
            </ul>
            <div class="m-form__actions form-buttons">
                @if (FPBAL.Business.MenuAccess.Allow("edit"))
                {
                    <a href="/event/edit?eid=@Model.EncryptedEventId" class="btn btn-primary">Edit</a>
                }

                
                <a href="/event/index" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
        <!--end::Form-->
    </div>
    <!--end::Portlet-->
</div>
