﻿@model FPModels.Models.EventModel
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("index", "event", FormMethod.Post))
{
<div class="m-content">
    <div class="m-portlet m-portlet--mobile responsdiveass">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        View Events
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="table-searh-wrap event_searh_wrap">
                <div id="m_table_1_filter" class="dataTables_filter search_table_bar" style="display:inline-block;">
                    <label>
                        <img src="/Content/images/search.png" alt="search">
                        @Html.TextBoxFor(m => m.Search, new { @class = "form-control form-control-sm", @placeholder = "Search"@*, @aria-controls = "m_table_1"*@})
                        @*<input type="search" class="form-control form-control-sm" placeholder="Search" aria-controls="m_table_1">*@
                    </label>

                </div>
                <div id="m_table_1_filter-1" class="dataTables_filter table-status show-item-select" style="margin-left:20px;">
                    <label>
                        Status:
                        @Html.DropDownListFor(m => m.Status, Model._StatusList, new { @class = "custom-select custom-select-sm form-control form-control-sm" })
                    </label>
                </div>

                <div id="m_table_1_filter-1" class="dataTables_filter table-status table_date_calendar  show-item-select">
                    <label>
                        Date:
                        @Html.TextBoxFor(m => m.DateFrom, new { @class = "custom-select custom-select-sm form-control form-control-sm myCalendar dateFrom cldrbottom", @placeholder = "Select Date", @autocomplete = "off" })
                        <i class="la la-calendar glyphicon-th"></i>
                    </label>
                </div>
                <div id="m_table_1_filter-1" class="dataTables_filter table-status table_date_calendar show-item-select">
                    <label>
                        to:
                        @Html.TextBoxFor(m => m.DateTo, new { @class = "custom-select custom-select-sm form-control form-control-sm dateTo", @placeholder = "Select Date", @autocomplete = "off" })
                        <i class="la la-calendar glyphicon-th"></i>
                    </label>
                    <button type="submit" class="btn m-btn--pill    btn-danger" style="margin-left:10px;">Search</button>
                </div>

                @if (FPBAL.Business.MenuAccess.Allow("Create"))
                {

                    <div class="pull-right  ">
                        <a href="~/event/create?eid=CoZJl6vCaqPRrbutL0vg2g==" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                            <span>
                                <i class="la la-plus"></i>
                                <span>New</span>
                            </span>
                        </a>
                    </div>

                }

            </div>
            
            <!--begin: Datatable -->
            @*<table class="table table-striped- table-hover" id="m_table_1">*@
            <table class="table table-striped- table-hover table-pagger" cols="7" id="m_table_1">
                <thead>
                    <tr>
                        <th style="width:100px;">Title</th>
                        <th style="width:80px;">Agenda</th>
                        <th style="width:180px;">Location</th>
                        <th style="width:65px;">Date</th>
                        <th style="width:58px;">Time</th>
                        <th style="width:70px;">Status</th>
                        <th style="width:45px;">Invite</th>
                        <th style="width:55px;">Accepted</th>
                        <th style="width:55px;">Declined</th>
                        <th style="width:55px;">Count</th>
                    </tr>
                </thead>
                <tbody class="event-pag-roll">
                    @if (Model._EventList != null)
                    {
                        foreach (var item in Model._EventList)
                        {
                    <tr>
                        <td class="event-peg-location"><a href="/event/detail?eid=@item.EncryptedEventId" style="text-decoration:underline; color:#666674;">@item.Title</a></td>

                        @if (item.AgendaId == "0")
                        {
                            <td>-</td>
                        }
                        else if (item.AgendaAdd == "")
                        {
                            <td>-</td>
                        }
                        else
                        {
                            <td >@item.AgendaAdd</td>
                        }


                        @if (item.Location == ",,")
                        {
                            <td>-</td>
                        }
                        else if (item.Location == "")
                        {
                            <td>-</td>
                        }
                        else if (item.AddressLine2 == "")
                        {
                            <td class="event-peg-location">@item.AddressLine1, @item.CityName, @item.StateName, @item.CountryName, @item.Zip</td>
                        }
                        else
                        {
                            <td class="event-peg-location">@item.AddressLine1,@item.AddressLine2, @item.CityName, @item.StateName, @item.CountryName, @item.Zip</td>
                        }
                        <td>@item.EventDate</td>
                        <td>@item.EventTime</td>

                        @if (item.Status == "Published")
                        {
                            <td><span class="m-badge  m-badge--primary m-badge--wide">Published</span></td>
                        }
                        else if (item.Status == "Scheduled")
                        {
                            <td><span class="m-badge  m-badge--metal m-badge--wide">Scheduled</span></td>
                        }
                        else if (item.Status == "Drafted")
                        {
                            <td><span class="m-badge  m-badge--warning m-badge--wide">Drafted</span></td>
                        }
                        else if (item.Status == "Archived")
                        {
                            <td><span class="m-badge m-badge--wide" style="background-color:#c4471f;color:#fff">Archived</span></td>
                        }
                        else if (item.Status == "Rejected")
                        {
                            <td><span class="m-badge m-badge--wide" style="background-color:#c4471f;color:#fff">Rejected</span></td>
                        }
                        else if (item.Status == "Requested")
                        {
                            <td><span class="m-badge m-badge--wide" style="background-color:#416eba;color:#fff">Requested</span></td>
                        }
                        else
                        {
                            <td>-</td>
                        }
                        <td nowrap>@item.InvitationType</td>
                        <td>@item.IsAccepted</td>
                        <td>@item.Declined</td>
                        @if (@item.AttendeeCount == "")
                        {
                            <td><span>0</span></td>
                        }
                        else
                        {
                            <td><a href="/Event/Count?eid=@item.EncryptedEventId" style="text-decoration:underline; color:#666674;"> @item.AttendeeCount</a></td>
                        }
                    </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="row mt-30" id="pagging1"></div>
        </div>
    </div>   
</div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#cmid_45').click(function () {
            $('#EventsCouns').text(0);
            $("#EventsCouns").filter(function () {
                return $(this).text().trim() === "0";
            }).hide();
        });
    });



</script>