﻿
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- END: Aside Menu -->
				</div>

<!-- END: Left Aside -->
<div class="m-grid__item m-grid__item--fluid m-wrapper">

    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title ">Paid Services</h3>
            </div>
        </div>
    </div>

    <!-- END: Subheader -->
    <div class="m-content">

        <div class="row">

            <div class="col-md-4">
                <div class="paid-service-main">
                    <div class="paid-img-sec">
                        <img src="~/Content/images/paid-1.jpg">
                        <button>Best Seller</button>
                    </div>
                    <div class="paid-text-sec">
                        <h2>Social media</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <a href="social-media.html"><button>Learn More</a></button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="paid-service-main">
                    <div class="paid-img-sec">
                        <img src="~/Content/images/paid-2.jpg">
                        <button>Best Seller</button>
                    </div>
                    <div class="paid-text-sec">
                        <h2>Online store</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <a href="social-media.html"><button>Learn More</a></button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="paid-service-main">
                    <div class="paid-img-sec">
                        <img src="~/Content/images/paid-3.jpg">

                    </div>
                    <div class="paid-text-sec">
                        <h2>SEO & Digital Marketing</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <a href="social-media.html"><button>Learn More</a></button>
                    </div>
                </div>
            </div>


        </div>
        <div class="row" style="margin-top:30px;">

            <div class="col-md-4">
                <div class="paid-service-main">
                    <div class="paid-img-sec">
                        <img src="~/Content/images/paid-4.jpg">

                    </div>
                    <div class="paid-text-sec">
                        <h2>REviews Management</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <a href="social-media.html"><button>Learn More</a></button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="paid-service-main">
                    <div class="paid-img-sec">
                        <img src="~/Content/images/paid-5.jpg">

                    </div>
                    <div class="paid-text-sec">
                        <h2>Website Developement</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <a href="social-media.html"><button>Learn More</a></button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="paid-service-main">
                    <div class="paid-img-sec">
                        <img src="~/Content/images/paid-6.jpg">

                    </div>
                    <div class="paid-text-sec">
                        <h2>Customized IT Solutions</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <a href="social-media.html"><button>Learn More</a></button>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
