﻿@using FPModels.Models
@model ChangePasswordModel
@{
    ViewBag.Title = "Update Password";
    ViewBag.Header = "Update Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("changepassword", "changepassword"))
{
    @*<div class="m-content">*@
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            @*<h3 class="m-portlet__head-text">
                                Update Password
                            </h3>*@
                        </div>
                    </div>
                </div>

                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body update-pass-form">


                        <div class="form-group m-form__group" style="position:relative;">
                            <label for="exampleInputEmail1">Old Password</label>
                            @*<input type="text" class="form-control m-input" placeholder="Write here">
        <img src="images/view.png" style=" position: absolute;right: 50px;top: 38px;">
        <span class="m-form__help">Please enter old password </span>*@
                            @Html.PasswordFor(m => m.OldPassWord, new { @Class = "form-control m-input smal", @PlaceHolder = "Old Password" })
                            @*<img src="~/Content/images/view.png" class="fa fa-eye-slash eye-icon" style=" position: absolute;right: 50px;top: 38px;">*@
                            <i class="fa fa-eye-slash eye-icon" aria-hidden="true" id="input_img_eye" style=" position: absolute;right: 50px;top: 38px;"></i>
                            @Html.ValidationMessageFor(m => m.OldPassWord)
                        </div>
                        <div class="form-group m-form__group" style="position:relative;">
                            <label for="exampleInputEmail1">New Password</label>
                            @Html.PasswordFor(m => m.Password, new { @Class = "form-control m-input smal", @PlaceHolder = "New Password" })
                            @*<i class="fa fa-eye-slash eye-icon"></i>*@
                            @*<img src="~/Content/images/view.png" class="fa fa-eye-slash eye-icon" style=" position: absolute;right: 50px;top: 38px;">*@
                            <i class="fa fa-eye-slash eye-icon" aria-hidden="true" id="input_img_eye" style=" position: absolute;right: 50px;top: 38px;"></i>
                            @Html.ValidationMessageFor(m => m.Password)

                        </div>

                        <div class="form-group m-form__group" style="position:relative;">
                            <label for="exampleInputEmail1">Confirm Password</label>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @Class = "form-control m-input smal", @PlaceHolder = "Confirm Password" })
                            @*<img src="~/Content/images/view.png" class="fa fa-eye-slash eye-icon" style=" position: absolute;right: 50px;top: 38px;">*@
                            <i class="fa fa-eye-slash eye-icon" aria-hidden="true" id="input_img_eye" style=" position: absolute;right: 50px;top: 38px;"></i>
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)

                        </div>


                        <div class="m-form__actions form-buttons">
                            <button type="submit" class="btn btn-primary">Update</button>
                            @*<button type="button"  class="btn btn-secondary">Cancel</button>*@
                            <a href="/dashboard/index" class="btn btn-secondary">Cancel</a>
                        </div>
                    </div>
                </form>

                <!--end::Form-->
            </div>
        </div>
    </div>
    @*</div>*@
}