﻿@using FPModels.Models
@model  RestrictedDocumentModel
@{
    ViewBag.Title = "Restricted Documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "RestrictedDocument", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="m-content payment-form-wrapper">
        <div class="m-portlet m-portlet--tab">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Add New Document
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-form m-form--fit m-form--label-align-right">
                <div class="m-portlet__body">
                    <div class="form-group m-form__group">
                       <label for="exampleInputEmail1">Modified By<req>*</req></label>
                        @Html.TextBoxFor(m => m.ModifiedBy, new { @class = "form-control m-input Validation", @placeholder = "Modified By", @maxlength = "100" })
                        @Html.ValidationMessageFor(m => m.ModifiedBy, "", new { @class = "m-form__help" })
                    </div>
                    <div class="form-group m-form__group">
                        <label for="exampleInputEmail1">Modified Date<req>*</req></label>
                        @Html.TextBoxFor(m => m.ModifiedByDate, new { @class = "form-control m-input datepicker_nopast",@style= "margin - left: -553px;", @placeholder = "Select Date", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.ModifiedByDate, "", new { @class = "m-form__help" })
                    </div>
                    <div class="m-form__group form-group add-file-wrap">
                        <label for="exampleInputEmail1">Add Document<req>*</req></label>
                        <div class="upload-btn-wrapper">
                            <label type="button" class="btn" style="color:#ffffff;text-align:center !important;">
                                @*<button type="button" class="btn">*@
                                @*@Html.TextBoxFor(m => m.DocumentName, new { @type = "file", @id = "FileDocument" })*@
                                @Html.HiddenFor(m => m.RDocumentName, new { @id = "_DocumentName" })
                                @Html.HiddenFor(m => m.RDocumentPath, new { @id = "_DocumentPath" })
                                @Html.TextBoxFor(model => model.HttpPostedFile, "", new { @type = "file", @id = "FileDocument", @class = "custom-file-input" })

                                Upload
                                @*</button>*@
                                </label>
                                @Html.ValidationMessageFor(m => m.HttpPostedFile, "", new { @class = "m-form__help" })
                                @Html.DisplayFor(m => m.NoFile, new { @class = "m-form__help" })
                                <div id="lblFileDocument"></div>
                                <br />
                                <label>PDF, Excel, JPEG, PNG, WORD documents can be added</label>

                        </div>
                        
                    </div>

                    <div class="m-form__actions form-buttons" style="margin-bottom: -23px;">
                        <button type="submit" id="btnSave" class="btn btn-primarygreen">Save</button>
                        @Html.ActionLink("Cancel", "index", "restricteddocument", new { @class = "btn btn-secondary" })
                    </div>
                </div>

            </div>
        </div>
    </div>
}
<script>
        $("#FileDocument").change(function (e) {
        ////debugger;
        $('#lbimg').text("");
        //alert($('#lbimg'));
        // get the file name, possibly with path (depends on browser)
        var filename = $(this).val();
        // Use a regular expression to trim everything before final dot
        //alert(filename);
        var ext = filename.replace(/^.*\./, '');
        //if (ext == "xls" || ext == "xlsx" || ext == "docx" || ext == "doc" || ext == "jpg" || ext == "jpeg" || ext == "png" || ext == "pdf") {
            if (ext == "pdf" || ext == "docx" || ext == "docx" || ext == "jpeg" || ext == "png" || ext == "xlsx" || ext == "xls" || ext == "jpg") {

            var files = e.target.files;
            // alert(files[0].name);

            $('#lblFileDocument').text(files[0].name);
            return true;
        }
        else {
            AlertWithTitleIcon("Warning", "Invalid file!", "warning");
            $(this).val('');
            $('#lblFileDocument').text('');
            return false;
        }

        // $("#spanFile").text($(this)[0].files[0].name);
    });
        $('#FileDocument').on('change', function (e) {
            //debugger;
            var files = e.target.files;
            $('#lblFileDocument').text(files[0].name);
        });
</script>
