﻿@model FPModels.Models.RestrictedDocumentModel
@{
    ViewBag.Title = "Restricted Documents";
    ViewBag.Header = "Restricted Documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("index", "RestrictedDocument", FormMethod.Post))
{
    <div class="m-content payment-form-wrapper">
        <div class="m-portlet m-portlet--mobile responsdiveass">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            View Restricted Documents
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="table-searh-wrap">

                    <div id="m_table_1_filter" class="dataTables_filter search_table_bar" style="max-width: 135px;">
                        <label>
                            <img src="/Content/images/search.png" alt="search">
                            @Html.TextBoxFor(model => model.Search, new { @class = "form-control form-control-sm", @placeholder = "Search" })
                        </label>

                    </div>
                    <button type="submit" class="btn m-btn--pill    btn-danger" style="margin-left:148px;">Search</button>

                    @if (FPBAL.Business.MenuAccess.Allow("Create"))
                    {
                        <div class="pull-right datatable_new">
                            <a href="~/restricteddocument/create" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>New</span>
                                </span>
                            </a>
                        </div>
                    }
                </div>
                <!--begin: Datatable -->
                @*<table class="table table-striped- table-hover table-responsive" id="m_table_1">*@
                <table class="table table-striped- table-hover table-responsive table-pagger" cols="6" id="m_table_1">

                    <thead>
                        <tr>
                            <th><a href="#">Document Name</a></th>
                            <th><a href="#">Modified By</a></th>
                            <th><a href="#">Modified Date</a></th>
                            <th><a href="#">Action</a></th>


                        </tr>
                    </thead>
                    <tbody>
                        @if (Model._RDocumentList != null)
                        {

                            foreach (var item in Model._RDocumentList)
                            {
                                <tr>
                                    @Html.HiddenFor(m => item.EncryptedDocumentId)
                                    <td>@item.RDocumentName</td>
                                    <td>@item.ModifiedBy</td>
                                    <td>@item.ModifiedByDate</td>
                                    <td>
                                        <a href="/download.ashx?type=document&file=@FPBAL.Business.UtilityAccess.Encrypt(item.RDocumentPath)" target="_blank">
                                            <img src="~/Content/images/download.png" />
                                        </a>
                                        &nbsp;&nbsp; &nbsp;&nbsp;
                                        
                                        <a href="/RestrictedDocument/Delete?did=@item.EncryptedDocumentId" id=@item.EncryptedDocumentId
                                           onclick="return Confirm('Are you sure you want to Delete?', this)" >
                                            <img src="~/Content/images/delete.png" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
                <div class="row mt-30" id="pagging1"></div>
            </div>
        </div>
    </div>
}
<script>
    function AlertWithNewWindow(text, newWindow) {
        swal({
            title: 'Alert',
            title: text,
            text: text,
            type: "info",
        },
            function () {
                window.location.href = newWindow;
            });
    }
    function Confirm(title, event) {
        //debugger;
        var clientid = event.id;
        var href = '/RestrictedDocument/Delete?did=' + clientid;
        var returnType = false;

        swal({
            title: "Warning",//"Are you sure?",
            text: title,
            //text: "You will not be able to recover this imaginary file!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            closeOnConfirm: true,
            closeOnCancel: true
        },
            function (isConfirm, id) {
                //debugger;
                if (isConfirm) {
                    window.location.href = href;
                    returnType = true;
                    //swal("Deleted!", "Record has been deleted.", "success");
                } else {
                    //$('div').click();
                   // $('#' + clientid).blur();
                    returnType = false;
                }
            }
        );
        return returnType;
    }
</script>

