﻿@using FPModels.Models
@model InvolvementModel
@{
    ViewBag.Title = "Involvements";
    ViewBag.PageHeader = "Involvements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .highcharts-credits {
        display: none;
    }

    .highcharts-exporting-group {
        display: none;
    }
</style>
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
@*<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>*@
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="row">
                <div class="col-sm-6">
                    <canvas id="m_morris_1" width="325" height="160" class="chartjs-render-monitor" style="display: block; width: 325px; height: 160px;"></canvas>
                    @*<div id="m_morris_1" style="min-width: 310px; height: 400px; margin: 0 auto">
                            <div class="">
                            </div>
                        </div>*@
                </div>
                <div class="col-sm-6">
                    <div class="clearfix">
                        <div class="chart-head">
                            @if (@Model.thisMonthYearMonth.ThisWeakMMYY == "This Week")
                            {
                                <h3 class="m-portlet__head-text">
                                    This Week
                                </h3>
                                <p><span id="datesFromDate">@Model.thisMonthYearMonth.FromDate  </span> <span id="datesTodate"> @Model.thisMonthYearMonth.ToDate</span></p>
                            }
                            else if (Model.thisMonthYearMonth.ThisWeakMMYY == "This Month")
                            {
                                <h3 class="m-portlet__head-text">
                                    This Month
                                </h3>
                                <p><span id="datesFromDate">@Model.thisMonthYearMonth.FromDate </span> <span id="datesTodate"> @Model.thisMonthYearMonth.ToDate</span></p>
                            }
                            else
                            {
                                <h3 class="m-portlet__head-text">
                                    This Year
                                </h3>
                                <p><span id="datesFromDate">@Model.thisMonthYearMonth.FromDate  </span> <span id="datesTodate"> @Model.thisMonthYearMonth.ToDate</span></p>
                            }
                        </div>
                        <div class="dataTables_length show-item-select chart-select" id="m_table_1_length">
                            <label>
                                <select name="m_table_1_length" aria-controls="m_table_1" class="custom-select dropDownFormDuration custom-select-sm form-control form-control-sm">
                                    <option value="7">Week</option>
                                    <option value="31">Month</option>
                                    <option value="365">Year</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="week-value">
                        <h2>Total Volunteers</h2>
                        <h2 id="TotalCountForDatechange">@Model.graphsModel.Totalcount</h2>
                    </div>
                    <div class="m-widget15__items m--margin-top-20 chart-progress">
                        <div class="row">
                            @if (Model != null && Model._CityNameModel != null && Model._CityNameModel.Count > 0)
                            {
                                for (var i = 0; i < Model._CityNameModel.Count; i++)
                                {
                                    <div class="col">
                                        <!--begin::widget item-->
                                        <div class="m-widget15__item">
                                            <span class="m-widget15__stats @Model._CityNameModel[i].ClassName" id="involmentsPercentage_@i">
                                                @Model._CityNameModel[i].CityCountPrercentage%
                                            </span>
                                            <div class="m--space-10"></div>
                                            <div class="progress m-progress--sm @Model._CityNameModel[i].ClassName" id="zxyprogressbar_@i">
                                                
                                                <div id="inprogressbar_@i" class="@Model._CityNameModel[i].ProgressbarClass" role="progressbar" style="width: @Model._CityNameModel[i].CityCountPrercentage%; height:6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>

                                                @*@if (@Model._CityNameModel[i].CityCountPrercentage >= 30 && @Model._CityNameModel[i].CityCountPrercentage <= 100)
        {
            <div class="progress-bar bg-success" role="progressbar" style="width: @Model._CityNameModel[i].CityCountPrercentage%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        }
        @if (@Model._CityNameModel[i].CityCountPrercentage >= 15 && @Model._CityNameModel[i].CityCountPrercentage < 30)
        {
            <div class="progress-bar bg-danger" role="progressbar" style="width: @Model._CityNameModel[i].CityCountPrercentage%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        }
        @if (@Model._CityNameModel[i].CityCountPrercentage >= 0 && @Model._CityNameModel[i].CityCountPrercentage < 15)
        {
            <div class="progress-bar bg-warning" role="progressbar" style="width: @Model._CityNameModel[i].CityCountPrercentage%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        }*@
                                            </div>
                                            <span class="m-widget15__text @Model._CityNameModel[i].ClassName"  id="involmentsCity_@i">
                                                @Model._CityNameModel[i].CityName
                                            </span>
                                        </div>
                                        <!--end::widget item-->
                                    </div>
                                }
                            }
                            @*<div class="col">
                                    <!--begin::widget item-->
                                    <div class="m-widget15__item">
                                        <span class="m-widget15__stats">
                                            54%
                                        </span>
                                        <div class="m--space-10"></div>
                                        <div class="progress m-progress--sm">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 40%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span class="m-widget15__text">
                                            New York
                                        </span>
                                    </div>
                                    <!--end::widget item-->
                                </div>
                                <div class="col">

                                    <!--begin::widget item-->
                                    <div class="m-widget15__item">
                                        <span class="m-widget15__stats">
                                            41%
                                        </span>
                                        <div class="m--space-10"></div>
                                        <div class="progress m-progress--sm">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 55%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span class="m-widget15__text">
                                            California
                                        </span>
                                    </div>
                                    <!--end::widget item-->
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @using (Ajax.BeginForm("index", "involvements", new AjaxOptions()))
    {
        <div class="payment-form-wrapper about-us-wrap">
            <div class="m-portlet m-portlet--mobile mb_0">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text1">
                                View Applications
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">

                    <div class="table-searh-wrap">
            <div id="m_table_1_filter" class="dataTables_filter search_table_bar " style="max-width: 135px;">
                <label>
                    <img src="~/Content/images/search.png" alt="search">
                    @Html.TextBoxFor(m => m.Field, new { @class = "form-control", @placeholder = "Search" })
                </label>

            </div>


            <div id="m_table_1_filter" class="dataTables_filter table-status table_date_calendar show-item-select" style="margin:0px 0 0 20px;">
                <label>
                    From Date:
                    @Html.TextBoxFor(m => m.FromDate, new { @class = "custom-select custom-select-sm form-control form-control-sm myCalendarInvolvementOf", @placeholder = "Select Date", @AutoComplete = "Off", @tabindex = "3" })
                    <i class="la la-calendar glyphicon-th"></i>
                </label>
            </div>
            <div id="m_table_1_filter" class="dataTables_filter table-status table_date_calendar show-item-select" style="margin:0px;">
                <label>
                    To Date:
                    @Html.TextBoxFor(m => m.Todate, new { @class = "custom-select custom-select-sm form-control form-control-sm myCalendarInvolvementOf ", @placeholder = "Select Date", @AutoComplete = "Off", @tabindex = "4" })
                    <i class="la la-calendar glyphicon-th"></i>
                </label>
            </div>

            <button class="btn m-btn--pill    btn-danger" tabindex="5">Search</button>


        </div>
                    

                    <table class="table table-striped- table-hover table-pagger table-responsive" id="m_table_1">
                        <thead>
                            <tr>
                                @*<th class="cell-20 Involvement-seria">#</th>*@
                                <th class="involvementName">Name</th>
                                <th class="involvementAddress">Address</th>
                                <th class="involvementEmail">Email</th>
                                <th class="involvementMobile">Mobile</th>
                                <th class="involvementDate">Date</th>
                                <th class="involvementTime">Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model._lnvolvementList != null && Model._lnvolvementList.Count > 0)
                            {
                                foreach (var item in Model._lnvolvementList)
                                {
                            <tr>
                                @*<td>@item.SrNO</td>*@
                                <td style="word-wrap: break-word;">@item.FirstName @item.MI @item.LastName</td>
                                <td>@item.AddressLine1 @item.AddressLine2, @item.CityName, @item.StateName, @item.ZipCode</td>
                                <td>@(item.Email == "" ? "-" : item.Email)</td>
                               
                                    @if (item.Mobile == "")
                                    {
                                    <td>-</td>
                                }
                                else
                                {
                                    <td>
                                        @(item.StdMobile == "" ? "" : item.StdMobile )@(item.Mobile == "" ? "-" : item.Mobile)
                                    </td>
                                }
                                   
                                    <td> @item.CreateDate </td>

                                    <td> @item.Time </td>

                                </tr>
                                }
                             }

                                                </tbody >

                                            </table >
                                            <div class="row mt-30" id="pagging1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

</div>
                                        @*@using (Html.BeginForm(FormMethod.Post))*@


                                            <script type="text/javascript">
                                                var involvmentGraph = null;

                                                function GetGraphData(dura) {
                                                    
                                                    $.getJSON("/Involvements/GetChartData?duration=" + dura, function (JsonData) {

                                                        var arrLebel = []
                                                        var arrData = []


                                                        if (JsonData._GraphData.length == 1) {
                                                            arrLebel.push('');
                                                            arrData.push(0);
                                                        }

                                                        for (var i = 0; i < JsonData._GraphData.length; i++) {
                                                            arrLebel.push(JsonData._GraphData[i].Day);
                                                            arrData.push(JsonData._GraphData[i].Involvement);
                                                        }

                                                       // debugger
                                                        $(".m-portlet__head-text").html(JsonData.AfterDropDownChangeModel.Name);
                                                        $("#datesFromDate").html(JsonData.AfterDropDownChangeModel.FromDate);
                                                        $("#datesTodate").html(JsonData.AfterDropDownChangeModel.ToDate);
                                                        $("#TotalCountForDatechange").html(JsonData.GraphsModel.Totalcount);

                                                        if (JsonData._CityNameModel.length > 0)
                                                        {
                                                            $("#involmentsPercentage_0").text(JsonData._CityNameModel[0].CityCountPrercentage + '%');
                                                            $("#involmentsPercentage_0").addClass("m-widget15__stats " + JsonData._CityNameModel[0].ClassName + "").removeClass("m-widget15__stats show hide");
                                                            $("#involmentsPercentage_0").addClass("m-widget15__stats " + JsonData._CityNameModel[0].ClassName + "");

                                                            $("#involmentsCity_0").text(JsonData._CityNameModel[0].CityName);
                                                            $("#involmentsCity_0").addClass("m-widget15__text " + JsonData._CityNameModel[0].ClassName + "").removeClass("m-widget15__text show hide");
                                                            $("#involmentsCity_0").addClass("m-widget15__text " + JsonData._CityNameModel[0].ClassName + "");

                                                            var width = JsonData._CityNameModel[0].CityCountPrercentage + '%'

                                                            $('#zxyprogressbar_0').addClass("progress m-progress--sm " + JsonData._CityNameModel[0].ClassName + "").removeClass("progress m-progress--sm show hide");
                                                            $('#zxyprogressbar_0').addClass("progress m-progress--sm " + JsonData._CityNameModel[0].ClassName + "");

                                                            //$('#inprogressbar_0').attr({ width: width });
                                                            $('#inprogressbar_0').css('width', width);
                                                            if (JsonData._CityNameModel[0].CityCountPrercentage < 15)
                                                            {
                                                                $('#inprogressbar_0').addClass("progress-bar bg-warning").removeClass("progress-bar bg-warning bg-danger bg-success");
                                                                $('#inprogressbar_0').addClass("progress-bar bg-warning");

                                                                

                                                            }
                                                            if (JsonData._CityNameModel[0].CityCountPrercentage < 30) {
                                                                $('#inprogressbar_0').addClass("progress-bar bg-danger").removeClass("progress-bar bg-warning bg-danger bg-success");
                                                                $('#inprogressbar_0').addClass("progress-bar bg-danger");
                                                                }
                                                            
                                                            if (JsonData._CityNameModel[0].CityCountPrercentage > 30) {
                                                                $('#inprogressbar_0').addClass("progress-bar bg-success").removeClass("progress-bar bg-warning bg-danger bg-success");
                                                                $('#inprogressbar_0').addClass("progress-bar bg-success");
                                                            }
                                                        }
                                                        if (JsonData._CityNameModel.length > 1) {
                                                            $("#involmentsPercentage_1").text(JsonData._CityNameModel[1].CityCountPrercentage + '%');
                                                            $("#involmentsPercentage_1").addClass("m-widget15__stats " + JsonData._CityNameModel[1].ClassName + "").removeClass("m-widget15__stats show hide");
                                                            $("#involmentsPercentage_1").addClass("m-widget15__stats " + JsonData._CityNameModel[1].ClassName + "");

                                                            $("#involmentsCity_1").text(JsonData._CityNameModel[1].CityName);
                                                            $("#involmentsCity_1").addClass("m-widget15__text " + JsonData._CityNameModel[1].ClassName + "").removeClass("m-widget15__text show hide");
                                                            $("#involmentsCity_1").addClass("m-widget15__text " + JsonData._CityNameModel[1].ClassName + "");

                                                            $('#zxyprogressbar_1').addClass("progress m-progress--sm " + JsonData._CityNameModel[1].ClassName + "").removeClass("progress m-progress--sm show hide");
                                                            $('#zxyprogressbar_1').addClass("progress m-progress--sm " + JsonData._CityNameModel[1].ClassName + "");
                                                            //$('#inprogressbar_1').attr({ width: width });
                                                            width = JsonData._CityNameModel[1].CityCountPrercentage + '%'
                                                            $('#inprogressbar_1').css('width', width);

                                                            if (JsonData._CityNameModel[1].CityCountPrercentage < 15) {
                                                                $('#inprogressbar_1').addClass("progress-bar bg-warning").removeClass("progress-bar bg-warning bg-danger bg-success");
                                                                $('#inprogressbar_1').addClass("progress-bar bg-warning");
                                                            }
                                                            if (JsonData._CityNameModel[1].CityCountPrercentage < 30) {
                                                                $('#inprogressbar_1').addClass("progress-bar bg-danger").removeClass("progress-bar bg-warning bg-danger bg-success");
                                                                $('#inprogressbar_1').addClass("progress-bar bg-danger");
                                                            }

                                                            if (JsonData._CityNameModel[1].CityCountPrercentage > 30) {
                                                                $('#inprogressbar_1').addClass("progress-bar bg-success").removeClass("progress-bar bg-warning bg-danger bg-success");
                                                                $('#inprogressbar_1').addClass("progress-bar bg-success");
                                                            }
                                                        }
                                                        if (JsonData._CityNameModel.length > 2) {
                                                            $("#involmentsPercentage_2").text(JsonData._CityNameModel[2].CityCountPrercentage + '%');
                                                            $("#involmentsPercentage_2").addClass("m-widget15__stats " + JsonData._CityNameModel[2].ClassName + "").removeClass("m-widget15__stats show hide");
                                                            $("#involmentsPercentage_2").addClass("m-widget15__stats " + JsonData._CityNameModel[2].ClassName + "");


                                                            $("#involmentsCity_2").text(JsonData._CityNameModel[2].CityName);
                                                            $("#involmentsCity_2").addClass("m-widget15__text " + JsonData._CityNameModel[2].ClassName + "").removeClass("m-widget15__text show hide");
                                                            $("#involmentsCity_2").addClass("m-widget15__text " + JsonData._CityNameModel[2].ClassName + "");

                                                            $('#zxyprogressbar_2').addClass("progress m-progress--sm " + JsonData._CityNameModel[2].ClassName + "").removeClass("progress m-progress--sm show hide");
                                                            $('#zxyprogressbar_2').addClass("progress m-progress--sm " + JsonData._CityNameModel[2].ClassName + "");
                                                            //$('#inprogressbar_2').attr({ width: width });
                                                            width = JsonData._CityNameModel[2].CityCountPrercentage + '%'
                                                            $('#inprogressbar_2').css('width', width);
                                                            if (JsonData._CityNameModel[2].CityCountPrercentage < 15) {
                                                                $('#inprogressbar_2').addClass("progress-bar bg-warning").removeClass("progress-bar bg-warning bg-danger bg-success");
                                                                $('#inprogressbar_2').addClass("progress-bar bg-warning");
                                                            }
                                                            if (JsonData._CityNameModel[2].CityCountPrercentage < 30) {
                                                                $('#inprogressbar_2').addClass("progress-bar bg-danger").removeClass("progress-bar bg-warning bg-danger bg-success");
                                                                $('#inprogressbar_2').addClass("progress-bar bg-danger");
                                                            }

                                                            if (JsonData._CityNameModel[2].CityCountPrercentage > 30) {
                                                                $('#inprogressbar_2').addClass("progress-bar bg-success").removeClass("progress-bar bg-warning bg-danger bg-success");
                                                                $('#inprogressbar_2').addClass("progress-bar bg-success");
                                                            }
                                                        }
                                                        if (JsonData._CityNameModel.length > 3) {
                                                            $("#involmentsPercentage_3").text(JsonData._CityNameModel[3].CityCountPrercentage + '%');
                                                            $("#involmentsPercentage_3").addClass("m-widget15__stats " + JsonData._CityNameModel[3].ClassName + "").removeClass("m-widget15__stats show hide");
                                                            $("#involmentsPercentage_3").addClass("m-widget15__stats " + JsonData._CityNameModel[3].ClassName + "");

                                                            $("#involmentsCity_3").text(JsonData._CityNameModel[3].CityName);
                                                            $("#involmentsCity_3").addClass("m-widget15__text " + JsonData._CityNameModel[3].ClassName + "").removeClass("m-widget15__text show hide");
                                                            $("#involmentsCity_3").addClass("m-widget15__text " + JsonData._CityNameModel[3].ClassName + "");

                                                            $('#zxyprogressbar_3').addClass("progress m-progress--sm " + JsonData._CityNameModel[3].ClassName + "").removeClass("progress m-progress--sm show hide");
                                                            $('#zxyprogressbar_3').addClass("progress m-progress--sm " + JsonData._CityNameModel[3].ClassName + "");
                                                           // alert(JsonData._CityNameModel[3].ClassName)
                                                            //$('#inprogressbar_3').attr({ width: width });
                                                            width = JsonData._CityNameModel[3].CityCountPrercentage + '%'
                                                            $('#inprogressbar_3').css('width', width);
                                                            if (JsonData._CityNameModel[3].CityCountPrercentage < 15) {
                                                                $('#inprogressbar_3').addClass("progress-bar bg-warning").removeClass("progress-bar bg-warning bg-danger bg-success");
                                                                $('#inprogressbar_3').addClass("progress-bar bg-warning");
                                                            }
                                                            if (JsonData._CityNameModel[3].CityCountPrercentage < 30) {
                                                                $('#inprogressbar_3').addClass("progress-bar bg-danger").removeClass("progress-bar bg-warning bg-danger bg-success");
                                                                $('#inprogressbar_3').addClass("progress-bar bg-danger");
                                                            }

                                                            if (JsonData._CityNameModel[3].CityCountPrercentage > 30) {
                                                                $('#inprogressbar_3').addClass("progress-bar bg-success").removeClass("progress-bar bg-warning bg-danger bg-success");
                                                                $('#inprogressbar_3').addClass("progress-bar bg-success");
                                                            }
                                                        }

                                                        

                                                        if (0 != $("#m_morris_1").length) {

                                                            if (involvmentGraph != null)
                                                                involvmentGraph.destroy();

                                                            var e = document.getElementById("m_morris_1").getContext("2d"),
                                                                t = e.createLinearGradient(0, 0, 0, 240);
                                                            t.addColorStop(0, Chart.helpers.color("#d1f1ec").alpha(1).rgbString()),
                                                                t.addColorStop(1, Chart.helpers.color("#d1f1ec").alpha(.3).rgbString());
                                                            var a = {
                                                                type: "line",
                                                                data: {
                                                                    labels: arrLebel,
                                                                    datasets: [{
                                                                        label: "Involvement Stats", backgroundColor: t, borderColor: mApp.getColor("success"), pointBackgroundColor: Chart.helpers.color("#000000").alpha(0).rgbString(), pointBorderColor: Chart.helpers.color("#000000").alpha(0).rgbString(), pointHoverBackgroundColor: "Green", pointHoverBorderColor: Chart.helpers.color("#000000").alpha(.2).rgbString(),
                                                                        data: arrData
                                                                    }
                                                                    ]
                                                                }
                                                                ,
                                                                options: {
                                                                    title: {
                                                                        display: true,
                                                                        text: 'Total Involvements Interest Received From App',
                                                                        position: 'top',
                                                                        //fontSize: 17,
                                                                        //fontColor:'#666674'
                                                                    },
                                                                    subtitle: {
                                                                        display: true,
                                                                        text: 'Total Involvements Interest Received From App'
                                                                    },
                                                                    tooltips: {
                                                                        intersect: !1, mode: "nearest", xPadding: 10, yPadding: 10, caretPadding: 10
                                                                    }
                                                                    ,
                                                                    legend: {
                                                                        display: !1
                                                                    }
                                                                    ,
                                                                    responsive: !0,
                                                                    maintainAspectRatio: !1,
                                                                    hover: {
                                                                        mode: "index"
                                                                    }
                                                                    ,
                                                                    scales: {
                                                                        xAxes: [{
                                                                            display: true,
                                                                            gridLines: true,
                                                                            scaleLabel: {
                                                                                display: false, labelString: "Month"
                                                                            }
                                                                        }
                                                                        ],
                                                                        yAxes: [{
                                                                            display: false,
                                                                            gridLines: true,
                                                                            scaleLabel: {
                                                                                display: !1, labelString: "Value"
                                                                            }
                                                                            ,
                                                                            ticks: {
                                                                                beginAtZero: !0
                                                                            }
                                                                        }
                                                                        ]
                                                                    }
                                                                    ,
                                                                    elements: {
                                                                        line: {
                                                                            tension: .19
                                                                        }
                                                                        ,
                                                                        point: {
                                                                            radius: 4, borderWidth: 12
                                                                        }
                                                                    }
                                                                    ,
                                                                    layout: {
                                                                        padding: {
                                                                            left: 0, right: 0, top: 5, bottom: 0
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                                ;
                                                            involvmentGraph = new Chart(e, a);
                                                        }
                                                        //Highcharts.chart('m_morris_1', {
                                                        //    chart: {
                                                        //        type: 'line'
                                                        //    },
                                                        //    title: {
                                                        //        text: ' Total Volunteers'
                                                        //    },
                                                        //    subtitle: {
                                                        //        text: 'Total Involvements Interest Received From App'
                                                        //    },
                                                        //    xAxis: {
                                                        //        categories: Days
                                                        //    },
                                                        //    yAxis: {
                                                        //        title: {
                                                        //            text: 'Volunteers'
                                                        //        }
                                                        //    },
                                                        //    plotOptions: {
                                                        //        line: {
                                                        //            dataLabels: {
                                                        //                enabled: true
                                                        //            },
                                                        //            enableMouseTracking: true
                                                        //        }
                                                        //    },
                                                        //    series: [{
                                                        //        name: 'Volunteers',
                                                        //        data: Involments
                                                        //    }]
                                                        //});

                                                    });
                                                };


                                                $(document).ready(function () {
                                                    GetGraphData(7);

                                                    $(".dropDownFormDuration").change(function () {

                                                        GetGraphData($(this).val());
                                                    });
                                                });

                                            </script>

                                            <script>
                                                jQuery(document).ready(function () {
                                                    jQuery("body").on("mouseenter", "input.myCalendarInvolvementOf", function () {
                                                        // //debugger;
                                                        var topHeight = $(this).offset().top + $(this).height() + 10;
                                                        var offsetLeft = $(this).offset().left;
                                                        jQuery(this).datepicker({
                                                            autoclose: true,
                                                            dateFormat: "mm/dd/yy",

                                                            // minDate: "01-Jan-1970",
                                                            yearRange: "1970:" + NextYearVal_ + "",
                                                            autoclose: true,
                                                            //maxDate: "31/01/2100",
                                                            changeMonth: true,
                                                            changeYear: true,

                                                            showButtonPanel: true,
                                                            beforeShow: function (input, inst) {
                                                                setTimeout(function () {
                                                                    inst.dpDiv.css({
                                                                        top: topHeight,
                                                                        left: offsetLeft
                                                                    });
                                                                }, 0)
                                                            }
                                                            //showOn: "button",
                                                            //buttonImage: "images/calendar.gif",
                                                            //buttonImageOnly: true,
                                                            //timeFormat: "hh:mm tt"
                                                        });
                                                        $(".datepicker").removeClass("table-calender");
                                                    });
                                                });
                                                jQuery("body").on("click", "input.myCalendarInvolvementOf", function () {
                                                    $(".datepicker").removeClass("table-calender");
                                                });
                                            </script>
