﻿@using FPModels.Models;
@model HeadlineModel
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_LayoutLogo.cshtml";
}
@using (Html.BeginForm("detail", "headline", FormMethod.Post))
{
    <div class="m-content news_exclusive_main">
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--tab">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>

                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <ul class="list-unstyled event-detail">

                    <li class="news_li_date">

                        <h4>
                            @Model.Title
                        </h4>
                        <p>@Model.PublishDate</p>
                    </li>
                    <li>

                        <p>@Model.Location</p>
                    </li>
                    <li>

                        <p>@Model.County</p>
                    </li>
                    <li class="news-exclusive-img">

                        @if (Model._HImagePathList != null)
                        {

                            for (int i = 0; i < Model._HImagePathList.Count(); i++)
                            {
                                if (!String.IsNullOrEmpty(Model._HImagePathList[i].ImagePath))
                                {
                                    <a class="docView">
                                        <img src="/@Model._HImagePathList[i].ImagePath"
                                             onerror="this.src='/content/images/no-image-rec.png';">
                                    </a>
                                }
                            }
                        }

                    </li>
                    <li>
                        <p>@Model.Content</p>
                    </li>
                </ul>

            </div>
        </div>
    </div>

}
