﻿@using FPModels.Models
@model LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutOuter.cshtml";
}
<style>
    i#input_img_eye {
        position: absolute;
        top: 13px;
        right: 15px;
    }
</style>
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
@using (Html.BeginForm("login", "account", FormMethod.Post))
{
    <div class="m-login__signin">
        <div class="m-login__head">
            <h3 class="m-login__title">Login To Admin</h3>
        </div>
        <form class="m-login__form m-form" action="">
            <div class="m-login__form m-form">

                <div class="form-group m-form__group"  position="relative">

                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control m-input", @maxlength = "60", @required = "required", @placeholder = "Username", @autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group m-form__group">

                    @Html.PasswordFor(m => m.Password, new { @class = "form-control m-input m-login__form-input--last", @maxlength = "16", @required = "required", type = "password", @placeholder = "Password", @autocomplete = "off" })
                    <i class="fa fa-eye eye-icon" aria-hidden="true" id="input_img_eye"></i>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="row m-login__form-sub">
                    <div class="col m--align-left">
                        <label class="m-checkbox m-checkbox--focus">
                            @Html.CheckBoxFor(m => m.Remember)Remember me
                            <span></span>
                        </label>
                    </div>
                    <div class="col m--align-right">
                        @*<a href="javascript:;" id="m_login_forget_password" class="m-link">Forget Password ?</a>*@
                        <a href="/account/forgotpassword" id="m_login_forget_password" class="forgot_pwd_link m-link">Forgot Password ?</a>


                    </div>

                </div>

                <div class="m-login__form-action">
                    <button type="submit" id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air" href="index">Sign In</button>
                    <br /><br />
                    @*<span>Not a member?</span> <a href="/account/signup">Sign up now</a>*@
                </div>

                <span class="text-center" style="display:block;color:red;text-align:center;">
                    @Html.Raw(@ViewBag.Message)
                </span>
            </div>
        </form>
    </div>

    <div class="m-login__forget-password">
        <div class="m-login__head">
            <h3 class="m-login__title">Forgotten Password ?</h3>
            <div class="m-login__desc">Enter your email to reset your password:</div>
        </div>
        <form class="m-login__form m-form" action="">
            <div class="form-group m-form__group">
                <input class="form-control m-input" type="text" placeholder="Email" name="email" id="m_email" autocomplete="off">
            </div>
            <div class="m-login__form-action">
                <button id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">Request</button>
                <button id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom">Cancel</button>
            </div>
        </form>
    </div>
}
