﻿
@{
    ViewBag.Title = "Peer to Peer Detail";
    Layout = "~/Views/Shared/_LayoutLogo.cshtml";
}

<div class="m-content">
    <!--begin::Portlet-->
    <div class="m-portlet m-portlet--tab">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Peer to Peer Detail
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <ul class="list-unstyled event-detail">

                <li>
                    <label>Title</label>
                    <p>
                        @Model.Title
                    </p>
                </li>
                <li>
                    <label>Descriptiion</label>
                    <p>
                        @Model.Descriptiion
                    </p>
                </li>
                <li>
                    <label>Added By</label>
                    <p>@Model.AddedBy</p>
                </li>
                <li>
                    <label>Added Date</label>
                    <p>@Model.AddedByDate</p>
                </li>



            </ul>
            
        </div>
    </div>
</div>
