﻿@using FPModels.Models
@model InAppMessageModel
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_LayoutLogo.cshtml";
}

<div class="m-content payment-form-wrappe">
    <!--begin::Portlet-->
    <div class="m-portlet m-portlet--tab">

        <div class="m-portlet__body">
            <ul class="list-unstyled event-detail">
                <li>
                    
                    <p>@Model.Title</p>
                </li>
                <li>
                    
                    <p>
                        @Model.Content
                    </p>
                </li>
               
            </ul>
           
        </div>
        <!--end::Form-->
    </div>
</div>


