﻿@using FPModels.Models
@model LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutOuter.cshtml";
}
<style>
    i#input_img_eye {
        position: absolute;
        top: 13px;
        right: 15px;
    }
</style>
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
@using (Html.BeginForm("otp", "account", FormMethod.Post))
{
    <div class="m-login__signin">
        <div class="m-login__head">
            <h3 class="m-login__title">Validate OTP</h3>
        </div>
        <form class="m-login__form m-form" action="">
            <div class="m-login__form m-form">
                <label>@ViewData["otpsent"]</label>
                <div class="form-group m-form__group" position="relative">

                    @Html.TextBoxFor(m => m.OTP, new { @class = "form-control m-input", @maxlength = "60", @required = "required", @placeholder = "Please Enter OTP", @autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.OTP, "", new { @class = "text-danger" })
                </div>

                <div class="row m-login__form-sub">
                    <div class="col m--align-right">
                        @*<a href="javascript:;" id="m_login_forget_password" class="m-link">Forget Password ?</a>*@
                        <a href="" id="m_login_forget_password" onclick="return otp_click();" class="forgot_pwd_link m-link">Resend OTP</a>


                    </div>

                </div>

                <div class="m-login__form-action">
                    <button type="submit" id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air" href="index">Submit</button>
                    <br /><br />
                    @*<span>Not a member?</span> <a href="/account/signup">Sign up now</a>*@
                </div>

                <span class="text-center" style="color:red;text-align:center;">
                    @Html.Raw(@ViewBag.Message)
                </span>
            </div>
        </form>
    </div>

    <div class="m-login__forget-password">
        <div class="m-login__head">
            <h3 class="m-login__title">Forgotten Password ?</h3>
            <div class="m-login__desc">Enter your email to reset your password:</div>
        </div>
        <form class="m-login__form m-form" action="">
            <div class="form-group m-form__group">
                <input class="form-control m-input" type="text" placeholder="Email" name="email" id="m_email" autocomplete="off">
            </div>
            <div class="m-login__form-action">
                <button id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">Request</button>
                <button id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom">Cancel</button>
            </div>
        </form>
    </div>
}


<script type="text/javascript">
    function otp_click() {

        //var href = '/account/otpverification';

        $.ajax({
            type: "POST",
            url: "/account/otpverification",
            data: "{}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
              
                if (data.ReturnCode == 1) {
                  
                    swal({
                        title: "Success!",//"Are you sure?",
                        text: "Verification code sent successfully.",
                        //text: "You will not be able to recover this imaginary file!",
                        type: "success",
                        confirmButtonText: "Ok",
                        confirmButtonColor: "#416eba",

                    });
                  
                }
                else {
                    swal({
                        title: "Error",//"Are you sure?",
                        text: "Verification code faild to send.",
                        //text: "You will not be able to recover this imaginary file!",
                        type: "warning",
                        confirmButtonColor: "#416eba",
                        confirmButtonText: "Ok",
                    });
                }
            },
            error: function (response) { alert("Error: " + response.d); }
        });
        return false;
    }

</script>