﻿@using FPModels.Models
@model ResetPasswordModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutOuter.cshtml";
}
<style>
    i#input_img_eye {
        position: absolute;
        top: 13px;
        right: 15px;
    }
</style>
@using (Html.BeginForm("resetpassword", "account", FormMethod.Post))
{
    <div class="m-login__signin">
        <div class="m-login__head">
            <h3 class="m-login__title">Reset Password</h3>
        </div>
        <form class="m-login__form m-form">
            @if (String.IsNullOrEmpty(@ViewBag.Message))
            {
                <div class="m-login__form m-form">
                    <div class="form-group m-form__group"  position="relative">
                        @Html.HiddenFor(model => model.UserId)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control m-input", @maxlength = "20", @placeholder = "New Password", @tablindex = "1", @required = "required" })
                        <i class="fa fa-eye-slash eye-icon" aria-hidden="true" id="input_img_eye"></i>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group m-form__group">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @maxlength = "20", @placeholder = "Confirm Password", @tablindex = "2", @required = "required" })
                        <i class="fa fa-eye-slash eye-icon" aria-hidden="true" id="input_img_eye"></i>
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        <div class="m-login__form-action">
                            <button type="submit" id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air" href="index">Submit</button>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <br /><br />
               @Html.Raw(@ViewBag.Message)
            }
        </form>
    </div>
}
