﻿@using FPModels.Models
@model SignupModel
@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/_LayoutOuter.cshtml";
}
<style>
    i#input_img_eye {
        position: absolute;
        top: 13px;
        right: 15px;
    }
</style>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@using (Html.BeginForm("signup", "account", FormMethod.Post))
{
    <div class="m-login__signin">
        <div class="m-login__head">
            <h3 class="m-login__title">Sign Up</h3>
        </div>
        <form class="m-login__form m-form" action="">
            <div class="m-login__form m-form">
                @if (ViewBag.ReturnCode == "")
                {
                    <div class="form-group m-form__group" position="relative">
                        <label for="Email">Email<req>*</req></label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control m-input", @maxlength = "60", @placeholder = "Write here", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div><br />
                    <div class="form-group m-form__group">
                        <label for="Email">Mobile Number<req>*</req></label>
                        @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control m-input m-login__form-input--last USMobileFormat numbersOnly", @maxlength = "12", @minlength = "12", @placeholder = "Write here", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.MobileNumber, "", new { @class = "text-danger" })
                    </div><br />
                    <div class="form-group m-form__group">
                        <label for="Email">Password<req>*</req></label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control m-input m-login__form-input--last", @maxlength = "20", @placeholder = "Write here", @autocomplete = "off" })
                        <i class="fa fa-eye-slash eye-icon" aria-hidden="true" id="input_img_eye" style="margin-top:26px;"></i>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>


                    <div class="m-login__form-action">
                        <button type="submit" id="m_login_signin_submit"
                                class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air" href="index">
                            Sign Up
                        </button>
                    </div>
                }
                <span class="text-center" style="display:block;color:red;text-align:center;">
                    @Html.Raw(@ViewBag.Message)
                </span>
            </div>
        </form>
    </div>

    <div class="m-login__forget-password">
        <div class="m-login__head">
            <h3 class="m-login__title">Forgotten Password ?</h3>
            <div class="m-login__desc">Enter your email to reset your password:</div>
        </div>
        <form class="m-login__form m-form" action="">
            <div class="form-group m-form__group">
                <input class="form-control m-input" type="text" placeholder="Email" name="email" id="m_email" autocomplete="off">
            </div>
            <div class="m-login__form-action">
                <button id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">Request</button>
                <button id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom">Cancel</button>
            </div>
        </form>
    </div>
}
