﻿@model FPModels.Models.TicketModel

<style>
    .menu-access {
        background-color: #21427a !important;
        border: 1px solid #21427a;
    }
</style>
<script src="~/Scripts/multiple-select.js" type="text/javascript"></script>
@if (Model != null)
{
    <div class="m-content payment-form-wrapper" id="Form">
        <div class="row">
            <div class="col-md-6">
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Ticket Details
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right" style="height:1100px;overflow-y:scroll;">
                        <div class="m-portlet__body">
                            <div class="m-form__group form-group">
                                @{ Int32 tcount = 0; }
                                @if (Model._TicketDetail != null && Model._TicketDetail.Count > 0)
                                {
                                    String _css = "community";
                                    <ul class="list-unstyled event-detail">
                                        <li>
                                            <p style="color:#F75175;font-weight:bold;">Ticket# @Model.TicketNumber</p>
                                        </li>

                                        @foreach (var item in Model._TicketDetail)
                                        {
                                            if (Model._TicketDetail[tcount].UserType == "support")
                                            { _css = "support"; }
                                            else { _css = "community"; }

                                            <div class="@_css">
                                                @if (tcount > 0)
                                                {
                                                    <li class="hline"></li>
                                                }
                                                <li>
                                                    <label>
                                                        Title

                                                    </label>
                                                     <p>
                                                        @Model.DReasonName
                                                    </p>
                                                </li>
                                                <li>
                                                    <label>
                                                        Content
                                                        @*@if (Model._TicketDetail[tcount].UserType == "support")
                                                            {
                                                                <img src="~/Content/images/call-bg.png"
                                                                     onerror="this.src='/content/images/call-bg.png';" />
                                                            }
                                                            else
                                                            {
                                                                <img src="~/Content/images/call-bg.png"
                                                                     onerror="this.src='/content/images/call-bg.png';" />
                                                            }*@
                                                    </label>
                                                    <p>
                                                        @item.Description
                                                    </p>
                                                </li>

                                                @if (Model._TicketDetail[tcount]._Images != null && Model._TicketDetail[tcount]._Images.Count > 0)
                                                {
                                                    <li class="news-view-img">
                                                        <label>Images</label>

                                                        <p>
                                                            <span>
                                                                @foreach (var image in Model._TicketDetail[tcount]._Images)
                                                                {
                                                                    if (!String.IsNullOrEmpty(image.ImagePath))
                                                                    {
                                                                        <a class="docView">
                                                                            <img src="/@image.ImagePath"
                                                                                 onerror="this.src='/content/images/no-image-rec.png';">
                                                                        </a>
                                                                    }
                                                                }
                                                            </span>
                                                        </p>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="news-view-img">
                                                        <label>Images</label>
                                                        <p>No Image</p>
                                                    </li>
                                                }

                                                <li>
                                                    <label>Submitted By</label>
                                                    <p>@item.UserName</p>
                                                </li>
                                                <li>
                                                    <label>Assigned To</label>
                                                    <p>@Model.AssignToName</p>
                                                </li>
                                                <li>
                                                    <label>Date & Time</label>
                                                    <p>@item.SysDate</p>
                                                </li>
                                                <li>
                                                    <label>Status</label>
                                                    @if (Model.Status == "Processing")
                                                    {
                                                        <p><span class="m-badge  m-badge--metal m-badge--wide">Processing</span></p>
                                                    }

                                                    else if (Model.Status == "Resolved")
                                                    {
                                                        <p><span class="m-badge  m-badge--primary m-badge--wide">Resolved</span></p>
                                                    }
                                                    else
                                                    {
                                                        <p><span class="m-badge  m-badge--metal m-badge--wide">@Model.Status</span></p>
                                                    }
                                                </li>
                                            </div>
                                            tcount += 1;
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <span style="color:red;margin-left:30%;margin-top:20%;">No Ticket Details Found</span>
                                }
                            </div>
                        </div>
                    </div>
                    <!--end::Form-->
                </div>
                <!--end::Portlet-->
            </div>
            <div class="col-md-6">
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    @(Model.TicketId > 0 ? "Edit Ticket" : "Add Ticket")
                                </h3>
                            </div>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            @*<div class="form-group m-form__group">
            <label for="ContactName">Search Community<req>*</req> </label>
            @if (String.IsNullOrEmpty(Model.CommunityName))
            {
                @Html.EditorFor(model => model.CommunityName, new { htmlAttributes = new { @class = "form-control m-input community", @placeholder = "Search Community", @maxlength = "40", @required = "required", } })
                @Html.ValidationMessageFor(model => model.CommunityName, "", new { @class = "m-form__help" })
            }
            else
            {
                @Html.HiddenFor(model => model.CommunityName)
                <span class="form-control m-input" disabled="disabled">@Html.DisplayFor(model => model.CommunityName)</span>
            }
        </div>*@
                            <div class="m-form__group form-group" id="divDrpReason">
                                @Html.HiddenFor(model => model.EncryptedTicketId)
                                @Html.HiddenFor(model => model.TicketId)

                                <label for="exampleInputEmail1">Reason<req>*</req> </label>
                                @if (Model.TicketReasonId == 0 || Model.TicketReasonId == null)
                                {
                                    @Html.DropDownListFor(model => model.TicketReasonId, Model._TicketReasonList, new { @class = "form-control", @required = "required" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.TicketReasonId, Model._TicketReasonList, new { @class = "form-control", @disabled = "disabled" })
                                    @Html.HiddenFor(model => model.TicketReasonId)
                                }

                                @Html.ValidationMessageFor(model => model.TicketReasonId, "", new { @class = "m-form__help" })

                            </div>




                            <div class="m-form__group form-group" style="display:none" id="divTxtReason">
                                <label for="exampleInputEmail1">Reason<req>*</req> </label>
                                @Html.TextBoxFor(m => m.ReasonName, new { @class = "form-control", @tabindex = "4", @placeholder = "Reason Name", @id = "ReasonName", @required = "required" })
                                <span id="LabelReasonName" style="font-size:13px;color:red;"></span>
                                <button id="btnClosetxtbx" type="button" class="close cross-sign" data-dismiss="modal">&times;</button>
                                @Html.ValidationMessageFor(model => model.ReasonName, "", new { @class = "m-form__help" })
                            </div>
                            <div class="m-form__group form-group">
                                <label for="exampleInputEmail1">Subject<req>*</req> </label>
                                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", @tabindex = "4", @placeholder = "Subject", @required = "required" })
                                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "m-form__help" })
                            </div>
                            <div class="m-form__group form-group">
                                <label for="Priority">Priority<req>*</req> </label>
                                @Html.DropDownListFor(model => model.Priority, Model._PriorityList, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "m-form__help" })
                            </div>
                            @*<div class="m-form__group form-group">
            <label for="TitleId">Title<req>*</req> </label>
            @Html.DropDownListFor(model => model.TitleId, Model._UserTitleList, new { @class = "form-control" })
            <span id="TitleMsg" class="m-form__help field-validation-error"></span>
            @Html.ValidationMessageFor(model => model.TitleId, "", new { @class = "m-form__help" })
        </div>
        <div class="m-form__group form-group">
            <label for="AssignedTo">Assign To<req>*</req> </label>
            @Html.DropDownListFor(model => model.AssignedTo, Model._UserList, new { @class = "form-control", @placeholder = "Assign To" })
            <span id="AssignedMsg" class="m-form__help field-validation-error"></span>
            @Html.ValidationMessageFor(model => model.AssignedTo, "", new { @class = "m-form__help" })
        </div>
        <div class="m-form__group form-group selectbox-ul-wrap">
            <label for="TaggedTo">Tag<req>*</req> </label>
            @Html.ListBoxFor(m => m.SelectedTaggedToIDs, Model._TagToList, new { @class = "form-control ms-parent multiCheckbox nopadd mystates", @tablindex = "8", size = 5, @required = "required" })
            <span id="TagToMsg" class="m-form__help field-validation-error"></span>
            @Html.ValidationMessageFor(model => model.SelectedTaggedToIDs, "", new { @class = "m-form__help" })
        </div>*@
                            <div class="form-group m-form__group">
                                <label for="ContactName">Contact Person<req>*</req> </label>
                                @Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @class = "form-control m-input AlphabetOnly", @placeholder = "Contact Person", @maxlength = "40", @required = "required", } })
                                @Html.ValidationMessageFor(model => model.ContactName, "", new { @class = "m-form__help" })
                            </div>
                            <div class="form-group m-form__group">
                                <label for="ContactNumber">Contact Number</label>
                                <div class="add_delivery_time_edit row">
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <span class="input-group-addon">+</span>
                                            @Html.EditorFor(model => model.ISDCode, new { htmlAttributes = new { @class = "form-control m-input numbersOnly",
                                           style = "margin-right:6px", @placeholder = "ISD", @maxlength = "3", @minlength = "1", @value = "1" } })
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control m-input USMobileFormat numbersOnly", @placeholder = "Mobile", @maxlength = "10", @minlength = "10" } })
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "m-form__help" })
                            </div>
                            @*<div class="form-group m-form__group">
            <label for="FollowUpDate">Follow-up Date<noreq></noreq> </label>
            <div class="input-group date">
                @Html.TextBoxFor(model => model.FollowUpDate, new { @class = "form-control m-input datepicker_nopast", @autocomplete = "off" })
                <div class="input-group-append">
                    <span class="input-group-text"><i class="la la-calendar glyphicon-th"></i></span>
                </div>
            </div>

        </div>
        <div class="form-group m-form__group">
            <label for="FollowUpText">Follow-up Reason<noreq></noreq> </label>
            @Html.EditorFor(model => model.FollowUpText, new { htmlAttributes = new { @class = "form-control m-input", @placeholder = "Follow-up Reason", @maxlength = "200" } })
        </div>*@
                            <div class="form-group m-form__group">
                                <label for="Description">Description<req>*</req> </label>
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Description", @required = "required", @rows = 10 })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "m-form__help" })
                            </div>
                            @*<div class="m-form__group form-group">
            <label for="exampleInputEmail1">Status<req>*</req> </label>
            @Html.DropDownListFor(model => model.Status, Model._StatusList, new { @class = "form-control col-md-6", @required = "required" })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "m-form__help" })
        </div>*@
                            <div class="m-form__group form-group">
                                <a class="AddImage">Add Image</a>

                                @Html.TextBoxFor(m => m.HttpPostedFileBase, new { @type = "file", @multiple = "multiple" })
                                <br />
                                <label style="color:red;">Only .jpeg .jpg .png format is allowed</label>
                            </div>
                            <div class="m-form__actions form-buttons">
                                @if (Model.TicketId == 0)
                                {
                                    <button type="submit" id="publish" class="btn btn-primary">Submit</button>
                                }
                                else
                                {
                                    <button type="submit" id="publish" class="btn btn-primary">Update</button>

                                }
                                <a href="~/ticket/list" class="btn btn-secondary">Cancel</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}

<script>
    $('#publish').click(function () {
        $("#TitleMsg").text('');
        if ($('#TitleId').val() == '0') {
            $("#TitleId").prop("required", "required");
            $("#TitleMsg").text('Please select Title');
            return false;

        }
        $("#AssignedMsg").text('');
        if ($('#AssignedTo').val() == '0') {
            $("#AssignedTo").prop("required", "required");
            $("#AssignedMsg").text('Please select Assigned To');
            return false;
        }
        $("#TagToMsg").text('');
        if ($('.placeholder2').text() == '-- Select --') {
            $("#TaggedToIDs").prop("required", "required");
            $("#TagToMsg").text('Please select Tag To');
            return false;
        }
    });
    $('select.multiCheckbox').multipleSelect({
        multipleWidth: 190,
        width: '100%',
        filter: true,
        multiple: true,
        position: 'bottom',
        animate: 'none', // 'none', 'fade', 'slide'
        placeholder: '-- Select --',
        //addTitle: 'Sunil',
        //delimiter: ', ',
        //minimumCountSelected: 3,
        selectAllText: 'Select All',
        allSelected: 'All Selected',
        countSelected: '# of % selected',
        noMatchesFound: 'No matches found',
        onClick: function () {
            $("#<%= hdnfld.ClientID %>").val("1");
        },
        onOptgroupClick: function () {
            //alert('hi');
            //$("#<%= hdnfld.ClientID %>").val("1");
        },
        onUncheckAll: function () {
            // $("#<%= hdnfld.ClientID %>").val("1");
            //unSelectAll();
        },
        onClose: function () {
            //var hdnVal = $("#<%= hdnfld.ClientID %>").val();
            // if (hdnVal == "1") {
            //    $('#cover').show();
            //    $(".myhdnBtn").click();
            //}
        }
    });

    function setNoDataFoundStates() {
        setTimeout(function () {
            $('div.mystates li.ms-select-all').css('display', 'none').closest('ul').append('No data found');
            $('div.mystates div.ms-search').css('display', 'none');
        }, 300);
    }

    function setNoDataFoundCities() {
        setTimeout(function () {
            $('div.mycities li.ms-select-all').css('display', 'none').closest('ul').append('No data found');
            $('div.mycities div.ms-search').css('display', 'none');
        }, 300);
    }
    function unSelectAll() {
        if ($("div.mystates ul li input:checkbox:checked").length > 0) {
            //$("#<%= hdnfld.ClientID %>").val("1");
        }
        else {
            $('div.mycities ul').each(function () {
                $(this).find('li input[type="checkbox"]').removeAttr('checked');
            });

            // $("#<%= hdnfld.ClientID %>").val("1");
        }
    };

    $(document).ready(function () {
        setTimeout(function () {
            if (!$('select.mystates option').length) {
                //alert($('div.mycities ul').html());
                if ($('div.mystates ul').html().indexOf("No data found") == '-1') { if ($('li.ms-select-all:visible')) { $('div.mystates button.ms-choice').attr('disabled', 'disabled'); } }
            }
        }, 300);


        $('div.mystates li.ms-select-all').click(function () {
            if ($(this).hasClass("selected")) {
                //  $("#<%= hdnfld.ClientID %>").val("1");
            }

        });
    });

    $(document).ready(function () {
        $("#TicketReasonId").change(function () {
            if ($("#TicketReasonId option:selected").text() == "Other") {
                $("#divTxtReason").show();
                $("#divDrpReason").hide();
            }
        });

        $('#btnClosetxtbx').click(function () {
            $("#divTxtReason").hide();
            $("#divDrpReason").show();
            $("#ReasonName").val("");
            $('#TicketReasonId').val('');
        });

        $("#TitleId").change(function () {

            try {
                $.ajax({
                    type: "POST",
                    url: "/ticket/UserListByTitle?tid=" + $(this).val(),
                    async: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $('#AssignedTo').empty();
                        $.each(data, function () {
                            $('#AssignedTo').append("<option value=" + this.Value + ">" + this.Text + "</option>");
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR.responseText + ' Error:' + errorThrown);
                    }
                });
            }
            catch (ex) { alert('EX:' + ex.message); }
        });


    });
</script>
<script src="~/Scripts/jquery-ui-1.11.3.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $('.community').autocomplete({
            source: function (request, response) {
                // prepare url : for example '/api/artistapi?query=sonu

                $.ajax({
                    url: "/ticket/CommunitList?search=" + request.term,
                    //data: {search: request.term, IsAll: isAll },
                    type: 'GET',
                    cache: false,
                    dataType: 'json',
                    position: { collision: "flip" },
                    success: function (json) {
                        // call autocomplete callback method with results
                        response($.map(json, function (data, id) {
                            return {
                                label: data.Text,
                                value: data.Value
                            };
                        }));
                    },
                    error: function (xmlHttpRequest, textStatus, errorThrown) {
                        console.log('some error occured', textStatus, errorThrown);
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                $('.community').val(ui.item.label);
                return false;
            }
        });
    });
</script>