﻿@using FPModels.Models;
@model TicketModel
@{
    ViewBag.Title = "Tickets";
    ViewBag.Header = "Tickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("list", "ticket", FormMethod.Post))
{
<div class="m-content payment-form-wrapper">
    <div class="m-portlet m-portlet--mobile responsdiveass">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        View Tickets
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="table-searh-wrap">
                <div id="m_table_1_filter" class="dataTables_filter search_table_bar" style="max-width: 115px !important;">
                    <label>
                        <img src="/Content/images/search.png" alt="search">
                        @Html.TextBoxFor(model => model.Field, new { @class = "form-control form-control-sm", @placeholder = "Search" })
                    </label>

                </div>
                <div id="m_table_1_filter-1" class="dataTables_filter table-status show-item-select" style=" margin-left: 20px;">
                    <label>
                        Status:
                        @Html.DropDownListFor(m => m.Status, Model._StatusList, new { @class = "custom-select custom-select-sm form-control form-control-sm" })
                    </label>
                </div>
                <div id="m_table_1_filter-1" class="dataTables_filter table-status show-item-select" style=" margin-left: 20px;">
                    <label>
                        Priority:
                        @Html.DropDownListFor(m => m.Priority, Model._PriorityList, new { @class = "custom-select custom-select-sm form-control form-control-sm" })
                    </label>
                </div>
                <div id="m_table_1_filter-1" class="dataTables_filter table-status table_date_calendar  show-item-select">
                    <label>
                        Date:
                        @Html.TextBoxFor(m => m.DateFrom, new { @class = "custom-select custom-select-sm form-control form-control-sm myCalendar disfuture dateFrom cldrbottom", @placeholder = "Select Date", @autocomplete = "off" })
                        <i class="la la-calendar glyphicon-th"></i>
                    </label>
                </div>
                <div id="m_table_1_filter-1" class="dataTables_filter table-status table_date_calendar show-item-select">
                    <label>
                        to:
                        @Html.TextBoxFor(m => m.DateTo, new { @class = "custom-select custom-select-sm form-control form-control-sm dateTo disfuture", @placeholder = "Select Date", @autocomplete = "off" })
                        <i class="la la-calendar glyphicon-th"></i>
                    </label>
                    <button type="submit" class="btn m-btn--pill    btn-danger" style="margin-left:10px; background: #000000">Search</button>
                </div>


                @*@if (FPBAL.Business.MenuAccess.Allow("Create"))
                {*@
                    <div class="pull-right datatable_new">
                      
                            <a href="@Url.Action("create", "ticket")"
                               class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>New</span>
                                </span>
                            </a>
                        
                        
                    </div>
                
            </div>
            <!--begin: Datatable -->
            @*<table class="table table-striped- table-hover table-responsive" id="m_table_1">*@
            <table class="table table-striped- table-hover table-responsive table-pagger" cols="6" id="m_table_1">

                <thead>
                    <tr>
                        <th><a href="#">Ticket#</a></th>
                        <th><a href="#">By</a></th>
                        <th><a href="#">Title</a></th>
                        <th><a href="#">Date</a></th>
                        <th><a href="#">Time</a></th>
                        @*<th><a href="#">Assigned To</a></th>*@
                        <th><a href="#">Priority</a></th>
                        <th><a href="#">Status</a></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model._Tickets != null && Model._Tickets.Count > 0)
                    {
                        foreach (var item in Model._Tickets)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("edit","ticket",
                                                new { tid = FPBAL.Business.UtilityAccess.Encrypt(Convert.ToString(item.TicketId)),
                                                cid=item.EncryptedTicketId})"
                                       style="text-decoration:underline; color:#666674;">
                                        @item.TicketNumber
                                    </a>
                                </td>
                                @if (@item.CreatedByName == "")
                                {
                                    <td>-</td>
                                }
                                else
                                {
                                    <td>@item.CreatedByName</td>
                                }
                                @if (@item.ReasonName == "")
                                {
                                    <td>-</td>
                                }
                                else
                                {
                                    <td>@item.ReasonName</td>
                                }
                                <td>@item.TicketDate</td>
                                @if (@item.TicketTime == "")
                                {
                                    <td>-</td>
                                }
                                else
                                {
                                    <td>@item.TicketTime</td>
                                }
                                @*@if (@item.AssignToName == " ")
                                {
                                    <td>-</td>
                                }
                                else if (@item.AssignToName == "")
                                {
                                    <td>-</td>
                                }
                                else if (@item.AssignToName == "  ")
                                {
                                    <td>-</td>
                                }
                                else
                                {
                                    <td>@item.AssignToName</td>
                                }*@
                                @if (@item.Priority == "")
                                {
                                    <td>-</td>
                                }
                                else
                                {
                                    <td>@item.Priority</td>
                                }
                                <td>
                                    @if (item.Status == "Processing")
                                    {
                                        <p><span class="m-badge  m-badge--metal m-badge--wide">Processing</span></p>
                                    }

                                    else if (item.Status == "Resolved")
                                    {
                                        <p><span class="m-badge  m-badge--primary m-badge--wide">Resolved</span></p>
                                    }
                                    else
                                    {
                                        <p><span class="m-badge  m-badge--metal m-badge--wide">@item.Status</span></p>
                                    }
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
            <div class="row mt-30" id="pagging1"></div>
        </div>
    </div>
</div>
}
