﻿@using FPModels.Models
@model MoMModel
@{
    /**/

    ViewBag.Title = "Minutes of Meeting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@using (Html.BeginForm(new { enctype = "multipart/form-data" }))*@
@if (Model != null)
{
    <div class="m-content payment-form-wrapper"  id="Form">
        <div class="row">
            <div class="col-md-12">
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Add New Document
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <div class="m-form__group form-group add-file-wrap">
                                <label for="">Add Document<req>*</req></label>
                                <div class="upload-btn-wrapper">
                                    @*@Html.HiddenFor(m => m.HeadlineId) , @required = "required" *@
                                    <label type="button" class="btn" style="color:#ffffff;text-align:center !important;">
                                        @Html.TextBoxFor(m => m.file, new { @type = "file", @id = "fileHeadline",accept=".pdf" })
                                        @Html.HiddenFor(m => m.DocumentPath, new { @id = "Path" })
                                        Upload
                                    </label>
                                    <div id="lblfile"></div>
                                    @*@Html.LabelFor(m => m.DocumentName, new { @id = "lblfile" })*@

                                    @Html.ValidationMessageFor(m => m.DocumentPath, "", new { @class = "m-form__help", @id = "lbimg" })

                                    <br />
                                    <label>PDF documents can be added</label>


                                </div>

                                @*<div class="upload_img_wrap">
                                        <span class="cross"
                                              id="cross" data="#file" db="#imgHeadline">
                                            <img class="cross" src='~/Content/images/close.png' id="cross" data="#file" db="#imgHeadline" />
                                            <img id="imgHeadline"
                                                 src="@(String.IsNullOrEmpty(Model.DocumentPath) ? "/content/images/plus-rec.png" : Model.DocumentPath)" data-animation="#file"
                                                 onerror="this.onerror=null;this.src = '../content/images/plus-rec.png';"
                                                 alt="Add Image" class="img-rec" />
                                        </span>
                                        @Html.ValidationMessageFor(m => m.DocumentPath, "", new { @class = "m-form__help" })
                                    </div>*@


                            </div>
                            <div class="col-md-2 form-group m-form__group">
                                @Html.HiddenFor(m => m.MoMId)
                                @Html.HiddenFor(m => m.EncryptedMoMId)
                                <label for="exampleInputEmail1">Month<req>*</req></label>


                                @Html.DropDownListFor(m => m.Month, Model.MonthList, new { @class = "custom-select custom-select-sm form-control form-control-sm", @id = "monthId", @required = "required" })
                                @Html.ValidationMessageFor(model => model.Month, "", new { @class = "m-form__help", @id = "lbmonth" })


                            </div>
                            <div class="col-md-2 form-group m-form__group ">
                                <label for="exampleInputEmail1">Year<req>*</req></label>

                                @Html.DropDownListFor(m => m.Year, Model.YearList, new { @class = "custom-select custom-select-sm form-control form-control-sm", @id = "yearId", @required = "required" })

                                @Html.ValidationMessageFor(m => m.Year, "", new { @class = "m-form__help", @id = "lbyear" })


                            </div>



                            @*<div class="col-md-3">
                                    <label for="exampleInputEmail1">Year<req>*</req></label>
                                    @Html.DropDownListFor(m => m.Year, Model.YearList, new { @class = "custom-select custom-select-sm form-control form-control-sm" })

                                    @Html.ValidationMessageFor(model => model.YearList, "", new { @class = "m-form__help" })

                                </div>*@
                            <br />
                            <br />
                            <br />
                            <div class="m-form__actions form-buttons">
                                @*form-buttons*@

                                <button type="submit" id="btnSubmit" class="btn btn-primarygreen" >Add</button>



                                @Html.ActionLink("Cancel", "index", "mom", new { @id = "Cancel", @class = "btn btn-secondary" })
                            </div>
                        </div>
                    </div>

                    <!--end::Form-->
                </div>
                <!--end::Portlet-->
            </div>



        </div>
    </div>
}


<script src="~/Scripts/jquery-3.3.1.js"></script>
@*<script>
        function Confirm(title, months, years, event) {

            $.getJSON("/donation/DonationGraphData?duration=" + dura, function (JsonData) {


            var clientid = event.id;
            var href = $('#' + clientid).attr('href');
            var returnType = false;

            swal({
                title: "Warning",//"Are you sure?",
                text: title,
                //text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: true
            },
                function (isConfirm, id) {
                    if (isConfirm) {
                        window.location.href = href;
                        returnType = true;
                        //swal("Deleted!", "Record has been deleted.", "success");
                    } else {
                        //$('div').click();
                        $('#' + clientid).blur();
                        returnType = false;
                    }
                }
            );
            return returnType;
        }
    </script>*@
<script>
        function AlertWithTitleIcon(title, text, type) {
            swal({
                title: title,
                text: text,
                type: type
            });
        }
    $("#monthId").change(function (e) {
        ////debugger;
        $('#lbmonth').text("");
    });
    $("#yearId").change(function (e) {
        ////debugger;
        $('#lbyear').text("");
        
        
    });

    $("#fileHeadline").change(function (e) {
        ////debugger;
        $('#lbimg').text("");
        //alert($('#lbimg'));
        // get the file name, possibly with path (depends on browser)
        var filename = $(this).val();
        // Use a regular expression to trim everything before final dot
        //alert(filename);
        var ext = filename.replace(/^.*\./, '');
        //if (ext == "xls" || ext == "xlsx" || ext == "docx" || ext == "doc" || ext == "jpg" || ext == "jpeg" || ext == "png" || ext == "pdf") {
        if (ext == "pdf") {

            var files = e.target.files;
            // alert(files[0].name);

            $('#lblfile').text(files[0].name);
            return true;
        }
        else {
            AlertWithTitleIcon("Warning", "Invalid file!", "warning");
            $(this).val('');
            $('#lblfile').text('');
            return false;
        }

        // $("#spanFile").text($(this)[0].files[0].name);
    });

    function AddMOM() {
        //alert('add');
        var file = document.getElementById("fileHeadline").files[0];
        var formdata = new FormData();
        formdata.append("Month", $('#monthId').val());
        formdata.append("Year", $('#yearId').val());
        formdata.append("file", file);
        $.ajax({
            type: "POST",
            url: "/mom/createoredit",
            contentType: false,
            processData: false,
            data: formdata,
            success: function (data) {
                //TempData["ReturnCode"] = "1";
                var url = '@Url.Action("index", "mom")';
                window.location.href = url;

                return false;
            },
            error: function () {
                return 'error';
            }
        });

    }

    $("#btnSubmit").click(function () {

        $('#lbimg').text("");
        $('#lbmonth').text("");
        $('#lbyear').text("");

        var files = $("#fileHeadline").get(0).files;
        var returnFlag = true;
        if (files.length==0) {
            $('#fileHeadline').prop("required", true);
            $('#lbimg').text("File is required!")
            $('#lbimg').removeClass("m-form__help");
            $('#lbimg').addClass("m-form__help lblmsg");
            returnFlag = false;
            //return false;
        }
        if ($('#monthId').val() == '') {
            $('#lbmonth').text("Month is required!")
            $('#monthId').prop("required", true);
            $('#lbmonth').removeClass("m-form__help");
            $('#lbmonth').addClass("m-form__help lblmsg");

            returnFlag = false;
            //return false;
        }
        
        if ($('#yearId').val() == '') {
            $('#lbyear').text("Year is required!")
            $('#yearId').prop("required", true);
            $('#lbyear').removeClass("m-form__help");
            $('#lbyear').addClass("m-form__help lblmsg");

            returnFlag = false;
            //return false;
        }
        if (!returnFlag)
            return false;
        var title = "Record already exists do you want to replace this?";

        var dura = $('#monthId').val() + "," + $('#yearId').val();

        //alert(dura);

        $.ajax({
            type: "POST",
            url: "/mom/ValidateMOM?duration=" + dura,
            async: true,
            success: function (data) {
                //alert(data.ReturnCode);
                if (data.ReturnCode == 1) {
                    swal({
                        title: "Warning",//"Are you sure?",
                        text: title,
                        //text: "You will not be able to recover this imaginary file!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes",
                        cancelButtonText: "No",
                        closeOnConfirm: true,
                        closeOnCancel: true
                    },
                        function (isConfirm, id) {
                            if (isConfirm)
                                AddMOM();
                        }
                    );
                }
                else {
                     AddMOM();
                }
            }
        });
    });

        function Confirm2(title, event) {
            debugger
            var returnType;
            //alert($('#monthId').val());
            //alert($('#yearId').val());
            var dura = $('#monthId').val() + "," + $('#yearId').val();
            var returnResult = 0;

            $.ajax({
                type: "POST",
                url: "/mom/ValidateMOM?duration=" + dura,
                async: true,

                success: function (data) {
                    //alert(data.ReturnCode);
                    if (data.ReturnCode == 1) {
                        swal({
                            title: "Warning",//"Are you sure?",
                            text: title,
                            //text: "You will not be able to recover this imaginary file!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Yes",
                            cancelButtonText: "No",
                            closeOnConfirm: true,
                            closeOnCancel: true
                        },
                            function (isConfirm, id) {
                                returnType = isConfirm;
                                //if (isConfirm)
                                //    $("#btnSubmit").click();
                                return isConfirm;
                            }
                        );
                    }
                    else {
                        return true;
                    }
                }



            });



        }
        function Confirm(title, event)
        {
            debugger
            var returnType;
            //alert($('#monthId').val());
            //alert($('#yearId').val());
            var dura = $('#monthId').val() + "," + $('#yearId').val();
            var returnResult = 0;

            $.ajax({
                type: "POST",
                url: "/mom/ValidateMOM?duration=" + dura,
                async: true,

                success: function (data) {
                    //alert(data.ReturnCode);
                    if (data.ReturnCode == 1) {
                        swal({
                            title: "Warning",//"Are you sure?",
                            text: title,
                            //text: "You will not be able to recover this imaginary file!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Yes",
                            cancelButtonText: "No",
                            closeOnConfirm: true,
                            closeOnCancel: true
                        },
                            function (isConfirm, id) {
                                returnType = isConfirm;
                                //if (isConfirm)
                                //    $("#btnSubmit").click();
                                return isConfirm;
                            }
                        );
                    }
                    else {
                        return true;
                    }
                }



            });
            //alert(returnType);
            return returnType;
            //$.getJSON("/mom/ValidateMOM?duration=" + dura, function (JsonData) {
            //    //alert(JsonData.ReturnCode);
            //    //alert(JsonData.Response.ReturnCode)
            //    returnResult = JsonData.Response.ReturnCode;

            //    //alert(JsonData.Response.ReturnCode);
            //    if (JsonData.Response.ReturnCode == 1) {
            //        swal({
            //            title: "Warning",//"Are you sure?",
            //            text: title,
            //            //text: "You will not be able to recover this imaginary file!",
            //            type: "warning",
            //            showCancelButton: true,
            //            confirmButtonColor: "#DD6B55",
            //            confirmButtonText: "Yes",
            //            cancelButtonText: "No",
            //            closeOnConfirm: true,
            //            closeOnCancel: true
            //        },
            //            function (isConfirm, id) {
            //                returnType = isConfirm;
            //                //if (isConfirm)
            //                //    $("#btnSubmit").click();
            //                return isConfirm;
            //            }
            //        );
            //    }
            //    else
            //    {
            //        //alert(JsonData.Response.ReturnCode);
            //        return true;
            //        //alert(JsonData);
            //        //returnType = true;
            //    }
            //    //return returnType;
            //});

            //alert(returnResult);

            //setTimeout(function () { getTest(); }, 10000);
            ////alert(returnType);

            ////return returnType;
            ////alert(returnResult);


        }
       
        function getTest() {
            var ss = $('#lblfile').text();
        }
        //$('#fileHeadline').on('change', function (e) {
        //    //debugger;
        //    var files = e.target.files;
        //   // alert(files[0].name);

        //    $('#lblfile').text(files[0].name);

        //    //$('#lblfile').text(files[0].name);


        //});


        //$("#imgHeadline").click(function () {

        //    if ($("#fileHeadline").val().length < 0) {
        //        $("#fileHeadline").trigger("click");
        //    }
        //    else {

        //    }
        //    return false; s
        //});

        //$("#fileHeadline").change(function () {

        //    var _fileId = '#' + $(this).attr("id");

        //    var reader = new FileReader();
        //    var _currentPath = "";

        //    imageVal = new Image();
        //    reader.onload = function (e) {
        //        _currentPath = e.target.result;
        //        imageVal.src = e.target.result;
        //    }

        //    reader.readAsDataURL($(this)[0].files[0]);
        //    $('#cross').addClass("show").removeClass("hide");

        //    imageVal.onload = function () {
        //        if ((this.width / this.height) < 1.5 || (this.width / this.height) > 5.5) {

        //            AlertWithTitleIcon("Warning", RectangleRatio(this.width, this.height));
        //            $("#imgHeadline").attr("src", "/Content/images/no-image-rec.png");
        //            $(_fileId).val("");
        //            return false;
        //        }
        //        else {
        //            $("#imgHeadline").attr("src", _currentPath);
        //        }
        //    };

        //});



        //$("#Cancel").click(function () {
        //    debugger
        //    location.reload();
        //    $("#fileHeadline").val('');
        //    $("#FilePath").val('');
        //});
        //$("#cross").click(function (e) {
        //    debugger
        //    $('#fileHeadline').val('');
        //    $('#imgHeadline').val('');
        //    $('#Path').val('Cross');
        //    $('#Path').val();



        //    //$("#FilePath").val();
        //    // var _file = $(this).attr("data");
        //    var _image = $(this).attr("db");
        //    $(this).removeClass("show").addClass("hide");
        //    // $(_file).val('');

        //    $(_image).attr("src", '~/Content/images/close.png');
        //    e.preventDefault;

        //});

</script>

