.m-brand.m-brand--skin-dark {
    background: #fff;
    box-shadow: 2px 0px 15px 1px rgba(69,65,78,0.1);
}

body.m-aside-left--skin-dark .m-header .m-header-head {
    box-shadow: 3px 1px 15px 1px rgba(69,65,78,0.1);
}

.table-responsive {
    display: inline-table;
}

.m-brand__logo img {
    width: 100%;
}

.m-brand__logo {
    width: 70%;
}

.m-aside-left.m-aside-left--skin-dark {
    background-color: #fff;
    box-shadow: -1px 0px 15px 1px rgba(69,65,78,0.1);
}

.side-menu-tittle h4 {
    color: #444758;
    text-transform: uppercase;
    padding: 0 30px;
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 13px;
}

.side-menu-icon {
    padding: 0px 20px 0 0;
}

.m-menu__item--active a {
    background: #e8ecf1;
    color: #f85175;
}

    .m-menu__item--active a span.m-menu__link-text {
        color: #f85175 !important;
    }

.m-menu__link-wrap .m-menu__link-text {
    width: auto !important;
    padding-top: 5px !important;
}

.arrow-down img {
    padding-top: 10px;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover {
    background-color: #e8ecf1;
}

.m-menu__item a:hover .m-menu__link-text, .m-menu__item a:hover i {
    color: #f4516c !important;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--open {
    background-color: #e8ecf1;
}

.m-menu__link-bullet {
    position: relative;
}

    .m-menu__link-bullet:before {
        height: 1px !important;
        background: #000;
        position: absolute;
        content: "";
        left: 0;
        width: 10px;
    }
.tblUnclaim #df{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.tblUnclaim #tblUnclaimed_wrapper {
    position: relative;
    overflow: hidden;
    height: 484px;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text {
    color: #585c7a !important;
    font-weight: 500;
}

aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__link-text {
    color: #585c7a !important;
    font-weight: 500;
}

.m-header-menu.m-header-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--hover > .m-menu__link .m-menu__link-text {
    color: #f4516c;
}

#m_header_menu .m-menu__link-icon {
    width: auto;
    padding-right: 10px;
}

#m_header_menu .m-menu__subnav .m-menu__link-icon {
    width: 30px;
    padding-right: 0px;
}

.m-header-menu .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__subnav {
    border-radius: 8px;
}

.m-header-menu .m-menu__nav.m-menu__nav--submenu-arrow > .m-menu__item.m-menu__item--submenu.m-menu__item--tabs > .m-menu__submenu > .m-menu__subnav > .m-menu__item.m-menu__item--submenu.m-menu__item--hover > .m-menu__submenu > .m-menu__arrow, .m-header-menu .m-menu__nav.m-menu__nav--submenu-arrow > .m-menu__item.m-menu__item--submenu.m-menu__item--hover > .m-menu__submenu > .m-menu__arrow {
    margin-left: -70px;
}

.m-topbar .m-topbar__nav.m-nav > .m-nav__item > .m-nav__link .m-topbar__userpic img {
    background: #282a3c;
    height: 35px;
    max-width: 35px !important;
}

.m-card-user .m-card-user__pic img {
    width: 40px !important;
    background: #282a3c;
    height: 40px !important;
}

.copyright-wrap {
    float: left;
    margin-top: 15px;
}

.foot-links {
    float: right;
    margin: 5px 0;
}

footer .m-nav__link:hover span, footer .m-nav__link:hover i {
    color: #d12b5d !important;
}

.m-dropdown.m-dropdown--align-center.m-dropdown--large .m-dropdown__wrapper {
    margin-left: 0;
    left: -320px;
}

.m-dropdown .m-dropdown__wrapper .m-dropdown__header {
    border-radius: 8px 8px 0 0;
}

.m-dropdown .m-dropdown__wrapper .m-dropdown__inner {
    border-radius: 8px;
}

.m-topbar .m-topbar__nav.m-nav > .m-nav__item.m-topbar__notifications.m-topbar__notifications--img.m-dropdown--arrow .m-dropdown__arrow, .m-topbar .m-topbar__nav.m-nav > .m-nav__item.m-topbar__user-profile.m-topbar__user-profile--img.m-dropdown--arrow .m-dropdown__arrow {
    color: #416eba;
    left: auto;
    right: 10px;
}

.m-tabs-line.m-tabs-line--brand.nav.nav-tabs .nav-link.active, .m-tabs-line.m-tabs-line--brand a.m-tabs__link:hover, .m-tabs-line.m-tabs-line--brand a.m-tabs__link.active {
    color: #a53dee;
    border-bottom: none;
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__time {
    color: #575962;
    font-size: 12px;
    font-weight: 400;
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__text {
    font-weight: 400;
    font-size: 14px;
}

.m-card-user.m-card-user--skin-dark .m-card-user__details .m-card-user__email {
    color: #ffffff;
}

.m-card-user.m-card-user--skin-dark .m-card-user__details .m-card-user__name {
    color: #ffffff;
}

.m-nav .m-nav__item > .m-nav__link .m-nav__link-text {
    color: #575962;
}

.btn.m-btn--label-brand {
    color: #21427a;
    margin-top: 15px;
}

.m-widget4 .m-widget4__item .m-widget4__img.m-widget4__img--logo img {
    width: auto;
    border-radius: 0
}

.m-widget4__item .m-widget4__title {
    color: #666674;
}

.m-widget4__item .m-widget4__sub {
    color: #a8a9b6;
    font-weight: 500;
}

.m-widget17 .m-widget17__stats .m-widget17__items .m-widget17__item .m-widget17__subtitle {
    color: #666674;
    font-size: 14px;
}

.btn-brand {
    background-color: #416eba;
    border-color: #416eba;
}

.m--font-brand {
    color: #21427a !important;
}

.m-widget17 .m-widget17__stats {
    margin: 0 auto;
}

.green-text {
    color: #026e53 !important;
}

.sent-new {
    color: #fb5276;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.sent-value {
    color: #416eba;
}

#m_chart_support_tickets2 svg:nth-child(2n) {
    display: none;
}

.m-login.m-login--1 .m-login__aside {
    width: 500px;
    padding: 2rem 5rem;
}

.login-bg-wrap {
    background-position: 220px -43px;
    justify-content: center;
    padding: 0 7%;
}

.m-login.m-login--1 .m-login__content .m-login__welcome {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fb5276;
}

.comunity_ul_wrap.contact-ul-wrap li {
    width: 33.33%;
    word-break: break-word;
    padding: 0 10px 0 0;
}

.login-pass img {
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0.5;
    width: 100%;
    max-width: 18px;
}

span.days-name {
    width: 100%;
    display: inline-block;
    max-width: 95px;
}

.about-detail-img span {
    display: block;
    border: 1px solid #bdbdbd;
    width: 100%;
    max-width: 80px;
    height: 80px;
    padding: 10px;
}

span.m-badge.m-badge--metal.m-badge--wide.contacted-btn.process-btn {
    background-color: #c94c20;
}

span.m-badge.m-badge--metal.m-badge--wide.contacted-btn {
    background-color: #ffb822;
}

.donation-subheader .mr-auto {
    width: 50%;
}

    .donation-subheader .mr-auto i {
        background-color: #fb5276;
        width: 35px;
        height: 35px;
        text-align: center;
        border-radius: 35px;
        color: #fff;
        padding-top: 7px;
        font-size: 21px;
        margin-right: 9px;
    }

.input-group-addon {
    padding: 12px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

li.news-view-img a img {
    height: 35px;
    width: 75px;
    border: 1px solid #ccc;
}

.img-rec {
    height: 35px;
    width: 75px;
    border: 1px solid #ccc;
}

.event-detail li span {
    border: 1px solid #ccc;
    padding: 15px 10px;
    display: inline-block;
    margin-top: 10px;
}

.batch_detail_ul li a span {
    border: none !important;
}

p.about-detail-img span img {
    width: 100%;
}

.m-login.m-login--1 .m-login__content .m-login__msg {
    font-size: 40px;
    font-weight: 300;
}

.m-login.m-login--1 .m-login__wrapper .m-login__head .m-login__title {
    color: #68676e;
}

#m_login_forget_password {
    color: #aba8b3;
}

.btn-focus {
    background-color: #121644;
    border-color: #121644;
}

    .btn-focus.m-btn--air {
        /*box-shadow: 0px 5px 10px 2px rgba(200,2,44,0.19) !important;*/
        box-shadow: 0px 5px 10px 2px rgba(18,22,68,0.1) !important
    }

    .btn-focus:hover, .btn-focus:active {
        background-color: #121644 !important;
        border-color: #121644 !important;
    }

    .btn-focus.m-btn--air:hover {
        box-shadow: 0px 5px 10px 2px rgba(18,22,68,0.1) !important
    }

.m-checkbox.m-checkbox--focus > span:after {
    border: solid #c8022c;
}

.m-checkbox.m-checkbox--focus > input:checked ~ span {
    border: 1px solid #c8022c;
}

.dataTables_filter .form-control {
    padding: 0 10px 0 35px;
    margin-right: 10px;
    overflow: hidden;
    border: none;
    background: #f4f5f8;
    height: 35px;
}

.dataTables_filter img {
    position: absolute;
    top: 9px;
    left: 12px;
}

.dataTables_filter {
    position: relative;
}

    .dataTables_filter .btn-danger {
        background: #121644;
        background: -moz-linear-gradient(left, #121644 0%, #141b6a 100%) !important;
        background: -webkit-linear-gradient(left, #121644 0%,#141b6a 100%) !important;
        background: linear-gradient(to right, #121644 0%,#141b6a 100%) !important;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121644', endColorstr='#141b6a',GradientType=1 );
        height: 35px;
        margin-left: 15px;
        padding: 0 25px;
        border-color: #121644 !important;
    }

table tbody tr:nth-child(even) {
    background-color: #f4f5f8;
}

.table thead th {
    vertical-align: middle;
    border: none;
    background: #f4f5f8;
    font-weight: 600;
    color: #666674;
    padding: 10px 20px;
    height: 50px;
}

.comunity_ul_wrap li a, .comunity_ul_wrap li span {
    color: #121644;
    /*text-decoration: underline;*/
    font-style: italic;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 160px !important;
    display: inline-block;
    height: 38px;
}

.table td {
    height: 50px;
    vertical-align: middle;
    padding: 10px 20px;
    color: #666674;
    font-weight: 400;
}

#m_table_1_filter {
    margin-bottom: 20px;
}

.page-link {
    width: 31px;
    text-align: center;
    height: 31px;
    border-radius: 100px;
    margin: 0 5px 0 0;
    padding: .5rem 0rem;
    color: #575962;
    border: none;
}

.page-item:first-child .page-link, .page-item:last-child .page-link {
    border-radius: 100px;
    background: #ebe9f2;
}

.page-item.active .page-link {
    background-color: #fb5276;
    border-color: #fb5276;
}

.page-item.previous a, .page-item.next a {
    background: #ebe9f2 !important;
}

.mt-30 {
    margin-top: 30px;
}

.pagination-dots {
    margin-right: 15px;
    font-size: 17px;
    letter-spacing: 3px;
}

.show-item-select .form-control {
    border-color: transparent;
    background: #ebe9f2;
    border-radius: 100px;
    height: 30px;
    width: 60px;
    font-size: 14px;
    margin-right: 15px;
}

.show-item-select {
    display: inline-block;
}

    .show-item-select label {
        position: relative;
    }

        .show-item-select label::before {
            position: absolute;
            content: "";
            top: 13px;
            right: 27px;
            background: url(../images/arrow-down.png);
            background-color: rgba(0, 0, 0, 0);
            background-repeat: repeat;
            width: 9px;
            height: 11px;
            pointer-events: none;
            background-color: #f6f6f6;
            background-repeat: no-repeat;
        }

.dataTables_info {
    display: inline-block;
}

.m-widget20__number {
    font-size: 24px !important;
    font-weight: 600 !important;
}

.trending-table.table thead th {
    background: transparent;
    color: #94a0bf;
}

.trending-table.table tr td a {
    color: #666674;
    text-decoration: underline;
    font-weight: 600;
}

.trending-table.table td {
    color: #9b9dab;
    font-weight: 500;
}

table.trending-table tbody tr:nth-child(even) {
    background-color: transparent;
}

.generate-report-btn .btn {
    background: #026e53;
    border-color: #026e53;
    padding: 0 20px;
    height: 40px;
    margin-top: 50px;
}

a {
    color: #fb5276;
}

.table thead th a {
    color: #666674;
}

.table-searh-wrap {
    float: left;
    width: 100%;
}

span.m-widget19__time {
    line-height: 18px;
}

.table-status.show-item-select .form-control {
    width: 125px;
    border-radius: 0;
    background: #f4f5f8;
    margin: 0 20px 0 5px;
    padding-left: 10px;
    height: 35px;
    padding-right: 27px;
}

.table-status.show-item-select label:before {
    top: 15px;
    right: 30px;
}

.table-searh-wrap .dataTables_filter {
    float: left;
}

.payment-form-wrapper .form-group label {
    color: #3f4047;
    font-weight: 500;
    font-size: 14px;
}

.card-icon {
    margin-top: 8px;
}

.payment-form-wrapper .m-portlet {
    height: 100%;
    position: relative;
}

.select-arrow {
    position: relative;
}

    .select-arrow::before {
        position: absolute;
        content: "";
        background: url(../images/select-arrow.png), #fff;
        background-position-x: 0%, 0%;
        background-position-y: 0%, 0%;
        background-repeat: repeat, repeat;
        right: 1px;
        top: 1px;
        height: 38px;
        width: 21px;
        background-repeat: no-repeat;
        padding: 0;
        pointer-events: none;
        background-position: center;
    }

.form-control.focus, .form-control:focus {
    border-color: #fb5276;
}

.btn-primary {
    background-color: #416eba;
    border-color: #416eba;
}

.form-buttons .btn {
    min-width: 90px;
}

.btn-primary:hover {
    background-color: #2e5ca9;
    border-color: #2e5ca9;
}

.m-badge.m-badge--primary {
    background-color: #20c99a;
}

.m-badge.m-badge--info {
    background-color: #8f20c9;
}

.m-form__help {
    font-weight: 500 !important;
    display: inline-block;
}

.payment-form-wrapper .m-radio > span:after {
    height: 18px;
    width: 18px;
    left: 2px;
    top: 2px;
}

.m-radio > span:after {
    border: solid #020031;
    background: #020031;
}

.payment-form-wrapper .form-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.payment-form-wrapper textarea {
    resize: none;
}

.form-buttons .btn {
    margin-right: 5px;
}

.event-detail li label {
    font-weight: 600 !important;
    color: #3f4047;
    font-size: 15px;
}

.paid-text-sec a, .paid-text-sec a:hover {
    color: #fff;
}

.event-detail li p {
    color: #666674;
    font-weight: 400;
}

.event-detail li {
    margin-bottom: 20px;
}

    .event-detail li:last-child {
        margin-bottom: 40px;
    }

.m-subheader .m-subheader__title {
    font-size: 26px;
}

.m-badge.m-badge--metal {
    background-color: #c98720
}

.table .m-badge {
    min-width: 77px;
}

.upload-btn-wrapper, .multi-img-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

    .upload-btn-wrapper .btn, .multi-img-wrapper .btn {
        border: 1px solid #34bfa3;
        background-color: #34bfa3;
        padding: .75rem 2rem;
        border-radius: 50px;
        font-size: 1rem;
        color: #fff;
        text-align: center;
        width: 165px;
        display: block;
        margin-bottom: 20px;
    }

    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        height: 45px;
    }

    .multi-img-wrapper input {
        display: block;
        visibility: hidden;
        width: 0;
        height: 0;
    }



.add-file-wrap label {
    display: block;
    text-align: left !important;
}

.file-name img {
    padding-right: 2px;
}
/*.file-name {
    display: inline-block;
    background: #f4f5f8;
    padding: 10px 10px;
    margin-top: 0px;
    font-size: 10.8px;
}*/
.form-group label {
    text-align: left !important;
}

.m-checkbox-list {
    margin-top: 12px;
}

.m-checkbox > span:after {
    border: none;
    height: 18px;
    width: 18px;
    background: #020031;
    transform: none;
    left: 1px;
    top: 5px;
    border-radius: 2px;
    border: none !important;
    border-width: 0 !important;
}

.m-checkbox-list .form-group {
    padding-bottom: 5px !important;
    padding-top: 5px;
}

.note-wrap {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
}

    .note-wrap p {
        color: #ffba01;
        font-weight: 500;
        font-size: 15px;
    }

.ticket-img-ul li {
    float: left;
    margin-right: 5px;
    margin-bottom: 0 !important;
}

    .ticket-img-ul li img {
        border: 1px solid #ddd;
        border-radius: 2px;
    }

.ticket-img-ul {
    border: 3px solid #f7f7fa;
    padding: 20px;
}

.about-us-wrap.payment-form-wrapper .form-buttons {
    position: static;
}

.chart-head h3 {
    color: #666674;
    font-size: 17px;
}

.chart-head p {
    color: #a8a9b6;
    font-size: 13px;
}

.week-value h2 {
    color: #fb5276;
    font-size: 34px;
    margin: 30px 0 50px;
}

.chart-progress {
    border-top: 1px dotted #ebeaf3;
    padding-top: 30px;
}

.chart-select.show-item-select .form-control {
    width: 100px;
}

.chart-select.show-item-select {
    float: right;
}

.chart-head {
    float: left;
}

a:hover, a:focus {
    text-decoration: none;
}

.chart-progress .m-widget15__stats {
    font-size: 24px;
    font-weight: 600;
}

.m-brand--minimize .side-menu-tittle h4 {
    padding: 0;
    text-align: center;
}

.form-group.m-form__group ul.nav.nav-pills.nav-fill li.nav-item {
    flex: none !important;
    display: inline-block;
    margin-left: 0px;
    margin-right: 5px;
}

.tab-pane.active.show .m-form__group.form-group {
    padding: 0 0 20px 0;
}

.form-group.m-form__group ul.nav.nav-pills.nav-fill {
    margin-bottom: 40px;
}

.manage-btn {
    background-color: #666674 !important;
    border: 1px solid #666674;
    color: #fff !important;
    padding: 8px 10px;
    border-radius: 2px;
    margin: 4px 2px;
    font-size: 15px;
}

.paid-service-main {
    background: #fff;
}

.paid-img-sec button {
    position: absolute;
    left: 30px;
    top: 30px;
    background-color: #416eba;
    border: 1px solid #416eba;
    color: #fff;
    padding: 5px 20px;
    font-size: 15px;
    border-radius: 30px;
}

.paid-img-sec {
    position: relative;
}

    .paid-img-sec img {
        width: 100%;
    }

.paid-text-sec h2 {
    color: #416eba;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0px;
}

.paid-text-sec p {
    font-size: 17px;
    color: #7f808d;
    font-weight: 500;
    line-height: 30px;
    margin: 16px 0px;
}

.paid-text-sec {
    padding: 40px 30px;
}

    .paid-text-sec button {
        padding: 9px 23px;
        background-color: #fb5276;
        border: 2px solid #fb5276;
        color: #fff;
        font-size: 13px;
        border-radius: 23px;
    }

.manage-btn.active {
    background-color: #21427a !important;
    border: 1px solid #21427a;
}

.m-form__actions.form-buttons btn.btn-danger:hover {
    color: #f4516c !important;
}

.social-paid-service .paid-service-main {
    background: #d0dffa;
    display: flex;
    height: 100%;
}

    .social-paid-service .paid-service-main img {
        margin: auto;
    }

.social-paid-service {
    position: relative;
}

    .social-paid-service .paid-img-sec {
        position: static;
    }

.pricing-table {
    color: #7f808d;
    text-align: center;
    padding: 50px 50px;
}

.our-prices-main h1 {
    text-align: center;
    color: #416eba;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-weight: normal;
    font-size: 30px;
}

.our-prices-main {
    background-color: #fff;
    padding: 50px 50px 50px 50px;
}

    .our-prices-main .m-pricing-table-4__top {
        background-color: transparent;
    }

    .our-prices-main .m-portlet {
        box-shadow: none;
    }

.m-pricing-table-4 .m-pricing-table-4__top .m-pricing-table-4__top-container.m-pricing-table-4__top-container--fixed .m-pricing-table-4__top-body .m-pricing-table-4__top-items {
    display: table;
    width: 100%;
    table-layout: fixed;
    -webkit-box-shadow: 0 1px 17px -5px #b7b7b7;
    box-shadow: 0 1px 17px -5px #b7b7b7;
}

span.m-pricing-table-4__icon.m--font-info img {
    margin-top: 50px;
}

.our-prices-main button.btn.m-btn--pill.btn-info.m-btn--wide.m-btn--uppercase.m-btn--bolder.m-btn--lg {
    background-color: #416eba;
    border: 1px solid #416eba;
}

.our-prices-main .m-pricing-table-4__features span {
    font-size: 16px;
}

.m-pricing-table-4__top-item.pricing-active-table {
    background-color: #416eba !important;
}

    .m-pricing-table-4__top-item.pricing-active-table h2.m-pricing-table-4__subtitle, .m-pricing-table-4__top-item.pricing-active-table span {
        color: #fff !important;
    }

    .m-pricing-table-4__top-item.pricing-active-table button.btn.m-btn--pill.btn-info.m-btn--wide.m-btn--uppercase.m-btn--bolder.m-btn--lg, .m-pricing-table-4__top-item.pricing-active-table button.btn.m-btn--pill.btn-info.m-btn--wide.m-btn--uppercase.m-btn--bolder.m-btn--lg:hover {
        background-color: #fff;
        border: 1px solid #fff;
        color: #416eba !important;
    }

.m-pricing-table-4__bottom-items .m-pricing-table-4__bottom-item {
    font-size: 15px;
    color: #6b6b85 !important;
}

.pricing-plan-text h5 {
    color: #416eba;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
}

.pricing-plan-text {
    position: absolute;
    left: 0;
    top: 170px;
}

.m-card-profile__details span.m-card-profile__name {
    color: #224178 !important;
    font-size: 26px !important;
    text-transform: capitalize;
    margin-top: 15px;
}


.m-card-profile__details a.m-card-profile__email.m-link {
    font-size: 19px;
    color: #666573;
    padding: 0;
}


.m-card-profile__details span.m-card-number {
    font-size: 19px;
    color: #666573;
    font-weight: 500;
    padding-top: 5px;
    display: block;
}

button.password-cancel {
    background-color: transparent;
    color: #c8022c !important;
    margin-left: 15px;
}

.chart-detail h1 {
    color: #fb5276;
    font-size: 56px;
    font-weight: normal;
    margin-top: 30px;
}

.chart-detail h5 {
    color: #fb5276;
    margin-top: 15px;
    margin-bottom: 30px;
}

.chart-detail ul {
    padding: 0px;
    list-style: none;
    width: 100%;
    max-width: 763px;
    border-top: 1px solid #f1f1f1;
    padding-top: 30px;
}

    .chart-detail ul li h6 {
        color: #333;
        font-weight: bold;
        font-size: 14px;
    }

    .chart-detail ul li p {
        color: #333;
        font-size: 15px;
        overflow: hidden;
        word-break: break-word;
    }


.amount-detail {
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 20px;
}

    .amount-detail h5 {
        font-size: 17px;
        padding-bottom: 10px;
    }

    .amount-detail h1 {
        font-size: 40px;
        padding-bottom: 10px;
        font-weight: normal;
    }

    .amount-detail h6 {
        font-size: 17px;
        margin-top: 102px;
    }

    .amount-detail p {
        font-size: 16px;
    }












@media (min-width: 768px) and (max-width: 1024px) {

    footer.m-grid__item.m-footer {
        text-align: center;
    }






    /*#m_header_menu .m-menu__link-icon {
        width: 45px;
    }*/


    #m_header_menu .m-menu__link-icon {
        width: 45px;
    }

    .app_message {
        margin-bottom: 15px;
    }

    .login-right-banner {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}




@media only screen and (max-width: 767px) {
    .login-right-banner {
        display: none !important;
    }

    .copyright-wrap {
        text-align: center;
    }

    ul.pagination li {
        display: inline-block;
        margin-bottom: 15px;
    }

    ul.pagination {
        display: block;
    }

    .dataTables_filter .btn-danger {
        margin-left: 0px;
    }

    .pull-right.datatable_new {
        width: 100%;
        margin-bottom: 20px;
    }

    .date_time_input.row label {
        max-width: 100%;
    }

    .date_time_input.row {
        display: block;
    }

    .date_time_input .col-9 {
        max-width: 100%;
    }
}

i#input_img_eye {
    position: absolute;
    top: 0;
    right: 50px;
    top: 56px;
}

.datetimepicker-days table.table-condensed tr {
    display: table;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: rgba(0,0,0,0);
    table-layout: fixed;
}

    .table td {
        height: 50px;
        vertical-align: middle;
        padding: 10px 20px;
        color: #666674;
        font-weight: 400;
        word-wrap: break-word;
    }

.hide {
    display: none;
}

.show {
    display: block;
}

.unbold-span {
    display: block;
    width: 235px;
}

.notification-count {
    background-color: #f4516c;
    color: #fff;
    position: absolute;
    right: -10px;
    top: 0;
}

.update-pass-form .form-group {
    width: 50%;
}

span.field-validation-error {
    color: red !important;
}

.profile-user-img img {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    height: 100%;
}

.profile-user-img {
    padding: 8px;
    display: block;
    margin: 2rem auto;
    border-radius: 100%;
    width: 100%;
    height: 100px;
    max-width: 100px;
}

button.btn-focus.m-btn.m-btn--pill:active, button.btn-focus.m-btn.m-btn--pill:focus, button.btn-focus.m-btn.m-btn--pill:active:focus {
    /*background-color: #b10227;
    border-color: #b10227;*/
}

btn.btn-focus, btn.btn-focus:hover {
    color: #fff !important;
}


















@media (min-width: 768px) and (max-width: 1024px) {
    footer .m-grid__item.m-footer {
        text-align: center;
    }

    .app_message {
        margin-bottom: 15px;
    }

    .login-right-banner {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media only screen and (max-width: 767px) {


    .copyright-wrap {
        text-align: center;
    }

    ul.pagination li {
        display: inline-block;
        margin-bottom: 15px;
    }

    ul.pagination {
        display: block;
    }

    .dataTables_filter .btn-danger {
        margin-left: 0px;
    }

    .pull-right.datatable_new {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .date_time_input.row label {
        max-width: 100%;
    }

    .date_time_input.row {
        display: block;
    }

    .date_time_input .col-9 {
        max-width: 100%;
    }
}




.modal-dialog.donation-print-popup {
    width: 100%;
    max-width: 1000px;
}

.modal-area-sm {
    width: 100%;
    max-width: 450px;
}

.modal-area-md {
    width: 100%;
    max-width: 650px;
}

.modal-area-lg {
    width: 100%;
    max-width: 800px;
}

button.dontaion-print-btn {
    float: right;
    width: 100%;
    max-width: 100px;
    position: absolute;
    right: 62px;
    top: 25px;
}



table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    bottom: 1.9em !important;
}

.input-group-append {
    position: absolute;
    right: 0;
    height: 100%;
}

i#input_img_clock {
    background-color: transparent;
}

.m-portlet__head.profile-tabs ul {
    margin-bottom: 0px;
}

    .m-portlet__head.profile-tabs ul a {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .m-portlet__head.profile-tabs ul li {
        flex: inherit;
        width: 100%;
        max-width: 180px;
    }

.m-portlet__head.profile-tabs {
    background-color: #fff;
    border-bottom: 1px solid #f7f7f7;
    padding: 25px 22px;
}

.m-content.myprofile-main .form-group.m-form__group {
    margin-bottom: 20px;
}

.m-content.myprofile-main .m-form__actions.form-buttons {
    padding: 30px 0px;
}

.author-name {
    color: #706ACA !important;
}

req {
    color: #f4516c;
    padding-left: 2px;
    font-weight: bold;
}

/*noreq {
}*/

/*table paging number color*/
.dataTables_wrapper .pagination .page-item.active > .page-link {
    background: #fb5276;
    color: #fff;
}

.table thead tr th:before, .table thead tr th:after {
    display: none !important;
}

.dataTables_wrapper .pagination .page-item.active > .page-link {
    background: #fb5276 !important;
}

.form-control {
    font-size: 15px;
    height: 40px;
}

.modal .modal-content .modal-footer {
    display: block;
    padding: 0;
    border: none;
}

.input-group .input-group-append > .input-group-text, .input-group .input-group-prepend > .input-group-text {
    height: 40px;
}

.modal-footer .btn-primary {
    margin-top: 15px;
}

.table-calender {
    top: 300px !important;
}

#m_ver_menu ul.m-menu__nav.m-menu__nav--dropdown-submenu-arrow .m-menu__item--active a span.m-menu__link-text {
    color: #F75175 !important;
}

.show-item-select.chart-select label:before {
    background-color: #ebe9f2;
}

.policy_wrap p, .policy_wrap ul li {
    font-size: 18px;
    padding: 0 15px;
}

.policy_wrap .main_heading {
    margin-top: 25px;
    margin-bottom: 5px;
}

.table_date_calendar i {
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 20px;
    height: 35px;
    padding-top: 7px;
    padding-right: 7px;
    pointer-events: none;
}

.table_date_calendar label:before {
    display: none;
}

.download-app-container .parkeee-logo-container {
    padding: 0px 0 60px;
}

.download-app-container {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    padding: 15px 15px 0;
    color: #000;
    height: 100%;
}

    .download-app-container .parkeee-logo-container img {
        display: block;
        margin: 0 auto;
    }

    .download-app-container .app-button-wrapper {
        margin-top: 40px;
        text-align: center;
    }

        .download-app-container .app-button-wrapper a {
            margin: 0 10px;
            display: inline-block;
        }

.visit-web-link {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    text-align: center;
}

    .visit-web-link a {
        font-size: 18px;
        font-weight: 600;
        color: #000;
        display: inline-block;
        text-decoration: underline;
    }

.m-footer__copyright .m-link img {
    width: 100%;
}

.m-footer__copyright .m-link {
    width: 30%;
}

.m-footer__copyright .m-link {
    margin-left: 5px;
}

.Donation_head_title {
    float: left;
}

.modal-img-center {
    text-align: center;
}

    .modal-img-center img {
        max-width: 100%;
    }

    .modal-img-center .modal-footer {
        text-align: left;
        margin-top: 15px;
    }

.sweet-alert .sa-icon {
    margin: 0 auto 20px;
}

.logo_term {
    padding: 26px 30px;
}

.mb_0 {
    margin-bottom: 0 !important;
}

.term_wrap {
    margin: 0 30px;
}

.term_sub_header {
    margin: 70px 0 30px;
}

.term_wrap .m-portlet__head {
    display: none;
}

.logo_term {
    padding: 26px 30px;
}

mb_0 {
    margin-bottom: 0;
}

.btndsb {
    opacity: 0.6;
    pointer-events: none;
}

.upload_img_wrap span.show {
    display: inline-block;
}


.Sent {
    background-color: #20c99a;
    color: #fff;
}

.Failed {
    background-color: #fb5276;
    color: #fff;
}

.Pending {
    background-color: #5867dd;
    color: #fff;
}

ul.img-upload-plus {
    padding: 0px;
    list-style: none;
}

    ul.img-upload-plus li {
        border: 1px solid #333;
        width: 100%;
        max-width: 80px;
        display: inline-block;
        text-align: center;
        height: 73px;
        padding: 22px 0px;
        font-size: 20px;
    }


.setting_img_sec {
    box-shadow: 0px 0px 11px 1px #eaeaea;
    background: #fff;
    border: 1px solid;
    text-align: center;
    display: block;
    position: relative;
}

.plus_seting input {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

.setting_img_sec img {
    width: 75px;
    height: 75px;
}

.upld_img_wrap .cross {
    width: 25px !important;
    height: 25px !important;
    margin-left: 110px;
    position: absolute;
    top: 0;
    right: 0;
}

.upld_img_wrap {
    margin-top: 20px;
    overflow: hidden;
}

.upld_img_in {
    margin-right: 10px;
    overflow: hidden;
    float: left;
    width: 17.6%;
}

.setting_img_sec {
    box-shadow: 0px 0px 11px 1px #eaeaea;
    background: #fff;
    border: 1px solid;
    text-align: center;
    display: flex;
    position: relative;
    height: 95px;
}

.plus_seting input {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

.setting_img_sec img {
    width: 75px;
    height: 55px;
    margin: auto;
}

.setting_img_sec-rec img {
    width: 75px;
    height: 35px;
    margin: auto;
}

.setting_img_sec-rec {
    box-shadow: 0px 0px 11px 1px #eaeaea;
    background: #fff;
    border: 1px solid;
    text-align: center;
    display: flex;
    position: relative;
    height: 35px;
    width: 75px;
}

.upld_img_wrap .setting_img_sec-rec .cross {
    width: 20px !important;
    height: 20px !important;
}

.gallery_sec_sq img {
    width: 60px;
    height: 60px;
    margin: auto;
}

.gallery_sec_sq {
    box-shadow: 0px 0px 11px 1px #eaeaea;
    background: #fff;
    border: 1px solid;
    text-align: center;
    display: flex;
    position: relative;
    width: 60px;
    height: 60px;
}

.upld_img_wrap .gallery_sec_sq .cross {
    width: 20px !important;
    height: 20px !important;
}

.upld_img_in.gallery_img_list {
    width: 60px;
    height: 60px;
}

    .upld_img_in.gallery_img_list .gallery_sec_sq {
        border: 1px solid #ddd;
    }

.upld_img_wrap .cross {
    width: 25px !important;
    height: 25px !important;
    margin-left: 110px;
    position: absolute;
    top: 0;
    right: 0;
}

.upld_img_wrap {
    margin-top: 20px;
    overflow: hidden;
}

.upld_img_in {
    margin-right: 10px;
    margin-bottom: 6px;
    overflow: hidden;
    float: left;
    width: 17.6%;
}

.dash_headline_date {
    display: block;
    font-size: 18px;
    margin-top: 0;
    font-weight: 400;
}

.filesize {
    color: red !important;
}

th.mng_user_name {
    width: 15% !important;
}

th.mng_user_id {
    width: 10% !important;
}

th.mng_user_title {
    width: 10% !important;
}

th.mng_user_email {
    width: 21% !important;
}

th.mng_user_mobile {
    width: 21% !important;
}

th.mng_user_status {
    width: 12% !important;
}

th.Involvement-seria {
    width: 5% !important;
}

th.involvementName {
    width: 14% !important;
}

th.involvementAddress {
    width: 13% !important;
}

th.involvementEmail {
    width: 23% !important;
}

th.involvementMobile {
    width: 17% !important;
}

th.involvementDate {
    width: 10% !important;
}

th.involvementTime {
    width: 10% !important;
}

.sa-button-container .cancel {
    float: right;
}

.sa-button-container {
    width: 50%;
    margin: 0 auto;
}


.actionlink_status button.PrintViewFrom {
    margin-top: 5px;
}

.actionlink_status button {
    cursor: pointer;
}

.m-widget19 .m-widget19__pic .m-widget19__shadow {
    top: 47% !important;
}

th.cntct_name {
    width: 15% !important;
}

th.cntct_email {
    width: 22% !important;
}

th.cntct_mobile {
    width: 16% !important;
}

th.cntct_message {
    width: 15% !important;
}

th.cntct_respond {
    width: 11% !important;
}

th.cntct_status {
    width: 13% !important;
}

th.DonationName {
    width: 15% !important;
}

th.DonationAddress {
    width: 15% !important;
}

th.DonationType {
    width: 12% !important;
}

th.DonationDate {
    width: 9% !important;
}

th.DonationTime {
    width: 10% !important;
}

th.DonationAmount {
    width: 10% !important;
}

th.DonationVolunteer {
    width: 9% !important;
}

th.DonationHosting {
    width: 9% !important;
}

.m-card-profile .m-card-profile__pic img {
    width: 130px !important;
    height: 130px !important;
}

.profie_edit_btn {
    position: absolute;
    right: -8px;
    bottom: -46px;
    background: #162864;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    text-align: center;
    padding: 10px 7px;
}

.fileUpload {
    position: relative;
}

.m-card-profile .m-card-profile__pic .profie_edit_btn img {
    width: 70% !important;
    height: auto !important;
    border-radius: 0;
    border: none;
    padding: 0;
}

.m-checkbox-list label.m-checkbox {
    display: inline-block;
}

a.m-card-profile__email.m-link {
    word-break: break-word;
}

.payment-form-wrapper.create_batch_wrap .form-buttons {
    position: static;
    padding-bottom: 10px;
}

input#TotalAmount {
    margin-left: 20px;
    margin-bottom: 15px;
}

li.news-view-img span {
    cursor: pointer;
}

p.about-detail-img a {
    cursor: pointer;
}

.profie_edit_btn {
    cursor: pointer;
}

.m-widget19 .m-widget19__content .m-widget19__header .m-widget19__user-img .m-widget19__img {
    height: 3.2rem !important;
}

.table-searh-wrap .search_table_bar {
    width: 225px;
}

.date_range_label {
    float: left;
    margin-right: 20px;
    min-width: 50px;
}

.mt_20 {
    margin-top: 20px;
}

.actionlink_status button {
    width: 100%;
    margin: 5px 0;
}

.actionlink_status a {
    width: 100%;
    margin: 5px 0;
}

#DownloadDoc {
    padding: 0;
}

.donerdownloadinvoice_print_btn .btn {
    min-width: 80px;
    margin-left: 15px;
}

.tdbatchbatch {
    width: 8%;
}

.tdbatchdatetime {
    width: 10%;
}

.tdbatchpurpose {
    width: 10%;
}

.tdbatchdaterange {
    width: 11%;
}

.tdbatchfiletye {
    width: 10%;
}

.tdbatchcreateby {
    width: 10%;
}

.tdbatchstatus {
    width: 12%;
}

.tdbatchaction {
    width: 8%;
}

.news_exclusive_main {
    margin: 0 30px;
}

.sndinvite_btn {
    background: #fb5276 !important;
    border: 1px solid #fb5276 !important;
}

.file_upload_main {
    overflow: hidden;
}

    .file_upload_main button {
        float: left;
    }

    .file_upload_main #spanFile {
        margin: 7px 0px 0 15px;
        float: left;
    }

.receipt_table_wrapper tr th {
    padding: 15px !important;
}

.forgot_pwd_link {
    width: 83%;
}

@media only screen and (max-width:1370px) {
    .table-searh-wrap .dataTables_filter .btn-danger {
        margin-left: 10px;
        padding: 0 20px;
    }

    .table-searh-wrap .table-status.show-item-select .form-control {
        width: 200px;
        margin: 0 10px 0 5px;
    }

    .table-searh-wrap .dataTables_filter .form-control {
        margin-right: 0;
    }

    .table-searh-wrap .search_table_bar {
        width: 225px;
        max-width: none !important;
        margin-right: 15px;
    }

        .table-searh-wrap .search_table_bar label {
            width: 100%;
        }

    .table-calender {
        top: 361px !important;
    }

    .table-searh-wrap .dataTables_filter {
        margin-bottom: 20px !important;
        margin-left: 0 !important;
    }

    .payment-form-wrapper label.col-1 {
        padding: 13px 0;
    }

    .form-control {
        padding: 10px 12px;
    }

    .add_delivery_time_edit .col-md-3 {
        padding-right: 0;
    }

    .add_delivery_time_edit .col-md-5 {
        padding-left: 0;
    }

    .amount-detail h1 {
        font-size: 36px;
    }

    .donation_value_wrap {
        display: block;
    }

        .donation_value_wrap .col {
            width: 33.33%;
            float: left;
            margin-bottom: 12px;
        }

    .table-searh-wrap.event_searh_wrap .table-status.show-item-select .form-control {
        width: 130px;
        margin: 0 10px 0 5px;
    }

    .table-searh-wrap.event_searh_wrap .search_table_bar {
        width: 135px;
        max-width: none !important;
        margin-right: 15px;
    }

    div.dataTables_wrapper div.dataTables_length select {
        width: 70px !important;
    }

    .chart-select.show-item-select .form-control {
        padding: 0 12px;
    }

    .actionlink_status a, .actionlink_status button {
        font-size: 12px !important;
        padding: 7px 10px !important;
    }
}

@media only screen and (max-width:767px) {
    .download-app-container .parkeee-logo-container {
        padding: 0px 0 40px;
    }


    .app-button-wrapper a {
        padding-bottom: 15px;
        display: block;
    }

    .download-app-container h1 {
        padding: 0 15px;
    }

    .login-right-banner {
        display: none;
    }

    .m-login.m-login--1 .m-login__aside {
        width: 100%;
        padding: 2rem 0rem;
    }

    .news_exclusive_main img {
        width: 100% !important;
        margin-bottom: 10px;
    }
}

.btn-sm {
    display: inline-block;
    /* font-weight: 400; */
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    /* padding: .85rem 1.15rem; */
    font-size: 1rem;
    line-height: 1;
    border-radius: .25rem;
    border-radius: 60px;
    cursor: pointer;
    -webkit-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
}

.sweet-alert button.cancel {
    background-color: #555 !important;
}

.sweet-alert button {
    background-color: #f4516c !important;
    border-radius: 100px !important;
}

.redirect-link {
    text-decoration: underline;
    color: #666674;
}

.page-nav {
    margin-left: 16px;
    margin-top: 10px;
}

    .page-nav a {
        color: #8C8C8A;
        text-decoration: underline;
        font-size: 14px;
        font-weight: bold;
        margin-right: 8px;
    }

    .page-nav .active {
        color: #040032;
    }

.m-login__wrapper {
    padding: 20% 2rem 2rem 2rem !important;
}

.comunnity_gallery_wrap, .comunnity_about_wrap {
    height: 118px;
    overflow-x: hidden;
    overflow-y: auto;
}

.comunnity_about_wrap {
    height: 240px;
    word-break: break-word;
}
.phn-number-wrap {
    text-overflow: unset !important;
    white-space: unset !important;
    overflow: visible !important;
}

@-moz-document url-prefix() {
    .comunnity_about_wrap {
        height: 265px;
    }
}

.comunnity_scroll {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
.chart-select.show-item-select .form-control.view-analysis-drop {
    width: 300px !important;
}

.m-card-profile .m-card-profile__pic a img {
    width: 130px !important;
    height: 130px !important;
    border-radius: 100px;
    border: 1px solid #c2c2c2;
    padding: 10px;
}

@media only screen and (max-width: 1400px) {
    .comunity_ul_wrap li a, .comunity_ul_wrap li span {
        width: 110px !important;
    }
    .about-comunity li {
        width: 31% !important;
    }
    .about-comunity li span {
        font-size: 14px !important;
    }
}
.hline {
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #D3D3D3; /* whichever color you prefer */
}
.selectbox-ul-wrap li {
    width: auto !important;
    float: none !important;
}
.popDetail {cursor:pointer;
}