﻿@model FPModels.Models.MemberBenefitModel

@if (Model != null)
{
    <div class="m-content payment-form-wrapper">
        <div class="row">
            <div class="col-md-12">
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Details
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group">
                                @Html.HiddenFor(m => m.MemberBenefitId)
                                @Html.HiddenFor(m => m.EncryptedMemberBenefitId, new { @id = "hfMemberBenefitId" })
                                <label for="exampleInputEmail1">Title<req>*</req></label>
                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control m-input", @placeholder = "Title", @maxlength = "200", @required = "required" })
                                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "m-form__help" })
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Added By<req>*</req></label>
                                @Html.TextBoxFor(m => m.AddedBy, new { @class = "form-control m-input", @placeholder = "Added By", @maxlength = "50", @required = "required" })
                                @Html.ValidationMessageFor(m => m.AddedBy, "", new { @class = "m-form__help" })
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Added Date<req>*</req></label>
                                <div class="input-group date">
                                    @Html.TextBoxFor(model => model.AddedByDate, new { @id = "AddedByDate", @class = "form-control m-input datepicker_nopast", @style = "display:block;", @autocomplete = "off", @required = "required" })
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="la la-calendar glyphicon-th"></i></span>
                                    </div>

                                </div>
                                @Html.ValidationMessageFor(m => m.AddedByDate, "", new { @class = "m-form__help" })
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Description<req>*</req></label>
                                @Html.TextAreaFor(model => model.Descriptiion, new { @class = "form-control m-input", @rows = "15", @placeholder = "Write Content", @required = "required" })
                                @Html.ValidationMessageFor(model => model.Descriptiion, "", new { @class = "m-form__help" })

                            </div>
                        </div>
                        <br />
                        <div class="m-form__actions form-buttons">
                            <button type="submit" id="btnSubmit" class="btn btn-primarygreen">Add</button>

                            @if (Model.MemberBenefitId > 0)
                            {
                                if (FPBAL.Business.MenuAccess.Allow("Delete"))
                                {

                                    @*<a href="/MemberBenefit/delete?mid=@Model.EncryptedMemberBenefitId"
                   class="btn btn-primary"
                   id="@Model.EncryptedMemberBenefitId"
                   onclick="return Confirm('Are you sure you want to delete this record?',this)">
                    Delete
                </a>*@
                                    <a href="/MemberBenefit/delete?mid=@Model.EncryptedMemberBenefitId"
                                       class="btn btn-primary"
                                       id="@Model.EncryptedMemberBenefitId"
                                       onclick="return Confirm('Are you sure you want to delete this record?',this)">
                                        Delete
                                    </a>
                                }
                            }

                            @Html.ActionLink("Cancel", "index", "MemberBenefit", new { @id = "Cancel", @class = "btn btn-secondary" })



                        </div>
                    </div>

                    
                    <!--end::Form-->
                </div>
                <!--end::Portlet-->
            </div>
        </div>

    </div>
}
    <script>

        
    function AlertWithNewWindow(text, newWindow) {
            swal({
                title: 'Alert',
                title: text,
                text: text,
                type: "info",
            },
                function () {
                    window.location.href = newWindow;
                });
        }
      function Confirm(title, event) {
            //debugger;
            var clientid = event.id;
            var href = '/MemberBenefit/delete?mid=' + clientid;
            var returnType = false;

            swal({
                title: "Warning",//"Are you sure?",
                text: title,
                //text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: true
            },
                function (isConfirm, id) {
                if (isConfirm) {
                    window.location.href = href;
                    returnType = true;
                    //swal("Deleted!", "Record has been deleted.", "success");
                } else {
                    //$('div').click();
                    //$('#' + clientid).blur();
                    returnType = false;
                }
            }
        );
            return returnType;
        }
        //function Confirm(title, event) {
        //    var clientid = event.id;
        //    var href = $('#' + clientid).attr('href');
        //    var returnType = false;

        //    swal({
        //        title: "Warning",//"Are you sure?",
        //        text: title,
        //        //text: "You will not be able to recover this imaginary file!",
        //        type: "warning",
        //        showCancelButton: true,
        //        confirmButtonColor: "#DD6B55",
        //        confirmButtonText: "Yes",
        //        cancelButtonText: "No",
        //        closeOnConfirm: true,
        //        closeOnCancel: true
        //    },
        //        function (isConfirm, id) {
        //            if (isConfirm) {
        //                window.location.href = href;
        //                returnType = true;
        //                //swal("Deleted!", "Record has been deleted.", "success");
        //            } else {
        //                //$('div').click();
        //                $('#' + clientid).blur();
        //                returnType = false;
        //            }
        //        }
        //    );
        //    return returnType;
        //}


    
</script>