﻿@using FPModels.Models
@model MemberBenefitModel
@{
    ViewBag.Title = "Peer to Peer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("detail", "MemberBenefit", FormMethod.Post))
{
    <div class="m-content">
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--tab">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Peer to Peer Details
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <ul class="list-unstyled event-detail">

                    <li>
                        <label>Title</label>
                        <p>
                            @Model.Title
                        </p>
                    </li>
                    <li>
                        <label>Description</label>
                        <p>
                            @Model.Descriptiion
                        </p>
                    </li>
                    <li>
                        <label>Added By</label>
                        <p>@Model.AddedBy</p>
                    </li>
                    <li>
                        <label>Added Date & Time</label>
                        <p>@Model.AddedByDate</p>
                    </li>

                    
                    
                </ul>
                <div class="m-form__actions form-buttons">
                    @if (FPBAL.Business.MenuAccess.Allow("edit"))
                    {
                        <a href="@Url.Action("Edit", "MemberBenefit", new { mid = Model.EncryptedMemberBenefitId })" class="btn btn-primary">Edit</a>

                        @*<a href="@Url.Action("Delete", "MemberBenefit", new { mid = Model.EncryptedMemberBenefitId })" class="btn custome-cnbtn">Delete</a>*@

                    }

                    <a href="/memberbenefit/index" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </div>
    </div>

}

