﻿@using FPModels.Models
@model  BatchModel
@{
    ViewBag.Title = "Batch Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .menu-access {
        background-color: #21427a !important;
        border: 1px solid #21427a;
    }
</style>
@using (Html.BeginForm("detail", "batch", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="m-grid__item m-grid__item--fluid m-wrapper">

        <div class="m-content payment-form-wrapper">
            <div class="row">
                <div class="col-md-6">
                    <!--begin::Portlet-->
                    <div class="m-portlet m-portlet--tab">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        View Batch
                                    </h3>
                                </div>
                            </div>
                        </div>

                        <!--begin::Form-->

                        <div class="m-portlet__body">
                            <ul class="list-unstyled event-detail batch_detail_ul">
                                <li>
                                    <div class="row">
                                        <div class="col-md-8">
                                            @Html.HiddenFor(m => m.BatchId)
                                            <label>Batch Number</label>
                                            <p>@Model.BatchNumber</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <label>Batch Date & Time </label>
                                    <p>
                                        @Html.DisplayFor(m => m.CreateDate)
                                    </p>
                                </li>
                                <li>
                                    <label>Purpose</label>
                                    <p> @Html.DisplayFor(m => m.PurposeText)</p>
                                </li>
                                <li>
                                    <label>Date Range</label>
                                    <p>
                                        @Html.DisplayFor(m => m.DateFrom)
                                        -
                                        @Html.DisplayFor(m => m.DateTo)
                                    </p>
                                </li>
                                <li>
                                    <label>File Type</label>
                                    <p>
                                        @Html.DisplayFor(m => m.FileType)
                                        <a href="/download.ashx?type=batch&file=@FPBAL.Business.UtilityAccess.Encrypt(Model.FilePath)" target="_blank">
                                            <span class="fa fa-download"></span>
                                        </a>
                                    </p>

                                </li>
                                <li>
                                    <label>Created By</label>
                                    <p>
                                        @Html.DisplayFor(m => m.CreatedBy)
                                    </p>
                                </li>
                                <li>
                                    <label>Status<req>*</req></label>
                                    <p>
                                        @Html.DropDownListFor(m => m.Status, Model._StatusList, new { @class = "custom-select custom-select-sm form-control form-control-sm", @style = "width:140px;" })
                                    </p>
                                </li>
                            </ul>

                            <div class="m-form__actions form-buttons" style="margin-bottom:20px;">
                                @if (FPBAL.Business.MenuAccess.Allow("edit"))
                                {
                                    <button type="submit" class="btn btn-primary">Save</button>
                                }

                                <a href="/batch/index" class="btn btn-secondary">Cancel</a>
                            </div>
                        </div>
                        <!--end::Form-->
                    </div>

                    <!--end::Portlet-->
                </div>
                <div class="col-md-6">

                    <!--begin::Portlet-->
                    <div class="m-portlet m-portlet--tab">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        Batch Detail
                                    </h3>
                                </div>
                            </div>
                        </div>

                        <!--begin::Form-->
                        <div class="m-form m-form--fit m-form--label-align-right">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group">
                                    <ul class="list-unstyled event-detail">
                                        <li>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <label>Payment Transactions</label>
                                                    <p>@Model.NoOfPayment</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <label>Refund Transactions</label>
                                            <p> @Html.DisplayFor(m => m.NoOfRefund)</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--end::Form-->
                    </div>

                    <!--end::Portlet-->
                </div>
            </div>
        </div>
    </div>
}