﻿@model FPModels.Models.BatchModel
@{
    ViewBag.Title = "Batch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("index", "batch", FormMethod.Post))
{
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            View Batch
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="table-searh-wrap">
                    <div id="m_table_1_filter" class="dataTables_filter search_table_bar" style="display:inline-block;">
                        <label>
                            <img src="/Content/images/search.png" alt="search">
                            @Html.TextBoxFor(m => m.Search, new { @class = "form-control form-control-sm", @placeholder = "Search" })
                            @*<input type="search" class="form-control form-control-sm" placeholder="Search" aria-controls="m_table_1">*@
                        </label>

                    </div>
                    <div id="m_table_1_filter-1" class="dataTables_filter table-status show-item-select" style="margin-left:20px;">
                        <label>
                            Purpose:
                            @Html.DropDownListFor(m => m.PurposeId, Model._PurposeList, new { @class = "custom-select custom-select-sm form-control form-control-sm" })
                        </label>
                    </div>

                    <div id="m_table_1_filter-1" class="dataTables_filter table-status table_date_calendar  show-item-select">
                        <label>
                            Date:
                            @Html.TextBoxFor(m => m.DateFrom, new { @class = "custom-select custom-select-sm form-control form-control-sm myCalendar cldrbottom", @placeholder = "Select Date", @autocomplete = "off" })
                            <i class="la la-calendar glyphicon-th"></i>
                        </label>
                    </div>
                    <div id="m_table_1_filter-1" class="dataTables_filter table-status table_date_calendar show-item-select">
                        <label>
                            to:   @Html.TextBoxFor(m => m.DateTo, new { @class = "custom-select custom-select-sm form-control form-control-sm myCalendar", @placeholder = "Select Date", @autocomplete = "off" })
                            <i class="la la-calendar glyphicon-th"></i>
                        </label>
                        <button type="submit" class="btn m-btn--pill    btn-danger" style="margin-left:10px;">Search</button>
                    </div>

                    @*@if (FPBAL.Business.MenuAccess.Allow("Create"))
                        {*@
                    <div class="pull-right">
                        <a href="~/batch/create" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                            <span>
                                <i class="la la-plus"></i>
                                <span>Create</span>
                            </span>
                        </a>
                    </div>
                    @*}*@
                </div>

                <table class="table table-striped- table-hover table-responsive table-pagger" cols="6" id="m_table_1">

                    <thead>
                        <tr>
                            <th class="tdbatchbatch"><a href="#">Batch</a></th>
                            <th class="tdbatchdatetime"><a href="#">Date Time</a></th>
                            <th class="tdbatchpurpose"><a href="#">Purpose</a></th>
                            <th class="tdbatchdaterange"><a href="#">Date Range</a></th>
                            <th class="tdbatchfiletye"><a href="#">File Type</a></th>
                            <th class="tdbatchcreateby"><a href="#">Created By</a></th>
                            <th class="tdbatchstatus"><a href="#"> Status</a></th>
                            <th class="tdbatchaction"><a href="#"> Action</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model._BatchList != null)
                        {
                            foreach (var item in Model._BatchList)
                            {
                                <tr>

                                    <td>
                                        <a href="@Url.Action("detail","batch",new { bid = FPBAL.Business.UtilityAccess.Encrypt(Convert.ToString(item.BatchId)) })" style="text-decoration:underline; color:#666674;">
                                            @item.BatchNumber
                                        </a>
                                    </td>
                                    <td>@item.CreateDate</td>
                                    <td>@item.PurposeText</td>
                                    <td>@item.DateRange</td>
                                    <td>@item.FileType</td>
                                    <td>@item.CreatedBy</td>
                                    <td>
                                        @if (item.Status == "Created")
                                        {
                                            <span class="m-badge  m-badge--success m-badge--wide">Created</span>
                                        }
                                        else if (item.Status == "Uploaded")
                                        {
                                            <span class="m-badge  m-badge--brand m-badge--wide">Uploaded</span>
                                        }
                                        else
                                        {
                                        <span class="m-badge  m-badge--info m-badge--wide">Downloaded</span>
                                        }
                                    </td>
                                    <td>
                                        <a href="/download.ashx?type=batch&file=@FPBAL.Business.UtilityAccess.Encrypt(item.FilePath)" target="_blank">
                                            <span class="fa fa-download"></span>
                                        </a>

                                        @*<a href="/App_Data/BatchFiles/@item.FilePath" target="_blank" download="@item.FilePath">
            <span class="fa fa-download"></span>
        </a>*@
                                        @*<a href="@Url.Action("edit","batch",new { bid =FPBAL.Business.UtilityAccess.Encrypt(Convert.ToString(item.BatchId))})"
           >
            <span class="fa fa-pencil-alt"></span>
        </a>*@
                                    </td>
                                </tr>
                            }
                                    }

                    </tbody>
                </table>
                <div class="row mt-30" id="pagging1"></div>
            </div>
        </div>
    </div>
}

@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
@*<script type="text/javascript">

        $(document).ready(function () {
            $(".cldrbottom").datepicker({ //<-- yea .. the id was not right
               format: "mm/dd/yy", // <-- format, not dateFormat
                //showOtherMonths: true,
                //selectOtherMonths: true,
                //autoclose: true,
                //changeMonth: true,
                //changeYear: true,
                //gotoCurrent: true,
                orientation: "bottom left" // <-- and add this
            });

            $('#cmid_45').click(function () {
               
                $('#EventsCouns').text(0);
                $("#EventsCouns").filter(function () {
                    return $(this).text().trim() === "0";
                }).hide();
            });
        });



    </script>*@

