﻿@model FPModels.Models.DirectoryModel

@if (Model != null)
{
    <div class="m-content payment-form-wrapper">
        <div class="row">
            <div class="col-md-6">
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Add Officer
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group">
                                @Html.HiddenFor(m => m.UserId)
                                @Html.HiddenFor(m => m.EncryptedUserId)
                                <label for="exampleInputEmail1">Local</label>
                                @Html.TextBoxFor(m => m.Local, new { @class = "form-control m-input numbersOnly", @placeholder = "Local", @maxlength = "50" })
                                @Html.ValidationMessageFor(m => m.Local, "", new { @class = "m-form__help" })
                            </div>
                            <div class="form-group m-form__group">
                                <div class="add_delivery_time_edit row">
                                    <div class="col-md-6">
                                        <label for="exampleInputEmail1">First Name<req>*</req></label>
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control m-input", @placeholder = "First Name", @maxlength = "30", @required = "required" })
                                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "m-form__help" })
                                    </div>

                                    <div class="col-md-6">
                                        <label for="exampleInputEmail1">M.I.</label>
                                        @Html.TextBoxFor(m => m.MI, new { @class = "form-control m-input", @placeholder = "MI", @maxlength = "1" })
                                        @Html.ValidationMessageFor(m => m.MI, "", new { @class = "m-form__help" })
                                    </div></div>
                                </div>
                                <div class="form-group m-form__group">
                                    <label for="exampleInputEmail1">Last Name<req>*</req></label>
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control m-input", @placeholder = "Last Name", @maxlength = "30", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "m-form__help" })

                                </div>
                                <div class="form-group m-form__group">
                                    <label for="exampleInputEmail1">Address Line 1<req>*</req></label>
                                    @Html.TextBoxFor(m => m.AddressLine1, new { @class = "form-control m-input", @placeholder = "Address Line 1" })
                                    @Html.ValidationMessageFor(m => m.AddressLine1, "", new { @class = "m-form__help" })

                                </div>
                                <div class="form-group m-form__group">
                                    <label for="exampleInputEmail1">Address Line 2</label>
                                    @Html.TextBoxFor(m => m.AddressLine2, new { @class = "form-control m-input", @placeholder = "Address Line 2" })
                                    @Html.ValidationMessageFor(m => m.AddressLine2, "", new { @class = "m-form__help" })

                                </div>
                                <div class="form-group m-form__group">
                                    <div class="add_delivery_time_edit row">
                                        <div class="col-md-6">
                                            
                                                <label for="exampleInputEmail1">City<req>*</req></label>
                                                @Html.TextBoxFor(m => m.CityName, new { @class = "form-control m-input", @placeholder = "City Name", @required = "required" })
                                                @Html.ValidationMessageFor(m => m.CityName, "", new { @class = "m-form__help" })
                                          
                                        </div>
                                        <div class="col-md-6">
                                            <label for="exampleInputEmail1">State<req>*</req></label>
                                            @Html.DropDownListFor(m => m.StateId, Model._StateList, new { @class = "form-control country input_img_desc m-input" })
                                            @Html.ValidationMessageFor(m => m.StateId, "", new { @class = "m-form__help" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group">
                                    <div class="add_delivery_time_edit row">
                                        <div class="col-md-6">
                                            
                                                <label for="exampleInputEmail1">District</label>
                                                @Html.TextBoxFor(m => m.District, new { @class = "form-control m-input", @placeholder = "District", @maxlength = "50" })
                                                @Html.ValidationMessageFor(m => m.District, "", new { @class = "m-form__help" })
                                            </div>
                                        
                                        <div class="col-md-6">
                                            <label for="exampleInputEmail1">Zipcode<req>*</req></label>
                                            @Html.TextBoxFor(m => m.Zip, new { @class = "form-control m-input ZipOnly ", @placeholder = "Zipcode", @maxlength = "10" })
                                            @Html.ValidationMessageFor(m => m.Zip, "", new { @class = "m-form__help" })
                                        </div>
                                    </div> 
                                </div>
                                <div class="form-group m-form__group">
                                    <div class="add_delivery_time_edit row">
                                        <div class="col-md-6">
                                                <label for="exampleInputEmail1">County</label>
                                                @Html.TextBoxFor(m => m.County, new { @class = "form-control m-input", @placeholder = "County", @maxlength = "15" })
                                                @Html.ValidationMessageFor(m => m.County, "", new { @class = "m-form__help" })
                                            
                                        </div>
                                        <div class="col-md-6">
                                            <label for="exampleInputEmail1">Cellphone</label>
                                            <div class="add_delivery_time_edit row">
                                                <div class="col-md-5">
                                                    @Html.DropDownListFor(m => m.ISDCode, Model._ISDCodeList, new { @class = "form-control Isd" })
                                                    <span class="m-form__help">@Html.ValidationMessageFor(m => m.ISDCode)</span>
                                                </div>
                                                <div class="col-md-7">
                                                    @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control m-input USMobileFormat", @placeholder = "Mobile", @maxlength = "12" })
                                                    @Html.ValidationMessageFor(m => m.Mobile, "", new { @class = "m-form__help" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="form-group m-form__group">
                                    @*class="form-group m-form__group">*@
                                    <div class="add_delivery_time_edit row">
                                        <div class="col-md-6">
                                            <label for="exampleInputEmail1">Telephone</label>
                                            <div class="add_delivery_time_edit row">
                                                <div class="col-md-5">
                                                    @Html.DropDownListFor(m => m.TeleISDCode, Model._ISDCodeList, new { @class = "form-control Isd" })
                                                    <span class="m-form__help">@Html.ValidationMessageFor(m => m.TeleISDCode)</span>
                                                </div>
                                                <div class="col-md-7">
                                                    @Html.TextBoxFor(m => m.Telephone, new { @class = "form-control m-input USMobileFormat", @placeholder = "Telephone", @maxlength = "14" })
                                                    @Html.ValidationMessageFor(m => m.Telephone, "", new { @class = "m-form__help" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="exampleInputEmail1">Email<req>*</req></label>
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control m-input", @placeholder = "Email", @maxlength = "60" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "m-form__help" })
                                        </div>
                                    </div>
                                </div>
                                    <!--end::Form-->
                                </div>
                            <!--end::Portlet-->
                        </div>
                    </div></div>
            <div class="col-md-6">
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Additional Details
                                </h3>
                            </div>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">

                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Title<req>*</req></label>
                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control m-input AlphabetOnly", @placeholder = "Title", @maxlength = "30", @required = "required" })
                                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "m-form__help" })

                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Member Type<req>*</req></label>
                                @Html.DropDownListFor(m => m.MemberTypeId, Model._MemberTypeList, new { @class = "form-control m-input", @required = "required" })
                                @Html.ValidationMessageFor(m => m.MemberTypeId, "", new { @class = "m-form__help" })

                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">SSN<req>*</req></label>
                                @Html.TextBoxFor(m => m.UniqueId, new { @class = "form-control m-input", @placeholder = "SSN", @maxlength = "4", @required = "required" })
                                @Html.ValidationMessageFor(m => m.UniqueId, "", new { @class = "m-form__help" })

                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Local Name</label>
                                @Html.TextBoxFor(m => m.ConDis, new { @class = "form-control m-input", @placeholder = "Local Name", @maxlength = "60"})
                                @Html.ValidationMessageFor(m => m.ConDis, "", new { @class = "m-form__help" })

                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Birthday</label>
                                @Html.TextBoxFor(m => m.BirthDay, new { @class = "form-control m-input myCalendar", @placeholder = "Birthday", @maxlength = "10"})
                                @Html.ValidationMessageFor(m => m.BirthDay, "", new { @class = "m-form__help" })
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">DL#</label>
                                @Html.TextBoxFor(m => m.DL, new { @class = "form-control m-input", @placeholder = "Driving License Number", @maxlength = "10" })
                                @Html.ValidationMessageFor(m => m.DL, "", new { @class = "m-form__help" })
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Status<req>*</req></label>
                                @Html.HiddenFor(m => m.Status, new { @id = "Status" })
                                @Html.DropDownListFor(m => m.StatusId, Model._StatusList, new {@id= "StatusId", @class = "form-control m-input"})
                                @Html.ValidationMessageFor(m => m.StatusId, "", new { @class = "m-form__help" })
                            </div>
                         
                            <div class="m-form__group form-group add-file-wrap">
                                <label for="exampleInputEmail1">Add Profile Picture</label>
                                <div class="upload-btn-wrapper cropBoxDynamic" cTotalImg="1" cWidth="100" cHeight="100">
                                    <button type="button" class="btn">
                                        Upload
                                    </button>
                                </div>
                                <div class="upload_img_wrap" id="upload1d">
                                    @*Test=@Model.LogoPath*@
                                    @Html.HiddenFor(m => Model.LogoPath)
                                    @Html.HiddenFor(m => Model.ImageBase64, new { @id = "hfIB_0" })
                                    <img id="cross_0"
                                         class="cross @(String.IsNullOrEmpty(Model.LogoPath) ? "hide" : "show")"
                                         src='~/Content/images/close.png'
                                         db="#img_0" data="#hfIB_0" hfPath="#hfPath_0" />
                                    <img id="img_0"
                                         src="/@(String.IsNullOrEmpty(Model.LogoPath) ? "/content/images/blank.png" : Model.LogoPath)"
                                         data-animation="#file"
                                         onerror="this.onerror=null;this.src = '../content/images/no-image.png';"
                                         alt="Add Image"
                                         style="width:70px;height:60px;" />

                                    @Html.ValidationMessageFor(m => m.LogoPath, "", new { @class = "m-form__help" })
                                </div>

                            </div>
                            <div class="m-form__actions form-buttons">
                                @if (Model.EncryptedUserId == null)
                                {
                                    <button type="submit" id="btnSave" class="btn btn-primary">Add</button>
                                }
                                else
                                {
                                    if (FPBAL.Business.MenuAccess.Allow("Delete"))
                                    {
                                        <a href="/directory/delete?lid=@Model.EncryptedUserId"
                                           class="btn btn-secondary"
                                           id="@Model.EncryptedUserId"
                                           onclick="return Confirm('Are you sure you want to delete this record?',this)">
                                            Delete
                                        </a>
                                    }
                                        <button type="submit" id="btnSave" class="btn btn-primary">Update</button>
                                    }
                                    @Html.ActionLink("Cancel", "index", "directory", new { @id = "Cancel_", @class = "btn btn-secondary" })
                                </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
    </div> 

}
<script>
    $(document).ready(function () {
        //debugger;
        if ($('#Status').val() == "Active") {
            $('#StatusId').val('Active');

        }
        else {
            $('#StatusId').val('InActive');
        }
    });
      $("body").on("click", ".cross", function (e) {
        $(this).removeClass("show").addClass("hide");
          $("#img_0").attr("src", "");
        $("#hfPath_0").val('');
          $("hfPath_0").val('');
          $('#@Html.IdFor(m=>m.LogoPath)').val("");
         $('#img_0').hide();
    });
    $('#StatusId').change(function () {
        var status = $('#StatusId option:selected').text();
        $('#Status').val(status);
        $('#Status').val();
    });
     function AlertWithNewWindow(text, newWindow) {
            swal({
                title: 'Alert',
                title: text,
                text: text,
                type: "info",
            },
                function () {
                    window.location.href = newWindow;
                });
        }
      function Confirm(title, event) {
            //debugger;
            var clientid = event.id;
            var href = '/directory/delete?lid=' + clientid;
            var returnType = false;

            swal({
                title: "Warning",//"Are you sure?",
                text: title,
                //text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: true
            },
                function (isConfirm, id) {
                if (isConfirm) {
                    window.location.href = href;
                    returnType = true;
                    //swal("Deleted!", "Record has been deleted.", "success");
                } else {
                    //$('div').click();
                    //$('#' + clientid).blur();
                    returnType = false;
                }
            }
        );
            return returnType;
        }
</script>