﻿@using FPModels.Models;
@model DirectoryModel
@{
                /**/

                ViewBag.Title = "Directory";
                Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("detail", "Directory", FormMethod.Post))
{
    <div class="m-content payment-form-wrapper">
        <div class="row">
            <div class="col-md-6">
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Officer Details
                                </h3>
                            </div>
                        </div>
                    </div>
                    @Html.HiddenFor(m=>m.EncryptedUserId)
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <ul class="list-unstyled event-detail form-group m-form__group">
                                <li>
                                    @if (Model.LogoPath == "")
                                    { }
                                    else
                                    {
                                    <div class="m-card-profile">
                                        <div class="m-card-profile__pic">
    
                                            <img src="/@Model.LogoPath"
                                                 onerror="this.src='/content/images/no-image-rec.png';">

                                            <img src="/content/images/verified--img.png" class="verifiyimag">

                                        </div>
                                    </div>
                                    }
                                </li>
                                <li>
                                    <div class="add_delivery_time_edit row">
                                        <div class="col-md-6">

                                            <label>First Name</label>
                                            <p>
                                                @Model.FirstName
                                            </p>
                                        </div>
                                        <div class="col-md-7">

                                            @if (@Model.MI == "")
                                            {
                                            }
                                            else
                                            {
                                                <label>M.I.</label>
                                                <p>
                                                    @Model.MI
                                                </p>
                                            }

                                        </div>
                                    </div>

                        </li>
                        <li>
                            <label>Last Name</label>
                            <p>
                                @Model.LastName
                            </p>
                        </li>
                        <li>
                            <label>Title</label>
                            <p>@Model.Title</p>
                        </li>
                        <li>
                            <label>SSN</label>
                            <p>@Model.UniqueId</p>
                        </li>
                        <li>
                        <li>
                            <label>Mobile</label>
                            <p>@Model.ISDCode @Model.Mobile</p>
                        </li>
                        <li>
                            <label>Email</label>
                            <p>@Model.Email</p>
                        </li>
                        </ul>
                    </div>
                    </div>
                    </div>
                </div>
                    <div class="col-md-6">
                        <div class="m-portlet m-portlet--tab">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <span class="m-portlet__head-icon m--hide">
                                            <i class="la la-gear"></i>
                                        </span>
                                        <h3 class="m-portlet__head-text">
                                            Other Details
                                        </h3>
                                    </div>
                                </div>
                            </div>

                            <!--begin::Form-->
                            <div class="m-form m-form--fit m-form--label-align-right">
                                <div class="m-portlet__body">
                                    <ul class="list-unstyled event-detail form-group m-form__group">
                                        <li>
                                            @if (Model.ModifyDate == "")
                                            {
                                            <p>@Model.CreateDate</p>
                                            }
                                            else
                                            {
                                                <label>Last Activity</label>
                                                <p>@Model.ModifyDate</p>
                                            }

                                        </li>

                                        <li>
                                            <label>Status</label>
                                            @if (Model.Status == "Active")
                                            {
                                                <p><span class="m-badge  m-badge--primary m-badge--wide">Active</span></p>
                                            }
                                            else if (Model.Status == "InActive")
                                            {
                                                <p><span class="m-badge m-badge--metal m-badge--wide contacted-btn process-btn">InActive</span></p>
                                            }
                                            else if (Model.Status == "Invited")
                                            {
                                                <p><span class="m-badge  m-badge--metal m-badge--wide">Invited</span></p>
                                            }

                                        </li>
                                        <li>
                                            <label>Claimed Status</label>
                                            @if (Model.IsVerified == true)
                                            {
                                                <p><span class="m-badge  m-badge--metal m-badge--wide" style="background-color: #2bb10a;">Claimed</span></p>
                                            }
                                            else
                                            {
                                                <p><span class="m-badge  m-badge--metal m-badge--wide" style="background-color: #ec0f41">UnClaimed</span></p>
                                            }
                                        </li>



                                    </ul>
                                    <div class="m-form__actions form-buttons">
                                        @if (FPBAL.Business.MenuAccess.Allow("edit"))
                                        {
                                            if (Model.MemberTypeId > 1)
                                            {
                                                <a href="@Url.Action("Edit", "Directory", new { uid = Model.EncryptedUserId })" class="btn btn-primary">Edit</a>
                                            }

                                            else if (Model.MemberTypeId == 1 && Model.UserId==Model.LoggedUserId)
                                            {
                                                <a href="@Url.Action("Edit", "Directory", new { uid = Model.EncryptedUserId })" class="btn btn-primary">Edit</a>
                                            }

                                            
                                        }

                                        <a href="/directory/index" class="btn btn-secondary">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

            }
