﻿@model FPModels.Models.DirectoryModel
@{
    ViewBag.Title = "Directory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" />
<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }

   
        .dataTables_paginate12 tr td{
            border:0;
        }
        .cus-pgination12 ul{
            padding: 5px;
            margin-left: 15px;
            margin-bottom:0;
        }
        .cus-pgination12 ul li.active a {
             background: #2e5ca9 !important;
             color: #fff !important;
        }
         .custom-select.custom-select-sm.form-control.form-control-sm {
            width: auto;
            display: inline-block;
            margin: 0 5px;
        }

</style>
<style>

    .main-mb
    .md-box-content {
        padding: 30px;
    }

    .md-box-content .md-box-main {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .md-divid-div.div-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .md-divid-div.div-img img {
            width: 100%;
            padding-right: 10px;
        }

    .md-divid-div .md-right-text {
        width: 100%;
    }

    .md-right-text .md-title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .md-footer {
        margin-top: 40px;
        padding-top: 50px;
        position: relative;
    }

    .progress-bar.progress-bar-striped {
        background-color: #194280;
    }

    .md-footer .progress .lable-pp {
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        font-size: 18px;
        font-weight: 600;
        color: #194280;
    }

    .main-mb button.close {
        background: #808080;
        border-radius: 100%;
        padding: 10px;
        margin: 0px;
        text-decoration: none;
        outline: none;
        box-shadow: none;
        color: #fff;
    }

    .md-right-text .md-title .vl-value {
        font-weight: 700;
    }


</style>

@using (Html.BeginForm("index", "directory", FormMethod.Post))
{
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile responsdiveass">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            View Officers
                        </h3>
                    </div>
                </div>
            </div>
            @Html.HiddenFor(m => m.TotalCount)
            @Html.HiddenFor(m => m.PendingCount)
            @Html.HiddenFor(m => m.DuplicateCount)
            @Html.HiddenFor(m => m.InsertedCount)
            @Html.HiddenFor(m => m.FileNotAdded)

            @Html.HiddenFor(m => m.ErrorMessage)
            @Html.HiddenFor(m => m.CurrentPageIndex1, new { @class = "clCurrentPageIndex1" })
            @Html.HiddenFor(m => m.TotalCountlist, new { @class = "clTotalCountlist" })

            <div class="m-portlet__body responsdiveass ">
                <div class="table-searh-wrap event_searh_wrap">
                    <div id="m_table_1_filter" class="dataTables_filter search_table_bar" style="display:inline-block;">
                        <label>
                            <img src="/Content/images/search.png" alt="search">
                            @Html.TextBoxFor(m => m.Search, new
                            {
                                @class = "form-control form-control-sm",
                                @placeholder = "Search"@*, @aria-controls = "m_table_1"*@})
                            @*<input type="search" class="form-control form-control-sm" placeholder="Search" aria-controls="m_table_1">*@
                        </label>

                    </div>
                    <div id="m_table_1_filter-1" class="dataTables_filter table-status show-item-select" style="margin-left:20px;">
                        <label>
                            Status:
                            @Html.DropDownListFor(m => m.Status, Model._StatusList, new { @class = "custom-select custom-select-sm form-control form-control-sm" })
                        </label>
                    </div>

                    <button type="submit" class="btn m-btn--pill    btn-danger" style="margin-left:25px;">Search</button>




                    @if (FPBAL.Business.MenuAccess.Allow("Create"))
                    {

                        <div class="pull-right">
                            <a class="BtnResendAll btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                                <span>Invite All</span>
                            </a>
                            @*href="~/directory/importexcel?eid=@Model.EncryptedLoggedId"*@
                            <a class="btn ImportExcel">
                                <span>
                                    <img src="~/Content/images/Import-Excel-icon.png" alt="" />

                                </span>
                                @*@Html.TextBoxFor(model => model.HttpPostedFile, "", new { @type = "file", @id = "fileUser", @class = "la la-plus" })*@

                            </a>
                            <a href="~/directory/create?eid=@Model.EncryptedLoggedId" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                                <span>
                                    <i class="la la-plus"></i>
                                    <span>New</span>
                                </span>
                            </a>
                        </div>

                    }

                </div>

                <!--begin: Datatable -->
                @*<table class="table table-striped- table-hover" id="m_table_1">*@
                <table class="table-responsive table table-striped- table-hover " cols="7" id="m_table_1">
                    <thead>
                        <tr>
                            <th>Officer Id</th>
                            <th>Name</th>
                            <th>Title</th>
                            <th>Last Activity</th>
                            <th>Status</th>
                            <th>Claimed Status</th>
                            <th>Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (@Model._DirectoryList != null && Model._DirectoryList.Count > 0)
                        {
                            int Count = Model._DirectoryList.Count;
                            foreach (var item in Model._DirectoryList)
                            {

                                <tr>
                                    @Html.HiddenFor(m => item.EncryptedUserId, new { @id = "Uid_" + @Count, @db = "@Count" })
                                    <td>@item.UniqueId</td>
                                    <td><a href="/directory/detail?uid=@item.EncryptedUserId" style="text-decoration:underline; color:#666674;">@item.FirstName @item.MI @item.LastName</a> </td>
                                    @if (@item.Title == "")
                                    {
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td>@item.Title</td>
                                    }
                                    <td>@item.ModifyDate</td>

                                    @Html.HiddenFor(m => item.Status, new { @id = "Status" })
                                    @if (item.Status == "Active")
                                    {
                                        <td><span class="m-badge  m-badge--primary m-badge--wide">Active</span></td>
                                    }
                                    else if (item.Status == "InActive")
                                    {
                                        <td><span class="m-badge m-badge--metal m-badge--wide contacted-btn process-btn">InActive</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="m-badge  m-badge--metal m-badge--wide">Invited</span></td>
                                    }
                                    @if (@item.IsVerified == true)
                                    {
                                        <td><span class="m-badge  m-badge--metal m-badge--wide" style="background-color: #2bb10a;">Claimed</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="m-badge  m-badge--metal m-badge--wide" style="background-color: #ec0f41">UnClaimed</span></td>
                                    }
                                    @if (@item.IsVerified != true)
                                    {
                                        <td>
                                            <a class="btnResend_@Count BtnResend" data="@item.EncryptedUserId" db="@item.Email" style="@item.FirstName">
                                                <img src="~/Content/images/message1.png" />
                                            </a>
                                        </td>
                                    }
                                    else if (@item.IsVerified == true)
                                    {
                                        <td></td>
                                    }
                                </tr>

                            }
                        }
                    </tbody>
                </table>

                <br />

                <div id="df">
                    <div class="pull-left">
                        <div class="dataTables_info" id="m_table_1_info" role="status" aria-live="polite">Showing @Model.StartIndex to @Model.EndIndex of @Model.TotalRecords entries (Total Pages @Model.PageCount)</div>
                    </div>
                    <div class="pull-right">

                        <div class="dataTables_paginate paging_simple_numbers cus-pgination12" id="m_table_1_paginate">
                            <ul class="pagination">
                                @*<li class="paginate_button page-item previous disabled" id="m_table_1_previous">
            <a href="#" aria-controls="m_table_1" data-dt-idx="0" tabindex="0" class="page-link">
                <i class="la la-angle-left"></i>
            </a>
        </li>*@
                                @for (int i = 1; i <= Model.PageCount; i++)
                                {
                                       if (Model.CurrentPageIndex ==1  && ( i == 1 || Model.PageCount == i || i == Model.CurrentPageIndex + 1 || i == Model.CurrentPageIndex + 2 || i == Model.CurrentPageIndex - 1 || i == Model.CurrentPageIndex))
                                    {
                                        if (i != Model.CurrentPageIndex)
                                        {
                                            
                                            <li class="paginate_button page-item">
                                                <a href="javascript:PagerClick(@i);" class="page-link">@i</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="paginate_button page-item active">
                                                <a class="page-link">@i</a>
                                            </li>
                                        
                                        }
                                    }
                                else  if (1 != Model.CurrentPageIndex && (i == 1 || Model.PageCount == i || i == Model.CurrentPageIndex - 1 || i == Model.CurrentPageIndex + 1 ||  i == Model.CurrentPageIndex))
                                    {
                                        if (i != Model.CurrentPageIndex)
                                        {

                                            <li class="paginate_button page-item">
                                                <a href="javascript:PagerClick(@i);" class="page-link">@i</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="paginate_button page-item active">
                                                <a class="page-link">@i</a>
                                            </li>
                                           
                                        }
                                    }
                                  

                                    else if (Model.PageCount == Model.CurrentPageIndex && (i == 1 || i == Model.CurrentPageIndex - 1 || i == Model.CurrentPageIndex - 2 ||  i == Model.CurrentPageIndex))
                                    {
                                        if (i != Model.CurrentPageIndex)
                                        {

                                            <li class="paginate_button page-item">
                                                <a href="javascript:PagerClick(@i);" class="page-link">@i</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="paginate_button page-item active">
                                                <a class="page-link">@i</a>
                                            </li>
                                            @*<span>@i</span>*@
                                        }
                                    }

                                }

                                @*<li class="paginate_button page-item next disabled" id="m_table_1_next">
            <a href="#" aria-controls="m_table_1" data-dt-idx="2" tabindex="0" class="page-link">
                <i class="la la-angle-right"></i>
            </a>
        </li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="dataTables_length" id="m_table_1_length">
                            <label>
                                Show
                                <select id="rowcount"  name="m_table_1_length" aria-controls="m_table_1" class="custom-select ddlrowcount custom-select-sm form-control form-control-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                entries
                            </label>
                        </div>
                    </div>
                </div>


                <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
                <input type="hidden" id="hfTotalCountlist" name="TotalCountlist" />
            </div>
        </div>
    </div>
}
<div class="modal fade" id="commModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-area-md" role="document" style="background-color:#fff;">
        <div class="modal-content" style="padding: 22px;">
            <div class="modal-header" style="position:relative;border-color:#000;">
                <h5 class="modal-title" id="commLabel">Add File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="commDetail" class="modal-body">

            </div>
            <div class="modal-footer justify-content-between">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ImportcommModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-area-md" role="document" style="background-color:#fff; max-width:1080px;">
        <div class="modal-content" style="padding: 22px;">
            <div class="modal-header" style="position:relative;">
                <h5 class="modal-title" id="ImportcommLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="md-box-content">
                    <div class="row md-box-main">
                        <div class="col-sm-6 md-divid-div div-img">
                            <img src="~/Content/images/md-left-img.png">
                        </div>

                        <div class="col-sm-6 md-divid-div">
                            <div class="md-right-text">
                                <h3 class="md-title"><span>Pending Files:</span> <span class="vl-value">@Model.PendingCount</span></h3>
                                <h3 class="md-title"><span>Transferred Files:</span> <span class="vl-value">@Model.InsertedCount</span></h3>
                                <h3 class="md-title"><span>Updated Files:</span> <span class="vl-value">@Model.UpdatedCount</span></h3>
                                <h3 class="md-title"><span>Total Files:</span> <span class="vl-value">@Model.TotalCount</span></h3>
                                <h3 class="md-title"><span>Duplicate Contacts found:</span> <span class="vl-value">@Model.DuplicateCount</span></h3>
                            </div>
                        </div>
                    </div>

                    <div class="md-footer">
                        <div class="progress">
                            <span class="lable-pp">100% Completed</span>
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-between">

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var drop = $('.clTotalCountlist').val();
        //alert(drop);
        if (drop < 10)
        {
            drop = 10;
        }
         $('.ddlrowcount').val(drop);
    });
    $(".ddlrowcount").change(function () {
        var currntpage = $('.clCurrentPageIndex1').val();
        var row = $('.ddlrowcount').find(":selected").val();
        $('.clTotalCountlist').val(row);
        //alert(currntpage);
        document.getElementById("hfCurrentPageIndex").value = currntpage;
        document.getElementById("hfTotalCountlist").value = row;
        document.forms[0].submit();

    });
    function PagerClick(index) {
        document.getElementById("hfCurrentPageIndex").value = index;
        document.forms[0].submit();
    }

</script>

<script type="text/javascript">


    function AlertWithTitleIcon(title, text, type) {
        swal({
            title: title,
            text: text,
            type: type
        });
    }
    $(document).ready(function () {
        //debugger;
        if ($('#FileNotAdded').val() == "1") {
            AlertWithTitleIcon("Alert", $('#ErrorMessage').val());
        }
        else {

        }
        $('#cmid_45').click(function () {
            $('#EventsCouns').text(0);
            $("#EventsCouns").filter(function () {
                return $(this).text().trim() === "0";
            }).hide();
        });

    });
    $('.ImportExcel').click(function () {
        //debugger;

        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            url: "/directory/ImportExcel",
            type: "Get",
            datatype: "json",
            contenttype: 'application/json; charset=utf-8',
            async: true,
            success: function (data) {
                $("#commLabel").text("Add File");
                $("#commDetail").html(data);
                //$("#m_modal_1").modal(options);
                $("#commModal").modal("show");
            },
            error: function (xhr) {
                AlertWithTitleIcon("Error", xhr.responseText, "error");
            }
        });

    });
    $(document).ready(function () {
        if ($('#TotalCount').val() != "0") {

            debugger;
            var TotalCount = $('#TotalCount').val();
            var PendingCount = $('#PendingCount').val();
            var DuplicateCount = $('#DuplicateCount').val();
            var InsertedCount = $('#InsertedCount').val();
            var UpdatedCount = $('#UpdatedCount').val();

            $.ajax({

                url: "/directory/_ImportComplete?TotalCount=" + TotalCount + "&PendingCount=" + PendingCount + "&DuplicateCount=" + DuplicateCount + "&InsertedCount=" + InsertedCount + "&UpdatedCount=" + UpdatedCount,
                type: "Post",
                datatype: "json",
                contenttype: 'application/json; charset=utf-8',
                async: true,
                success: function (data) {
                    $("#ImportcommModal").modal("show");
                },
                error: function (xhr) {
                    AlertWithTitleIcon("Error", xhr.responseText, "error");
                }
            });
        }
        else if ($('#TotalCount').val() == "0") {
            $("#ImportcommModal").modal("hide");
        }

    });
    var Count;
    $(".BtnResend").click(function () {

        $.ajax({
            type: "POST",
            url: "/directory/singleinvite?did=" + $(this).attr("data") + "&FName=" + $(this).attr("style") + "&Email=" + $(this).attr("db"),
            async: true,
            success: function (data) {
                if (data.ReturnCode <= 0) {
                    AlertWithTitleIcon("Error", "We hit a snag, please try again after some time.", "error");
                    $(_spanId).text('Failed').removeClass().addClass("m-badge m-badge--wide Failed");
                }
                else {
                    AlertWithTitleIcon("Success", "Invitation has been sent successfully.", "success");
                    //location.reload(true);
                    $(_spanId).text('Sent').removeClass().addClass("m-badge m-badge--wide Sent");

                }
            },
            error: function (jqXHR, exception) {
                AlertWithTitleIcon("Error", "We hit a snag, please try again after some time.", "error");
            }
        });
    });

     $(".BtnResendAll2").click(function () {


        $.ajax({
            type: 'post',
            url: '@Url.Action("multipleleinvite", "directory")',
            data: JSON.stringify({ directoryModel: model }),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (data) {
                 if (data.ReturnCode <= 0) {
                    AlertWithTitleIcon("Error", "We hit a snag, please try again after some time.", "error");
                    }
                else {
                    AlertWithTitleIcon("Success", "Invitation has been sent successfully.", "success");


                }
            },
            error: function (jqXHR, exception) {
                AlertWithTitleIcon("Error", "We hit a snag, please try again after some time.", "error");
            }
        });
        });
     $(".BtnResendAll").click(function () {

         $(this).attr("disabled", true);



        $.ajax({
            type: "POST",
            url: "/directory/multipleleinvite",

            async: false,
            success: function (data) {
                debugger;
                if (data.ReturnCode <= 0) {
                    AlertWithTitleIcon("Error", "We hit a snag, please try again after some time.", "error");
                    //$(_spanId).text('Failed').removeClass().addClass("m-badge m-badge--wide Failed");
                }
                else {
                    AlertWithTitleIcon("Success", "Invitations will be sent in background.", "success");
                   // location.reload(true);
                    //$(_spanId).text('Sent').removeClass().addClass("m-badge m-badge--wide Sent");

                }
            },
            error: function (jqXHR, exception) {
                AlertWithTitleIcon("Error", "We hit a snag, please try again after some time.", "error");
            }

        });

    });
</script>