﻿@model FPModels.Models.DirectoryModel
@{
    ViewBag.Title = "Directory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .main-mb
    .md-box-content {
        padding: 30px;
    }

    .md-box-content .md-box-main {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .md-divid-div.div-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .md-divid-div.div-img img {
            width: 100%;
            padding-right: 10px;
        }

    .md-divid-div .md-right-text {
        width: 100%;
    }

    .md-right-text .md-title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .md-footer {
        margin-top: 40px;
        padding-top: 50px;
        position: relative;
    }

    .progress-bar.progress-bar-striped {
        background-color: #194280;
    }

    .md-footer .progress .lable-pp {
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        font-size: 18px;
        font-weight: 600;
        color: #194280;
    }

    .main-mb button.close {
        background: #808080;
        border-radius: 100%;
        padding: 10px;
        margin: 0px;
        text-decoration: none;
        outline: none;
        box-shadow: none;
        color: #fff;
    }

    .md-right-text .md-title .vl-value {
        font-weight: 700;
    }
</style>

@using (Html.BeginForm("index", "directory", FormMethod.Post))
{
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile responsdiveass">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            View Officers
                        </h3>
                    </div>
                </div>
            </div>
            @Html.HiddenFor(m => m.TotalCount)
            @Html.HiddenFor(m => m.PendingCount)
            @Html.HiddenFor(m => m.DuplicateCount)
            @Html.HiddenFor(m => m.InsertedCount)
            @Html.HiddenFor(m => m.FileNotAdded)

            @Html.HiddenFor(m => m.ErrorMessage)

            
            <div class="m-portlet__body responsdiveass ">
                <div class="table-searh-wrap event_searh_wrap">
                    <div id="m_table_1_filter" class="dataTables_filter search_table_bar" style="display:inline-block;">
                        <label>
                            <img src="/Content/images/search.png" alt="search">
                            @Html.TextBoxFor(m => m.Search, new
                            {
                                @class = "form-control form-control-sm",
                                @placeholder = "Search"@*, @aria-controls = "m_table_1"*@})
                            @*<input type="search" class="form-control form-control-sm" placeholder="Search" aria-controls="m_table_1">*@
                        </label>

                    </div>
                    <div id="m_table_1_filter-1" class="dataTables_filter table-status show-item-select" style="margin-left:20px;">
                        <label>
                            Status:
                            @Html.DropDownListFor(m => m.Status, Model._StatusList, new { @class = "custom-select custom-select-sm form-control form-control-sm" })
                        </label>
                    </div>

                    <button type="submit" class="btn m-btn--pill    btn-danger" style="margin-left:25px;">Search</button>




                    @if (FPBAL.Business.MenuAccess.Allow("Create"))
                    {
                        
                <div class="pull-right">
                    <a class="BtnResendAll btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                        <span>Invite All</span>
                    </a>
                    @*href="~/directory/importexcel?eid=@Model.EncryptedLoggedId"*@
                    <a class="btn ImportExcel">
                        <span>
                            <img src="~/Content/images/Import-Excel-icon.png" alt="" />

                        </span>
                        @*@Html.TextBoxFor(model => model.HttpPostedFile, "", new { @type = "file", @id = "fileUser", @class = "la la-plus" })*@

                    </a>
                    <a href="~/directory/create?eid=@Model.EncryptedLoggedId" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
                        <span>
                            <i class="la la-plus"></i>
                            <span>New</span>
                        </span>
                    </a>
                </div>

                    }

                </div>

                <!--begin: Datatable -->
                @*<table class="table table-striped- table-hover" id="m_table_1">*@
                <table class="table table-striped- table-hover table-pagger" cols="7" id="m_table_1">
                    <thead>
                        <tr>
                            <th>SSN</th>
                            <th>Parole</th>
                            <th>First Name</th>
                            <th>MI</th>
                            <th>Last Name</th>
                            <th>Address Line 1</th>
                            <th>City</th>
                            <th>State</th>
                            <th>ZIP</th>
                            <th>DOB</th>
                           


                        </tr>
                    </thead>
                    <tbody>
                       
                        <tr>
                            <td>1234</td>
                            <td>123456</td>
                            <td>Dave</td>
                            <td>John</td>
                            <td>Smith</td>
                            <td>41 Wildmore RD</td>
                            <td>Little Falls</td>
                            <td> NJ</td>
                            <td>07424-1565</td>
                            <td>01161990</td>
                            

                        </tr>
                    </tbody>
                </table>
                <div class="row mt-30" id="pagging1"></div>
            </div>
        </div>
    </div>
}
<div class="modal fade" id="commModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-area-md" role="document" style="background-color:#fff;">
        <div class="modal-content" style="padding: 22px;">
            <div class="modal-header" style="position:relative;border-color:#000;">
                <h5 class="modal-title" id="commLabel">Add File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="commDetail" class="modal-body">

            </div>
            <div class="modal-footer justify-content-between">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ImportcommModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-area-md" role="document" style="background-color:#fff; max-width:1080px;">
        <div class="modal-content" style="padding: 22px;">
            <div class="modal-header" style="position:relative;">
                <h5 class="modal-title" id="ImportcommLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="md-box-content">
                    <div class="row md-box-main">
                        <div class="col-sm-6 md-divid-div div-img">
                            <img src="~/Content/images/md-left-img.png">
                        </div>

                        <div class="col-sm-6 md-divid-div">
                            <div class="md-right-text">
                                <h3 class="md-title"><span>Pending Files:</span> <span class="vl-value">@Model.PendingCount</span></h3>
                                <h3 class="md-title"><span>Transferred Files:</span> <span class="vl-value">@Model.InsertedCount</span></h3>
                                <h3 class="md-title"><span>Updated Files:</span> <span class="vl-value">@Model.UpdatedCount</span></h3>
                                <h3 class="md-title"><span>Total Files:</span> <span class="vl-value">@Model.TotalCount</span></h3>
                                <h3 class="md-title"><span>Duplicate Contacts found:</span> <span class="vl-value">@Model.DuplicateCount</span></h3>
                            </div>
                        </div>
                    </div>

                    <div class="md-footer">
                        <div class="progress">
                            <span class="lable-pp">100% Completed</span>
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-between">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">


    function AlertWithTitleIcon(title, text, type) {
        swal({
            title: title,
            text: text,
            type: type
        });
    }
    $(document).ready(function () {
        //debugger;
        if ($('#FileNotAdded').val() == "1") {
            AlertWithTitleIcon("Alert", $('#ErrorMessage').val());
        }
        else {

        }
        $('#cmid_45').click(function () {
            $('#EventsCouns').text(0);
            $("#EventsCouns").filter(function () {
                return $(this).text().trim() === "0";
            }).hide();
        });

    });
    $('.ImportExcel').click(function () {
        //debugger;

        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            url: "/directory/ImportExcel",
            type: "Get",
            datatype: "json",
            contenttype: 'application/json; charset=utf-8',
            async: true,
            success: function (data) {
                $("#commLabel").text("Add File");
                $("#commDetail").html(data);
                //$("#m_modal_1").modal(options);
                $("#commModal").modal("show");
            },
            error: function (xhr) {
                AlertWithTitleIcon("Error", xhr.responseText, "error");
            }
        });

    });
    $(document).ready(function () {
        if ($('#TotalCount').val() != "0") {
            //debugger;
            var TotalCount = $('#TotalCount').val();
            var PendingCount = $('#PendingCount').val();
            var DuplicateCount = $('#DuplicateCount').val();
            var InsertedCount = $('#InsertedCount').val();
            var UpdatedCount = $('#UpdatedCount').val();
            
            $.ajax({
                
                url: "/directory/_ImportComplete?TotalCount=" + TotalCount + "&PendingCount=" + PendingCount + "&DuplicateCount=" + DuplicateCount + "&InsertedCount=" + InsertedCount + "&UpdatedCount=" + UpdatedCount,
                type: "Get",
                datatype: "json",
                contenttype: 'application/json; charset=utf-8',
                async: true,
                success: function (data) {
                    $("#ImportcommModal").modal("show");
                },
                error: function (xhr) {
                    AlertWithTitleIcon("Error", xhr.responseText, "error");
                }
            });
        }
        else if ($('#TotalCount').val() == "0") {
            $("#ImportcommModal").modal("hide");
        }

    });
    var Count;
    $(".BtnResend").click(function () {

        $.ajax({
            type: "POST",
            url: "/directory/singleinvite?did=" + $(this).attr("data") + "&FName=" + $(this).attr("style") + "&Email=" + $(this).attr("db"),
            async: true,
            success: function (data) {
                if (data.ReturnCode <= 0) {
                    AlertWithTitleIcon("Error", "We hit a snag, please try again after some time.", "error");
                    $(_spanId).text('Failed').removeClass().addClass("m-badge m-badge--wide Failed");
                }
                else {
                    AlertWithTitleIcon("Success", "Invitation has been sent successfully.", "success");
                    //location.reload(true);
                    $(_spanId).text('Sent').removeClass().addClass("m-badge m-badge--wide Sent");

                }
            },
            error: function (jqXHR, exception) {
                AlertWithTitleIcon("Error", "We hit a snag, please try again after some time.", "error");
            }
        });
    });

     $(".BtnResendAll2").click(function () {
     

        var model = @Html.Raw(Json.Encode(Model))
        $.ajax({
            type: 'post',
            url: '@Url.Action("multipleleinvite", "directory")',
            data: JSON.stringify({ directoryModel: model }),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (data) {
                 if (data.ReturnCode <= 0) {
                    AlertWithTitleIcon("Error", "We hit a snag, please try again after some time.", "error");
                    }
                else {
                    AlertWithTitleIcon("Success", "Invitation has been sent successfully.", "success");
                    
                  
                }
            },
            error: function (jqXHR, exception) {
                AlertWithTitleIcon("Error", "We hit a snag, please try again after some time.", "error");
            }
        });
        });
     $(".BtnResendAll").click(function () {

         $(this).attr("disabled", true);
         var _DirectoryList = '@Html.Raw(Json.Encode(Model))';
          
           var DirectoryList =   JSON.stringify({ 'directoryModel':_DirectoryList });
           var model = @Html.Raw(Json.Encode(Model))
        $.ajax({
            type: "POST",
            url: "/directory/multipleleinvite",
        
            async: false,
            success: function (data) {
                debugger;
                if (data.ReturnCode <= 0) {
                    AlertWithTitleIcon("Error", "We hit a snag, please try again after some time.", "error");
                    //$(_spanId).text('Failed').removeClass().addClass("m-badge m-badge--wide Failed");
                }
                else {
                    AlertWithTitleIcon("Success", "Invitations will be sent in background.", "success");
                   // location.reload(true);
                    //$(_spanId).text('Sent').removeClass().addClass("m-badge m-badge--wide Sent");

                }
            },
            error: function (jqXHR, exception) {
                AlertWithTitleIcon("Error", "We hit a snag, please try again after some time.", "error");
            }

        });

    });
</script>