﻿@model FPModels.Models.DirectoryModel
@{
    ViewBag.Title = "Logbook";
    ViewBag.Header = "Logbook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("logbook", "directory", FormMethod.Post))
{
    <div class="m-content payment-form-wrapper">
        <div class="m-portlet m-portlet--mobile responsdiveass">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            View LogBook
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="table-searh-wrap">

                    <div id="m_table_1_filter" class="dataTables_filter search_table_bar" style="max-width: 135px;">
                        <label>
                            <img src="/Content/images/search.png" alt="search">
                            @Html.TextBoxFor(model => model.Search, new { @class = "form-control form-control-sm", @placeholder = "Search" })
                        </label>

                    </div>
                    <button type="submit" class="btn m-btn--pill    btn-danger" style="margin-left:30px;">Search</button>

                </div>
                <!--begin: Datatable -->
                @*<table class="table table-striped- table-hover table-responsive" id="m_table_1">*@
                <table class="table table-striped- table-hover table-responsive table-pagger" cols="6" id="m_table_1">

                    <thead>
                        <tr>
                            <th><a href="#">UploadBy</a></th>
                            <th>Filename</th>
                            <th>New Added </th>
                            <th>Updated </th>
                            <th>Duplicate</th>
                            <th>Date and Time</th>
                           </tr>
                    </thead>
                    <tbody>
                        @if (Model._LogBookList != null)
                        {

                            foreach (var item in Model._LogBookList)
                            {
                        <tr>

                            <td>@item.FirstName</td>
                            <td>@item.FileName</td>
                            <td>@item.NewAdded</td>
                            <td>@item.Updated</td>
                            <td>@item.Duplicate</td>
                            <td>@item.CreateDate</td>
                        </tr>
                           }
                        }

                    </tbody>
                </table>
                <div class="row mt-30" id="pagging1"></div>
            </div>
        </div>
    </div>
}


