﻿@using FPModels.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="~/content/images/favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <title>@ViewBag.Title - NJ P.B.A Local 105</title>
    @Styles.Render("~/Content/css")
</head>
<!-- begin::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <header id="m_header" class="m-grid__item    m-header " m-minimize-offset="200" m-minimize-mobile-offset="200">
        <div class="m-container m-container--fluid m-container--full-height">
            <div class="m-stack m-stack--ver m-stack--desktop">

                <!-- BEGIN: Brand -->
                <div class="m-stack__item m-brand  m-brand--skin-dark ">
                    <div class="m-stack m-stack--ver m-stack--general">
                        <div class="m-stack__item m-stack__item--middle m-brand__logo privacy_logo_wrap">
                            <a href="@Url.Action("index","dashboard")" class="m-brand__logo-wrapper">
                                <img alt="logo" src="/content/images/logo.png" />
                            </a>
                        </div>
                    </div>
                </div>

                <!-- END: Brand -->

            </div>
        </div>
    </header>
    <div class="m-grid__item m-grid__item--fluid m-wrapper mb_0">
        <div class="m-subheader ">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title ">@ViewBag.Title</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page" style="display: flex;">

        <!-- END: Header -->
        <!-- begin::Body -->
        <div>

            <!-- BEGIN: Left Aside -->
            <!-- END: Left Aside -->
            <!-- BEGIN: Subheader -->
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text" style=" margin: 40px 30px 30px;">
                            @ViewBag.Title
                        </h3>

                    </div>
                </div>
            </div>
            @RenderBody()
            <!-- END: Subheader -->
            @*<div class="payment-form-wrapper about-us-wrap">

                </div>*@
        </div>
    </div>
    <footer class="m-grid__item m-footer " style="margin: 20px 30px 0;">
        <div class="m-container m-container--fluid m-container--full-height m-page__container">
            <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                <div class="copyright-wrap">
                    <span class="m-footer__copyright">
                        Designed & Developed by <a href="#" class="m-link"><img src="~/content/images/logo_final1.png" alt="foot-logo"></a>
                    </span>
                </div>

            </div>
        </div>
    </footer>
    <!-- end:: Body -->
    <!-- begin::Footer -->
    <!-- end::Footer -->
    <!-- end:: Page -->
    <!-- begin::Quick Nav -->
    <!--begin::Global Theme Bundle -->
    @*<script src="js/vendors.bundle.js" type="text/javascript"></script>
        <script src="js/scripts.bundle.js" type="text/javascript"></script>*@

    <!--end::Global Theme Bundle -->
    <!--begin::Page Vendors -->
    @*<script src="js/fullcalendar.bundle.js" type="text/javascript"></script>*@

    <!--end::Page Vendors -->
    <!--begin::Page Scripts -->
    @*<script src="js/dashboard.js" type="text/javascript"></script>*@

    <!--end::Page Scripts -->
    <!--begin::Page Scripts -->
    @*<script src="js/basic.js" type="text/javascript"></script>*@

    <!--end::Page Scripts -->
    <!-- end::Body -->


</body>
</html>


@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)




