﻿@{
    //ViewBag.Title = "Terms & Conditions";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="~/Content/images/favicon.png" />
    <title>Download- NJ P.B.A Local 105</title>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <style>
        body {
            font-family: Poppins;
            font-weight: 300;
            margin: 0;
            padding: 0;
            color: #575962;
        }

        .privacy_logo_wrap {
            background: #fff;
            box-shadow: 2px 0px 15px 1px rgba(69,65,78,0.1);
            height: 70px;
        }

            .privacy_logo_wrap a {
                padding: 25px 52px;
                display: inline-block;
            }

                .privacy_logo_wrap a img {
                    width: 100%;
                }

        .cont_wrapper {
            box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.08);
            background-color: #fff;
            margin: 30px;
        }

            .cont_wrapper .subhead_title {
                border-bottom: 1px solid #ebedf2;
            }

                .cont_wrapper .subhead_title h3 {
                    font-weight: 500;
                    font-size: 17px;
                    padding: 20px 25px;
                    margin: 0;
                }

        .privacy_cont_wrap {
            padding: 20px 25px;
            font-size: 13px;
        }

            .privacy_cont_wrap p {
                margin: 0;
                padding-bottom: 15px;
            }

                .privacy_cont_wrap p.main_heading {
                    margin-top: 15px;
                    padding: 0 0 5px 0;
                }

        footer.privacy_footer {
            padding: 7px 30px;
            height: 60px;
            min-height: 60px;
            background: #fff;
            -webkit-box-shadow: -2px -8px 41px -14px rgba(202,210,222,0.61);
            box-shadow: -2px -8px 41px -14px rgba(202,210,222,0.61);
        }

        .privacy_footer .footer_copyright .m-link {
            width: 30%;
            float: left;
            margin: 2px 0 0 5px;
        }

            .privacy_footer .footer_copyright .m-link img {
                width: 100%;
            }

        .privacy_footer .copyright-wrap {
            float: left;
            margin-top: 15px;
        }

        .copyright-wrap .footer_copyright {
            font-size: 12px;
            font-weight: 400;
            color: #a9a9aa;
        }

            .copyright-wrap .footer_copyright span {
                float: left;
            }
    </style>
</head>
<body>
    <header>
        <div class="privacy_logo_wrap">
            <a href="">
                <img alt="logo" src="~/Content/images/dahboard-logo.png" />
            </a>
        </div>
    </header>
    <div class="cont_wrapper">
        <div class="privacy_cont_wrap">

            <div class="aspNetHidden">
                <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTk3NTQ1NzE2Ng9kFgICAw9kFgQCAQ8WAh4HVmlzaWJsZWdkAgMPFgIfAGdkZPRHkCIMEPob5fzI8tOcvCxX3X8l">
            </div>

            <div class="aspNetHidden">

                <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="BBDEBE97">
            </div>
            <div class="download-app-container">
                <div class="parkeee-logo-container">
                    <a href="#">	<img src="~/Content/images/logo_NJ.jpg" alt="NoImage" class="logo-parkeee-web"></a>

                </div>
                <h1>
                    Download NJ P.B.A Local 105 App Now!


                </h1>
                <div class="app-button-wrapper">
                    <a href="#" id="lnkgoogle" class="google-play-store-btn"><img src="~/Content/images/google-play-btn.png" alt="get it on Google Store"></a>
                    <a href="#" id="lnkapple" class="app-store-btn"><img src="~/Content/images/app-store-btn.png" alt="Download on the App Store"></a>
                </div>

            </div>
            @*<div class="visit-web-link"><a href="http://kepleredge.com">Visit Website</a></div>*@




        </div>
        </div>
        <footer class="privacy_footer">
            <div class="copyright-wrap">
                <p class="footer_copyright">
                    <span>Designed & Developed by</span> <a href="http://keplerbase.com/" class="m-link"><img src="~/Content/images/kepler-logo.png" alt="foot-logo"></a>
                </p>
            </div>
        </footer>
</body>

</html>
