﻿@{
    //  ViewBag.Title = "Privacy Policy";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="~/Content/images/favicon.png" />
    <title>About- NJ P.B.A Local 105</title>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <style>
        body {
            font-family: Poppins;
            font-weight: 300;
            margin: 0;
            padding: 0;
            color: #575962;
        }

        .privacy_logo_wrap {
            background: #fff;
            box-shadow: 2px 0px 15px 1px rgba(69,65,78,0.1);
            height: 70px;
        }

            .privacy_logo_wrap a {
                padding: 25px 52px;
                display: inline-block;
            }

                .privacy_logo_wrap a img {
                    width: 100%;
                }

        .cont_wrapper {
          
            background-color: #fff;
            margin: 30px;
        }

            .cont_wrapper .subhead_title {
                border-bottom: 1px solid #ebedf2;
            }

                .cont_wrapper .subhead_title h3 {
                    font-weight: 500;
                    font-size: 17px;
                    padding: 20px 25px;
                    margin: 0;
                }

        .privacy_cont_wrap {
            padding: 20px 25px;
            font-size: 13px;
        }

            .privacy_cont_wrap p {
                margin: 0;
                padding-bottom: 15px;
            }

                .privacy_cont_wrap p.main_heading {
                    margin-top: 15px;
                    padding: 0 0 5px 0;
                }

        footer.privacy_footer {
            padding: 7px 30px;
            height: 60px;
            min-height: 60px;
            background: #fff;
            -webkit-box-shadow: -2px -8px 41px -14px rgba(202,210,222,0.61);
            box-shadow: -2px -8px 41px -14px rgba(202,210,222,0.61);
        }

        .privacy_footer .footer_copyright .m-link {
            width: 30%;
            float: left;
            margin: 2px 0 0 5px;
        }

            .privacy_footer .footer_copyright .m-link img {
                width: 100%;
            }

        .privacy_footer .copyright-wrap {
            float: left;
            margin-top: 15px;
        }

        .copyright-wrap .footer_copyright {
            font-size: 12px;
            font-weight: 400;
            color: #a9a9aa;
        }

            .copyright-wrap .footer_copyright span {
                float: left;
            }
    </style>
</head>
<body>
    <header>
        <div class="privacy_logo_wrap">
            <a href="/dashboard/index">
                <img alt="logo" src="~/Content/images/logo.png" />
            </a>
        </div>
    </header>
    <div class="cont_wrapper">
        
        @*<div class="subhead_title">
            <h3>About</h3>
        </div>*@
        <div class="privacy_cont_wrap">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: 0 auto;padding-top: 15px; background-color: #f0f0f0;" class="email-container">
                <tr>
                    <td>
                        <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: 0 auto; background-color: #f0f0f0;" class="email-container logo_social_wrap">
                            <!-- Email Header : BEGIN -->
                            <!-- Email Header : END -->

                            <tr>
                                <td style="height: 10px;"></td>
                                <td style="height: 10px;"></td>
                            </tr>
                            <!-- Hero Image, Flush : BEGIN -->
                            <tr style="background-color: #fff;text-align: center;display: table-row;">
                                <td class="logo_wrap" style="padding:30px 30px 20px;vertical-align: middle;">
                                    <img src="http://njspba.keplerconnect.com/Newsletters/images/logo.png" style="width: 100%;max-width: 140px;">
                                </td>
                                <td><img src="http://njspba.keplerconnect.com/Newsletters/images/Colligan-photo.jpg" style="width: 100%; max-width: 755px;"></td>
                            </tr>

                            <!-- Hero Image, Flush : END -->
                        </table>
                        <!-- 1 Column Text + Button : END -->
                        <!-- Thumbnail Right, Text Left : BEGIN -->
                        <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: 0 auto; background-color: #f0f0f0;" class="email-container">
                            <!-- Thumbnail Right, Text Left : BEGIN -->
                            <tr>
                                <td dir="rtl" valign="top" width="100%" style="padding: 10px;">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <!-- Column : BEGIN -->
                                            <!-- Column : END -->
                                            <!-- Column : BEGIN -->
                                            <td width="100%" class="stack-column-center"></td>
                                            <!-- Column : END -->
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- Thumbnail Right, Text Left : END -->
                            <tr>
                                <td dir="ltr" valign="top" width="100%" style="padding: 10px; background-color: #ffffff;">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>

                                            <!-- Column : BEGIN -->
                                            <td class="stack-column-center">
                                                <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td dir="ltr" valign="top" style=" padding: 30px 20px 40px; text-align: center;" class="center-on-narrow">
                                                            @*<h2 style="margin: 0;font-size: 27px;color:#172863; text-align: center;">Hello {FirstName}</h2>*@
                                                            <h2 style="margin: 0;font-size: 27px;color:#172863; text-align: center;">Invitation from NJSPBA</h2>
                                                            @*<p style=" color: #434349; font-size: 18px;line-height: 30px;font-weight: 100; padding: 20px 0 30px;  text-align: center; margin:0px;">
                                                                Invitation from NJSPBA
                                                            </p>*@

                                                            <!--<a href="" style="text-align: center;background: #172863;color: #fff;padding: 14px 50px;font-weight:bold;font-size:24px;border-radius: 50px; display:inline-block;">Login</a>-->

                                                            <p style="line-height: 28px;color: #434349;font-size: 18px;">We are proud to announce the launch of the new NJSPBA App. With this mobile application, we will be able to effectively and securely communicate with the membership. It contains reference materials and provides members with the ability to quickly access news, LPP attorneys, PBA events and information specific to regions, counties or individual Locals throughout the state. The information on the site can easily be shared with other members. We are excited about this new opportunity to expand our communication to more members. </p>

                                                            <p style="line-height: 28px;color: #434349; font-size: 18px;">Members will use their Unique ID from the AlphaDog system on the NJSPBA website through the MEMBERS LOGIN portal. Delegates and Presidents will be able to access the Unique ID of each member, if they do not have access. During signup, the email address and Local information is used for verification of membership. If there are any questions or concerns, send an email to <a href="mailto:mfreeman@njspba.com">mfreeman@njspba.com</a>. </p>

                                                            <div class="download-app" style="margin-top: 40px;">
                                                                <h3>Download the app to Sign Up</h3>
                                                                <a href="https://play.google.com/store/apps/details?id=com.Njspba&hl=en" target="_blank"><img style="max-width: 200px;" src="http://njspba.keplerconnect.com/Newsletters/images/playstore-icon.png" width="22%;"></a>
                                                                <a href="https://apps.apple.com/us/app/njspba/id1476510148?ls=1" target="_blank"><img style="max-width: 200px;" src="http://njspba.keplerconnect.com/Newsletters/images/apple-app-store-icon.png" width="22%;"></a>
                                                            </div>

                                                            <h4 style="line-height: 26px;color: #434349; margin-top: 40px;margin-bottom: 0;">
                                                                Patrick Colligan</br>
                                                                <span>President</span></br>
                                                                <span>NJSPBA</span>
                                                            </h4>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <!-- Column : END -->
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- Thumbnail Left, Text Right : END -->
                            <!-- 1 Column Text : BEGIN -->
                            <tr>
                                <td dir="rtl" valign="top" width="100%" style="padding: 10px;">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <!-- Column : BEGIN -->
                                            <!-- Column : END -->
                                            <!-- Column : BEGIN -->
                                            <td width="100%" class="stack-column-center"></td>
                                            <!-- Column : END -->
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr class="ftr_sec">
                                <td>
                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tr>

                                            <td style="padding:20px 10px 30px 10px; font-size: 15px;line-height: 20px;color:#828282;text-align: center;">
                                                <a href="http://njspba.keplerconnect.com/about/privacypolicy" style="font-size: 18px;color: #434349;">Privacy Policy </a> |
                                                <a href="http://njspba.keplerconnect.com/about/termsandcondition" style="font-size: 18px;color: #434349;"> Terms & Conditions </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- 1 Column Text : END -->
                            <tr style="background-color: #172863;">
                                <td>
                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tr>
                                        <tr>
                                            <td class="">
                                                <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>


                                                        <td class="social_links_wrap" style="padding:20px 10px 0 10px; line-height: 20px;color:#fff;text-align: center;">
                                                            <a href="http://njspba.com" style="font-size: 17px;color: #fff;">www.njspba.com</a> <span>|</span>
                                                            <a href="#" style="font-size: 16px;color: #fff;"> +1 (732) 636-8860 </a> <span>|</span>
                                                            <a href="mailto:appsupport@njspba.com ;" style="font-size: 17px;display: inline-block;color: #fff;padding-top: 5px;">appsupport@njspba.com</a>
                                                        </td>

                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="copyright">
                                                <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>


                                                        <td style=" line-height: 20px;text-align: center;">
                                                            <p style="font-size: 18px;color: #fff;">NJSPBA © 2019   </p>
                                                        </td>

                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="background-color:#fff;">
                                                    <tr>


                                                        <td style="line-height: 20px;text-align:center;">
                                                            <p style="font-size: 18px;color: #000; display: inline-block;margin-top: 20px;">
                                                                Designed & Developed by
                                                                <a href="http://keplerbase.com" style="display: inline-block;vertical-align: middle;">
                                                                    <img src="http://njspba.keplerconnect.com/Newsletters/images/kepler_logo.png" style="width: 100%; max-width: 135px;">
                                                                </a>
                                                            </p>


                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td class="social_icons" style="padding:10px 25px 20px;font-size: 15px;line-height: 20px;color: #555555; text-align:center;">
                                                            <a style="display: inline-block;text-decoration: none;" href="https://www.facebook.com/NJSTATEPBA">
                                                                <img style="margin-right: 7px;" src="http://njspba.keplerconnect.com/Newsletters/images/facebook_icon.png">
                                                            </a>
                                                            <a style="display: inline-block;text-decoration: none;" href="https://twitter.com/NJSPBA">
                                                                <img style="margin-right: 7px;" src="http://njspba.keplerconnect.com/Newsletters/images/Twitter_icon.png">
                                                            </a>
                                                            <a style="display: inline-block;text-decoration: none;" href="http://njspba.com">
                                                                <img style="margin-right: 7px;" src="http://njspba.keplerconnect.com/Newsletters/images/website.png">
                                                            </a>
                                                        </td>
                                                    </tr>

                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
        <footer class="privacy_footer">
            <div class="copyright-wrap">
                <p class="footer_copyright">
                    <span>Designed & Developed by</span> <a href="http://keplerbase.com/" class="m-link"><img src="~/Content/images/kepler-logo.png" alt="foot-logo"></a>
                </p>
            </div>
        </footer>
</body>

</html>
