﻿@{
    //  ViewBag.Title = "Privacy Policy";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="~/Content/images/favicon.png" />
    <title>Support- NJ P.B.A Local 105</title>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <style>
        body {
            font-family: Poppins;
            font-weight: 300;
            margin: 0;
            padding: 0;
            color: #575962;
        }

        .privacy_logo_wrap {
            background: #fff;
            box-shadow: 2px 0px 15px 1px rgba(69,65,78,0.1);
            height: 70px;
        }

            .privacy_logo_wrap a {
                padding: 25px 52px;
                display: inline-block;
            }

                .privacy_logo_wrap a img {
                    width: 100%;
                }
        .cont_wrapper {
            box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.08);
            background-color: #fff;
            margin: 30px;
        }

            .cont_wrapper .subhead_title {
                border-bottom: 1px solid #ebedf2;
            }

                .cont_wrapper .subhead_title h3 {
                    font-weight: 500;
                    font-size: 17px;
                    padding: 20px 25px;
                    margin: 0;
                }

        .privacy_cont_wrap {
            padding: 20px 25px;
            font-size: 13px;
        }

            .privacy_cont_wrap p {
                margin: 0;
                padding-bottom: 15px;
            }

                .privacy_cont_wrap p.main_heading {
                    margin-top: 15px;
                    padding: 0 0 5px 0;
                }

        footer.privacy_footer {
            padding: 7px 30px;
            height: 60px;
            min-height: 60px;
            background: #fff;
            -webkit-box-shadow: -2px -8px 41px -14px rgba(202,210,222,0.61);
            box-shadow: -2px -8px 41px -14px rgba(202,210,222,0.61);
        }

        .privacy_footer .footer_copyright .m-link {
            width: 30%;
            float: left;
            margin: 2px 0 0 5px;
        }

            .privacy_footer .footer_copyright .m-link img {
                width: 100%;
            }

        .privacy_footer .copyright-wrap {
            float: left;
            margin-top: 15px;
        }

        .copyright-wrap .footer_copyright {
            font-size: 12px;
            font-weight: 400;
            color: #a9a9aa;
        }

            .copyright-wrap .footer_copyright span {
                float: left;
            }
    </style>
</head>
<body>
    <header>
        <div class="privacy_logo_wrap">
            <a href="/dashboard/index">
                <img alt="logo" src="~/Content/images/logo.png" />
            </a>
        </div>
    </header>
    <div class="cont_wrapper">
        <div class="subhead_title">
            <h3>Support</h3>
        </div>
        <div class="privacy_cont_wrap">
            <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p class="main_heading"><b>Lorem ipsum dolor sit amet</b> </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p class="main_heading"><b>Lorem ipsum dolor sit amet</b> </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p class="main_heading">
                Lorem ipsum dolor sit amet
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt:</p>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="main_heading info_head"><b><i>Lorem ipsum dolor sit amet.</i></b></p>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor:</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
    <footer class="privacy_footer">
        <div class="copyright-wrap">
            <p class="footer_copyright">
                <span>Designed & Developed by</span> <a href="http://keplerbase.com/" class="m-link"><img src="~/Content/images/kepler-logo.png" alt="foot-logo"></a>
            </p>
        </div>
    </footer>
</body>

</html>
