﻿@using FPModels.Models
@model ContactModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("detail", "contact", FormMethod.Post))
{

    <div class="m-content">
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--tab">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Contact Details
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                @Html.HiddenFor(m=>m.ContactId)
                <ul class="list-unstyled event-detail">
                    <li>
                        <label>Name</label>
                        <p>@Model.Name</p>
                    </li>
                    <li>
                        <label>Email</label>
                        <p>
                            @Model.Email
                        </p>
                    </li>
                    <li>
                        <label>Mobile</label>
                        @if (Model.Mobile == "")
                        {
                        <p>-</p>
                        }
                        else
                        {
                        <p>@Model.ISDCode @Model.Mobile</p>
                        }
                        
                    </li>
                    <li>
                        <label>Message</label>
                        <p>@Model.Message</p>
                    </li>
                    @*<li>
                        <label>Is Email Responded</label>
                        <p>@(Model.Response? "Yes" : "No")</p>
                    </li>*@
                    @*<li>
                        <label>Status</label>
                        <p>
                            @Model.Status
                        </p>
                    </li>*@
                    <li>
                        <label>Status</label>
                        @Html.DropDownListFor(m => m.Status, Model._StatusList, new { @class = "custom-select custom-select-sm form-control form-control-sm" })

                    </li>
                </ul>
                <div class="m-form__actions form-buttons">
                    @if (FPBAL.Business.MenuAccess.Allow("Edit"))
                     {
                  
                    <button type="submit" class="btn btn-primary">Save</button>
                    }
                    <a href="/contact/index" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>
}