﻿@using FPModels.Models
@model NewsModel
@if (Model != null)
{

    <div class="first-popup">
        <div class="popup1">
            <div class="popup-bg">
                <div class="popup1-inner">
                    <h3 class="event-head" style="padding-right:7px;"><img src="~/images/back-arrow.png"> Exclusive News<img src="~/images/gallery.png" style="float: right;width: 100%;max-width: 50px;"></h3>

                    <div class="state-div">

                        @if (@Model.PublishTime == null)
                        {
                            <h5>@Model.PublishDate</h5>
                        }
                        else
                        {
                            <h5>
                                @Model.PublishDate | @Model.PublishTime.Substring(0, Model.PublishTime.Length > 10 ? 10 : Model.PublishTime.Length)
                            </h5>
                        }

                        @if (@Model.ImagePath == "/content/images/no-image-rec.png")
                        {
                            <a class="docView">
                                <img src="@Model.ImagePath"
                                     onerror="this.src='/content/images/headline1.png';">
                            </a>
                        }
                        else if (@Model.ImagePath == "../content/images/plus-rec.png")
                        {
                            <a class="docView">
                                <img src="/content/images/no_exclusive@1x.png"
                                     onerror="this.src='/content/images/headline1.png';">
                            </a>
                        }
                        else
                        {
                            <a class="docView">
                                <img src="@Model.ImagePath"
                                     onerror="this.src='/content/images/no_exclusive@1x.png';">
                            </a>
                        }

                        @*<img src="~/images/headline.jpg">*@
                    </div>

                    <div class="state-text">
                        @if (@Model.Title == null)
                        {
                            <h6>Title</h6>
                        }
                        else
                        {
                        <h6>@Model.Title</h6>
                        }

                        @if (@Model.Content == null)
                        {
                            <p>Content</p>
                        }
                        else
                        {
                            <p>@Model.Content.Substring(0, Model.Content.Length > 500 ? 500 : Model.Content.Length)</p>
                        }


                    </div>

                </div>



            </div>

        </div>


    </div>
}

