﻿@model FPModels.Models.NewsModel

@if (Model != null)
{
    <div class="m-content payment-form-wrapper" id="Form">
        <div class="row">
            <div class="col-md-6">
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Title & Content
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group">
                                @Html.HiddenFor(m => m.NewsId)
                                @Html.HiddenFor(m => m.EncryptedNewsId)
                                <label for="exampleInputEmail1">Title<req>*</req></label>
                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control m-input Validation", @placeholder = "Title", @maxlength = "200" })
                                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "m-form__help" })
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Location</label>
                                @Html.TextBoxFor(m => m.Location, new { @class = "form-control m-input Validation", @placeholder = "Location", @maxlength = "50" })
                                @Html.ValidationMessageFor(m => m.Location, "", new { @class = "m-form__help" })
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">County</label>
                                @Html.TextBoxFor(m => m.County, new { @class = "form-control m-input Validation", @placeholder = "County", @maxlength = "50" })
                                @Html.ValidationMessageFor(m => m.County, "", new { @class = "m-form__help" })
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Content<req>*</req></label>   @*WordLimit*@
                                @Html.TextAreaFor(model => model.Content, new { @class = "form-control m-input Validation", @rows = "20", @placeholder = "Write Content", @required = "required" })
                                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "m-form__help" })
                               
                            </div>
                        </div>
                    </div>
                    <!--end::Form-->
                </div>
                <!--end::Portlet-->
            </div>
            <div class="col-md-6">
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Additional Details
                                </h3>
                            </div>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <div class="m-portlet__body">
                            <div class="m-form__group form-group add-file-wrap">
                                <label for="">Add image (Maximum 5 images)</label>
                                <div class="plus_seting">
                                    <div class="upld_img_wrap">
                                        @if (Model._ImagePathList != null && Model._ImagePathList.Count > 0)
                                        {
                                            for (int i = 0; i < Model._ImagePathList.Count; i++)
                                            {
                                                <div class="upld_img_in">
                                                    @Html.HiddenFor(m => Model._ImagePathList[i].ImageId)
                                                    @Html.HiddenFor(m => Model._ImagePathList[i].ImagePath, new { @id = "ip_" + i })
                                                    @Html.HiddenFor(m => Model._ImagePathList[i].ImageBase64, new { @id = "hfIB_" + i })
                                                    @Html.TextBoxFor(m=> Model._ImagePathList[i].HttpPostedFileBase,
                                                   new {@type="file",@id= "file_"+i, @size = "chars", @data = "#img_" + i, @db = "#cross_"+i })
                                                    <a id="button_@i" class="setting_img_sec-rec ">
                                                        <img class="cross @(!String.IsNullOrEmpty(Model._ImagePathList[i].ImagePath) ? "show" : "hide")"
                                                             src='~/Content/images/icon_Cancel.png' id="cross_@i" data="#file_@i" db="#img_@i" hfip="#ip_@i">
                                                        <img src="/@Model._ImagePathList[i].ImagePath"
                                                             id="img_@i"
                                                             cImgOne="#img_@i" cHF="#hfIB_@i" cWidth="750" cHeight="350"
                                                             class="setting-pic cropBox"
                                                             onerror="this.src='../content/images/plus-rec.png';" />
                                                    </a>
                                                </div>
                                            }

                                        }
                                        <span class="filesize">
                                            @Html.DisplayFor(m => m.Size, new { @class = "filesize" })
                                        </span>
                                    </div>
                                </div>
                                <div class="multi-img-wrapper">
                                </div>
                                @Html.ValidationMessageFor(model => model._ImagePathList[0].ImagePath, "", new { @class = "m-form__help" })
                            </div>
                            <div class="m-form__group form-group">
                                <label for="">Time<req>*</req></label>
                                <div class="m-radio-list">
                                    @if (Model.UserTitle == 1)
                                    {

                                        <label class="m-radio">
                                            @Html.RadioButtonFor(model => model.Status, "Published", new { @id = "Published", @class = "radio" })Now
                                            <span class="Published" onclick="Selection('Published');return false"></span>

                                        </label>
                                        <label class="m-radio">
                                            @Html.RadioButtonFor(model => model.Status, "Scheduled", new { @id = "Scheduled", @class = "radio" })Schedule for later
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.PublishDate, new { @id = "PublishDate", @class = "form-control m-input datepicker_nopast", @style = "display:block;", @autocomplete = "off" })
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="la la-calendar glyphicon-th"></i></span>
                                                </div>
                                            </div>
                                            <span class="Scheduled" onclick="Selection('Scheduled');return false"></span>
                                        </label>
                                        @Html.ValidationMessageFor(model => model.PublishDate, "", new { @class = "m-form__help" })
                                        <label class="m-radio">
                                            @Html.RadioButtonFor(model => model.Status, "Drafted", new { @id = "Drafted", @class = "radio" })Save in drafts
                                            <span class="Drafted" onclick="Selection('Drafted');return false"></span>
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="m-radio">
                                            @Html.RadioButtonFor(model => model.Status, "Scheduled", new { @id = "Scheduled", @class = "radio" })Schedule for later
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.PublishDate, new { @id = "PublishDate", @class = "form-control m-input datepicker_nopast", @style = "display:block;", @autocomplete = "off" })
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="la la-calendar glyphicon-th"></i></span>
                                                </div>
                                            </div>
                                            <span class="Scheduled" onclick="Selection('Scheduled');return false"></span>
                                        </label>
                                        @Html.ValidationMessageFor(model => model.PublishDate, "", new { @class = "m-form__help" })
                                        <label class="m-radio">
                                            @Html.RadioButtonFor(model => model.Status, "Drafted", new { @id = "Drafted", @class = "radio" })Save in drafts
                                            <span class="Drafted" onclick="Selection('Drafted');return false"></span>
                                        </label>
                                        @Html.HiddenFor(m => m.Draft, new { @id = "Draft" })
                                    }

                                </div>
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "m-form__help" })
                                @if ((Model.UserTitle == 1)&& (Model.Create != 1))
                                {
                                              
                                    <div class="form-group m-form__group" id="Statusid" style="display:none;">
                                        <label for="exampleSelect1">Select Status</label>
                                        <div class="select-arrow">
                                            @Html.DropDownListFor(m => m.Status, Model._StatusListforAdmin, new { @id = "StatusListforAdmin", @class = "form-control m-input" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "m-form__help" })
                                    </div>
                                    @Html.TextBoxFor(m => m.RejectReason, new { @id = "RejectReason", @style = "display:none;", @placeholder = "Add Reject Reason", @class = "form-control m-input" })
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "m-form__help" })

                                   
                                }
                            </div>
                           

                            <div class="m-form__actions form-buttons">
                                @Html.HiddenFor(m => m.UserTitle, new { @id = "UserTitle" })
                                @if (Model.UserTitle == 1)
                                {
                                    if (FPBAL.Business.MenuAccess.Allow("Delete"))
                                    {
                                        @*<a href="/news/delete?nid=@Model.EncryptedNewsId" class="btn btn-primary">Delete</a>*@
                                        <a href="/news/delete?nid=@Model.EncryptedNewsId"
                                           class="btn btn-primary"
                                           id="@Model.EncryptedNewsId"
                                           onclick="return Confirm('Are you sure you want to delete this record?',this)">
                                            Delete
                                        </a>

                                    }
                                    <button type="submit" id="btnDraft" class="btn btn-primary">Save to Drafts</button>
                                    <button type="submit" id="btnSubmit" class="btn btn-primarygreen">Submit</button>
                                    <a href="/news/index" class="btn btn-secondary">Cancel</a>
                                    @*@Html.ActionLink("Cancel", "index", "headline", new { @id = "Cancel", @class = "btn btn-secondary" })*@
                                    <a class="btn custom-btnyellow  Preview" style="color: #fff;">Preview</a>

                                }
                                else
                                {
                                    //if (Model.Edit == 1)
                                    //{
                                    if (FPBAL.Business.MenuAccess.Allow("Delete"))
                                    {
                                        @*<a href="/news/delete?nid=@Model.EncryptedNewsId" class="btn btn-primary">Delete</a>*@
                                        <a href="/news/delete?nid=@Model.EncryptedNewsId"
                                           class="btn btn-primary"
                                           id="@Model.EncryptedNewsId"
                                           onclick="return Confirm('Are you sure you want to delete this record?',this)">
                                            Delete
                                        </a>

                                    }
                                    <button type="submit" id="btnDraft" class="btn btn-primary">Save to Drafts</button>
                                    <button type="submit" id="submitforapproval" class="btn btn-primarygreen">Submit for approval</button>
                                    @*@Html.ActionLink("Cancel", "index", "headline", new { @id = "Cancel", @class = "btn btn-secondary" })*@
                                    <a href="/news/detail?nid=@Model.EncryptedNewsId" class="btn btn-secondary">Cancel</a>
                                    <a class="btn custom-btnyellow  Preview" style="color: #fff;">Preview</a>

                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
   
}
    <div class="modal fade" id="commModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
         data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-area-md" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>

                <div id="commDetail" class="modal-body">

                </div>
                <div class="modal-footer justify-content-between">

                </div>
            </div>
        </div>
    </div>
<script>
    
     function AlertWithNewWindow(text, newWindow) {
            swal({
                title: 'Alert',
                title: text,
                text: text,
                type: "info",
            },
                function () {
                    window.location.href = newWindow;
                });
        }
      function Confirm(title, event) {
            //debugger;
            var clientid = event.id;
            var href = '/news/delete?nid=' + clientid;
            var returnType = false;

            swal({
                title: "Warning",//"Are you sure?",
                text: title,
                //text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: true
            },
                function (isConfirm, id) {
                if (isConfirm) {
                    window.location.href = href;
                    returnType = true;
                    //swal("Deleted!", "Record has been deleted.", "success");
                } else {
                    //$('div').click();
                    //$('#' + clientid).blur();
                    returnType = false;
                }
            }
        );
            return returnType;
        }
    function AlertWithTitleIcon(title, text, type) {
        swal({
            title: title,
            text: text,
            type: type
        });
    }
    $("#Drafted").click(function () {
        $("#Statusid").css("display", "none")
            $("#btnDraft").attr("disabled", false);
            $('#submitforapproval').attr("disabled", true);
            $("#btnSubmit").attr("disabled", true);
            $('#PublishDate').val('');

    });
    
    $("#Scheduled").click(function () {
          $("#Statusid").css("display", "block")
            $("#btnDraft").attr("disabled", true);
            $('#submitforapproval').attr("disabled", false);
            $("#btnSubmit").attr("disabled", false);

    });
     $("#Published").click(function () {
          $("#Statusid").css("display", "none")
            $("#btnDraft").attr("disabled", true);
            $('#submitforapproval').attr("disabled", false);
            $("#btnSubmit").attr("disabled", false);
            $('#PublishDate').val('');
    });
    $(document).ready(function () {
      

        if ($('#RejectReason').val() != "") {
            $("#Statusid").css("display", "block");
            $('#StatusListforAdmin').val("Reject");
            $('#RejectReason').css("display", "block");
            $("#btnDraft").attr("disabled", true);
            $('#submitforapproval').attr("disabled", false);

        }
         var value = null;
        var status =@Model.Status;

       if ($('#Drafted').is(':checked')) {
           $("#Statusid").css("display", "none")
             $("#btnDraft").attr("disabled", false);
            $('#submitforapproval').attr("disabled", true);
            $("#btnSubmit").attr("disabled", true);
            $('#PublishDate').val('');

        }
       else if ($('#Scheduled').is(':checked')) {
            $("#Statusid").css("display", "block")
            $("#btnDraft").attr("disabled", true);
            $('#submitforapproval').attr("disabled", false);
            $("#btnSubmit").attr("disabled", false);
       }
       else if ($('#Published').is(':checked'))  {
           $("#Statusid").css("display", "none")
           $("#btnDraft").attr("disabled", true);
           $('#submitforapproval').attr("disabled", false);
           $("#btnSubmit").attr("disabled", false);
       }
        else if (status != "Drafted")
        {
            $("#Statusid").css("display", "block")
             $("#btnDraft").attr("disabled", true);
            $('#submitforapproval').attr("disabled", false);
            $("#btnSubmit").attr("disabled", false);
        }

            if (Status!= null) {
                value =@Model.Status;
        }
        if (status != "Rejected") {
            CheckSelection(value);

        }
        if ($('#Drafted').is(':checked')) {
                $("#btnDraft").attr("disabled", false);
                $('#submitforapproval').attr("disabled", true);
                $("#btnSubmit").attr("disabled", true);

        }
        else if ($('#Published').is(':checked') || $('#Scheduled').is(':checked')) {
                $('#submitforapproval').attr("disabled", false);
                $("#btnDraft").attr("disabled", true);
                $("#btnSubmit").attr("disabled", false);
        }
        if ($('#Scheduled').val("Requested")) {
            $('#Scheduled').prop("checked", true);
        }
        else ($('#Drafted').val("Drafted"))
        {
            $('#Drafted').prop("checked", true);
        }
    });
   
    $('#submitforapproval').click(function () {
        $('#Scheduled').val("Requested");
        $('#Scheduled').val();

    });
    $(document).ready(function () {
        $('#img_0,#img_1,#img_2,#img_3,#img_4').click(function () {
           // $($(this).attr("data")).trigger("click");
        });

        $("#file_0,#file_1,#file_2,#file_3,#file_4").change(function () {

            try
            {
                var _image = $(this).attr("data");
                var _fileId ='#'+ $(this).attr("id");
                var _cross = $(this).attr("db");
                var reader = new FileReader();
                var _currentPath = "";

                imageVal = new Image();
                reader.onload = function (e) {
                    _currentPath = e.target.result;
                    imageVal.src = e.target.result;
                }

                reader.readAsDataURL($(this)[0].files[0]);
                $(_cross).addClass("show").removeClass("hide");

                imageVal.onload = function () {
                
                    if (1 == !1)
                    {
                        AlertWithTitleIcon("Warning", RectangleRatio(this.width, this.height));
                        $(_image).attr("src", "/Content/images/plus-rec.png");
                        $(_fileId).val("");
                        return false;
                    }
                    else {
                        $(_image).attr("src", _currentPath);
                    }
                };
            }
            catch (ex) {
                console.log(ex.message);
            }
        });

        $("#cross_0,#cross_1,#cross_2,#cross_3,#cross_4").click(function (e) {
            var _file = $(this).attr("data");
            var _image = $(this).attr("db");
            var _imagePath = $(this).attr("hfip");
            $(_file).val('');
            $(_imagePath).val('');
            $(_image).attr("src", '/Content/images/plus-rec.png');

            e.preventDefault;
        });
    });
   
    function CheckSelection(Control) {
        var id = Control.id;
        if ($(id).prop("checked") == true) {
                $(id).prop("checked", false);
        }
        else {
            $(id).prop("checked", true);
        }
    }

    function Selection(id) {

        if ($('#' + id).prop("checked") == true) {
            $('#'+id).prop("checked", false);
        }
        else {
            $('#' +id).prop("checked", true);
        }
        if ($('#' + id).val() == "Scheduled" && $('.datepicker_nopast').val() == "") {

            $('#btnDraft').prop("disabled", true);
            $('#publish').prop("disabled", false);
            $('#PublishDate').removeAttr("disabled")
            $("#PublishDate").prop("required", "required");
            $('#PublishDate-error').show();
            $("#Statusid").css("display", "block");
            $('#StatusListforAdmin').val('');
            $('#RejectReason').val(''); 
            return false;
        }
        else if ($('#' + id).val() == "Published") {
            $('#PublishDate').attr("disabled", "disabled");
            $("#PublishDate").prop("required", false);
            $('#PublishDate-error').hide();
            $("#PublishDate").val("");
            $('#btnDraft').prop("disabled", true);
            $('#publish').prop("disabled", false);
            $("#Statusid").css("display", "none")
            return true;
        }
        else if ($('#' + id).val() == "Drafted") {
            $('#PublishDate').attr("disabled", "disabled");
            $("#PublishDate").prop("required", false);
            $('#PublishDate-error').hide();
            $("#PublishDate").val("");
            $('#publish').prop("disabled", true);
            $('#btnDraft').prop("disabled", false);
            $("#Statusid").css("display", "none")
            return true;
        }
    }
    $('#btnDraft').click(function () {
        $('#Draft').val('Drafted');
        postPublish();
    });
    $('#StatusListforAdmin').change(function () {
        
        if ($('#StatusListforAdmin').val() == "Published") {
            if ($("#PublishDate").val() == "") {
                $("#PublishDate").prop("required", "required");
                $('#PublishDate-error').show();
                $('#RejectReason').css("display", "none");
                $('#RejectReason').prop("required", false);
                return false;
            }
            else {
                $('#Scheduled').val("Scheduled");
                $("#RejectReason").css("display", "none");
                $('#RejectReason').prop("required", false);
                return true;
            }
        }
        else if ($('#StatusListforAdmin').val() == "Reject") {
            $('#RejectReason').css("display", "block");
            $('#RejectReason').prop("required", "required");
            $("#PublishDate").prop("required", false);
            $('#PublishDate-error').hide();
            $('#Scheduled').val("Rejected");
            $('#Scheduled').val();
        }
    });
    
    function postPublish() {

        if ($('#Title').val() == '') {
            $('#Title').prop("required", "required");
        }
        if ($('#Content').val() == '') {
            $('#Content').prop("required", "required");
            return false;
        }
        if ($("input[class='radio']:checked").val() == "Scheduled" && $('.datepicker_nopast').val() == "") {
            $("#PublishDate").prop("required", "required");
            $('#PublishDate-error').show();
            return false;
        }
        else if ($("input[class='radio']:checked").val() == "Published") {
            $("#PublishDate").prop("required", false);
            $('#PublishDate-error').hide();

        }
        else if ($("input[class='radio']:checked").val() == "Drafted") {
            $("#PublishDate").prop("required", false);
            $('#PublishDate-error').hide();

        }
        else if ($("input[class='radio']:checked").val() == undefined) {
            $("#PublishDate").prop("required", "required");
            return false;
        }

        var data = new FormData();
        data.append("Title", $('#Title').val());
        data.append("Content",$('#Content').val());
        data.append("Status", $("input[class='radio']:checked").val());
        data.append("NewsId",$('#NewsId').val());
        data.append("EncryptedNewsId",$('#EncryptedNewsId').val());
        data.append("PublishDate", $('#PublishDate').val());

        var files = $("#fileNews").get(0).files;
        if (files.length > 0) {
            for (var i = 0; i < files.length; ++i) {
                data.append("files[]" + i, files[i]);
            }
        }

        if ($('#dvImages>span').children().length + files.length*2 <= 10) {
        $.ajax({
            type: "POST",
            url: "/news/createoredit",
            contentType: false,
            processData: false,
            data: data,
            success: function (data) {
                      var url = '@Url.Action("index", "news")';
                                window.location.href = url;

                return false;
            },
            error: function () {
                return 'error';
            }
        });
        }
        else {
            AlertWithTitleIcon("Alert", "Image count can’t exceed its maximum limit.", "warning");
            $('#fileNews').val('')
        }

    }
    $(".Preview").click(function () {
        //debugger;
        var datee = $('.datepicker_nopast').val();
        var date = $("input[name=Status]").val();
        if ($('#Published').prop("checked") == true) {
            var scheduler = "Published";
        }
        else if ($('#Scheduled').prop("checked") == true) {
            var scheduler = "Scheduled";
        }
        else if ($('#Drafted').prop("checked") == true) {
            var scheduler = "Drafted";
        }
        var ScheduleDate = $('input[name=PublishDate]').val();
        var model =
            {
                PublishDate: scheduler,
                Title: $("#Title").val(),
                PublishTime: $('input[name=PublishDate]').val(),
                Content: $("#Content").val(),
                ImagePath: $("#img_0").attr("src"),
                Image1: $("#img_1").attr("src"),
                Image2: $("#img_2").attr("src"),
                Image3: $("#img_3").attr("src"),
                Image4: $("#img_4").attr("src"),

            };
        $.post("/news/Preview", model, function (data) {
            $("#commLabel").text("Exclusive Headline");
            $("#commDetail").html(data);
            $("#commModal").modal("show");
        });
    });
    
</script>