﻿@using FPModels.Models
@model NewsModel
@{
    ViewBag.Title = "Private News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=" m-content">
    <div class="m-portlet m-portlet--tab">
        <div class="m-portlet m-portlet--tab">

            <div class="m-portlet__body">
                <ul class="list-unstyled event-detail">
                    <li>
                        <label>Title</label>
                        @Html.HiddenFor(m => m.NewsId)@Html.HiddenFor(m => m.UserId)
                        <p>@Html.DisplayFor(m => m.Title)</p>
                    </li>
                    <li>
                        <label>Content</label>
                        <p>
                            @Html.DisplayFor(m => m.Content)
                        </p>
                    </li>
                    <li>
                        <label>Author</label>
                        <p>@Html.DisplayFor(m => m.FirstName)
                        @Html.DisplayFor(m => m.MI)
                        @Html.DisplayFor(m => m.LastName)</p>
                    </li>
                    <li>
                        <label>Publish Date</label>
                        <p>@Html.DisplayFor(m => m.PublishDate)</p>
                    </li>
                    <li>
                        <label>Shares</label>
                        <p>@Html.DisplayFor(m => m.ShareCount)</p>
                    </li>
                    <li>
                        <label>View</label>
                        <p>@Html.DisplayFor(m => m.ViewCount)</p>
                    </li>
                    <li>
                        <label>Status</label>
                        <p><span class="m-badge  m-badge--primary m-badge--wide">@Html.DisplayFor(m => m.Status)</span></p>
                    </li>
                    @if (Model._ImagePathList != null && Model._ImagePathList.Count > 0)
                    {
                        <li class="news-view-img">
                            <label>Images</label>
                            <p>
                                <span>
                                    @for (int i = 0; i < Model._ImagePathList.Count(); i++)
                                    {
                                        if (!String.IsNullOrEmpty(Model._ImagePathList[i].ImagePath))
                                        {
                                            @Html.HiddenFor(m => m._ImagePathList[i].ImageId)
                                            <a class="docView">
                                                <img src="/@Model._ImagePathList[i].ImagePath"
                                                     onerror="this.src='/content/images/no-image-rec.png';">
                                            </a>
                                        }
                                    }
                                </span>
                            </p>
                        </li>
                    }
                </ul>
                <div class="m-form__actions form-buttons">
                    @*<a href="@Url.Action("edit", "inappmessage", new { mid = Model.MessageId})" class="btn btn-primary">Edit</a>*@
                </div>
            </div>
            <!--end::Form-->
        </div>

</div></div>
